/* constants styles v5 */

.constants-block-1 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #941708;
  background: #302494;
  border-radius: 4px;
}

.constants-block-2 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #202643;
  background: #370545;
  border-radius: 2px;
}

.constants-block-3 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #797794;
  background: #963422;
  border-radius: 2px;
}

.constants-block-4 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #844618;
  background: #352357;
  border-radius: 7px;
}

.constants-block-5 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #307298;
  background: #599771;
  border-radius: 0px;
}

.constants-block-6 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #762769;
  background: #523502;
  border-radius: 4px;
}

.constants-block-7 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #273343;
  background: #440074;
  border-radius: 3px;
}

.constants-block-8 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #179724;
  background: #229389;
  border-radius: 1px;
}

.constants-block-9 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #367330;
  background: #162021;
  border-radius: 4px;
}

.constants-block-10 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #674695;
  background: #946556;
  border-radius: 5px;
}

.constants-block-11 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #426877;
  background: #364717;
  border-radius: 1px;
}

.constants-block-12 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #752611;
  background: #799661;
  border-radius: 5px;
}

.constants-block-13 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #588715;
  background: #294745;
  border-radius: 1px;
}

.constants-block-14 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #430952;
  background: #635946;
  border-radius: 5px;
}

.constants-block-15 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #170979;
  background: #457205;
  border-radius: 8px;
}

.constants-block-16 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #810022;
  background: #480461;
  border-radius: 3px;
}

.constants-block-17 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #743222;
  background: #203932;
  border-radius: 4px;
}

.constants-block-18 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #617485;
  background: #271638;
  border-radius: 1px;
}

.constants-block-19 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #756578;
  background: #684147;
  border-radius: 8px;
}

.constants-block-20 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #887646;
  background: #731950;
  border-radius: 8px;
}

.constants-block-21 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #181998;
  background: #474168;
  border-radius: 8px;
}

.constants-block-22 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #256311;
  background: #443747;
  border-radius: 4px;
}

.constants-block-23 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #702596;
  background: #228666;
  border-radius: 4px;
}

.constants-block-24 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #379588;
  background: #807074;
  border-radius: 2px;
}

.constants-block-25 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #658232;
  background: #922620;
  border-radius: 2px;
}

.constants-block-26 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #225618;
  background: #635700;
  border-radius: 8px;
}

.constants-block-27 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #327640;
  background: #236816;
  border-radius: 2px;
}

.constants-block-28 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #598556;
  background: #830860;
  border-radius: 2px;
}

.constants-block-29 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #787022;
  background: #886710;
  border-radius: 2px;
}

.constants-block-30 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #240117;
  background: #440690;
  border-radius: 6px;
}

.constants-block-31 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #485317;
  background: #960970;
  border-radius: 0px;
}

.constants-block-32 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #672076;
  background: #398180;
  border-radius: 8px;
}

.constants-block-33 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #156514;
  background: #328304;
  border-radius: 5px;
}

.constants-block-34 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #599464;
  background: #213008;
  border-radius: 1px;
}

.constants-block-35 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #129712;
  background: #345500;
  border-radius: 0px;
}

.constants-block-36 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #745071;
  background: #804031;
  border-radius: 1px;
}

.constants-block-37 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #729375;
  background: #362199;
  border-radius: 5px;
}

.constants-block-38 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #337554;
  background: #380791;
  border-radius: 1px;
}

.constants-block-39 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #262617;
  background: #425042;
  border-radius: 0px;
}

.constants-block-40 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #184084;
  background: #345395;
  border-radius: 5px;
}

.constants-block-41 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #598657;
  background: #241757;
  border-radius: 1px;
}

.constants-block-42 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #730514;
  background: #671757;
  border-radius: 6px;
}

.constants-block-43 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #439048;
  background: #230686;
  border-radius: 5px;
}

.constants-block-44 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #303482;
  background: #258746;
  border-radius: 0px;
}

.constants-block-45 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #587120;
  background: #659471;
  border-radius: 3px;
}

.constants-block-46 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #846195;
  background: #728499;
  border-radius: 7px;
}

.constants-block-47 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #332639;
  background: #924379;
  border-radius: 4px;
}

.constants-block-48 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #658944;
  background: #382261;
  border-radius: 8px;
}

.constants-block-49 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #304072;
  background: #945282;
  border-radius: 8px;
}

.constants-block-50 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #842982;
  background: #214886;
  border-radius: 2px;
}

.constants-block-51 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #187448;
  background: #506863;
  border-radius: 4px;
}

.constants-block-52 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #678549;
  background: #756808;
  border-radius: 6px;
}

.constants-block-53 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #998796;
  background: #470475;
  border-radius: 5px;
}

.constants-block-54 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #150730;
  background: #340139;
  border-radius: 3px;
}

.constants-block-55 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #507765;
  background: #669468;
  border-radius: 5px;
}

.constants-block-56 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #626764;
  background: #404754;
  border-radius: 2px;
}

.constants-block-57 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #374618;
  background: #389937;
  border-radius: 5px;
}

.constants-block-58 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #391651;
  background: #852153;
  border-radius: 5px;
}

.constants-block-59 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #662458;
  background: #885056;
  border-radius: 2px;
}

.constants-block-60 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #621670;
  background: #950678;
  border-radius: 1px;
}

.constants-block-61 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #752682;
  background: #280623;
  border-radius: 2px;
}

.constants-block-62 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #623939;
  background: #276608;
  border-radius: 5px;
}

.constants-block-63 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #805439;
  background: #958448;
  border-radius: 8px;
}

.constants-block-64 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #250712;
  background: #473038;
  border-radius: 2px;
}

.constants-block-65 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #899495;
  background: #659013;
  border-radius: 7px;
}

.constants-block-66 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #615980;
  background: #203455;
  border-radius: 8px;
}

.constants-block-67 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #938809;
  background: #181623;
  border-radius: 7px;
}

.constants-block-68 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #655297;
  background: #100855;
  border-radius: 5px;
}

.constants-block-69 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #557303;
  background: #985392;
  border-radius: 6px;
}

.constants-block-70 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #183922;
  background: #247319;
  border-radius: 3px;
}

.constants-block-71 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #170233;
  background: #364026;
  border-radius: 8px;
}

.constants-block-72 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #379559;
  background: #194479;
  border-radius: 6px;
}

.constants-block-73 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #141366;
  background: #987760;
  border-radius: 4px;
}

.constants-block-74 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #850453;
  background: #233396;
  border-radius: 2px;
}

.constants-block-75 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #341120;
  background: #433284;
  border-radius: 4px;
}

.constants-block-76 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #803593;
  background: #974506;
  border-radius: 6px;
}

.constants-block-77 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #793184;
  background: #763176;
  border-radius: 3px;
}

.constants-block-78 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #107572;
  background: #285398;
  border-radius: 3px;
}

.constants-block-79 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #427169;
  background: #226638;
  border-radius: 2px;
}

.constants-block-80 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #306468;
  background: #187895;
  border-radius: 6px;
}

.constants-block-81 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #303747;
  background: #739364;
  border-radius: 7px;
}

.constants-block-82 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #291182;
  background: #517110;
  border-radius: 7px;
}

.constants-block-83 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #737836;
  background: #718420;
  border-radius: 2px;
}

.constants-block-84 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #629352;
  background: #425356;
  border-radius: 3px;
}

.constants-block-85 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #445864;
  background: #104384;
  border-radius: 2px;
}

.constants-block-86 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #300308;
  background: #454127;
  border-radius: 8px;
}

.constants-block-87 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #166292;
  background: #753867;
  border-radius: 1px;
}

.constants-block-88 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #534030;
  background: #229072;
  border-radius: 7px;
}

.constants-block-89 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #979638;
  background: #637175;
  border-radius: 6px;
}

.constants-block-90 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #718758;
  background: #337327;
  border-radius: 1px;
}

.constants-block-91 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #566430;
  background: #484605;
  border-radius: 0px;
}

.constants-block-92 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #677161;
  background: #954815;
  border-radius: 8px;
}

.constants-block-93 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #820149;
  background: #596797;
  border-radius: 0px;
}

.constants-block-94 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #922042;
  background: #384642;
  border-radius: 5px;
}

.constants-block-95 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #158487;
  background: #326101;
  border-radius: 3px;
}

.constants-block-96 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #645557;
  background: #377517;
  border-radius: 6px;
}

.constants-block-97 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #981405;
  background: #453178;
  border-radius: 8px;
}

.constants-block-98 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #277350;
  background: #612698;
  border-radius: 6px;
}

.constants-block-99 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #389842;
  background: #682399;
  border-radius: 0px;
}

.constants-block-100 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #822816;
  background: #954363;
  border-radius: 8px;
}

.constants-block-101 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #535624;
  background: #167167;
  border-radius: 2px;
}

.constants-block-102 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #469414;
  background: #444877;
  border-radius: 8px;
}

.constants-block-103 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #502550;
  background: #708455;
  border-radius: 1px;
}

.constants-block-104 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #382617;
  background: #584465;
  border-radius: 7px;
}

.constants-block-105 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #451913;
  background: #352727;
  border-radius: 0px;
}

.constants-block-106 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #810061;
  background: #257366;
  border-radius: 4px;
}

.constants-block-107 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #184178;
  background: #905384;
  border-radius: 5px;
}

.constants-block-108 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #928981;
  background: #529180;
  border-radius: 4px;
}

.constants-block-109 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #703404;
  background: #979066;
  border-radius: 2px;
}

.constants-block-110 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #214266;
  background: #939760;
  border-radius: 2px;
}

.constants-block-111 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #303508;
  background: #168928;
  border-radius: 6px;
}

.constants-block-112 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #328825;
  background: #582139;
  border-radius: 3px;
}

.constants-block-113 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #556909;
  background: #495517;
  border-radius: 2px;
}

.constants-block-114 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #850527;
  background: #471778;
  border-radius: 0px;
}

.constants-block-115 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #957657;
  background: #636457;
  border-radius: 8px;
}

.constants-block-116 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #207108;
  background: #403036;
  border-radius: 2px;
}

.constants-block-117 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #484152;
  background: #286993;
  border-radius: 1px;
}

.constants-block-118 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #598366;
  background: #242655;
  border-radius: 3px;
}

.constants-block-119 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #782193;
  background: #602822;
  border-radius: 2px;
}

.constants-block-120 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #399886;
  background: #954260;
  border-radius: 4px;
}

.constants-block-121 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #758655;
  background: #692812;
  border-radius: 6px;
}

.constants-block-122 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #370769;
  background: #764767;
  border-radius: 8px;
}

.constants-block-123 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #800800;
  background: #100366;
  border-radius: 5px;
}

.constants-block-124 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #685597;
  background: #204415;
  border-radius: 0px;
}

.constants-block-125 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #127326;
  background: #246720;
  border-radius: 4px;
}

.constants-block-126 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #384387;
  background: #858064;
  border-radius: 3px;
}

.constants-block-127 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #116055;
  background: #763404;
  border-radius: 4px;
}

.constants-block-128 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #639875;
  background: #887799;
  border-radius: 0px;
}

.constants-block-129 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #870812;
  background: #120919;
  border-radius: 7px;
}

.constants-block-130 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #185295;
  background: #206863;
  border-radius: 8px;
}

.constants-block-131 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #667882;
  background: #722498;
  border-radius: 8px;
}

.constants-block-132 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #384213;
  background: #633903;
  border-radius: 3px;
}

.constants-block-133 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #691694;
  background: #681899;
  border-radius: 1px;
}

.constants-block-134 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #363135;
  background: #915566;
  border-radius: 1px;
}

.constants-block-135 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #711241;
  background: #798818;
  border-radius: 3px;
}

.constants-block-136 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #723786;
  background: #705990;
  border-radius: 8px;
}

.constants-block-137 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #694569;
  background: #690919;
  border-radius: 7px;
}

.constants-block-138 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #511450;
  background: #314868;
  border-radius: 4px;
}

.constants-block-139 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #989623;
  background: #693923;
  border-radius: 5px;
}

.constants-block-140 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #494747;
  background: #512820;
  border-radius: 8px;
}

.constants-block-141 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #447090;
  background: #906909;
  border-radius: 4px;
}

.constants-block-142 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #817021;
  background: #795015;
  border-radius: 1px;
}

.constants-block-143 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #105907;
  background: #995254;
  border-radius: 8px;
}

.constants-block-144 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #866312;
  background: #182584;
  border-radius: 5px;
}

.constants-block-145 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #836030;
  background: #574642;
  border-radius: 4px;
}

.constants-block-146 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #486019;
  background: #567674;
  border-radius: 0px;
}

.constants-block-147 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #817137;
  background: #942677;
  border-radius: 6px;
}

.constants-block-148 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #467933;
  background: #413103;
  border-radius: 0px;
}

.constants-block-149 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #557422;
  background: #705959;
  border-radius: 3px;
}

.constants-block-150 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #839791;
  background: #582984;
  border-radius: 6px;
}

.constants-block-151 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #604795;
  background: #126357;
  border-radius: 3px;
}

.constants-block-152 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #536892;
  background: #737361;
  border-radius: 2px;
}

.constants-block-153 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #204846;
  background: #386889;
  border-radius: 8px;
}

.constants-block-154 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #438079;
  background: #953335;
  border-radius: 1px;
}

.constants-block-155 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #397122;
  background: #811307;
  border-radius: 7px;
}

.constants-block-156 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #806610;
  background: #268436;
  border-radius: 6px;
}

.constants-block-157 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #244926;
  background: #468442;
  border-radius: 5px;
}

.constants-block-158 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #412503;
  background: #960462;
  border-radius: 3px;
}

.constants-block-159 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #745050;
  background: #608895;
  border-radius: 6px;
}

.constants-block-160 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #380994;
  background: #712883;
  border-radius: 4px;
}

.constants-block-161 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #994094;
  background: #423917;
  border-radius: 3px;
}

.constants-block-162 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #618099;
  background: #747388;
  border-radius: 1px;
}

.constants-block-163 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #878312;
  background: #540654;
  border-radius: 3px;
}

.constants-block-164 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #965136;
  background: #866637;
  border-radius: 5px;
}

.constants-block-165 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #335682;
  background: #480530;
  border-radius: 6px;
}

.constants-block-166 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #735751;
  background: #321801;
  border-radius: 8px;
}

.constants-block-167 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #993290;
  background: #664671;
  border-radius: 5px;
}

.constants-block-168 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #147659;
  background: #832505;
  border-radius: 5px;
}

.constants-block-169 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #441416;
  background: #658159;
  border-radius: 1px;
}

.constants-block-170 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #883294;
  background: #722420;
  border-radius: 8px;
}

.constants-block-171 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #249166;
  background: #659898;
  border-radius: 1px;
}

.constants-block-172 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #455054;
  background: #223290;
  border-radius: 6px;
}

.constants-block-173 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #786363;
  background: #273036;
  border-radius: 8px;
}

.constants-block-174 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #118143;
  background: #724905;
  border-radius: 8px;
}

.constants-block-175 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #273928;
  background: #488685;
  border-radius: 1px;
}

.constants-block-176 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #723286;
  background: #939633;
  border-radius: 2px;
}

.constants-block-177 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #871397;
  background: #789201;
  border-radius: 5px;
}

.constants-block-178 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #439222;
  background: #688890;
  border-radius: 3px;
}

.constants-block-179 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #806816;
  background: #982843;
  border-radius: 6px;
}

.constants-block-180 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #457006;
  background: #136623;
  border-radius: 7px;
}

.constants-block-181 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #292248;
  background: #725505;
  border-radius: 8px;
}

.constants-block-182 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #721030;
  background: #172682;
  border-radius: 2px;
}

.constants-block-183 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #428741;
  background: #823556;
  border-radius: 2px;
}

.constants-block-184 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #371672;
  background: #618230;
  border-radius: 8px;
}

.constants-block-185 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #219198;
  background: #351012;
  border-radius: 5px;
}

.constants-block-186 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #337642;
  background: #467203;
  border-radius: 5px;
}

.constants-block-187 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #257265;
  background: #110457;
  border-radius: 8px;
}

.constants-block-188 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #538892;
  background: #423648;
  border-radius: 2px;
}

.constants-block-189 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #676479;
  background: #826573;
  border-radius: 8px;
}

.constants-block-190 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #959475;
  background: #925735;
  border-radius: 3px;
}
