/* helpers styles v2 */

.helpers-block-1 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #784358;
  background: #916595;
  border-radius: 3px;
}

.helpers-block-2 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #664568;
  background: #505734;
  border-radius: 6px;
}

.helpers-block-3 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #850450;
  background: #834645;
  border-radius: 3px;
}

.helpers-block-4 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #122623;
  background: #427786;
  border-radius: 3px;
}

.helpers-block-5 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #464856;
  background: #652783;
  border-radius: 0px;
}

.helpers-block-6 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #506574;
  background: #278890;
  border-radius: 2px;
}

.helpers-block-7 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #711244;
  background: #308139;
  border-radius: 0px;
}

.helpers-block-8 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #285106;
  background: #733399;
  border-radius: 6px;
}

.helpers-block-9 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #323361;
  background: #860570;
  border-radius: 4px;
}

.helpers-block-10 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #239662;
  background: #576121;
  border-radius: 1px;
}

.helpers-block-11 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #484494;
  background: #738298;
  border-radius: 3px;
}

.helpers-block-12 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #830380;
  background: #954763;
  border-radius: 4px;
}

.helpers-block-13 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #149368;
  background: #477589;
  border-radius: 7px;
}

.helpers-block-14 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #851902;
  background: #518561;
  border-radius: 4px;
}

.helpers-block-15 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #313985;
  background: #956714;
  border-radius: 3px;
}

.helpers-block-16 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #275583;
  background: #591951;
  border-radius: 2px;
}

.helpers-block-17 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #637126;
  background: #491376;
  border-radius: 5px;
}

.helpers-block-18 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #349365;
  background: #453309;
  border-radius: 7px;
}

.helpers-block-19 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #364984;
  background: #529512;
  border-radius: 3px;
}

.helpers-block-20 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #267681;
  background: #273254;
  border-radius: 2px;
}

.helpers-block-21 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #133961;
  background: #339422;
  border-radius: 0px;
}

.helpers-block-22 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #612519;
  background: #271042;
  border-radius: 0px;
}

.helpers-block-23 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #482180;
  background: #457458;
  border-radius: 1px;
}

.helpers-block-24 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #434456;
  background: #377328;
  border-radius: 1px;
}

.helpers-block-25 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #994164;
  background: #831594;
  border-radius: 7px;
}

.helpers-block-26 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #370315;
  background: #403408;
  border-radius: 2px;
}

.helpers-block-27 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #291471;
  background: #196080;
  border-radius: 1px;
}

.helpers-block-28 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #313314;
  background: #317163;
  border-radius: 2px;
}

.helpers-block-29 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #971257;
  background: #221477;
  border-radius: 6px;
}

.helpers-block-30 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #743495;
  background: #170515;
  border-radius: 3px;
}

.helpers-block-31 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #940917;
  background: #234873;
  border-radius: 6px;
}

.helpers-block-32 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #721998;
  background: #918675;
  border-radius: 4px;
}

.helpers-block-33 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #206450;
  background: #878204;
  border-radius: 8px;
}

.helpers-block-34 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #533720;
  background: #973836;
  border-radius: 0px;
}

.helpers-block-35 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #901156;
  background: #799653;
  border-radius: 2px;
}

.helpers-block-36 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #760256;
  background: #851747;
  border-radius: 0px;
}

.helpers-block-37 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #596108;
  background: #135344;
  border-radius: 6px;
}

.helpers-block-38 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #960040;
  background: #454829;
  border-radius: 3px;
}

.helpers-block-39 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #970615;
  background: #967106;
  border-radius: 0px;
}

.helpers-block-40 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #356521;
  background: #796514;
  border-radius: 4px;
}

.helpers-block-41 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #646023;
  background: #318396;
  border-radius: 0px;
}

.helpers-block-42 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #169307;
  background: #864601;
  border-radius: 2px;
}

.helpers-block-43 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #555808;
  background: #905624;
  border-radius: 2px;
}

.helpers-block-44 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #498684;
  background: #452722;
  border-radius: 2px;
}

.helpers-block-45 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #845328;
  background: #277461;
  border-radius: 1px;
}

.helpers-block-46 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #372068;
  background: #214914;
  border-radius: 2px;
}

.helpers-block-47 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #822058;
  background: #281455;
  border-radius: 2px;
}

.helpers-block-48 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #713004;
  background: #724964;
  border-radius: 0px;
}

.helpers-block-49 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #617839;
  background: #276653;
  border-radius: 2px;
}

.helpers-block-50 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #280513;
  background: #705848;
  border-radius: 8px;
}

.helpers-block-51 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #834926;
  background: #494261;
  border-radius: 6px;
}

.helpers-block-52 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #780230;
  background: #241606;
  border-radius: 8px;
}

.helpers-block-53 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #533665;
  background: #116807;
  border-radius: 8px;
}

.helpers-block-54 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #650027;
  background: #750448;
  border-radius: 5px;
}

.helpers-block-55 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #937688;
  background: #631127;
  border-radius: 4px;
}

.helpers-block-56 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #402986;
  background: #790221;
  border-radius: 8px;
}

.helpers-block-57 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #288871;
  background: #293059;
  border-radius: 5px;
}

.helpers-block-58 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #550934;
  background: #141642;
  border-radius: 8px;
}

.helpers-block-59 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #835154;
  background: #653090;
  border-radius: 8px;
}

.helpers-block-60 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #663493;
  background: #477330;
  border-radius: 6px;
}

.helpers-block-61 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #286030;
  background: #913843;
  border-radius: 3px;
}

.helpers-block-62 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #921961;
  background: #431769;
  border-radius: 4px;
}

.helpers-block-63 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #779144;
  background: #353248;
  border-radius: 3px;
}

.helpers-block-64 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #535687;
  background: #445284;
  border-radius: 4px;
}

.helpers-block-65 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #473461;
  background: #532879;
  border-radius: 3px;
}

.helpers-block-66 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #682018;
  background: #820009;
  border-radius: 2px;
}

.helpers-block-67 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #975944;
  background: #850523;
  border-radius: 3px;
}

.helpers-block-68 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #840790;
  background: #804081;
  border-radius: 8px;
}

.helpers-block-69 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #225973;
  background: #870714;
  border-radius: 0px;
}

.helpers-block-70 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #601833;
  background: #868039;
  border-radius: 8px;
}

.helpers-block-71 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #861045;
  background: #308117;
  border-radius: 5px;
}

.helpers-block-72 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #360401;
  background: #360933;
  border-radius: 6px;
}

.helpers-block-73 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #574923;
  background: #227374;
  border-radius: 7px;
}

.helpers-block-74 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #662012;
  background: #889225;
  border-radius: 2px;
}

.helpers-block-75 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #111473;
  background: #990749;
  border-radius: 8px;
}

.helpers-block-76 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #546171;
  background: #555410;
  border-radius: 4px;
}

.helpers-block-77 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #420409;
  background: #912691;
  border-radius: 3px;
}

.helpers-block-78 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #249095;
  background: #981659;
  border-radius: 2px;
}

.helpers-block-79 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #791039;
  background: #899717;
  border-radius: 8px;
}

.helpers-block-80 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #390121;
  background: #732953;
  border-radius: 2px;
}

.helpers-block-81 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #183394;
  background: #445872;
  border-radius: 3px;
}

.helpers-block-82 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #866155;
  background: #800357;
  border-radius: 7px;
}

.helpers-block-83 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #348804;
  background: #149859;
  border-radius: 7px;
}

.helpers-block-84 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #144671;
  background: #914581;
  border-radius: 6px;
}

.helpers-block-85 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #480595;
  background: #400865;
  border-radius: 6px;
}

.helpers-block-86 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #459512;
  background: #588933;
  border-radius: 7px;
}

.helpers-block-87 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #516084;
  background: #277471;
  border-radius: 5px;
}

.helpers-block-88 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #406429;
  background: #545610;
  border-radius: 3px;
}

.helpers-block-89 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #729933;
  background: #399089;
  border-radius: 0px;
}

.helpers-block-90 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #188126;
  background: #616050;
  border-radius: 1px;
}

.helpers-block-91 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #672299;
  background: #993236;
  border-radius: 1px;
}

.helpers-block-92 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #402822;
  background: #831173;
  border-radius: 6px;
}

.helpers-block-93 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #119358;
  background: #776094;
  border-radius: 8px;
}

.helpers-block-94 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #587225;
  background: #886980;
  border-radius: 7px;
}

.helpers-block-95 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #274989;
  background: #919251;
  border-radius: 4px;
}

.helpers-block-96 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #445620;
  background: #491382;
  border-radius: 6px;
}

.helpers-block-97 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #896876;
  background: #773701;
  border-radius: 4px;
}

.helpers-block-98 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #302737;
  background: #525564;
  border-radius: 6px;
}

.helpers-block-99 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #974289;
  background: #974182;
  border-radius: 1px;
}

.helpers-block-100 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #240410;
  background: #193929;
  border-radius: 5px;
}

.helpers-block-101 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #664569;
  background: #934200;
  border-radius: 2px;
}

.helpers-block-102 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #898079;
  background: #946902;
  border-radius: 2px;
}

.helpers-block-103 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #157206;
  background: #295636;
  border-radius: 5px;
}

.helpers-block-104 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #266095;
  background: #546932;
  border-radius: 5px;
}

.helpers-block-105 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #184437;
  background: #598159;
  border-radius: 1px;
}

.helpers-block-106 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #759880;
  background: #966069;
  border-radius: 1px;
}

.helpers-block-107 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #291980;
  background: #913802;
  border-radius: 7px;
}

.helpers-block-108 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #163479;
  background: #359862;
  border-radius: 1px;
}

.helpers-block-109 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #328870;
  background: #532410;
  border-radius: 8px;
}

.helpers-block-110 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #954187;
  background: #113193;
  border-radius: 6px;
}

.helpers-block-111 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #167865;
  background: #715418;
  border-radius: 8px;
}

.helpers-block-112 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #896985;
  background: #305334;
  border-radius: 3px;
}

.helpers-block-113 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #733557;
  background: #239768;
  border-radius: 8px;
}

.helpers-block-114 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #209722;
  background: #550178;
  border-radius: 2px;
}

.helpers-block-115 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #950624;
  background: #362139;
  border-radius: 0px;
}

.helpers-block-116 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #578594;
  background: #239604;
  border-radius: 0px;
}

.helpers-block-117 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #335653;
  background: #427057;
  border-radius: 5px;
}

.helpers-block-118 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #529754;
  background: #909409;
  border-radius: 1px;
}

.helpers-block-119 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #799067;
  background: #552360;
  border-radius: 6px;
}

.helpers-block-120 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #168039;
  background: #264553;
  border-radius: 4px;
}

.helpers-block-121 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #205009;
  background: #632997;
  border-radius: 7px;
}

.helpers-block-122 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #159149;
  background: #799740;
  border-radius: 5px;
}

.helpers-block-123 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #612930;
  background: #440556;
  border-radius: 4px;
}

.helpers-block-124 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #388346;
  background: #539007;
  border-radius: 0px;
}

.helpers-block-125 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #301284;
  background: #242518;
  border-radius: 6px;
}

.helpers-block-126 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #358148;
  background: #750077;
  border-radius: 4px;
}

.helpers-block-127 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #507420;
  background: #153208;
  border-radius: 1px;
}

.helpers-block-128 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #220756;
  background: #472168;
  border-radius: 6px;
}

.helpers-block-129 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #914746;
  background: #539058;
  border-radius: 3px;
}

.helpers-block-130 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #459462;
  background: #585876;
  border-radius: 0px;
}

.helpers-block-131 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #134727;
  background: #665368;
  border-radius: 0px;
}

.helpers-block-132 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #368111;
  background: #856997;
  border-radius: 6px;
}

.helpers-block-133 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #873580;
  background: #271417;
  border-radius: 7px;
}

.helpers-block-134 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #910216;
  background: #358861;
  border-radius: 8px;
}

.helpers-block-135 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #897828;
  background: #826942;
  border-radius: 3px;
}

.helpers-block-136 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #900764;
  background: #126349;
  border-radius: 2px;
}

.helpers-block-137 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #125506;
  background: #836722;
  border-radius: 5px;
}

.helpers-block-138 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #925325;
  background: #975273;
  border-radius: 5px;
}

.helpers-block-139 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #226881;
  background: #552725;
  border-radius: 7px;
}

.helpers-block-140 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #524057;
  background: #439673;
  border-radius: 4px;
}

.helpers-block-141 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #126536;
  background: #506065;
  border-radius: 6px;
}

.helpers-block-142 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #103859;
  background: #992976;
  border-radius: 0px;
}

.helpers-block-143 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #713534;
  background: #515289;
  border-radius: 2px;
}

.helpers-block-144 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #631460;
  background: #833088;
  border-radius: 2px;
}

.helpers-block-145 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #194661;
  background: #544388;
  border-radius: 0px;
}

.helpers-block-146 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #984955;
  background: #682715;
  border-radius: 1px;
}

.helpers-block-147 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #423456;
  background: #604745;
  border-radius: 2px;
}

.helpers-block-148 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #432402;
  background: #790660;
  border-radius: 8px;
}

.helpers-block-149 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #811302;
  background: #401158;
  border-radius: 5px;
}

.helpers-block-150 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #744849;
  background: #373853;
  border-radius: 7px;
}

.helpers-block-151 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #232403;
  background: #544479;
  border-radius: 4px;
}

.helpers-block-152 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #268885;
  background: #919669;
  border-radius: 1px;
}

.helpers-block-153 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #778321;
  background: #773409;
  border-radius: 7px;
}

.helpers-block-154 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #961573;
  background: #129882;
  border-radius: 5px;
}

.helpers-block-155 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #356131;
  background: #876897;
  border-radius: 6px;
}

.helpers-block-156 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #759920;
  background: #237709;
  border-radius: 8px;
}

.helpers-block-157 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #563411;
  background: #267719;
  border-radius: 8px;
}

.helpers-block-158 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #698901;
  background: #824051;
  border-radius: 4px;
}

.helpers-block-159 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #769467;
  background: #958254;
  border-radius: 7px;
}

.helpers-block-160 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #937863;
  background: #604400;
  border-radius: 2px;
}

.helpers-block-161 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #991682;
  background: #412656;
  border-radius: 4px;
}

.helpers-block-162 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #486093;
  background: #610381;
  border-radius: 0px;
}

.helpers-block-163 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #634860;
  background: #726633;
  border-radius: 3px;
}

.helpers-block-164 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #565704;
  background: #255553;
  border-radius: 3px;
}

.helpers-block-165 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #166249;
  background: #698298;
  border-radius: 2px;
}

.helpers-block-166 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #894995;
  background: #810423;
  border-radius: 8px;
}

.helpers-block-167 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #185710;
  background: #632124;
  border-radius: 1px;
}

.helpers-block-168 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #349381;
  background: #922585;
  border-radius: 1px;
}
