/* hook styles v2 */

.hook-block-1 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #386297;
  background: #601114;
  border-radius: 8px;
}

.hook-block-2 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #746017;
  background: #926876;
  border-radius: 5px;
}

.hook-block-3 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #276244;
  background: #343580;
  border-radius: 6px;
}

.hook-block-4 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #977861;
  background: #769070;
  border-radius: 0px;
}

.hook-block-5 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #729762;
  background: #348255;
  border-radius: 3px;
}

.hook-block-6 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #716315;
  background: #323929;
  border-radius: 3px;
}

.hook-block-7 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #563491;
  background: #745880;
  border-radius: 5px;
}

.hook-block-8 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #706611;
  background: #844213;
  border-radius: 6px;
}

.hook-block-9 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #445025;
  background: #270231;
  border-radius: 3px;
}

.hook-block-10 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #419789;
  background: #470166;
  border-radius: 5px;
}

.hook-block-11 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #129612;
  background: #904645;
  border-radius: 5px;
}

.hook-block-12 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #620862;
  background: #773003;
  border-radius: 3px;
}

.hook-block-13 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #321840;
  background: #815057;
  border-radius: 8px;
}

.hook-block-14 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #376047;
  background: #146063;
  border-radius: 5px;
}

.hook-block-15 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #623398;
  background: #407531;
  border-radius: 0px;
}

.hook-block-16 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #106003;
  background: #902683;
  border-radius: 3px;
}

.hook-block-17 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #437875;
  background: #526518;
  border-radius: 1px;
}

.hook-block-18 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #109312;
  background: #314551;
  border-radius: 8px;
}

.hook-block-19 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #511084;
  background: #357817;
  border-radius: 7px;
}

.hook-block-20 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #279749;
  background: #565398;
  border-radius: 2px;
}

.hook-block-21 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #321800;
  background: #723743;
  border-radius: 0px;
}

.hook-block-22 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #828481;
  background: #683662;
  border-radius: 4px;
}

.hook-block-23 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #984411;
  background: #613596;
  border-radius: 3px;
}

.hook-block-24 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #954479;
  background: #185439;
  border-radius: 4px;
}

.hook-block-25 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #512960;
  background: #886339;
  border-radius: 8px;
}

.hook-block-26 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #289315;
  background: #386863;
  border-radius: 8px;
}

.hook-block-27 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #306676;
  background: #170810;
  border-radius: 5px;
}

.hook-block-28 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #532480;
  background: #564299;
  border-radius: 8px;
}

.hook-block-29 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #581698;
  background: #677911;
  border-radius: 2px;
}

.hook-block-30 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #496566;
  background: #432618;
  border-radius: 3px;
}

.hook-block-31 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #573334;
  background: #985454;
  border-radius: 7px;
}

.hook-block-32 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #254415;
  background: #707637;
  border-radius: 7px;
}

.hook-block-33 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #599377;
  background: #465770;
  border-radius: 8px;
}

.hook-block-34 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #528867;
  background: #399758;
  border-radius: 6px;
}

.hook-block-35 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #688713;
  background: #455240;
  border-radius: 4px;
}

.hook-block-36 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #946326;
  background: #283193;
  border-radius: 0px;
}

.hook-block-37 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #672176;
  background: #519641;
  border-radius: 3px;
}

.hook-block-38 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #994175;
  background: #980210;
  border-radius: 3px;
}

.hook-block-39 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #885406;
  background: #306061;
  border-radius: 8px;
}

.hook-block-40 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #435486;
  background: #423721;
  border-radius: 2px;
}

.hook-block-41 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #577720;
  background: #197200;
  border-radius: 1px;
}

.hook-block-42 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #948607;
  background: #795655;
  border-radius: 7px;
}

.hook-block-43 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #237900;
  background: #453539;
  border-radius: 5px;
}

.hook-block-44 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #930409;
  background: #414013;
  border-radius: 0px;
}

.hook-block-45 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #868596;
  background: #449223;
  border-radius: 6px;
}

.hook-block-46 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #736456;
  background: #439674;
  border-radius: 1px;
}

.hook-block-47 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #347004;
  background: #634992;
  border-radius: 2px;
}

.hook-block-48 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #785335;
  background: #626055;
  border-radius: 6px;
}

.hook-block-49 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #731837;
  background: #602188;
  border-radius: 7px;
}

.hook-block-50 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #134218;
  background: #821939;
  border-radius: 6px;
}

.hook-block-51 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #696643;
  background: #432121;
  border-radius: 7px;
}

.hook-block-52 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #194494;
  background: #691400;
  border-radius: 1px;
}

.hook-block-53 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #718418;
  background: #401130;
  border-radius: 0px;
}

.hook-block-54 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #306434;
  background: #216026;
  border-radius: 3px;
}

.hook-block-55 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #209580;
  background: #229728;
  border-radius: 7px;
}

.hook-block-56 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #186481;
  background: #124807;
  border-radius: 8px;
}

.hook-block-57 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #681836;
  background: #520558;
  border-radius: 1px;
}

.hook-block-58 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #306157;
  background: #937399;
  border-radius: 0px;
}

.hook-block-59 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #853619;
  background: #480793;
  border-radius: 7px;
}

.hook-block-60 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #614024;
  background: #738210;
  border-radius: 8px;
}

.hook-block-61 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #589837;
  background: #376252;
  border-radius: 6px;
}

.hook-block-62 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #677864;
  background: #803132;
  border-radius: 7px;
}

.hook-block-63 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #374866;
  background: #473195;
  border-radius: 5px;
}

.hook-block-64 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #359488;
  background: #509083;
  border-radius: 3px;
}

.hook-block-65 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #398345;
  background: #395754;
  border-radius: 8px;
}

.hook-block-66 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #845625;
  background: #549931;
  border-radius: 4px;
}

.hook-block-67 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #159596;
  background: #718423;
  border-radius: 6px;
}

.hook-block-68 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #501410;
  background: #292268;
  border-radius: 1px;
}

.hook-block-69 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #801664;
  background: #830363;
  border-radius: 3px;
}

.hook-block-70 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #594331;
  background: #112024;
  border-radius: 6px;
}

.hook-block-71 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #451308;
  background: #707555;
  border-radius: 6px;
}

.hook-block-72 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #612378;
  background: #889309;
  border-radius: 6px;
}

.hook-block-73 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #598016;
  background: #216442;
  border-radius: 0px;
}

.hook-block-74 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #876803;
  background: #985474;
  border-radius: 2px;
}

.hook-block-75 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #374503;
  background: #204850;
  border-radius: 2px;
}

.hook-block-76 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #183574;
  background: #614381;
  border-radius: 3px;
}

.hook-block-77 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #134460;
  background: #418857;
  border-radius: 8px;
}

.hook-block-78 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #304600;
  background: #630477;
  border-radius: 6px;
}

.hook-block-79 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #641772;
  background: #774241;
  border-radius: 8px;
}

.hook-block-80 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #296292;
  background: #120861;
  border-radius: 1px;
}

.hook-block-81 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #720287;
  background: #214359;
  border-radius: 5px;
}

.hook-block-82 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #105320;
  background: #188215;
  border-radius: 7px;
}

.hook-block-83 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #745749;
  background: #859052;
  border-radius: 7px;
}

.hook-block-84 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #885734;
  background: #777594;
  border-radius: 2px;
}

.hook-block-85 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #922917;
  background: #997717;
  border-radius: 8px;
}

.hook-block-86 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #854223;
  background: #213823;
  border-radius: 8px;
}

.hook-block-87 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #662483;
  background: #460251;
  border-radius: 6px;
}

.hook-block-88 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #867409;
  background: #208951;
  border-radius: 7px;
}

.hook-block-89 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #785390;
  background: #718417;
  border-radius: 0px;
}

.hook-block-90 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #612983;
  background: #752027;
  border-radius: 5px;
}

.hook-block-91 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #217800;
  background: #183555;
  border-radius: 8px;
}

.hook-block-92 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #521442;
  background: #537696;
  border-radius: 0px;
}

.hook-block-93 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #929493;
  background: #980745;
  border-radius: 2px;
}

.hook-block-94 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #733383;
  background: #707026;
  border-radius: 6px;
}

.hook-block-95 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #293221;
  background: #350685;
  border-radius: 0px;
}

.hook-block-96 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #355105;
  background: #994762;
  border-radius: 4px;
}

.hook-block-97 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #833604;
  background: #265053;
  border-radius: 8px;
}

.hook-block-98 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #608756;
  background: #683168;
  border-radius: 8px;
}

.hook-block-99 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #372988;
  background: #695103;
  border-radius: 4px;
}

.hook-block-100 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #788878;
  background: #784979;
  border-radius: 0px;
}

.hook-block-101 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #799293;
  background: #453039;
  border-radius: 5px;
}

.hook-block-102 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #681003;
  background: #197999;
  border-radius: 5px;
}

.hook-block-103 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #658768;
  background: #487532;
  border-radius: 3px;
}

.hook-block-104 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #936371;
  background: #522824;
  border-radius: 5px;
}

.hook-block-105 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #645767;
  background: #964833;
  border-radius: 8px;
}

.hook-block-106 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #835982;
  background: #194226;
  border-radius: 7px;
}

.hook-block-107 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #103592;
  background: #961569;
  border-radius: 8px;
}

.hook-block-108 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #373386;
  background: #677247;
  border-radius: 2px;
}

.hook-block-109 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #996203;
  background: #940720;
  border-radius: 6px;
}

.hook-block-110 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #445092;
  background: #402177;
  border-radius: 8px;
}

.hook-block-111 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #841602;
  background: #434713;
  border-radius: 7px;
}

.hook-block-112 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #816475;
  background: #189651;
  border-radius: 7px;
}

.hook-block-113 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #645035;
  background: #425299;
  border-radius: 0px;
}

.hook-block-114 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #235861;
  background: #229311;
  border-radius: 6px;
}

.hook-block-115 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #915153;
  background: #645117;
  border-radius: 0px;
}

.hook-block-116 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #356262;
  background: #454072;
  border-radius: 0px;
}

.hook-block-117 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #820271;
  background: #736903;
  border-radius: 8px;
}

.hook-block-118 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #999350;
  background: #378335;
  border-radius: 2px;
}

.hook-block-119 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #625845;
  background: #749367;
  border-radius: 5px;
}

.hook-block-120 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #115878;
  background: #273627;
  border-radius: 2px;
}

.hook-block-121 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #379882;
  background: #830075;
  border-radius: 3px;
}

.hook-block-122 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #667181;
  background: #820506;
  border-radius: 2px;
}

.hook-block-123 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #361045;
  background: #651619;
  border-radius: 8px;
}

.hook-block-124 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #229796;
  background: #932303;
  border-radius: 0px;
}

.hook-block-125 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #406342;
  background: #183933;
  border-radius: 5px;
}

.hook-block-126 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #516016;
  background: #875661;
  border-radius: 7px;
}

.hook-block-127 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #372454;
  background: #459390;
  border-radius: 2px;
}

.hook-block-128 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #963395;
  background: #246131;
  border-radius: 2px;
}

.hook-block-129 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #888370;
  background: #974217;
  border-radius: 8px;
}

.hook-block-130 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #882285;
  background: #175557;
  border-radius: 2px;
}

.hook-block-131 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #608295;
  background: #186320;
  border-radius: 3px;
}

.hook-block-132 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #718557;
  background: #582823;
  border-radius: 2px;
}

.hook-block-133 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #303942;
  background: #711852;
  border-radius: 0px;
}

.hook-block-134 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #294976;
  background: #412072;
  border-radius: 2px;
}

.hook-block-135 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #725668;
  background: #447226;
  border-radius: 7px;
}

.hook-block-136 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #895611;
  background: #263926;
  border-radius: 3px;
}

.hook-block-137 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #143644;
  background: #955814;
  border-radius: 5px;
}

.hook-block-138 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #459309;
  background: #796824;
  border-radius: 7px;
}

.hook-block-139 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #634654;
  background: #615749;
  border-radius: 2px;
}

.hook-block-140 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #806938;
  background: #988559;
  border-radius: 6px;
}

.hook-block-141 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #438406;
  background: #333134;
  border-radius: 5px;
}

.hook-block-142 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #849106;
  background: #183789;
  border-radius: 2px;
}

.hook-block-143 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #350706;
  background: #139908;
  border-radius: 8px;
}

.hook-block-144 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #262546;
  background: #242791;
  border-radius: 1px;
}

.hook-block-145 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #480701;
  background: #623840;
  border-radius: 8px;
}

.hook-block-146 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #190650;
  background: #131468;
  border-radius: 8px;
}

.hook-block-147 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #856918;
  background: #835884;
  border-radius: 7px;
}

.hook-block-148 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #672938;
  background: #883735;
  border-radius: 0px;
}

.hook-block-149 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #253264;
  background: #893654;
  border-radius: 4px;
}

.hook-block-150 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #745880;
  background: #706156;
  border-radius: 3px;
}

.hook-block-151 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #702708;
  background: #105338;
  border-radius: 3px;
}

.hook-block-152 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #239567;
  background: #112400;
  border-radius: 1px;
}

.hook-block-153 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #104389;
  background: #782255;
  border-radius: 8px;
}

.hook-block-154 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #727696;
  background: #852905;
  border-radius: 8px;
}

.hook-block-155 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #390497;
  background: #346569;
  border-radius: 3px;
}

.hook-block-156 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #628209;
  background: #374385;
  border-radius: 0px;
}

.hook-block-157 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #933873;
  background: #979920;
  border-radius: 7px;
}

.hook-block-158 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #905219;
  background: #985708;
  border-radius: 4px;
}

.hook-block-159 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #726934;
  background: #654839;
  border-radius: 3px;
}

.hook-block-160 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #445553;
  background: #352460;
  border-radius: 3px;
}

.hook-block-161 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #178670;
  background: #850358;
  border-radius: 6px;
}

.hook-block-162 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #381801;
  background: #273496;
  border-radius: 6px;
}
