/* hook styles v2 */

.hook-block-1 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #130741;
  background: #627886;
  border-radius: 4px;
}

.hook-block-2 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #837397;
  background: #407662;
  border-radius: 6px;
}

.hook-block-3 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #768527;
  background: #299219;
  border-radius: 4px;
}

.hook-block-4 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #448835;
  background: #664363;
  border-radius: 7px;
}

.hook-block-5 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #587407;
  background: #671258;
  border-radius: 0px;
}

.hook-block-6 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #611180;
  background: #500319;
  border-radius: 2px;
}

.hook-block-7 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #566508;
  background: #677166;
  border-radius: 2px;
}

.hook-block-8 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #294170;
  background: #525824;
  border-radius: 3px;
}

.hook-block-9 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #517111;
  background: #355423;
  border-radius: 6px;
}

.hook-block-10 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #800679;
  background: #879689;
  border-radius: 6px;
}

.hook-block-11 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #432839;
  background: #179983;
  border-radius: 5px;
}

.hook-block-12 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #950773;
  background: #742183;
  border-radius: 4px;
}

.hook-block-13 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #796280;
  background: #626264;
  border-radius: 4px;
}

.hook-block-14 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #316177;
  background: #121269;
  border-radius: 6px;
}

.hook-block-15 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #664398;
  background: #332615;
  border-radius: 3px;
}

.hook-block-16 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #211069;
  background: #982868;
  border-radius: 7px;
}

.hook-block-17 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #308343;
  background: #558761;
  border-radius: 6px;
}

.hook-block-18 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #994839;
  background: #592049;
  border-radius: 6px;
}

.hook-block-19 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #306012;
  background: #788583;
  border-radius: 8px;
}

.hook-block-20 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #258542;
  background: #891520;
  border-radius: 4px;
}

.hook-block-21 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #384238;
  background: #155487;
  border-radius: 8px;
}

.hook-block-22 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #830558;
  background: #622813;
  border-radius: 2px;
}

.hook-block-23 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #338079;
  background: #916030;
  border-radius: 6px;
}

.hook-block-24 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #479657;
  background: #100329;
  border-radius: 6px;
}

.hook-block-25 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #623487;
  background: #442463;
  border-radius: 0px;
}

.hook-block-26 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #996466;
  background: #835217;
  border-radius: 0px;
}

.hook-block-27 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #783052;
  background: #178778;
  border-radius: 6px;
}

.hook-block-28 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #728614;
  background: #481189;
  border-radius: 4px;
}

.hook-block-29 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #228656;
  background: #988943;
  border-radius: 8px;
}

.hook-block-30 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #911691;
  background: #393967;
  border-radius: 0px;
}

.hook-block-31 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #126068;
  background: #251475;
  border-radius: 6px;
}

.hook-block-32 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #208987;
  background: #466483;
  border-radius: 6px;
}

.hook-block-33 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #310992;
  background: #602677;
  border-radius: 6px;
}

.hook-block-34 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #828908;
  background: #579412;
  border-radius: 0px;
}

.hook-block-35 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #270059;
  background: #332876;
  border-radius: 0px;
}

.hook-block-36 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #761340;
  background: #297301;
  border-radius: 1px;
}

.hook-block-37 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #150081;
  background: #877239;
  border-radius: 8px;
}

.hook-block-38 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #144264;
  background: #900851;
  border-radius: 1px;
}

.hook-block-39 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #670648;
  background: #746344;
  border-radius: 8px;
}

.hook-block-40 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #170837;
  background: #381920;
  border-radius: 1px;
}

.hook-block-41 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #415308;
  background: #792954;
  border-radius: 6px;
}

.hook-block-42 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #556217;
  background: #195885;
  border-radius: 8px;
}

.hook-block-43 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #621136;
  background: #441611;
  border-radius: 6px;
}

.hook-block-44 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #933957;
  background: #372354;
  border-radius: 4px;
}

.hook-block-45 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #481957;
  background: #498014;
  border-radius: 1px;
}

.hook-block-46 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #924867;
  background: #986105;
  border-radius: 3px;
}

.hook-block-47 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #982907;
  background: #336872;
  border-radius: 8px;
}

.hook-block-48 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #748341;
  background: #491766;
  border-radius: 3px;
}

.hook-block-49 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #599741;
  background: #221319;
  border-radius: 1px;
}

.hook-block-50 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #608343;
  background: #284456;
  border-radius: 7px;
}

.hook-block-51 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #481552;
  background: #365279;
  border-radius: 7px;
}

.hook-block-52 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #514847;
  background: #570593;
  border-radius: 3px;
}

.hook-block-53 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #996601;
  background: #293633;
  border-radius: 7px;
}

.hook-block-54 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #377800;
  background: #674554;
  border-radius: 0px;
}

.hook-block-55 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #814027;
  background: #814888;
  border-radius: 6px;
}

.hook-block-56 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #165878;
  background: #574159;
  border-radius: 7px;
}

.hook-block-57 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #125552;
  background: #378590;
  border-radius: 1px;
}

.hook-block-58 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #137585;
  background: #107306;
  border-radius: 8px;
}

.hook-block-59 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #837161;
  background: #776123;
  border-radius: 8px;
}

.hook-block-60 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #559041;
  background: #329611;
  border-radius: 0px;
}

.hook-block-61 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #787429;
  background: #740136;
  border-radius: 2px;
}

.hook-block-62 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #102154;
  background: #985118;
  border-radius: 7px;
}

.hook-block-63 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #832824;
  background: #235828;
  border-radius: 8px;
}

.hook-block-64 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #200200;
  background: #884981;
  border-radius: 6px;
}

.hook-block-65 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #687308;
  background: #497952;
  border-radius: 8px;
}

.hook-block-66 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #606279;
  background: #129014;
  border-radius: 7px;
}

.hook-block-67 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #270063;
  background: #881961;
  border-radius: 0px;
}

.hook-block-68 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #984983;
  background: #258195;
  border-radius: 8px;
}

.hook-block-69 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #907436;
  background: #647431;
  border-radius: 0px;
}

.hook-block-70 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #450124;
  background: #648982;
  border-radius: 3px;
}

.hook-block-71 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #609533;
  background: #907991;
  border-radius: 5px;
}

.hook-block-72 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #472815;
  background: #858828;
  border-radius: 2px;
}

.hook-block-73 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #304484;
  background: #945772;
  border-radius: 4px;
}

.hook-block-74 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #205747;
  background: #562847;
  border-radius: 5px;
}

.hook-block-75 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #620516;
  background: #931072;
  border-radius: 2px;
}

.hook-block-76 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #632530;
  background: #190432;
  border-radius: 4px;
}

.hook-block-77 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #763917;
  background: #690739;
  border-radius: 3px;
}

.hook-block-78 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #936584;
  background: #534005;
  border-radius: 3px;
}

.hook-block-79 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #705855;
  background: #563043;
  border-radius: 0px;
}

.hook-block-80 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #223624;
  background: #566241;
  border-radius: 8px;
}

.hook-block-81 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #769316;
  background: #143674;
  border-radius: 1px;
}

.hook-block-82 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #706493;
  background: #423300;
  border-radius: 8px;
}

.hook-block-83 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #555106;
  background: #498328;
  border-radius: 1px;
}

.hook-block-84 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #302218;
  background: #896062;
  border-radius: 2px;
}

.hook-block-85 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #869447;
  background: #473291;
  border-radius: 0px;
}

.hook-block-86 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #479904;
  background: #475388;
  border-radius: 5px;
}

.hook-block-87 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #771236;
  background: #907783;
  border-radius: 0px;
}

.hook-block-88 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #365796;
  background: #427181;
  border-radius: 6px;
}

.hook-block-89 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #750901;
  background: #321856;
  border-radius: 7px;
}

.hook-block-90 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #639647;
  background: #684880;
  border-radius: 2px;
}

.hook-block-91 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #441155;
  background: #652577;
  border-radius: 1px;
}

.hook-block-92 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #675763;
  background: #447075;
  border-radius: 7px;
}

.hook-block-93 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #249109;
  background: #820272;
  border-radius: 3px;
}

.hook-block-94 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #174021;
  background: #212584;
  border-radius: 7px;
}

.hook-block-95 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #845416;
  background: #257141;
  border-radius: 7px;
}

.hook-block-96 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #421910;
  background: #980756;
  border-radius: 2px;
}

.hook-block-97 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #655551;
  background: #503664;
  border-radius: 2px;
}

.hook-block-98 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #909659;
  background: #747154;
  border-radius: 8px;
}

.hook-block-99 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #527388;
  background: #105275;
  border-radius: 6px;
}

.hook-block-100 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #517824;
  background: #540563;
  border-radius: 8px;
}

.hook-block-101 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #203968;
  background: #504015;
  border-radius: 2px;
}

.hook-block-102 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #491761;
  background: #832467;
  border-radius: 8px;
}

.hook-block-103 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #467210;
  background: #848445;
  border-radius: 2px;
}

.hook-block-104 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #241330;
  background: #911197;
  border-radius: 5px;
}

.hook-block-105 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #343390;
  background: #121408;
  border-radius: 1px;
}

.hook-block-106 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #338248;
  background: #806030;
  border-radius: 3px;
}

.hook-block-107 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #530847;
  background: #640370;
  border-radius: 1px;
}

.hook-block-108 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #559006;
  background: #277828;
  border-radius: 7px;
}

.hook-block-109 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #930796;
  background: #900450;
  border-radius: 8px;
}

.hook-block-110 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #119408;
  background: #418739;
  border-radius: 8px;
}

.hook-block-111 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #989552;
  background: #236923;
  border-radius: 1px;
}

.hook-block-112 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #198844;
  background: #530085;
  border-radius: 5px;
}

.hook-block-113 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #501209;
  background: #663435;
  border-radius: 7px;
}

.hook-block-114 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #939594;
  background: #231298;
  border-radius: 4px;
}

.hook-block-115 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #630055;
  background: #225436;
  border-radius: 6px;
}

.hook-block-116 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #460121;
  background: #799726;
  border-radius: 5px;
}

.hook-block-117 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #898053;
  background: #576798;
  border-radius: 0px;
}

.hook-block-118 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #922526;
  background: #107604;
  border-radius: 6px;
}

.hook-block-119 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #300783;
  background: #972461;
  border-radius: 0px;
}

.hook-block-120 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #774541;
  background: #814826;
  border-radius: 0px;
}

.hook-block-121 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #471569;
  background: #852448;
  border-radius: 4px;
}

.hook-block-122 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #426784;
  background: #950424;
  border-radius: 1px;
}

.hook-block-123 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #264429;
  background: #804050;
  border-radius: 2px;
}

.hook-block-124 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #557698;
  background: #978270;
  border-radius: 8px;
}

.hook-block-125 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #778112;
  background: #510513;
  border-radius: 0px;
}

.hook-block-126 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #143025;
  background: #749670;
  border-radius: 2px;
}

.hook-block-127 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #652187;
  background: #757614;
  border-radius: 4px;
}

.hook-block-128 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #614949;
  background: #703382;
  border-radius: 6px;
}

.hook-block-129 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #638146;
  background: #655080;
  border-radius: 4px;
}

.hook-block-130 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #749509;
  background: #538581;
  border-radius: 4px;
}

.hook-block-131 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #139946;
  background: #169432;
  border-radius: 0px;
}

.hook-block-132 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #290734;
  background: #364487;
  border-radius: 8px;
}

.hook-block-133 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #235733;
  background: #139482;
  border-radius: 2px;
}

.hook-block-134 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #427486;
  background: #978125;
  border-radius: 5px;
}

.hook-block-135 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #791786;
  background: #886861;
  border-radius: 3px;
}

.hook-block-136 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #275416;
  background: #745241;
  border-radius: 8px;
}

.hook-block-137 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #367342;
  background: #622706;
  border-radius: 1px;
}

.hook-block-138 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #263008;
  background: #214945;
  border-radius: 2px;
}

.hook-block-139 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #241055;
  background: #319324;
  border-radius: 0px;
}

.hook-block-140 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #508707;
  background: #392512;
  border-radius: 6px;
}

.hook-block-141 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #172792;
  background: #443467;
  border-radius: 0px;
}

.hook-block-142 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #786730;
  background: #283143;
  border-radius: 3px;
}

.hook-block-143 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #304373;
  background: #567116;
  border-radius: 3px;
}

.hook-block-144 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #843739;
  background: #508651;
  border-radius: 2px;
}

.hook-block-145 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #506128;
  background: #163525;
  border-radius: 1px;
}

.hook-block-146 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #128262;
  background: #745231;
  border-radius: 7px;
}

.hook-block-147 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #148842;
  background: #792123;
  border-radius: 2px;
}

.hook-block-148 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #660835;
  background: #239946;
  border-radius: 6px;
}

.hook-block-149 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #529257;
  background: #556802;
  border-radius: 2px;
}

.hook-block-150 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #886636;
  background: #792551;
  border-radius: 2px;
}

.hook-block-151 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #857806;
  background: #519481;
  border-radius: 4px;
}

.hook-block-152 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #145055;
  background: #544089;
  border-radius: 5px;
}

.hook-block-153 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #536150;
  background: #145868;
  border-radius: 0px;
}

.hook-block-154 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #643443;
  background: #650481;
  border-radius: 2px;
}

.hook-block-155 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #765445;
  background: #384265;
  border-radius: 8px;
}

.hook-block-156 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #766576;
  background: #844451;
  border-radius: 6px;
}

.hook-block-157 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #840416;
  background: #512338;
  border-radius: 5px;
}

.hook-block-158 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #670215;
  background: #558741;
  border-radius: 0px;
}

.hook-block-159 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #755542;
  background: #562258;
  border-radius: 5px;
}

.hook-block-160 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #927964;
  background: #803993;
  border-radius: 8px;
}

.hook-block-161 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #284080;
  background: #832778;
  border-radius: 7px;
}

.hook-block-162 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #106604;
  background: #322105;
  border-radius: 6px;
}

.hook-block-163 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #244714;
  background: #948858;
  border-radius: 7px;
}

.hook-block-164 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #967398;
  background: #876609;
  border-radius: 2px;
}

.hook-block-165 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #850351;
  background: #216639;
  border-radius: 7px;
}

.hook-block-166 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #710927;
  background: #851839;
  border-radius: 4px;
}

.hook-block-167 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #795431;
  background: #175204;
  border-radius: 3px;
}

.hook-block-168 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #431921;
  background: #918736;
  border-radius: 3px;
}

.hook-block-169 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #788217;
  background: #547825;
  border-radius: 2px;
}

.hook-block-170 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #709630;
  background: #343171;
  border-radius: 1px;
}

.hook-block-171 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #329133;
  background: #675561;
  border-radius: 7px;
}

.hook-block-172 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #459773;
  background: #869018;
  border-radius: 1px;
}

.hook-block-173 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #281665;
  background: #956423;
  border-radius: 7px;
}
