/* hook styles v2 */

.hook-block-1 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #785659;
  background: #605603;
  border-radius: 8px;
}

.hook-block-2 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #800695;
  background: #962047;
  border-radius: 3px;
}

.hook-block-3 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #228165;
  background: #189230;
  border-radius: 3px;
}

.hook-block-4 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #580227;
  background: #317352;
  border-radius: 6px;
}

.hook-block-5 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #278803;
  background: #593583;
  border-radius: 1px;
}

.hook-block-6 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #396832;
  background: #525287;
  border-radius: 5px;
}

.hook-block-7 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #975852;
  background: #712269;
  border-radius: 1px;
}

.hook-block-8 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #396173;
  background: #527692;
  border-radius: 2px;
}

.hook-block-9 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #400698;
  background: #423503;
  border-radius: 4px;
}

.hook-block-10 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #398018;
  background: #655997;
  border-radius: 8px;
}

.hook-block-11 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #579782;
  background: #603594;
  border-radius: 1px;
}

.hook-block-12 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #357339;
  background: #626569;
  border-radius: 6px;
}

.hook-block-13 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #813970;
  background: #508674;
  border-radius: 5px;
}

.hook-block-14 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #591526;
  background: #985395;
  border-radius: 0px;
}

.hook-block-15 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #109727;
  background: #635314;
  border-radius: 0px;
}

.hook-block-16 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #815814;
  background: #218177;
  border-radius: 2px;
}

.hook-block-17 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #852582;
  background: #180177;
  border-radius: 0px;
}

.hook-block-18 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #777570;
  background: #122878;
  border-radius: 5px;
}

.hook-block-19 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #777145;
  background: #747818;
  border-radius: 5px;
}

.hook-block-20 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #260630;
  background: #539103;
  border-radius: 2px;
}

.hook-block-21 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #180622;
  background: #710570;
  border-radius: 8px;
}

.hook-block-22 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #949753;
  background: #223752;
  border-radius: 3px;
}

.hook-block-23 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #579570;
  background: #161235;
  border-radius: 4px;
}

.hook-block-24 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #158609;
  background: #986263;
  border-radius: 5px;
}

.hook-block-25 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #453936;
  background: #224422;
  border-radius: 0px;
}

.hook-block-26 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #238897;
  background: #430891;
  border-radius: 1px;
}

.hook-block-27 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #139242;
  background: #461990;
  border-radius: 5px;
}

.hook-block-28 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #859378;
  background: #528921;
  border-radius: 6px;
}

.hook-block-29 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #348649;
  background: #928467;
  border-radius: 0px;
}

.hook-block-30 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #878066;
  background: #241878;
  border-radius: 3px;
}

.hook-block-31 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #312537;
  background: #259763;
  border-radius: 1px;
}

.hook-block-32 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #784853;
  background: #868847;
  border-radius: 8px;
}

.hook-block-33 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #845639;
  background: #719203;
  border-radius: 5px;
}

.hook-block-34 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #271589;
  background: #778202;
  border-radius: 1px;
}

.hook-block-35 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #471759;
  background: #835180;
  border-radius: 0px;
}

.hook-block-36 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #548503;
  background: #337693;
  border-radius: 4px;
}

.hook-block-37 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #985044;
  background: #850746;
  border-radius: 7px;
}

.hook-block-38 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #375899;
  background: #258069;
  border-radius: 0px;
}

.hook-block-39 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #285863;
  background: #123534;
  border-radius: 6px;
}

.hook-block-40 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #374723;
  background: #145627;
  border-radius: 2px;
}

.hook-block-41 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #529831;
  background: #370749;
  border-radius: 1px;
}

.hook-block-42 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #825007;
  background: #899383;
  border-radius: 0px;
}

.hook-block-43 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #851655;
  background: #304852;
  border-radius: 4px;
}

.hook-block-44 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #113605;
  background: #720306;
  border-radius: 4px;
}

.hook-block-45 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #102533;
  background: #457200;
  border-radius: 3px;
}

.hook-block-46 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #958411;
  background: #604471;
  border-radius: 8px;
}

.hook-block-47 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #352058;
  background: #495630;
  border-radius: 8px;
}

.hook-block-48 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #571440;
  background: #300241;
  border-radius: 5px;
}

.hook-block-49 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #384170;
  background: #613912;
  border-radius: 6px;
}

.hook-block-50 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #134261;
  background: #603107;
  border-radius: 1px;
}

.hook-block-51 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #342978;
  background: #262530;
  border-radius: 4px;
}

.hook-block-52 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #602253;
  background: #971619;
  border-radius: 8px;
}

.hook-block-53 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #389458;
  background: #407513;
  border-radius: 3px;
}

.hook-block-54 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #335593;
  background: #155399;
  border-radius: 1px;
}

.hook-block-55 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #295353;
  background: #303370;
  border-radius: 6px;
}

.hook-block-56 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #830682;
  background: #562645;
  border-radius: 2px;
}

.hook-block-57 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #457340;
  background: #853762;
  border-radius: 5px;
}

.hook-block-58 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #902436;
  background: #941099;
  border-radius: 6px;
}

.hook-block-59 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #543939;
  background: #365709;
  border-radius: 4px;
}

.hook-block-60 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #801523;
  background: #334468;
  border-radius: 3px;
}

.hook-block-61 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #520912;
  background: #685983;
  border-radius: 8px;
}

.hook-block-62 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #647618;
  background: #786908;
  border-radius: 3px;
}

.hook-block-63 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #719393;
  background: #998343;
  border-radius: 1px;
}

.hook-block-64 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #876245;
  background: #132747;
  border-radius: 5px;
}

.hook-block-65 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #645811;
  background: #963445;
  border-radius: 0px;
}

.hook-block-66 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #339068;
  background: #708325;
  border-radius: 4px;
}

.hook-block-67 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #765229;
  background: #656023;
  border-radius: 5px;
}

.hook-block-68 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #621789;
  background: #588929;
  border-radius: 4px;
}

.hook-block-69 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #251118;
  background: #202499;
  border-radius: 8px;
}

.hook-block-70 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #556442;
  background: #867612;
  border-radius: 2px;
}

.hook-block-71 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #166185;
  background: #602705;
  border-radius: 3px;
}

.hook-block-72 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #961965;
  background: #685292;
  border-radius: 7px;
}

.hook-block-73 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #751845;
  background: #238277;
  border-radius: 2px;
}

.hook-block-74 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #954871;
  background: #874438;
  border-radius: 4px;
}

.hook-block-75 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #239593;
  background: #583655;
  border-radius: 6px;
}

.hook-block-76 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #486761;
  background: #822823;
  border-radius: 7px;
}

.hook-block-77 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #387065;
  background: #949770;
  border-radius: 0px;
}

.hook-block-78 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #893657;
  background: #280756;
  border-radius: 8px;
}

.hook-block-79 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #166290;
  background: #861709;
  border-radius: 8px;
}

.hook-block-80 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #839875;
  background: #155991;
  border-radius: 3px;
}

.hook-block-81 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #822753;
  background: #906103;
  border-radius: 3px;
}

.hook-block-82 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #712715;
  background: #746480;
  border-radius: 7px;
}

.hook-block-83 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #162647;
  background: #338005;
  border-radius: 0px;
}

.hook-block-84 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #329775;
  background: #583474;
  border-radius: 4px;
}

.hook-block-85 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #343389;
  background: #516801;
  border-radius: 8px;
}

.hook-block-86 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #464590;
  background: #777534;
  border-radius: 5px;
}

.hook-block-87 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #220272;
  background: #502503;
  border-radius: 4px;
}

.hook-block-88 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #134621;
  background: #308907;
  border-radius: 0px;
}

.hook-block-89 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #871404;
  background: #893893;
  border-radius: 3px;
}

.hook-block-90 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #334848;
  background: #262817;
  border-radius: 3px;
}

.hook-block-91 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #164950;
  background: #884601;
  border-radius: 4px;
}

.hook-block-92 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #896331;
  background: #610715;
  border-radius: 1px;
}

.hook-block-93 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #478507;
  background: #858618;
  border-radius: 3px;
}

.hook-block-94 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #908657;
  background: #761663;
  border-radius: 7px;
}

.hook-block-95 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #711390;
  background: #699163;
  border-radius: 2px;
}

.hook-block-96 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #124129;
  background: #185086;
  border-radius: 7px;
}

.hook-block-97 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #877984;
  background: #150597;
  border-radius: 1px;
}

.hook-block-98 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #766378;
  background: #318344;
  border-radius: 2px;
}

.hook-block-99 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #915324;
  background: #908265;
  border-radius: 8px;
}

.hook-block-100 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #152880;
  background: #251152;
  border-radius: 4px;
}

.hook-block-101 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #212000;
  background: #922243;
  border-radius: 3px;
}

.hook-block-102 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #815964;
  background: #705198;
  border-radius: 6px;
}

.hook-block-103 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #249546;
  background: #243984;
  border-radius: 8px;
}

.hook-block-104 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #626514;
  background: #632441;
  border-radius: 7px;
}

.hook-block-105 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #173001;
  background: #726245;
  border-radius: 0px;
}

.hook-block-106 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #694997;
  background: #220923;
  border-radius: 2px;
}

.hook-block-107 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #255425;
  background: #562525;
  border-radius: 5px;
}

.hook-block-108 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #101869;
  background: #553663;
  border-radius: 1px;
}

.hook-block-109 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #923243;
  background: #128926;
  border-radius: 6px;
}

.hook-block-110 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #700158;
  background: #295609;
  border-radius: 0px;
}

.hook-block-111 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #946479;
  background: #225019;
  border-radius: 8px;
}

.hook-block-112 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #993249;
  background: #116885;
  border-radius: 8px;
}

.hook-block-113 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #701545;
  background: #607298;
  border-radius: 2px;
}

.hook-block-114 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #426957;
  background: #379082;
  border-radius: 2px;
}

.hook-block-115 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #865560;
  background: #325282;
  border-radius: 4px;
}

.hook-block-116 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #603024;
  background: #446165;
  border-radius: 0px;
}

.hook-block-117 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #131293;
  background: #112617;
  border-radius: 0px;
}

.hook-block-118 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #827528;
  background: #814095;
  border-radius: 3px;
}

.hook-block-119 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #922210;
  background: #209869;
  border-radius: 3px;
}

.hook-block-120 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #708574;
  background: #714710;
  border-radius: 5px;
}

.hook-block-121 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #668795;
  background: #208253;
  border-radius: 1px;
}

.hook-block-122 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #419299;
  background: #320960;
  border-radius: 1px;
}

.hook-block-123 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #661762;
  background: #360720;
  border-radius: 1px;
}

.hook-block-124 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #900893;
  background: #393612;
  border-radius: 8px;
}

.hook-block-125 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #356016;
  background: #214695;
  border-radius: 4px;
}

.hook-block-126 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #902359;
  background: #145158;
  border-radius: 6px;
}

.hook-block-127 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #142738;
  background: #335720;
  border-radius: 0px;
}

.hook-block-128 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #495167;
  background: #886227;
  border-radius: 0px;
}

.hook-block-129 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #166778;
  background: #819489;
  border-radius: 3px;
}

.hook-block-130 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #768325;
  background: #144503;
  border-radius: 3px;
}

.hook-block-131 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #124109;
  background: #387476;
  border-radius: 7px;
}

.hook-block-132 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #758634;
  background: #937263;
  border-radius: 4px;
}

.hook-block-133 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #260474;
  background: #234941;
  border-radius: 8px;
}

.hook-block-134 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #708530;
  background: #217422;
  border-radius: 7px;
}

.hook-block-135 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #688985;
  background: #305635;
  border-radius: 0px;
}

.hook-block-136 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #326049;
  background: #230642;
  border-radius: 3px;
}

.hook-block-137 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #782373;
  background: #411373;
  border-radius: 6px;
}

.hook-block-138 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #754331;
  background: #898906;
  border-radius: 7px;
}

.hook-block-139 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #456291;
  background: #953047;
  border-radius: 7px;
}

.hook-block-140 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #298051;
  background: #615183;
  border-radius: 1px;
}

.hook-block-141 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #474557;
  background: #538771;
  border-radius: 1px;
}

.hook-block-142 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #807369;
  background: #775704;
  border-radius: 3px;
}

.hook-block-143 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #556992;
  background: #691089;
  border-radius: 6px;
}

.hook-block-144 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #642756;
  background: #922192;
  border-radius: 7px;
}

.hook-block-145 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #986575;
  background: #294611;
  border-radius: 6px;
}

.hook-block-146 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #242577;
  background: #297312;
  border-radius: 1px;
}

.hook-block-147 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #676434;
  background: #714460;
  border-radius: 2px;
}

.hook-block-148 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #345888;
  background: #464000;
  border-radius: 8px;
}

.hook-block-149 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #699863;
  background: #420705;
  border-radius: 2px;
}

.hook-block-150 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #591753;
  background: #184333;
  border-radius: 5px;
}

.hook-block-151 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #789363;
  background: #240762;
  border-radius: 5px;
}

.hook-block-152 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #479751;
  background: #427527;
  border-radius: 1px;
}

.hook-block-153 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #804996;
  background: #136846;
  border-radius: 3px;
}

.hook-block-154 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #240518;
  background: #860755;
  border-radius: 5px;
}

.hook-block-155 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #839171;
  background: #525182;
  border-radius: 8px;
}

.hook-block-156 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #586366;
  background: #701921;
  border-radius: 0px;
}

.hook-block-157 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #695834;
  background: #124099;
  border-radius: 0px;
}

.hook-block-158 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #896459;
  background: #561723;
  border-radius: 5px;
}

.hook-block-159 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #737961;
  background: #895576;
  border-radius: 1px;
}

.hook-block-160 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #595083;
  background: #704346;
  border-radius: 0px;
}

.hook-block-161 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #469628;
  background: #235516;
  border-radius: 2px;
}

.hook-block-162 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #811280;
  background: #793357;
  border-radius: 7px;
}

.hook-block-163 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #588957;
  background: #828287;
  border-radius: 8px;
}

.hook-block-164 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #919971;
  background: #392979;
  border-radius: 6px;
}

.hook-block-165 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #647140;
  background: #217120;
  border-radius: 5px;
}

.hook-block-166 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #364767;
  background: #146190;
  border-radius: 5px;
}

.hook-block-167 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #357854;
  background: #709985;
  border-radius: 8px;
}

.hook-block-168 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #807310;
  background: #581272;
  border-radius: 1px;
}

.hook-block-169 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #251850;
  background: #246947;
  border-radius: 0px;
}

.hook-block-170 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #843384;
  background: #888772;
  border-radius: 1px;
}

.hook-block-171 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #244645;
  background: #455867;
  border-radius: 1px;
}

.hook-block-172 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #628493;
  background: #992549;
  border-radius: 2px;
}

.hook-block-173 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #912306;
  background: #124971;
  border-radius: 5px;
}

.hook-block-174 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #871309;
  background: #793024;
  border-radius: 6px;
}

.hook-block-175 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #532509;
  background: #779512;
  border-radius: 2px;
}

.hook-block-176 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #538654;
  background: #118995;
  border-radius: 2px;
}

.hook-block-177 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #576682;
  background: #671715;
  border-radius: 7px;
}

.hook-block-178 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #576725;
  background: #467882;
  border-radius: 1px;
}

.hook-block-179 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #815304;
  background: #434702;
  border-radius: 3px;
}

.hook-block-180 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #746319;
  background: #274103;
  border-radius: 5px;
}

.hook-block-181 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #253602;
  background: #318371;
  border-radius: 5px;
}
