/* index styles v2 */

.index-block-1 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #153447;
  background: #721586;
  border-radius: 4px;
}

.index-block-2 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #926532;
  background: #925115;
  border-radius: 5px;
}

.index-block-3 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #673629;
  background: #964284;
  border-radius: 2px;
}

.index-block-4 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #792155;
  background: #390799;
  border-radius: 4px;
}

.index-block-5 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #961781;
  background: #763304;
  border-radius: 5px;
}

.index-block-6 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #548477;
  background: #234522;
  border-radius: 5px;
}

.index-block-7 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #277732;
  background: #577012;
  border-radius: 4px;
}

.index-block-8 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #168472;
  background: #222751;
  border-radius: 5px;
}

.index-block-9 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #504335;
  background: #373651;
  border-radius: 5px;
}

.index-block-10 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #530093;
  background: #641417;
  border-radius: 0px;
}

.index-block-11 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #595458;
  background: #508961;
  border-radius: 6px;
}

.index-block-12 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #546481;
  background: #892822;
  border-radius: 5px;
}

.index-block-13 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #870088;
  background: #940145;
  border-radius: 7px;
}

.index-block-14 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #901498;
  background: #676593;
  border-radius: 1px;
}

.index-block-15 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #854686;
  background: #147403;
  border-radius: 1px;
}

.index-block-16 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #111979;
  background: #101626;
  border-radius: 5px;
}

.index-block-17 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #388869;
  background: #753068;
  border-radius: 8px;
}

.index-block-18 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #146022;
  background: #128794;
  border-radius: 6px;
}

.index-block-19 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #945183;
  background: #141780;
  border-radius: 3px;
}

.index-block-20 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #141552;
  background: #888407;
  border-radius: 3px;
}

.index-block-21 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #103245;
  background: #699298;
  border-radius: 3px;
}

.index-block-22 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #497648;
  background: #933347;
  border-radius: 6px;
}

.index-block-23 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #543272;
  background: #558711;
  border-radius: 1px;
}

.index-block-24 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #208851;
  background: #809562;
  border-radius: 1px;
}

.index-block-25 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #415102;
  background: #577327;
  border-radius: 4px;
}

.index-block-26 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #386211;
  background: #731589;
  border-radius: 0px;
}

.index-block-27 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #877601;
  background: #521477;
  border-radius: 4px;
}

.index-block-28 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #514414;
  background: #373121;
  border-radius: 8px;
}

.index-block-29 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #521007;
  background: #616289;
  border-radius: 2px;
}

.index-block-30 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #538156;
  background: #602661;
  border-radius: 7px;
}

.index-block-31 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #262608;
  background: #979292;
  border-radius: 4px;
}

.index-block-32 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #609322;
  background: #143240;
  border-radius: 0px;
}

.index-block-33 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #875395;
  background: #506799;
  border-radius: 0px;
}

.index-block-34 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #965684;
  background: #994226;
  border-radius: 8px;
}

.index-block-35 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #851201;
  background: #776666;
  border-radius: 3px;
}

.index-block-36 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #208028;
  background: #253789;
  border-radius: 7px;
}

.index-block-37 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #145657;
  background: #176420;
  border-radius: 4px;
}

.index-block-38 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #502085;
  background: #603679;
  border-radius: 2px;
}

.index-block-39 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #183259;
  background: #718184;
  border-radius: 5px;
}

.index-block-40 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #810651;
  background: #995072;
  border-radius: 7px;
}

.index-block-41 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #848177;
  background: #467580;
  border-radius: 8px;
}

.index-block-42 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #866072;
  background: #586403;
  border-radius: 6px;
}

.index-block-43 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #731484;
  background: #849004;
  border-radius: 1px;
}

.index-block-44 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #780058;
  background: #662759;
  border-radius: 7px;
}

.index-block-45 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #279394;
  background: #300736;
  border-radius: 4px;
}

.index-block-46 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #362938;
  background: #492639;
  border-radius: 6px;
}

.index-block-47 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #671182;
  background: #696393;
  border-radius: 8px;
}

.index-block-48 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #144041;
  background: #583089;
  border-radius: 8px;
}

.index-block-49 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #280947;
  background: #630601;
  border-radius: 5px;
}

.index-block-50 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #355339;
  background: #459536;
  border-radius: 7px;
}

.index-block-51 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #425534;
  background: #742607;
  border-radius: 6px;
}

.index-block-52 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #117910;
  background: #453402;
  border-radius: 8px;
}

.index-block-53 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #302960;
  background: #528260;
  border-radius: 0px;
}

.index-block-54 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #161513;
  background: #109937;
  border-radius: 3px;
}

.index-block-55 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #362919;
  background: #924434;
  border-radius: 3px;
}

.index-block-56 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #567800;
  background: #662069;
  border-radius: 0px;
}

.index-block-57 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #554538;
  background: #646970;
  border-radius: 0px;
}

.index-block-58 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #363762;
  background: #134460;
  border-radius: 3px;
}

.index-block-59 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #347841;
  background: #279709;
  border-radius: 6px;
}

.index-block-60 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #660022;
  background: #576875;
  border-radius: 3px;
}

.index-block-61 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #855529;
  background: #754466;
  border-radius: 3px;
}

.index-block-62 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #534995;
  background: #158454;
  border-radius: 4px;
}

.index-block-63 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #372046;
  background: #286117;
  border-radius: 0px;
}

.index-block-64 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #966755;
  background: #915925;
  border-radius: 8px;
}

.index-block-65 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #828621;
  background: #739582;
  border-radius: 0px;
}

.index-block-66 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #116153;
  background: #220368;
  border-radius: 0px;
}

.index-block-67 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #817366;
  background: #262584;
  border-radius: 0px;
}
