[submodule "submodules/repo-a"]
	path = submodules/repo-a
	url = /home/onlineeric/repos/speedy-git-ext/test-repo-submodules/repo-a
[submodule "submodules/repo-b"]
	path = submodules/repo-b
	url = /home/onlineeric/repos/speedy-git-ext/test-repo-submodules/repo-b
[submodule "submodules/test-repo"]
	path = submodules/test-repo
	url = /home/onlineeric/repos/speedy-git-ext/test-repo-submodules/test-repo
