/* helpers styles v2 */

.helpers-block-1 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #563234;
  background: #499254;
  border-radius: 2px;
}

.helpers-block-2 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #665907;
  background: #105792;
  border-radius: 1px;
}

.helpers-block-3 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #388972;
  background: #132018;
  border-radius: 4px;
}

.helpers-block-4 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #375229;
  background: #945587;
  border-radius: 0px;
}

.helpers-block-5 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #429887;
  background: #773557;
  border-radius: 4px;
}

.helpers-block-6 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #308861;
  background: #759205;
  border-radius: 5px;
}

.helpers-block-7 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #100647;
  background: #168520;
  border-radius: 7px;
}

.helpers-block-8 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #367473;
  background: #919902;
  border-radius: 7px;
}

.helpers-block-9 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #416428;
  background: #877212;
  border-radius: 7px;
}

.helpers-block-10 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #997914;
  background: #319749;
  border-radius: 8px;
}

.helpers-block-11 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #600742;
  background: #763206;
  border-radius: 7px;
}

.helpers-block-12 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #798233;
  background: #118044;
  border-radius: 0px;
}

.helpers-block-13 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #609248;
  background: #531750;
  border-radius: 2px;
}

.helpers-block-14 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #400086;
  background: #791777;
  border-radius: 0px;
}

.helpers-block-15 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #678215;
  background: #425232;
  border-radius: 2px;
}

.helpers-block-16 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #458422;
  background: #395545;
  border-radius: 6px;
}

.helpers-block-17 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #302856;
  background: #187534;
  border-radius: 1px;
}

.helpers-block-18 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #760460;
  background: #755963;
  border-radius: 1px;
}

.helpers-block-19 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #988760;
  background: #652942;
  border-radius: 8px;
}

.helpers-block-20 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #498908;
  background: #303484;
  border-radius: 1px;
}

.helpers-block-21 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #980313;
  background: #253679;
  border-radius: 0px;
}

.helpers-block-22 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #894296;
  background: #813739;
  border-radius: 7px;
}

.helpers-block-23 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #584493;
  background: #279266;
  border-radius: 6px;
}

.helpers-block-24 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #404509;
  background: #772433;
  border-radius: 1px;
}

.helpers-block-25 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #558204;
  background: #617124;
  border-radius: 8px;
}

.helpers-block-26 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #182384;
  background: #823632;
  border-radius: 1px;
}

.helpers-block-27 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #943357;
  background: #463297;
  border-radius: 1px;
}

.helpers-block-28 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #240758;
  background: #992198;
  border-radius: 5px;
}

.helpers-block-29 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #397732;
  background: #971175;
  border-radius: 3px;
}

.helpers-block-30 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #914913;
  background: #418555;
  border-radius: 1px;
}

.helpers-block-31 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #412292;
  background: #710885;
  border-radius: 8px;
}

.helpers-block-32 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #581227;
  background: #588922;
  border-radius: 0px;
}

.helpers-block-33 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #908478;
  background: #898842;
  border-radius: 3px;
}

.helpers-block-34 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #954203;
  background: #118118;
  border-radius: 2px;
}

.helpers-block-35 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #903233;
  background: #732034;
  border-radius: 1px;
}

.helpers-block-36 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #748230;
  background: #126119;
  border-radius: 4px;
}

.helpers-block-37 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #496410;
  background: #681261;
  border-radius: 5px;
}

.helpers-block-38 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #411587;
  background: #575017;
  border-radius: 1px;
}

.helpers-block-39 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #306013;
  background: #667938;
  border-radius: 6px;
}

.helpers-block-40 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #724720;
  background: #281195;
  border-radius: 0px;
}

.helpers-block-41 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #232687;
  background: #426539;
  border-radius: 0px;
}

.helpers-block-42 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #358773;
  background: #419578;
  border-radius: 7px;
}

.helpers-block-43 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #107214;
  background: #545455;
  border-radius: 7px;
}

.helpers-block-44 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #620191;
  background: #274017;
  border-radius: 6px;
}

.helpers-block-45 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #644826;
  background: #739314;
  border-radius: 2px;
}

.helpers-block-46 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #618985;
  background: #591495;
  border-radius: 3px;
}

.helpers-block-47 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #329037;
  background: #941833;
  border-radius: 4px;
}

.helpers-block-48 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #798387;
  background: #849095;
  border-radius: 2px;
}

.helpers-block-49 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #656798;
  background: #276349;
  border-radius: 3px;
}

.helpers-block-50 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #308205;
  background: #772849;
  border-radius: 4px;
}

.helpers-block-51 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #927264;
  background: #767507;
  border-radius: 2px;
}

.helpers-block-52 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #599654;
  background: #237944;
  border-radius: 5px;
}

.helpers-block-53 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #829607;
  background: #158482;
  border-radius: 5px;
}

.helpers-block-54 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #521827;
  background: #761451;
  border-radius: 4px;
}

.helpers-block-55 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #212351;
  background: #899767;
  border-radius: 1px;
}

.helpers-block-56 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #115726;
  background: #553184;
  border-radius: 8px;
}

.helpers-block-57 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #678927;
  background: #234226;
  border-radius: 5px;
}

.helpers-block-58 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #687027;
  background: #948580;
  border-radius: 0px;
}

.helpers-block-59 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #882741;
  background: #125129;
  border-radius: 0px;
}

.helpers-block-60 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #699759;
  background: #890932;
  border-radius: 3px;
}

.helpers-block-61 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #771345;
  background: #315348;
  border-radius: 4px;
}

.helpers-block-62 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #126177;
  background: #790189;
  border-radius: 3px;
}

.helpers-block-63 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #284435;
  background: #673199;
  border-radius: 2px;
}

.helpers-block-64 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #119444;
  background: #443070;
  border-radius: 0px;
}

.helpers-block-65 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #725784;
  background: #829733;
  border-radius: 3px;
}

.helpers-block-66 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #401599;
  background: #685614;
  border-radius: 5px;
}

.helpers-block-67 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #235904;
  background: #349859;
  border-radius: 4px;
}

.helpers-block-68 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #985990;
  background: #945932;
  border-radius: 0px;
}

.helpers-block-69 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #671667;
  background: #261841;
  border-radius: 1px;
}

.helpers-block-70 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #636984;
  background: #302874;
  border-radius: 3px;
}

.helpers-block-71 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #882392;
  background: #702580;
  border-radius: 6px;
}

.helpers-block-72 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #916802;
  background: #716977;
  border-radius: 4px;
}

.helpers-block-73 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #440371;
  background: #476081;
  border-radius: 4px;
}

.helpers-block-74 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #735780;
  background: #114620;
  border-radius: 3px;
}

.helpers-block-75 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #868672;
  background: #575680;
  border-radius: 5px;
}

.helpers-block-76 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #614662;
  background: #656017;
  border-radius: 7px;
}

.helpers-block-77 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #891559;
  background: #643402;
  border-radius: 0px;
}

.helpers-block-78 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #641868;
  background: #533779;
  border-radius: 8px;
}

.helpers-block-79 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #244332;
  background: #438328;
  border-radius: 8px;
}

.helpers-block-80 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #571224;
  background: #512561;
  border-radius: 6px;
}

.helpers-block-81 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #300924;
  background: #316421;
  border-radius: 6px;
}

.helpers-block-82 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #212836;
  background: #462980;
  border-radius: 6px;
}

.helpers-block-83 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #940630;
  background: #793124;
  border-radius: 1px;
}

.helpers-block-84 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #527642;
  background: #845823;
  border-radius: 2px;
}

.helpers-block-85 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #560933;
  background: #923399;
  border-radius: 3px;
}

.helpers-block-86 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #901159;
  background: #896800;
  border-radius: 6px;
}

.helpers-block-87 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #783005;
  background: #698053;
  border-radius: 0px;
}

.helpers-block-88 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #750138;
  background: #228985;
  border-radius: 5px;
}

.helpers-block-89 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #371111;
  background: #576379;
  border-radius: 8px;
}

.helpers-block-90 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #763609;
  background: #540916;
  border-radius: 1px;
}

.helpers-block-91 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #628289;
  background: #859626;
  border-radius: 5px;
}

.helpers-block-92 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #803325;
  background: #874244;
  border-radius: 5px;
}

.helpers-block-93 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #519448;
  background: #713791;
  border-radius: 7px;
}

.helpers-block-94 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #644190;
  background: #337208;
  border-radius: 5px;
}

.helpers-block-95 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #340686;
  background: #680037;
  border-radius: 5px;
}

.helpers-block-96 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #729089;
  background: #980236;
  border-radius: 6px;
}

.helpers-block-97 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #681475;
  background: #122848;
  border-radius: 2px;
}

.helpers-block-98 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #900930;
  background: #708879;
  border-radius: 7px;
}

.helpers-block-99 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #945593;
  background: #466121;
  border-radius: 8px;
}

.helpers-block-100 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #763863;
  background: #928378;
  border-radius: 8px;
}

.helpers-block-101 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #688581;
  background: #712038;
  border-radius: 8px;
}

.helpers-block-102 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #671830;
  background: #764663;
  border-radius: 7px;
}

.helpers-block-103 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #825303;
  background: #432957;
  border-radius: 1px;
}

.helpers-block-104 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #452082;
  background: #279700;
  border-radius: 3px;
}

.helpers-block-105 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #542131;
  background: #129024;
  border-radius: 5px;
}

.helpers-block-106 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #200283;
  background: #826176;
  border-radius: 8px;
}

.helpers-block-107 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #145676;
  background: #959899;
  border-radius: 5px;
}

.helpers-block-108 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #938642;
  background: #548725;
  border-radius: 1px;
}

.helpers-block-109 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #874947;
  background: #544271;
  border-radius: 4px;
}

.helpers-block-110 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #665280;
  background: #867469;
  border-radius: 7px;
}

.helpers-block-111 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #927822;
  background: #681866;
  border-radius: 8px;
}

.helpers-block-112 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #948186;
  background: #155974;
  border-radius: 4px;
}

.helpers-block-113 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #386713;
  background: #145700;
  border-radius: 1px;
}

.helpers-block-114 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #686717;
  background: #280857;
  border-radius: 8px;
}

.helpers-block-115 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #303870;
  background: #923703;
  border-radius: 4px;
}

.helpers-block-116 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #584005;
  background: #585628;
  border-radius: 0px;
}

.helpers-block-117 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #504869;
  background: #714702;
  border-radius: 3px;
}

.helpers-block-118 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #601105;
  background: #108079;
  border-radius: 0px;
}

.helpers-block-119 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #820882;
  background: #910414;
  border-radius: 1px;
}

.helpers-block-120 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #304390;
  background: #699946;
  border-radius: 2px;
}

.helpers-block-121 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #747562;
  background: #978800;
  border-radius: 6px;
}

.helpers-block-122 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #628012;
  background: #100846;
  border-radius: 4px;
}

.helpers-block-123 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #681966;
  background: #811087;
  border-radius: 7px;
}

.helpers-block-124 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #659233;
  background: #486971;
  border-radius: 7px;
}

.helpers-block-125 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #890199;
  background: #561290;
  border-radius: 5px;
}

.helpers-block-126 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #872529;
  background: #299857;
  border-radius: 4px;
}

.helpers-block-127 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #838674;
  background: #199329;
  border-radius: 0px;
}

.helpers-block-128 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #494697;
  background: #643108;
  border-radius: 8px;
}

.helpers-block-129 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #162183;
  background: #873169;
  border-radius: 5px;
}

.helpers-block-130 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #534093;
  background: #846324;
  border-radius: 2px;
}

.helpers-block-131 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #373717;
  background: #438010;
  border-radius: 0px;
}

.helpers-block-132 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #558766;
  background: #817122;
  border-radius: 1px;
}

.helpers-block-133 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #125387;
  background: #317655;
  border-radius: 3px;
}

.helpers-block-134 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #216969;
  background: #265085;
  border-radius: 6px;
}

.helpers-block-135 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #438079;
  background: #821141;
  border-radius: 7px;
}

.helpers-block-136 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #765482;
  background: #467130;
  border-radius: 3px;
}

.helpers-block-137 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #110929;
  background: #302617;
  border-radius: 1px;
}

.helpers-block-138 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #662696;
  background: #783361;
  border-radius: 5px;
}
