/* hook styles v1 */

.hook-block-1 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #998997;
  background: #428921;
  border-radius: 5px;
}

.hook-block-2 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #742353;
  background: #567297;
  border-radius: 5px;
}

.hook-block-3 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #731985;
  background: #349720;
  border-radius: 6px;
}

.hook-block-4 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #409791;
  background: #726571;
  border-radius: 1px;
}

.hook-block-5 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #995952;
  background: #771928;
  border-radius: 0px;
}

.hook-block-6 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #913902;
  background: #521321;
  border-radius: 2px;
}

.hook-block-7 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #662503;
  background: #255071;
  border-radius: 0px;
}

.hook-block-8 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #688201;
  background: #338766;
  border-radius: 8px;
}

.hook-block-9 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #877664;
  background: #234995;
  border-radius: 8px;
}

.hook-block-10 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #975826;
  background: #786985;
  border-radius: 4px;
}

.hook-block-11 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #496873;
  background: #553246;
  border-radius: 7px;
}

.hook-block-12 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #462130;
  background: #748257;
  border-radius: 2px;
}

.hook-block-13 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #118436;
  background: #643823;
  border-radius: 8px;
}

.hook-block-14 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #967506;
  background: #608310;
  border-radius: 0px;
}

.hook-block-15 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #308519;
  background: #156069;
  border-radius: 8px;
}

.hook-block-16 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #381744;
  background: #212241;
  border-radius: 2px;
}

.hook-block-17 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #304615;
  background: #362500;
  border-radius: 2px;
}

.hook-block-18 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #649067;
  background: #209742;
  border-radius: 3px;
}

.hook-block-19 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #672779;
  background: #399270;
  border-radius: 4px;
}

.hook-block-20 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #532229;
  background: #652326;
  border-radius: 0px;
}

.hook-block-21 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #183106;
  background: #996100;
  border-radius: 7px;
}

.hook-block-22 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #375947;
  background: #549890;
  border-radius: 6px;
}

.hook-block-23 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #414103;
  background: #702934;
  border-radius: 4px;
}

.hook-block-24 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #285748;
  background: #189374;
  border-radius: 7px;
}

.hook-block-25 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #906083;
  background: #393764;
  border-radius: 5px;
}

.hook-block-26 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #719262;
  background: #720681;
  border-radius: 5px;
}

.hook-block-27 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #112724;
  background: #255108;
  border-radius: 1px;
}

.hook-block-28 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #984357;
  background: #430792;
  border-radius: 4px;
}

.hook-block-29 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #954699;
  background: #428830;
  border-radius: 0px;
}

.hook-block-30 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #733537;
  background: #712230;
  border-radius: 1px;
}

.hook-block-31 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #416117;
  background: #107602;
  border-radius: 1px;
}

.hook-block-32 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #667940;
  background: #793067;
  border-radius: 8px;
}

.hook-block-33 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #949615;
  background: #657583;
  border-radius: 2px;
}

.hook-block-34 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #398363;
  background: #388755;
  border-radius: 5px;
}

.hook-block-35 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #625547;
  background: #298068;
  border-radius: 6px;
}

.hook-block-36 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #886229;
  background: #967377;
  border-radius: 5px;
}

.hook-block-37 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #981159;
  background: #483175;
  border-radius: 3px;
}

.hook-block-38 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #385543;
  background: #145830;
  border-radius: 1px;
}

.hook-block-39 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #553041;
  background: #337409;
  border-radius: 6px;
}

.hook-block-40 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #858964;
  background: #461074;
  border-radius: 4px;
}

.hook-block-41 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #316923;
  background: #276288;
  border-radius: 6px;
}

.hook-block-42 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #628285;
  background: #844304;
  border-radius: 2px;
}

.hook-block-43 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #769068;
  background: #826580;
  border-radius: 2px;
}

.hook-block-44 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #373266;
  background: #572861;
  border-radius: 6px;
}

.hook-block-45 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #569618;
  background: #229091;
  border-radius: 5px;
}

.hook-block-46 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #294013;
  background: #841190;
  border-radius: 0px;
}

.hook-block-47 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #186264;
  background: #591852;
  border-radius: 2px;
}

.hook-block-48 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #632272;
  background: #884473;
  border-radius: 5px;
}

.hook-block-49 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #132990;
  background: #444067;
  border-radius: 6px;
}

.hook-block-50 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #187350;
  background: #762839;
  border-radius: 2px;
}

.hook-block-51 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #949501;
  background: #152585;
  border-radius: 0px;
}

.hook-block-52 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #594106;
  background: #576678;
  border-radius: 7px;
}

.hook-block-53 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #318620;
  background: #584265;
  border-radius: 3px;
}

.hook-block-54 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #734843;
  background: #790716;
  border-radius: 3px;
}

.hook-block-55 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #227617;
  background: #960595;
  border-radius: 7px;
}

.hook-block-56 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #965249;
  background: #702397;
  border-radius: 7px;
}

.hook-block-57 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #651415;
  background: #336536;
  border-radius: 2px;
}

.hook-block-58 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #627983;
  background: #655081;
  border-radius: 2px;
}

.hook-block-59 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #927119;
  background: #875159;
  border-radius: 7px;
}

.hook-block-60 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #337356;
  background: #174776;
  border-radius: 0px;
}

.hook-block-61 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #606598;
  background: #364320;
  border-radius: 0px;
}

.hook-block-62 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #526097;
  background: #156892;
  border-radius: 4px;
}

.hook-block-63 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #673168;
  background: #962727;
  border-radius: 5px;
}

.hook-block-64 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #581602;
  background: #953007;
  border-radius: 2px;
}

.hook-block-65 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #996020;
  background: #951556;
  border-radius: 1px;
}

.hook-block-66 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #245656;
  background: #963251;
  border-radius: 6px;
}

.hook-block-67 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #528168;
  background: #235406;
  border-radius: 8px;
}

.hook-block-68 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #139603;
  background: #333714;
  border-radius: 6px;
}

.hook-block-69 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #236599;
  background: #264252;
  border-radius: 8px;
}

.hook-block-70 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #587580;
  background: #746689;
  border-radius: 2px;
}

.hook-block-71 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #443257;
  background: #167271;
  border-radius: 4px;
}

.hook-block-72 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #874989;
  background: #680721;
  border-radius: 1px;
}

.hook-block-73 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #758699;
  background: #681308;
  border-radius: 1px;
}

.hook-block-74 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #479086;
  background: #663613;
  border-radius: 2px;
}

.hook-block-75 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #863031;
  background: #552580;
  border-radius: 4px;
}

.hook-block-76 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #374674;
  background: #551012;
  border-radius: 7px;
}

.hook-block-77 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #537264;
  background: #371129;
  border-radius: 3px;
}

.hook-block-78 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #131657;
  background: #592230;
  border-radius: 2px;
}

.hook-block-79 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #428789;
  background: #894937;
  border-radius: 5px;
}

.hook-block-80 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #313905;
  background: #699690;
  border-radius: 2px;
}

.hook-block-81 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #753520;
  background: #615610;
  border-radius: 2px;
}

.hook-block-82 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #441678;
  background: #875254;
  border-radius: 2px;
}

.hook-block-83 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #650642;
  background: #141478;
  border-radius: 6px;
}

.hook-block-84 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #524138;
  background: #171757;
  border-radius: 1px;
}

.hook-block-85 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #520052;
  background: #208037;
  border-radius: 8px;
}

.hook-block-86 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #785322;
  background: #737707;
  border-radius: 6px;
}

.hook-block-87 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #743769;
  background: #401138;
  border-radius: 8px;
}

.hook-block-88 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #827810;
  background: #213523;
  border-radius: 4px;
}

.hook-block-89 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #227077;
  background: #676488;
  border-radius: 4px;
}

.hook-block-90 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #284222;
  background: #875133;
  border-radius: 8px;
}

.hook-block-91 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #249151;
  background: #711066;
  border-radius: 2px;
}

.hook-block-92 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #529069;
  background: #661451;
  border-radius: 6px;
}

.hook-block-93 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #192717;
  background: #409273;
  border-radius: 7px;
}

.hook-block-94 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #643520;
  background: #832539;
  border-radius: 5px;
}

.hook-block-95 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #284093;
  background: #440241;
  border-radius: 7px;
}

.hook-block-96 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #974519;
  background: #691265;
  border-radius: 6px;
}

.hook-block-97 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #425090;
  background: #983997;
  border-radius: 5px;
}

.hook-block-98 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #788834;
  background: #919363;
  border-radius: 4px;
}

.hook-block-99 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #792836;
  background: #644363;
  border-radius: 0px;
}

.hook-block-100 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #623053;
  background: #735115;
  border-radius: 8px;
}

.hook-block-101 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #329034;
  background: #626791;
  border-radius: 3px;
}

.hook-block-102 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #753716;
  background: #630793;
  border-radius: 6px;
}

.hook-block-103 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #392588;
  background: #911076;
  border-radius: 6px;
}

.hook-block-104 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #188827;
  background: #799625;
  border-radius: 1px;
}

.hook-block-105 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #115260;
  background: #353290;
  border-radius: 2px;
}

.hook-block-106 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #994159;
  background: #170752;
  border-radius: 5px;
}

.hook-block-107 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #235268;
  background: #259578;
  border-radius: 8px;
}

.hook-block-108 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #546442;
  background: #542637;
  border-radius: 5px;
}

.hook-block-109 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #494777;
  background: #867900;
  border-radius: 5px;
}

.hook-block-110 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #631719;
  background: #196844;
  border-radius: 2px;
}

.hook-block-111 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #930298;
  background: #983698;
  border-radius: 3px;
}

.hook-block-112 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #612397;
  background: #391449;
  border-radius: 6px;
}

.hook-block-113 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #166366;
  background: #922941;
  border-radius: 7px;
}

.hook-block-114 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #151810;
  background: #532596;
  border-radius: 4px;
}

.hook-block-115 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #698726;
  background: #152486;
  border-radius: 1px;
}

.hook-block-116 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #841867;
  background: #510378;
  border-radius: 3px;
}

.hook-block-117 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #729945;
  background: #864205;
  border-radius: 8px;
}

.hook-block-118 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #808745;
  background: #617290;
  border-radius: 4px;
}

.hook-block-119 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #454027;
  background: #507388;
  border-radius: 6px;
}

.hook-block-120 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #204890;
  background: #950449;
  border-radius: 8px;
}

.hook-block-121 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #983620;
  background: #914512;
  border-radius: 2px;
}

.hook-block-122 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #414065;
  background: #188711;
  border-radius: 6px;
}

.hook-block-123 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #129861;
  background: #720066;
  border-radius: 1px;
}

.hook-block-124 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #830993;
  background: #239022;
  border-radius: 6px;
}

.hook-block-125 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #587238;
  background: #171806;
  border-radius: 8px;
}

.hook-block-126 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #709744;
  background: #719114;
  border-radius: 7px;
}

.hook-block-127 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #500126;
  background: #799919;
  border-radius: 0px;
}

.hook-block-128 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #536352;
  background: #692180;
  border-radius: 0px;
}

.hook-block-129 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #900266;
  background: #723375;
  border-radius: 3px;
}

.hook-block-130 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #352812;
  background: #249728;
  border-radius: 3px;
}

.hook-block-131 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #661607;
  background: #165383;
  border-radius: 1px;
}

.hook-block-132 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #472527;
  background: #157675;
  border-radius: 2px;
}

.hook-block-133 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #926785;
  background: #802739;
  border-radius: 6px;
}

.hook-block-134 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #862969;
  background: #594103;
  border-radius: 3px;
}

.hook-block-135 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #474531;
  background: #318055;
  border-radius: 6px;
}

.hook-block-136 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #460841;
  background: #521264;
  border-radius: 7px;
}

.hook-block-137 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #925437;
  background: #740782;
  border-radius: 4px;
}

.hook-block-138 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #909747;
  background: #205628;
  border-radius: 1px;
}

.hook-block-139 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #381349;
  background: #883719;
  border-radius: 7px;
}

.hook-block-140 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #701474;
  background: #534221;
  border-radius: 6px;
}

.hook-block-141 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #367119;
  background: #687678;
  border-radius: 4px;
}

.hook-block-142 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #440793;
  background: #229507;
  border-radius: 5px;
}

.hook-block-143 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #249053;
  background: #509317;
  border-radius: 1px;
}

.hook-block-144 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #871315;
  background: #144869;
  border-radius: 5px;
}

.hook-block-145 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #548248;
  background: #807186;
  border-radius: 4px;
}

.hook-block-146 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #377816;
  background: #184535;
  border-radius: 8px;
}

.hook-block-147 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #905337;
  background: #829956;
  border-radius: 2px;
}

.hook-block-148 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #449651;
  background: #541919;
  border-radius: 2px;
}

.hook-block-149 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #792402;
  background: #469872;
  border-radius: 4px;
}

.hook-block-150 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #931783;
  background: #444957;
  border-radius: 2px;
}

.hook-block-151 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #563920;
  background: #244983;
  border-radius: 1px;
}

.hook-block-152 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #735759;
  background: #542436;
  border-radius: 8px;
}

.hook-block-153 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #798154;
  background: #396811;
  border-radius: 3px;
}

.hook-block-154 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #913911;
  background: #117751;
  border-radius: 0px;
}

.hook-block-155 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #159346;
  background: #467212;
  border-radius: 6px;
}

.hook-block-156 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #247438;
  background: #982257;
  border-radius: 8px;
}

.hook-block-157 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #315907;
  background: #230349;
  border-radius: 7px;
}

.hook-block-158 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #644020;
  background: #735624;
  border-radius: 7px;
}

.hook-block-159 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #336561;
  background: #434353;
  border-radius: 8px;
}

.hook-block-160 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #614575;
  background: #191652;
  border-radius: 2px;
}

.hook-block-161 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #161550;
  background: #433472;
  border-radius: 4px;
}

.hook-block-162 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #482817;
  background: #311048;
  border-radius: 2px;
}

.hook-block-163 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #965594;
  background: #996719;
  border-radius: 4px;
}

.hook-block-164 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #706787;
  background: #764055;
  border-radius: 6px;
}

.hook-block-165 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #699739;
  background: #544354;
  border-radius: 6px;
}

.hook-block-166 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #739665;
  background: #321641;
  border-radius: 1px;
}

.hook-block-167 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #776647;
  background: #820253;
  border-radius: 2px;
}

.hook-block-168 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #159209;
  background: #350679;
  border-radius: 6px;
}

.hook-block-169 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #454622;
  background: #437643;
  border-radius: 4px;
}

.hook-block-170 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #832405;
  background: #722207;
  border-radius: 4px;
}

.hook-block-171 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #335905;
  background: #168960;
  border-radius: 2px;
}

.hook-block-172 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #385486;
  background: #638814;
  border-radius: 7px;
}

.hook-block-173 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #430816;
  background: #669047;
  border-radius: 3px;
}

.hook-block-174 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #300786;
  background: #603757;
  border-radius: 4px;
}

.hook-block-175 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #107383;
  background: #655791;
  border-radius: 7px;
}

.hook-block-176 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #392038;
  background: #496633;
  border-radius: 6px;
}

.hook-block-177 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #152449;
  background: #904783;
  border-radius: 4px;
}

.hook-block-178 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #900079;
  background: #744803;
  border-radius: 1px;
}

.hook-block-179 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #871122;
  background: #976049;
  border-radius: 4px;
}

.hook-block-180 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #232658;
  background: #692318;
  border-radius: 8px;
}

.hook-block-181 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #453090;
  background: #162452;
  border-radius: 2px;
}

.hook-block-182 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #226423;
  background: #925261;
  border-radius: 5px;
}

.hook-block-183 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #493042;
  background: #562372;
  border-radius: 5px;
}

.hook-block-184 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #867498;
  background: #120306;
  border-radius: 7px;
}

.hook-block-185 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #374354;
  background: #114902;
  border-radius: 2px;
}

.hook-block-186 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #850472;
  background: #398251;
  border-radius: 5px;
}

.hook-block-187 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #166771;
  background: #825366;
  border-radius: 3px;
}

.hook-block-188 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #215523;
  background: #592486;
  border-radius: 0px;
}

.hook-block-189 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #956030;
  background: #333645;
  border-radius: 1px;
}

.hook-block-190 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #660910;
  background: #240138;
  border-radius: 6px;
}

.hook-block-191 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #172757;
  background: #168946;
  border-radius: 8px;
}

.hook-block-192 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #714472;
  background: #577144;
  border-radius: 1px;
}

.hook-block-193 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #125506;
  background: #673381;
  border-radius: 2px;
}

.hook-block-194 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #544388;
  background: #224089;
  border-radius: 0px;
}
