/* logger styles v1 */

.logger-block-1 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #308243;
  background: #593909;
  border-radius: 0px;
}

.logger-block-2 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #376193;
  background: #590104;
  border-radius: 5px;
}

.logger-block-3 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #735005;
  background: #446065;
  border-radius: 5px;
}

.logger-block-4 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #419579;
  background: #162378;
  border-radius: 0px;
}

.logger-block-5 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #699681;
  background: #130568;
  border-radius: 5px;
}

.logger-block-6 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #351746;
  background: #525217;
  border-radius: 0px;
}

.logger-block-7 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #593592;
  background: #693963;
  border-radius: 8px;
}

.logger-block-8 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #190690;
  background: #394247;
  border-radius: 3px;
}

.logger-block-9 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #646622;
  background: #242451;
  border-radius: 3px;
}

.logger-block-10 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #107610;
  background: #277123;
  border-radius: 2px;
}

.logger-block-11 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #253248;
  background: #532155;
  border-radius: 2px;
}

.logger-block-12 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #329499;
  background: #629718;
  border-radius: 6px;
}

.logger-block-13 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #405741;
  background: #198658;
  border-radius: 0px;
}

.logger-block-14 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #236385;
  background: #729631;
  border-radius: 0px;
}

.logger-block-15 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #446460;
  background: #499585;
  border-radius: 8px;
}

.logger-block-16 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #387392;
  background: #854612;
  border-radius: 8px;
}

.logger-block-17 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #939535;
  background: #742975;
  border-radius: 0px;
}

.logger-block-18 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #828969;
  background: #953616;
  border-radius: 1px;
}

.logger-block-19 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #451432;
  background: #783211;
  border-radius: 1px;
}

.logger-block-20 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #630596;
  background: #642822;
  border-radius: 8px;
}

.logger-block-21 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #876019;
  background: #316826;
  border-radius: 6px;
}

.logger-block-22 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #989018;
  background: #754365;
  border-radius: 5px;
}

.logger-block-23 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #749295;
  background: #183589;
  border-radius: 3px;
}

.logger-block-24 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #423052;
  background: #267965;
  border-radius: 7px;
}

.logger-block-25 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #127897;
  background: #905376;
  border-radius: 6px;
}

.logger-block-26 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #278364;
  background: #871365;
  border-radius: 7px;
}

.logger-block-27 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #760311;
  background: #857505;
  border-radius: 7px;
}

.logger-block-28 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #656636;
  background: #880751;
  border-radius: 7px;
}

.logger-block-29 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #116519;
  background: #795836;
  border-radius: 4px;
}

.logger-block-30 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #307448;
  background: #113339;
  border-radius: 4px;
}

.logger-block-31 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #166911;
  background: #739222;
  border-radius: 0px;
}

.logger-block-32 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #455326;
  background: #897401;
  border-radius: 3px;
}

.logger-block-33 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #670936;
  background: #362040;
  border-radius: 6px;
}

.logger-block-34 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #409840;
  background: #636356;
  border-radius: 4px;
}

.logger-block-35 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #856346;
  background: #766903;
  border-radius: 8px;
}

.logger-block-36 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #204839;
  background: #369397;
  border-radius: 7px;
}

.logger-block-37 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #197362;
  background: #414353;
  border-radius: 8px;
}

.logger-block-38 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #464899;
  background: #397819;
  border-radius: 2px;
}

.logger-block-39 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #440788;
  background: #265769;
  border-radius: 5px;
}

.logger-block-40 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #684331;
  background: #129901;
  border-radius: 8px;
}

.logger-block-41 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #539362;
  background: #778976;
  border-radius: 5px;
}

.logger-block-42 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #757646;
  background: #644135;
  border-radius: 5px;
}

.logger-block-43 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #937683;
  background: #864562;
  border-radius: 6px;
}

.logger-block-44 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #901705;
  background: #737147;
  border-radius: 1px;
}

.logger-block-45 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #174075;
  background: #695703;
  border-radius: 6px;
}

.logger-block-46 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #689899;
  background: #714902;
  border-radius: 3px;
}

.logger-block-47 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #618170;
  background: #846871;
  border-radius: 5px;
}

.logger-block-48 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #159093;
  background: #160115;
  border-radius: 8px;
}

.logger-block-49 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #114781;
  background: #148201;
  border-radius: 2px;
}

.logger-block-50 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #181747;
  background: #371402;
  border-radius: 3px;
}

.logger-block-51 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #256381;
  background: #763876;
  border-radius: 2px;
}

.logger-block-52 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #200083;
  background: #176801;
  border-radius: 3px;
}

.logger-block-53 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #315133;
  background: #565876;
  border-radius: 1px;
}

.logger-block-54 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #627413;
  background: #382234;
  border-radius: 4px;
}

.logger-block-55 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #337426;
  background: #860096;
  border-radius: 6px;
}

.logger-block-56 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #815240;
  background: #180406;
  border-radius: 1px;
}

.logger-block-57 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #595357;
  background: #861372;
  border-radius: 3px;
}

.logger-block-58 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #694579;
  background: #423871;
  border-radius: 1px;
}

.logger-block-59 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #206890;
  background: #788669;
  border-radius: 2px;
}

.logger-block-60 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #507492;
  background: #513733;
  border-radius: 5px;
}

.logger-block-61 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #535742;
  background: #292791;
  border-radius: 1px;
}

.logger-block-62 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #481225;
  background: #778993;
  border-radius: 5px;
}

.logger-block-63 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #469641;
  background: #617760;
  border-radius: 6px;
}

.logger-block-64 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #543947;
  background: #777136;
  border-radius: 0px;
}

.logger-block-65 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #207725;
  background: #964669;
  border-radius: 7px;
}

.logger-block-66 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #769057;
  background: #140365;
  border-radius: 8px;
}

.logger-block-67 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #270772;
  background: #554640;
  border-radius: 7px;
}

.logger-block-68 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #145689;
  background: #380303;
  border-radius: 8px;
}

.logger-block-69 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #237885;
  background: #306796;
  border-radius: 1px;
}

.logger-block-70 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #537572;
  background: #953112;
  border-radius: 8px;
}

.logger-block-71 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #216476;
  background: #638997;
  border-radius: 1px;
}

.logger-block-72 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #492134;
  background: #733207;
  border-radius: 5px;
}

.logger-block-73 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #825160;
  background: #994925;
  border-radius: 0px;
}

.logger-block-74 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #627836;
  background: #653172;
  border-radius: 2px;
}

.logger-block-75 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #317684;
  background: #982060;
  border-radius: 1px;
}

.logger-block-76 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #341492;
  background: #596527;
  border-radius: 2px;
}

.logger-block-77 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #456605;
  background: #302434;
  border-radius: 3px;
}

.logger-block-78 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #970026;
  background: #484759;
  border-radius: 3px;
}

.logger-block-79 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #564264;
  background: #653077;
  border-radius: 3px;
}

.logger-block-80 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #493910;
  background: #636851;
  border-radius: 2px;
}

.logger-block-81 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #691987;
  background: #297015;
  border-radius: 0px;
}

.logger-block-82 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #613813;
  background: #804642;
  border-radius: 5px;
}

.logger-block-83 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #262600;
  background: #739719;
  border-radius: 5px;
}

.logger-block-84 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #348849;
  background: #156984;
  border-radius: 1px;
}

.logger-block-85 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #212549;
  background: #421442;
  border-radius: 3px;
}

.logger-block-86 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #125627;
  background: #606056;
  border-radius: 1px;
}

.logger-block-87 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #594364;
  background: #233979;
  border-radius: 1px;
}

.logger-block-88 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #633266;
  background: #696663;
  border-radius: 0px;
}

.logger-block-89 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #254244;
  background: #822482;
  border-radius: 2px;
}

.logger-block-90 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #741891;
  background: #320045;
  border-radius: 8px;
}

.logger-block-91 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #679290;
  background: #620116;
  border-radius: 4px;
}

.logger-block-92 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #502157;
  background: #823988;
  border-radius: 1px;
}

.logger-block-93 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #570754;
  background: #917016;
  border-radius: 7px;
}

.logger-block-94 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #292266;
  background: #877067;
  border-radius: 6px;
}

.logger-block-95 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #149763;
  background: #166212;
  border-radius: 0px;
}

.logger-block-96 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #838024;
  background: #862899;
  border-radius: 3px;
}

.logger-block-97 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #396602;
  background: #409425;
  border-radius: 3px;
}

.logger-block-98 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #531982;
  background: #336665;
  border-radius: 5px;
}

.logger-block-99 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #770044;
  background: #545910;
  border-radius: 1px;
}

.logger-block-100 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #600835;
  background: #526995;
  border-radius: 6px;
}

.logger-block-101 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #205686;
  background: #299315;
  border-radius: 2px;
}

.logger-block-102 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #247316;
  background: #418014;
  border-radius: 5px;
}

.logger-block-103 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #757926;
  background: #941883;
  border-radius: 0px;
}

.logger-block-104 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #305030;
  background: #555009;
  border-radius: 8px;
}

.logger-block-105 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #285522;
  background: #743630;
  border-radius: 1px;
}

.logger-block-106 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #923269;
  background: #389158;
  border-radius: 3px;
}

.logger-block-107 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #891653;
  background: #907611;
  border-radius: 1px;
}

.logger-block-108 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #825143;
  background: #768269;
  border-radius: 6px;
}

.logger-block-109 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #472532;
  background: #962222;
  border-radius: 7px;
}

.logger-block-110 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #687520;
  background: #997759;
  border-radius: 5px;
}

.logger-block-111 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #309899;
  background: #189017;
  border-radius: 1px;
}

.logger-block-112 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #356601;
  background: #695427;
  border-radius: 4px;
}

.logger-block-113 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #218673;
  background: #300950;
  border-radius: 1px;
}

.logger-block-114 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #169709;
  background: #851151;
  border-radius: 4px;
}

.logger-block-115 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #637631;
  background: #132528;
  border-radius: 0px;
}

.logger-block-116 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #683253;
  background: #134799;
  border-radius: 3px;
}
