/* service styles v5 */

.service-block-1 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #419824;
  background: #216505;
  border-radius: 3px;
}

.service-block-2 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #609598;
  background: #664450;
  border-radius: 2px;
}

.service-block-3 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #115813;
  background: #371125;
  border-radius: 4px;
}

.service-block-4 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #977808;
  background: #971377;
  border-radius: 4px;
}

.service-block-5 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #634627;
  background: #144003;
  border-radius: 4px;
}

.service-block-6 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #155625;
  background: #332844;
  border-radius: 7px;
}

.service-block-7 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #284825;
  background: #117651;
  border-radius: 4px;
}

.service-block-8 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #685858;
  background: #264410;
  border-radius: 1px;
}

.service-block-9 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #306719;
  background: #200671;
  border-radius: 6px;
}

.service-block-10 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #350212;
  background: #500772;
  border-radius: 8px;
}

.service-block-11 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #954155;
  background: #513879;
  border-radius: 3px;
}

.service-block-12 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #884837;
  background: #732307;
  border-radius: 8px;
}

.service-block-13 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #849685;
  background: #695344;
  border-radius: 8px;
}

.service-block-14 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #974305;
  background: #791453;
  border-radius: 8px;
}

.service-block-15 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #472815;
  background: #868943;
  border-radius: 8px;
}

.service-block-16 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #599253;
  background: #661025;
  border-radius: 0px;
}

.service-block-17 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #805153;
  background: #705087;
  border-radius: 4px;
}

.service-block-18 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #279843;
  background: #496157;
  border-radius: 6px;
}

.service-block-19 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #377507;
  background: #227803;
  border-radius: 7px;
}

.service-block-20 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #227997;
  background: #522009;
  border-radius: 6px;
}

.service-block-21 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #848433;
  background: #570463;
  border-radius: 7px;
}

.service-block-22 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #277316;
  background: #346794;
  border-radius: 8px;
}

.service-block-23 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #447725;
  background: #784527;
  border-radius: 6px;
}

.service-block-24 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #331942;
  background: #120410;
  border-radius: 6px;
}

.service-block-25 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #948172;
  background: #942858;
  border-radius: 8px;
}

.service-block-26 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #545681;
  background: #429225;
  border-radius: 1px;
}

.service-block-27 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #940654;
  background: #682792;
  border-radius: 3px;
}

.service-block-28 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #341567;
  background: #553572;
  border-radius: 0px;
}

.service-block-29 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #887820;
  background: #985411;
  border-radius: 5px;
}

.service-block-30 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #491208;
  background: #382614;
  border-radius: 4px;
}

.service-block-31 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #376158;
  background: #517640;
  border-radius: 8px;
}

.service-block-32 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #123664;
  background: #587565;
  border-radius: 7px;
}

.service-block-33 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #281721;
  background: #354124;
  border-radius: 5px;
}

.service-block-34 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #506813;
  background: #155117;
  border-radius: 7px;
}

.service-block-35 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #867183;
  background: #377580;
  border-radius: 7px;
}

.service-block-36 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #371184;
  background: #684621;
  border-radius: 6px;
}

.service-block-37 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #743652;
  background: #810711;
  border-radius: 1px;
}

.service-block-38 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #808435;
  background: #711237;
  border-radius: 4px;
}

.service-block-39 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #815883;
  background: #491076;
  border-radius: 5px;
}

.service-block-40 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #705298;
  background: #239235;
  border-radius: 0px;
}

.service-block-41 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #490615;
  background: #843749;
  border-radius: 6px;
}

.service-block-42 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #550042;
  background: #711155;
  border-radius: 6px;
}

.service-block-43 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #920777;
  background: #766497;
  border-radius: 2px;
}

.service-block-44 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #903723;
  background: #805796;
  border-radius: 8px;
}

.service-block-45 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #689690;
  background: #299684;
  border-radius: 8px;
}

.service-block-46 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #943793;
  background: #707341;
  border-radius: 8px;
}

.service-block-47 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #165255;
  background: #139579;
  border-radius: 6px;
}

.service-block-48 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #994378;
  background: #425511;
  border-radius: 0px;
}

.service-block-49 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #780772;
  background: #750275;
  border-radius: 7px;
}

.service-block-50 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #136957;
  background: #528763;
  border-radius: 0px;
}

.service-block-51 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #982749;
  background: #467479;
  border-radius: 4px;
}

.service-block-52 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #678438;
  background: #385477;
  border-radius: 4px;
}

.service-block-53 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #733001;
  background: #148013;
  border-radius: 2px;
}

.service-block-54 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #222118;
  background: #948007;
  border-radius: 5px;
}

.service-block-55 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #718872;
  background: #133466;
  border-radius: 1px;
}

.service-block-56 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #571845;
  background: #967682;
  border-radius: 0px;
}

.service-block-57 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #517686;
  background: #346107;
  border-radius: 4px;
}

.service-block-58 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #182254;
  background: #251623;
  border-radius: 1px;
}

.service-block-59 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #735838;
  background: #551323;
  border-radius: 5px;
}

.service-block-60 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #779337;
  background: #770762;
  border-radius: 1px;
}

.service-block-61 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #805560;
  background: #384566;
  border-radius: 1px;
}

.service-block-62 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #997233;
  background: #859001;
  border-radius: 5px;
}

.service-block-63 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #829494;
  background: #383517;
  border-radius: 1px;
}

.service-block-64 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #640059;
  background: #912334;
  border-radius: 8px;
}

.service-block-65 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #121151;
  background: #868969;
  border-radius: 1px;
}

.service-block-66 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #763306;
  background: #860096;
  border-radius: 2px;
}

.service-block-67 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #854242;
  background: #212198;
  border-radius: 0px;
}

.service-block-68 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #108820;
  background: #344691;
  border-radius: 0px;
}

.service-block-69 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #112103;
  background: #893466;
  border-radius: 2px;
}

.service-block-70 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #202142;
  background: #467317;
  border-radius: 8px;
}

.service-block-71 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #176205;
  background: #127103;
  border-radius: 5px;
}

.service-block-72 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #762054;
  background: #241706;
  border-radius: 8px;
}

.service-block-73 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #216245;
  background: #684589;
  border-radius: 6px;
}

.service-block-74 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #460983;
  background: #501882;
  border-radius: 8px;
}

.service-block-75 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #199909;
  background: #819401;
  border-radius: 6px;
}

.service-block-76 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #142557;
  background: #539726;
  border-radius: 7px;
}

.service-block-77 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #134229;
  background: #867413;
  border-radius: 3px;
}

.service-block-78 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #530473;
  background: #859965;
  border-radius: 7px;
}

.service-block-79 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #138828;
  background: #995573;
  border-radius: 7px;
}

.service-block-80 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #382047;
  background: #740289;
  border-radius: 4px;
}

.service-block-81 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #840548;
  background: #280654;
  border-radius: 6px;
}

.service-block-82 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #931724;
  background: #828935;
  border-radius: 3px;
}

.service-block-83 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #725078;
  background: #350364;
  border-radius: 1px;
}

.service-block-84 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #965626;
  background: #207473;
  border-radius: 7px;
}

.service-block-85 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #490746;
  background: #792251;
  border-radius: 5px;
}

.service-block-86 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #749179;
  background: #649009;
  border-radius: 2px;
}

.service-block-87 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #178589;
  background: #462883;
  border-radius: 5px;
}

.service-block-88 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #627196;
  background: #617677;
  border-radius: 5px;
}

.service-block-89 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #707626;
  background: #791997;
  border-radius: 0px;
}

.service-block-90 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #510853;
  background: #340626;
  border-radius: 1px;
}

.service-block-91 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #281064;
  background: #704913;
  border-radius: 0px;
}

.service-block-92 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #289893;
  background: #844665;
  border-radius: 4px;
}

.service-block-93 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #254280;
  background: #662790;
  border-radius: 5px;
}

.service-block-94 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #242478;
  background: #142857;
  border-radius: 1px;
}

.service-block-95 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #125029;
  background: #875481;
  border-radius: 1px;
}

.service-block-96 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #990607;
  background: #887669;
  border-radius: 3px;
}

.service-block-97 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #126751;
  background: #557049;
  border-radius: 8px;
}

.service-block-98 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #247155;
  background: #833161;
  border-radius: 8px;
}

.service-block-99 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #333301;
  background: #900775;
  border-radius: 4px;
}

.service-block-100 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #852643;
  background: #175381;
  border-radius: 5px;
}

.service-block-101 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #224124;
  background: #729878;
  border-radius: 7px;
}

.service-block-102 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #687049;
  background: #623802;
  border-radius: 2px;
}

.service-block-103 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #269171;
  background: #763439;
  border-radius: 0px;
}

.service-block-104 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #795592;
  background: #103622;
  border-radius: 4px;
}

.service-block-105 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #378884;
  background: #505528;
  border-radius: 3px;
}

.service-block-106 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #768693;
  background: #855240;
  border-radius: 1px;
}

.service-block-107 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #682630;
  background: #450339;
  border-radius: 2px;
}

.service-block-108 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #996468;
  background: #189529;
  border-radius: 2px;
}

.service-block-109 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #755335;
  background: #278718;
  border-radius: 5px;
}

.service-block-110 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #358480;
  background: #531807;
  border-radius: 8px;
}

.service-block-111 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #162933;
  background: #832837;
  border-radius: 1px;
}

.service-block-112 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #941179;
  background: #850050;
  border-radius: 2px;
}

.service-block-113 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #448896;
  background: #377390;
  border-radius: 0px;
}

.service-block-114 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #779878;
  background: #469976;
  border-radius: 5px;
}

.service-block-115 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #992835;
  background: #318658;
  border-radius: 7px;
}

.service-block-116 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #830395;
  background: #837569;
  border-radius: 1px;
}

.service-block-117 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #544093;
  background: #738442;
  border-radius: 4px;
}

.service-block-118 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #868962;
  background: #254547;
  border-radius: 8px;
}

.service-block-119 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #624790;
  background: #339394;
  border-radius: 8px;
}

.service-block-120 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #528866;
  background: #990478;
  border-radius: 2px;
}

.service-block-121 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #114049;
  background: #173021;
  border-radius: 0px;
}

.service-block-122 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #789791;
  background: #223052;
  border-radius: 7px;
}

.service-block-123 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #124439;
  background: #562713;
  border-radius: 3px;
}

.service-block-124 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #572270;
  background: #981492;
  border-radius: 0px;
}

.service-block-125 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #869297;
  background: #522927;
  border-radius: 0px;
}

.service-block-126 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #236232;
  background: #223697;
  border-radius: 4px;
}

.service-block-127 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #851693;
  background: #943350;
  border-radius: 4px;
}

.service-block-128 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #970631;
  background: #271543;
  border-radius: 4px;
}

.service-block-129 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #388718;
  background: #534685;
  border-radius: 1px;
}

.service-block-130 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #371752;
  background: #617145;
  border-radius: 8px;
}

.service-block-131 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #474733;
  background: #951916;
  border-radius: 4px;
}

.service-block-132 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #972393;
  background: #302042;
  border-radius: 1px;
}

.service-block-133 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #890419;
  background: #502868;
  border-radius: 6px;
}

.service-block-134 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #183774;
  background: #417471;
  border-radius: 8px;
}

.service-block-135 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #537226;
  background: #945605;
  border-radius: 7px;
}

.service-block-136 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #478190;
  background: #683344;
  border-radius: 7px;
}

.service-block-137 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #425371;
  background: #259214;
  border-radius: 2px;
}

.service-block-138 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #654141;
  background: #292580;
  border-radius: 4px;
}

.service-block-139 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #224076;
  background: #969869;
  border-radius: 4px;
}

.service-block-140 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #418398;
  background: #362200;
  border-radius: 0px;
}

.service-block-141 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #201606;
  background: #309100;
  border-radius: 5px;
}

.service-block-142 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #672258;
  background: #369413;
  border-radius: 6px;
}

.service-block-143 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #696028;
  background: #605094;
  border-radius: 3px;
}

.service-block-144 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #533505;
  background: #576045;
  border-radius: 6px;
}

.service-block-145 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #771796;
  background: #841959;
  border-radius: 0px;
}

.service-block-146 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #342469;
  background: #114251;
  border-radius: 7px;
}

.service-block-147 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #488426;
  background: #997374;
  border-radius: 3px;
}

.service-block-148 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #421388;
  background: #326901;
  border-radius: 2px;
}

.service-block-149 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #542029;
  background: #767165;
  border-radius: 4px;
}

.service-block-150 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #562238;
  background: #583432;
  border-radius: 6px;
}

.service-block-151 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #494451;
  background: #537423;
  border-radius: 0px;
}

.service-block-152 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #940539;
  background: #532727;
  border-radius: 3px;
}

.service-block-153 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #384575;
  background: #951984;
  border-radius: 5px;
}

.service-block-154 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #572695;
  background: #564783;
  border-radius: 0px;
}

.service-block-155 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #378133;
  background: #176690;
  border-radius: 7px;
}

.service-block-156 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #583316;
  background: #839020;
  border-radius: 5px;
}

.service-block-157 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #362487;
  background: #763133;
  border-radius: 4px;
}

.service-block-158 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #808099;
  background: #855096;
  border-radius: 3px;
}

.service-block-159 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #887475;
  background: #394754;
  border-radius: 7px;
}

.service-block-160 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #558269;
  background: #298488;
  border-radius: 1px;
}

.service-block-161 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #898811;
  background: #638510;
  border-radius: 6px;
}

.service-block-162 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #595801;
  background: #543945;
  border-radius: 7px;
}

.service-block-163 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #662975;
  background: #857038;
  border-radius: 6px;
}

.service-block-164 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #145619;
  background: #751593;
  border-radius: 8px;
}

.service-block-165 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #248257;
  background: #240672;
  border-radius: 5px;
}

.service-block-166 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #283248;
  background: #899167;
  border-radius: 5px;
}

.service-block-167 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #661876;
  background: #526933;
  border-radius: 3px;
}

.service-block-168 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #114938;
  background: #265796;
  border-radius: 2px;
}

.service-block-169 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #154107;
  background: #868608;
  border-radius: 5px;
}

.service-block-170 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #493609;
  background: #274314;
  border-radius: 3px;
}

.service-block-171 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #743451;
  background: #721363;
  border-radius: 1px;
}

.service-block-172 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #719101;
  background: #216295;
  border-radius: 6px;
}

.service-block-173 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #298199;
  background: #329373;
  border-radius: 4px;
}

.service-block-174 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #436566;
  background: #583391;
  border-radius: 7px;
}

.service-block-175 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #185636;
  background: #323879;
  border-radius: 1px;
}

.service-block-176 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #803568;
  background: #316089;
  border-radius: 5px;
}

.service-block-177 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #176789;
  background: #196151;
  border-radius: 4px;
}

.service-block-178 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #125854;
  background: #213191;
  border-radius: 8px;
}

.service-block-179 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #628318;
  background: #494337;
  border-radius: 8px;
}

.service-block-180 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #295064;
  background: #228166;
  border-radius: 3px;
}

.service-block-181 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #260102;
  background: #604312;
  border-radius: 6px;
}

.service-block-182 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #780095;
  background: #668539;
  border-radius: 2px;
}

.service-block-183 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #263607;
  background: #439211;
  border-radius: 6px;
}

.service-block-184 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #458713;
  background: #517630;
  border-radius: 2px;
}

.service-block-185 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #818387;
  background: #262004;
  border-radius: 1px;
}

.service-block-186 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #608500;
  background: #470763;
  border-radius: 5px;
}

.service-block-187 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #718380;
  background: #231622;
  border-radius: 8px;
}

.service-block-188 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #137692;
  background: #426588;
  border-radius: 3px;
}

.service-block-189 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #622289;
  background: #676877;
  border-radius: 6px;
}

.service-block-190 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #507991;
  background: #454695;
  border-radius: 4px;
}

.service-block-191 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #599429;
  background: #795133;
  border-radius: 6px;
}

.service-block-192 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #814471;
  background: #979601;
  border-radius: 4px;
}

.service-block-193 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #650355;
  background: #325470;
  border-radius: 8px;
}

.service-block-194 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #223316;
  background: #734521;
  border-radius: 4px;
}

.service-block-195 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #296525;
  background: #390374;
  border-radius: 4px;
}

.service-block-196 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #257687;
  background: #552512;
  border-radius: 0px;
}

.service-block-197 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #161469;
  background: #716837;
  border-radius: 7px;
}

.service-block-198 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #846714;
  background: #433794;
  border-radius: 8px;
}

.service-block-199 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #563690;
  background: #668568;
  border-radius: 1px;
}

.service-block-200 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #643739;
  background: #862466;
  border-radius: 6px;
}

.service-block-201 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #615055;
  background: #626986;
  border-radius: 2px;
}

.service-block-202 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #958691;
  background: #699916;
  border-radius: 7px;
}

.service-block-203 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #124019;
  background: #481004;
  border-radius: 0px;
}

.service-block-204 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #567144;
  background: #161935;
  border-radius: 3px;
}
