/* transformer styles v1 */

.transformer-block-1 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #683959;
  background: #272799;
  border-radius: 7px;
}

.transformer-block-2 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #562637;
  background: #176809;
  border-radius: 4px;
}

.transformer-block-3 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #272006;
  background: #907515;
  border-radius: 5px;
}

.transformer-block-4 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #979283;
  background: #278440;
  border-radius: 4px;
}

.transformer-block-5 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #373945;
  background: #127848;
  border-radius: 3px;
}

.transformer-block-6 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #653745;
  background: #391048;
  border-radius: 7px;
}

.transformer-block-7 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #978859;
  background: #590058;
  border-radius: 0px;
}

.transformer-block-8 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #754051;
  background: #503844;
  border-radius: 0px;
}

.transformer-block-9 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #239266;
  background: #712401;
  border-radius: 3px;
}

.transformer-block-10 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #888917;
  background: #978190;
  border-radius: 0px;
}

.transformer-block-11 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #892534;
  background: #808804;
  border-radius: 7px;
}

.transformer-block-12 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #234974;
  background: #751052;
  border-radius: 5px;
}

.transformer-block-13 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #571451;
  background: #530927;
  border-radius: 3px;
}

.transformer-block-14 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #122225;
  background: #172779;
  border-radius: 6px;
}

.transformer-block-15 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #533230;
  background: #842768;
  border-radius: 3px;
}

.transformer-block-16 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #223927;
  background: #148597;
  border-radius: 2px;
}

.transformer-block-17 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #128877;
  background: #106717;
  border-radius: 2px;
}

.transformer-block-18 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #515972;
  background: #648238;
  border-radius: 1px;
}

.transformer-block-19 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #687689;
  background: #396795;
  border-radius: 6px;
}

.transformer-block-20 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #584168;
  background: #872054;
  border-radius: 2px;
}

.transformer-block-21 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #835895;
  background: #379915;
  border-radius: 2px;
}

.transformer-block-22 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #972028;
  background: #596022;
  border-radius: 7px;
}

.transformer-block-23 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #485330;
  background: #775619;
  border-radius: 8px;
}

.transformer-block-24 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #532853;
  background: #893570;
  border-radius: 8px;
}

.transformer-block-25 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #448855;
  background: #825174;
  border-radius: 1px;
}

.transformer-block-26 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #984343;
  background: #130269;
  border-radius: 2px;
}

.transformer-block-27 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #745175;
  background: #328326;
  border-radius: 5px;
}

.transformer-block-28 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #418019;
  background: #179514;
  border-radius: 6px;
}

.transformer-block-29 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #878079;
  background: #846759;
  border-radius: 6px;
}

.transformer-block-30 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #695478;
  background: #194488;
  border-radius: 3px;
}

.transformer-block-31 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #795144;
  background: #883541;
  border-radius: 8px;
}

.transformer-block-32 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #325356;
  background: #325356;
  border-radius: 3px;
}

.transformer-block-33 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #679865;
  background: #133891;
  border-radius: 3px;
}

.transformer-block-34 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #264945;
  background: #171876;
  border-radius: 4px;
}

.transformer-block-35 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #590273;
  background: #720646;
  border-radius: 5px;
}

.transformer-block-36 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #985066;
  background: #341803;
  border-radius: 1px;
}

.transformer-block-37 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #757563;
  background: #184175;
  border-radius: 4px;
}

.transformer-block-38 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #982172;
  background: #625795;
  border-radius: 2px;
}

.transformer-block-39 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #381425;
  background: #247356;
  border-radius: 2px;
}

.transformer-block-40 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #974146;
  background: #531265;
  border-radius: 6px;
}

.transformer-block-41 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #335804;
  background: #427894;
  border-radius: 5px;
}

.transformer-block-42 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #881923;
  background: #722002;
  border-radius: 7px;
}

.transformer-block-43 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #311041;
  background: #878945;
  border-radius: 3px;
}

.transformer-block-44 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #634386;
  background: #518729;
  border-radius: 8px;
}

.transformer-block-45 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #996928;
  background: #610998;
  border-radius: 0px;
}

.transformer-block-46 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #344954;
  background: #809166;
  border-radius: 1px;
}

.transformer-block-47 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #737519;
  background: #339448;
  border-radius: 7px;
}

.transformer-block-48 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #851401;
  background: #226075;
  border-radius: 8px;
}

.transformer-block-49 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #793687;
  background: #619600;
  border-radius: 5px;
}

.transformer-block-50 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #991752;
  background: #159260;
  border-radius: 1px;
}

.transformer-block-51 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #714756;
  background: #430150;
  border-radius: 2px;
}

.transformer-block-52 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #365016;
  background: #203922;
  border-radius: 2px;
}

.transformer-block-53 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #277280;
  background: #853784;
  border-radius: 8px;
}

.transformer-block-54 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #302142;
  background: #794370;
  border-radius: 7px;
}

.transformer-block-55 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #378435;
  background: #335672;
  border-radius: 8px;
}

.transformer-block-56 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #906307;
  background: #660047;
  border-radius: 4px;
}

.transformer-block-57 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #204778;
  background: #183543;
  border-radius: 6px;
}

.transformer-block-58 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #818590;
  background: #651500;
  border-radius: 4px;
}

.transformer-block-59 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #615610;
  background: #962962;
  border-radius: 2px;
}

.transformer-block-60 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #881615;
  background: #548461;
  border-radius: 4px;
}

.transformer-block-61 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #615011;
  background: #444661;
  border-radius: 3px;
}

.transformer-block-62 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #816008;
  background: #961920;
  border-radius: 8px;
}

.transformer-block-63 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #819160;
  background: #133520;
  border-radius: 5px;
}

.transformer-block-64 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #848848;
  background: #108177;
  border-radius: 2px;
}

.transformer-block-65 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #386972;
  background: #557346;
  border-radius: 5px;
}

.transformer-block-66 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #145877;
  background: #746634;
  border-radius: 0px;
}

.transformer-block-67 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #253657;
  background: #974144;
  border-radius: 3px;
}

.transformer-block-68 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #156376;
  background: #565762;
  border-radius: 4px;
}

.transformer-block-69 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #219804;
  background: #475432;
  border-radius: 4px;
}

.transformer-block-70 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #287499;
  background: #154518;
  border-radius: 5px;
}

.transformer-block-71 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #684235;
  background: #276536;
  border-radius: 4px;
}

.transformer-block-72 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #339842;
  background: #340708;
  border-radius: 8px;
}

.transformer-block-73 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #498429;
  background: #298954;
  border-radius: 2px;
}

.transformer-block-74 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #364189;
  background: #394703;
  border-radius: 6px;
}

.transformer-block-75 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #945004;
  background: #321060;
  border-radius: 7px;
}

.transformer-block-76 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #497191;
  background: #817709;
  border-radius: 5px;
}

.transformer-block-77 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #133892;
  background: #807924;
  border-radius: 3px;
}

.transformer-block-78 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #107220;
  background: #839750;
  border-radius: 7px;
}

.transformer-block-79 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #448575;
  background: #584978;
  border-radius: 6px;
}

.transformer-block-80 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #687235;
  background: #774886;
  border-radius: 2px;
}

.transformer-block-81 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #892459;
  background: #200103;
  border-radius: 5px;
}

.transformer-block-82 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #275338;
  background: #401199;
  border-radius: 3px;
}

.transformer-block-83 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #963263;
  background: #680466;
  border-radius: 7px;
}

.transformer-block-84 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #822067;
  background: #182036;
  border-radius: 1px;
}

.transformer-block-85 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #352567;
  background: #940592;
  border-radius: 5px;
}

.transformer-block-86 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #262653;
  background: #604032;
  border-radius: 3px;
}

.transformer-block-87 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #709534;
  background: #192734;
  border-radius: 3px;
}

.transformer-block-88 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #748635;
  background: #107966;
  border-radius: 6px;
}

.transformer-block-89 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #953650;
  background: #356054;
  border-radius: 5px;
}

.transformer-block-90 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #952724;
  background: #811635;
  border-radius: 1px;
}

.transformer-block-91 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #252240;
  background: #213549;
  border-radius: 1px;
}

.transformer-block-92 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #239788;
  background: #100963;
  border-radius: 4px;
}

.transformer-block-93 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #725935;
  background: #931372;
  border-radius: 6px;
}

.transformer-block-94 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #401641;
  background: #577803;
  border-radius: 7px;
}

.transformer-block-95 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #290231;
  background: #790485;
  border-radius: 0px;
}

.transformer-block-96 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #540105;
  background: #931476;
  border-radius: 7px;
}

.transformer-block-97 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #815253;
  background: #891566;
  border-radius: 1px;
}

.transformer-block-98 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #757937;
  background: #927364;
  border-radius: 0px;
}

.transformer-block-99 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #469883;
  background: #437211;
  border-radius: 7px;
}

.transformer-block-100 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #336829;
  background: #111072;
  border-radius: 8px;
}

.transformer-block-101 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #341928;
  background: #576777;
  border-radius: 4px;
}

.transformer-block-102 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #952111;
  background: #191974;
  border-radius: 6px;
}

.transformer-block-103 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #474119;
  background: #475119;
  border-radius: 1px;
}

.transformer-block-104 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #851200;
  background: #226716;
  border-radius: 3px;
}

.transformer-block-105 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #657818;
  background: #943122;
  border-radius: 0px;
}

.transformer-block-106 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #313608;
  background: #952652;
  border-radius: 6px;
}

.transformer-block-107 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #363479;
  background: #101617;
  border-radius: 5px;
}

.transformer-block-108 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #770522;
  background: #854449;
  border-radius: 8px;
}

.transformer-block-109 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #790557;
  background: #447253;
  border-radius: 3px;
}

.transformer-block-110 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #698048;
  background: #765619;
  border-radius: 0px;
}

.transformer-block-111 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #970803;
  background: #705395;
  border-radius: 8px;
}

.transformer-block-112 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #666256;
  background: #841524;
  border-radius: 8px;
}

.transformer-block-113 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #289071;
  background: #397406;
  border-radius: 5px;
}

.transformer-block-114 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #332513;
  background: #772994;
  border-radius: 2px;
}

.transformer-block-115 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #876094;
  background: #373976;
  border-radius: 4px;
}

.transformer-block-116 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #768467;
  background: #171059;
  border-radius: 4px;
}

.transformer-block-117 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #709423;
  background: #278780;
  border-radius: 0px;
}

.transformer-block-118 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #711727;
  background: #824924;
  border-radius: 4px;
}

.transformer-block-119 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #213113;
  background: #263859;
  border-radius: 7px;
}

.transformer-block-120 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #491929;
  background: #748277;
  border-radius: 3px;
}

.transformer-block-121 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #805052;
  background: #786031;
  border-radius: 5px;
}

.transformer-block-122 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #402918;
  background: #364691;
  border-radius: 8px;
}

.transformer-block-123 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #184276;
  background: #628583;
  border-radius: 3px;
}

.transformer-block-124 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #234200;
  background: #272384;
  border-radius: 1px;
}

.transformer-block-125 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #510474;
  background: #120722;
  border-radius: 1px;
}

.transformer-block-126 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #242186;
  background: #253381;
  border-radius: 8px;
}

.transformer-block-127 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #885422;
  background: #525004;
  border-radius: 0px;
}

.transformer-block-128 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #790987;
  background: #583156;
  border-radius: 5px;
}

.transformer-block-129 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #232494;
  background: #836514;
  border-radius: 5px;
}

.transformer-block-130 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #530189;
  background: #935662;
  border-radius: 1px;
}

.transformer-block-131 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #266993;
  background: #143111;
  border-radius: 2px;
}

.transformer-block-132 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #459104;
  background: #796301;
  border-radius: 5px;
}

.transformer-block-133 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #188012;
  background: #639931;
  border-radius: 3px;
}
