/* controller styles v2 */

.controller-block-1 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #578343;
  background: #920339;
  border-radius: 2px;
}

.controller-block-2 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #695966;
  background: #985299;
  border-radius: 3px;
}

.controller-block-3 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #758225;
  background: #367615;
  border-radius: 1px;
}

.controller-block-4 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #499612;
  background: #602938;
  border-radius: 3px;
}

.controller-block-5 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #870934;
  background: #783420;
  border-radius: 6px;
}

.controller-block-6 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #127062;
  background: #348981;
  border-radius: 3px;
}

.controller-block-7 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #482701;
  background: #509638;
  border-radius: 7px;
}

.controller-block-8 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #859113;
  background: #292705;
  border-radius: 4px;
}

.controller-block-9 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #352799;
  background: #386247;
  border-radius: 7px;
}

.controller-block-10 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #526082;
  background: #858424;
  border-radius: 6px;
}

.controller-block-11 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #141676;
  background: #991373;
  border-radius: 7px;
}

.controller-block-12 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #572744;
  background: #657481;
  border-radius: 1px;
}

.controller-block-13 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #113134;
  background: #834316;
  border-radius: 0px;
}

.controller-block-14 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #409470;
  background: #174376;
  border-radius: 2px;
}

.controller-block-15 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #830801;
  background: #698630;
  border-radius: 0px;
}

.controller-block-16 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #898391;
  background: #760705;
  border-radius: 3px;
}

.controller-block-17 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #816039;
  background: #151953;
  border-radius: 6px;
}

.controller-block-18 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #644639;
  background: #116062;
  border-radius: 4px;
}

.controller-block-19 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #105265;
  background: #709736;
  border-radius: 1px;
}

.controller-block-20 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #847156;
  background: #683226;
  border-radius: 5px;
}

.controller-block-21 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #900566;
  background: #117405;
  border-radius: 3px;
}

.controller-block-22 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #967579;
  background: #286976;
  border-radius: 2px;
}

.controller-block-23 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #779897;
  background: #206262;
  border-radius: 4px;
}

.controller-block-24 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #305508;
  background: #683117;
  border-radius: 7px;
}

.controller-block-25 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #403145;
  background: #238655;
  border-radius: 0px;
}

.controller-block-26 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #980249;
  background: #887873;
  border-radius: 8px;
}

.controller-block-27 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #749286;
  background: #793995;
  border-radius: 3px;
}

.controller-block-28 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #219250;
  background: #409114;
  border-radius: 6px;
}

.controller-block-29 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #628922;
  background: #315264;
  border-radius: 7px;
}

.controller-block-30 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #298070;
  background: #331032;
  border-radius: 6px;
}

.controller-block-31 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #966992;
  background: #741989;
  border-radius: 3px;
}

.controller-block-32 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #472112;
  background: #994221;
  border-radius: 1px;
}

.controller-block-33 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #923594;
  background: #856571;
  border-radius: 4px;
}

.controller-block-34 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #842827;
  background: #494856;
  border-radius: 7px;
}

.controller-block-35 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #547891;
  background: #472480;
  border-radius: 3px;
}

.controller-block-36 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #816787;
  background: #481061;
  border-radius: 1px;
}

.controller-block-37 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #322293;
  background: #751542;
  border-radius: 1px;
}

.controller-block-38 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #101292;
  background: #282857;
  border-radius: 3px;
}

.controller-block-39 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #382733;
  background: #359508;
  border-radius: 4px;
}

.controller-block-40 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #541223;
  background: #255524;
  border-radius: 8px;
}

.controller-block-41 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #377080;
  background: #810603;
  border-radius: 6px;
}

.controller-block-42 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #394884;
  background: #676107;
  border-radius: 4px;
}

.controller-block-43 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #878972;
  background: #919032;
  border-radius: 6px;
}

.controller-block-44 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #877978;
  background: #790277;
  border-radius: 0px;
}

.controller-block-45 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #289619;
  background: #424748;
  border-radius: 6px;
}

.controller-block-46 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #930677;
  background: #593206;
  border-radius: 5px;
}

.controller-block-47 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #366918;
  background: #398365;
  border-radius: 4px;
}

.controller-block-48 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #889460;
  background: #324705;
  border-radius: 8px;
}

.controller-block-49 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #900583;
  background: #912252;
  border-radius: 3px;
}

.controller-block-50 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #829064;
  background: #896828;
  border-radius: 7px;
}

.controller-block-51 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #935297;
  background: #297736;
  border-radius: 5px;
}

.controller-block-52 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #286846;
  background: #432835;
  border-radius: 5px;
}

.controller-block-53 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #112375;
  background: #548289;
  border-radius: 7px;
}

.controller-block-54 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #148401;
  background: #810916;
  border-radius: 3px;
}

.controller-block-55 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #785255;
  background: #781800;
  border-radius: 8px;
}

.controller-block-56 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #365520;
  background: #155813;
  border-radius: 3px;
}

.controller-block-57 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #346690;
  background: #697779;
  border-radius: 7px;
}

.controller-block-58 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #551930;
  background: #937582;
  border-radius: 2px;
}

.controller-block-59 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #116891;
  background: #563891;
  border-radius: 4px;
}

.controller-block-60 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #764818;
  background: #200495;
  border-radius: 7px;
}

.controller-block-61 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #263525;
  background: #396761;
  border-radius: 1px;
}

.controller-block-62 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #287302;
  background: #287780;
  border-radius: 7px;
}

.controller-block-63 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #987369;
  background: #770854;
  border-radius: 0px;
}

.controller-block-64 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #784902;
  background: #230711;
  border-radius: 8px;
}

.controller-block-65 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #793163;
  background: #152622;
  border-radius: 8px;
}

.controller-block-66 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #874010;
  background: #164803;
  border-radius: 0px;
}

.controller-block-67 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #704669;
  background: #821242;
  border-radius: 7px;
}

.controller-block-68 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #718583;
  background: #402770;
  border-radius: 4px;
}

.controller-block-69 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #857713;
  background: #858485;
  border-radius: 2px;
}

.controller-block-70 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #819043;
  background: #964686;
  border-radius: 5px;
}

.controller-block-71 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #146058;
  background: #674719;
  border-radius: 5px;
}

.controller-block-72 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #680886;
  background: #521768;
  border-radius: 5px;
}

.controller-block-73 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #683763;
  background: #142060;
  border-radius: 3px;
}

.controller-block-74 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #506080;
  background: #682553;
  border-radius: 3px;
}

.controller-block-75 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #915317;
  background: #635453;
  border-radius: 3px;
}

.controller-block-76 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #944192;
  background: #320251;
  border-radius: 6px;
}

.controller-block-77 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #232709;
  background: #394298;
  border-radius: 4px;
}

.controller-block-78 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #328525;
  background: #538997;
  border-radius: 4px;
}

.controller-block-79 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #577807;
  background: #917338;
  border-radius: 2px;
}

.controller-block-80 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #811755;
  background: #985811;
  border-radius: 2px;
}

.controller-block-81 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #300320;
  background: #648125;
  border-radius: 3px;
}

.controller-block-82 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #461707;
  background: #865530;
  border-radius: 4px;
}

.controller-block-83 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #837428;
  background: #703834;
  border-radius: 1px;
}

.controller-block-84 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #487409;
  background: #189171;
  border-radius: 0px;
}

.controller-block-85 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #562106;
  background: #502594;
  border-radius: 3px;
}

.controller-block-86 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #994551;
  background: #313186;
  border-radius: 4px;
}

.controller-block-87 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #544538;
  background: #260258;
  border-radius: 2px;
}

.controller-block-88 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #724279;
  background: #989315;
  border-radius: 3px;
}

.controller-block-89 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #766050;
  background: #412766;
  border-radius: 0px;
}

.controller-block-90 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #466035;
  background: #873327;
  border-radius: 2px;
}

.controller-block-91 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #548884;
  background: #881319;
  border-radius: 7px;
}

.controller-block-92 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #660311;
  background: #317234;
  border-radius: 5px;
}

.controller-block-93 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #699262;
  background: #890610;
  border-radius: 1px;
}

.controller-block-94 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #976742;
  background: #724717;
  border-radius: 3px;
}

.controller-block-95 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #836624;
  background: #381732;
  border-radius: 0px;
}

.controller-block-96 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #773432;
  background: #364849;
  border-radius: 6px;
}

.controller-block-97 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #180126;
  background: #687267;
  border-radius: 8px;
}

.controller-block-98 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #370825;
  background: #345935;
  border-radius: 4px;
}

.controller-block-99 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #315486;
  background: #962694;
  border-radius: 1px;
}

.controller-block-100 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #114144;
  background: #930675;
  border-radius: 5px;
}

.controller-block-101 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #552497;
  background: #551964;
  border-radius: 5px;
}

.controller-block-102 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #808697;
  background: #757176;
  border-radius: 0px;
}

.controller-block-103 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #837142;
  background: #612069;
  border-radius: 6px;
}

.controller-block-104 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #598379;
  background: #298775;
  border-radius: 0px;
}
