/* hook styles v2 */

.hook-block-1 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #769443;
  background: #268240;
  border-radius: 5px;
}

.hook-block-2 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #307003;
  background: #842062;
  border-radius: 7px;
}

.hook-block-3 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #347440;
  background: #690582;
  border-radius: 8px;
}

.hook-block-4 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #341881;
  background: #970587;
  border-radius: 1px;
}

.hook-block-5 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #603917;
  background: #596814;
  border-radius: 4px;
}

.hook-block-6 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #707861;
  background: #104490;
  border-radius: 7px;
}

.hook-block-7 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #450725;
  background: #985702;
  border-radius: 1px;
}

.hook-block-8 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #138233;
  background: #835112;
  border-radius: 1px;
}

.hook-block-9 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #773576;
  background: #528276;
  border-radius: 4px;
}

.hook-block-10 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #663857;
  background: #613171;
  border-radius: 6px;
}

.hook-block-11 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #334255;
  background: #718268;
  border-radius: 1px;
}

.hook-block-12 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #176370;
  background: #295714;
  border-radius: 3px;
}

.hook-block-13 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #161587;
  background: #206953;
  border-radius: 4px;
}

.hook-block-14 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #587155;
  background: #471629;
  border-radius: 3px;
}

.hook-block-15 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #826742;
  background: #858556;
  border-radius: 0px;
}

.hook-block-16 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #794981;
  background: #852189;
  border-radius: 8px;
}

.hook-block-17 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #627830;
  background: #194490;
  border-radius: 4px;
}

.hook-block-18 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #108904;
  background: #601096;
  border-radius: 3px;
}

.hook-block-19 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #442069;
  background: #477608;
  border-radius: 5px;
}

.hook-block-20 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #670001;
  background: #689171;
  border-radius: 1px;
}

.hook-block-21 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #322225;
  background: #577598;
  border-radius: 4px;
}

.hook-block-22 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #932002;
  background: #623329;
  border-radius: 7px;
}

.hook-block-23 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #248925;
  background: #961868;
  border-radius: 6px;
}

.hook-block-24 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #703175;
  background: #199237;
  border-radius: 4px;
}

.hook-block-25 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #382938;
  background: #829021;
  border-radius: 6px;
}

.hook-block-26 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #776149;
  background: #893139;
  border-radius: 8px;
}

.hook-block-27 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #222958;
  background: #750562;
  border-radius: 3px;
}

.hook-block-28 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #584925;
  background: #922113;
  border-radius: 7px;
}

.hook-block-29 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #846001;
  background: #267037;
  border-radius: 4px;
}

.hook-block-30 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #985492;
  background: #794684;
  border-radius: 4px;
}

.hook-block-31 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #820513;
  background: #803651;
  border-radius: 3px;
}

.hook-block-32 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #364351;
  background: #726576;
  border-radius: 6px;
}

.hook-block-33 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #517932;
  background: #983811;
  border-radius: 6px;
}

.hook-block-34 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #194186;
  background: #740598;
  border-radius: 5px;
}

.hook-block-35 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #338012;
  background: #733159;
  border-radius: 7px;
}

.hook-block-36 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #684177;
  background: #886573;
  border-radius: 5px;
}

.hook-block-37 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #487892;
  background: #937906;
  border-radius: 7px;
}

.hook-block-38 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #670168;
  background: #238008;
  border-radius: 0px;
}

.hook-block-39 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #446043;
  background: #855695;
  border-radius: 7px;
}

.hook-block-40 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #963446;
  background: #428159;
  border-radius: 5px;
}

.hook-block-41 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #380968;
  background: #231267;
  border-radius: 1px;
}

.hook-block-42 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #182482;
  background: #810522;
  border-radius: 3px;
}

.hook-block-43 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #112219;
  background: #448974;
  border-radius: 6px;
}

.hook-block-44 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #435782;
  background: #148785;
  border-radius: 1px;
}

.hook-block-45 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #979125;
  background: #615987;
  border-radius: 6px;
}

.hook-block-46 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #962434;
  background: #290216;
  border-radius: 0px;
}

.hook-block-47 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #651863;
  background: #720165;
  border-radius: 2px;
}

.hook-block-48 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #876032;
  background: #235519;
  border-radius: 5px;
}

.hook-block-49 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #961394;
  background: #101176;
  border-radius: 0px;
}

.hook-block-50 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #953920;
  background: #318723;
  border-radius: 1px;
}

.hook-block-51 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #770597;
  background: #518853;
  border-radius: 5px;
}

.hook-block-52 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #173101;
  background: #833754;
  border-radius: 8px;
}

.hook-block-53 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #939872;
  background: #955237;
  border-radius: 6px;
}

.hook-block-54 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #273221;
  background: #521454;
  border-radius: 8px;
}

.hook-block-55 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #287882;
  background: #952457;
  border-radius: 2px;
}

.hook-block-56 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #331786;
  background: #742963;
  border-radius: 2px;
}

.hook-block-57 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #293071;
  background: #123866;
  border-radius: 3px;
}

.hook-block-58 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #223586;
  background: #744031;
  border-radius: 1px;
}

.hook-block-59 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #855578;
  background: #186890;
  border-radius: 5px;
}

.hook-block-60 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #611434;
  background: #441075;
  border-radius: 7px;
}

.hook-block-61 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #423202;
  background: #609085;
  border-radius: 3px;
}

.hook-block-62 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #334906;
  background: #564988;
  border-radius: 5px;
}

.hook-block-63 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #310587;
  background: #440295;
  border-radius: 5px;
}

.hook-block-64 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #734220;
  background: #564018;
  border-radius: 3px;
}

.hook-block-65 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #388943;
  background: #679625;
  border-radius: 5px;
}

.hook-block-66 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #923808;
  background: #823804;
  border-radius: 7px;
}

.hook-block-67 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #925641;
  background: #802654;
  border-radius: 5px;
}

.hook-block-68 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #620873;
  background: #692007;
  border-radius: 1px;
}

.hook-block-69 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #790265;
  background: #807967;
  border-radius: 1px;
}

.hook-block-70 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #894466;
  background: #428331;
  border-radius: 8px;
}

.hook-block-71 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #747294;
  background: #139087;
  border-radius: 2px;
}

.hook-block-72 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #436656;
  background: #819127;
  border-radius: 1px;
}

.hook-block-73 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #506858;
  background: #954360;
  border-radius: 2px;
}

.hook-block-74 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #525446;
  background: #830681;
  border-radius: 3px;
}
