/* index styles v1 */

.index-block-1 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #595313;
  background: #189582;
  border-radius: 2px;
}

.index-block-2 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #939603;
  background: #735996;
  border-radius: 4px;
}

.index-block-3 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #557220;
  background: #472764;
  border-radius: 8px;
}

.index-block-4 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #555647;
  background: #994646;
  border-radius: 6px;
}

.index-block-5 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #842702;
  background: #312919;
  border-radius: 6px;
}

.index-block-6 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #750034;
  background: #587700;
  border-radius: 5px;
}

.index-block-7 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #773770;
  background: #382031;
  border-radius: 7px;
}

.index-block-8 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #459855;
  background: #366401;
  border-radius: 8px;
}

.index-block-9 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #300340;
  background: #496763;
  border-radius: 5px;
}

.index-block-10 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #420073;
  background: #143438;
  border-radius: 8px;
}

.index-block-11 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #596662;
  background: #455832;
  border-radius: 6px;
}

.index-block-12 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #921779;
  background: #451816;
  border-radius: 3px;
}

.index-block-13 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #544139;
  background: #352963;
  border-radius: 8px;
}

.index-block-14 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #209055;
  background: #673421;
  border-radius: 7px;
}

.index-block-15 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #994026;
  background: #349277;
  border-radius: 5px;
}

.index-block-16 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #932055;
  background: #360331;
  border-radius: 5px;
}

.index-block-17 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #375444;
  background: #174598;
  border-radius: 5px;
}

.index-block-18 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #367431;
  background: #236886;
  border-radius: 8px;
}

.index-block-19 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #905646;
  background: #466738;
  border-radius: 1px;
}

.index-block-20 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #527039;
  background: #348720;
  border-radius: 5px;
}

.index-block-21 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #876781;
  background: #932505;
  border-radius: 6px;
}

.index-block-22 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #283411;
  background: #672758;
  border-radius: 4px;
}

.index-block-23 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #792694;
  background: #155302;
  border-radius: 6px;
}

.index-block-24 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #276906;
  background: #425662;
  border-radius: 1px;
}

.index-block-25 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #216908;
  background: #162942;
  border-radius: 3px;
}

.index-block-26 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #116019;
  background: #563835;
  border-radius: 7px;
}

.index-block-27 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #725067;
  background: #937013;
  border-radius: 7px;
}

.index-block-28 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #370319;
  background: #461878;
  border-radius: 6px;
}

.index-block-29 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #438013;
  background: #972910;
  border-radius: 0px;
}

.index-block-30 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #766150;
  background: #344830;
  border-radius: 1px;
}

.index-block-31 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #501636;
  background: #618932;
  border-radius: 8px;
}

.index-block-32 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #659748;
  background: #638648;
  border-radius: 7px;
}

.index-block-33 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #982837;
  background: #314719;
  border-radius: 6px;
}

.index-block-34 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #962169;
  background: #949570;
  border-radius: 5px;
}

.index-block-35 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #523707;
  background: #345095;
  border-radius: 2px;
}

.index-block-36 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #556498;
  background: #392520;
  border-radius: 2px;
}

.index-block-37 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #744561;
  background: #306361;
  border-radius: 5px;
}

.index-block-38 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #361627;
  background: #117661;
  border-radius: 8px;
}

.index-block-39 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #567030;
  background: #979433;
  border-radius: 8px;
}

.index-block-40 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #589504;
  background: #539024;
  border-radius: 6px;
}

.index-block-41 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #947258;
  background: #199237;
  border-radius: 5px;
}

.index-block-42 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #695653;
  background: #605953;
  border-radius: 0px;
}

.index-block-43 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #122647;
  background: #533707;
  border-radius: 7px;
}

.index-block-44 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #466953;
  background: #883195;
  border-radius: 1px;
}

.index-block-45 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #489720;
  background: #619813;
  border-radius: 0px;
}

.index-block-46 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #807580;
  background: #675089;
  border-radius: 7px;
}

.index-block-47 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #601905;
  background: #979523;
  border-radius: 5px;
}

.index-block-48 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #404815;
  background: #249737;
  border-radius: 3px;
}

.index-block-49 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #810478;
  background: #636766;
  border-radius: 8px;
}

.index-block-50 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #562378;
  background: #446467;
  border-radius: 1px;
}

.index-block-51 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #925936;
  background: #608497;
  border-radius: 3px;
}

.index-block-52 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #111312;
  background: #690616;
  border-radius: 1px;
}

.index-block-53 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #656829;
  background: #830180;
  border-radius: 7px;
}

.index-block-54 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #928446;
  background: #349933;
  border-radius: 6px;
}

.index-block-55 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #744930;
  background: #529622;
  border-radius: 6px;
}

.index-block-56 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #841423;
  background: #752918;
  border-radius: 3px;
}

.index-block-57 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #965677;
  background: #564352;
  border-radius: 6px;
}

.index-block-58 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #358330;
  background: #507497;
  border-radius: 6px;
}

.index-block-59 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #557500;
  background: #117912;
  border-radius: 5px;
}

.index-block-60 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #860463;
  background: #714764;
  border-radius: 4px;
}

.index-block-61 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #689001;
  background: #390783;
  border-radius: 3px;
}

.index-block-62 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #419932;
  background: #223407;
  border-radius: 6px;
}

.index-block-63 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #825456;
  background: #553367;
  border-radius: 4px;
}

.index-block-64 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #980806;
  background: #622110;
  border-radius: 6px;
}

.index-block-65 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #621767;
  background: #932892;
  border-radius: 1px;
}

.index-block-66 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #554768;
  background: #575877;
  border-radius: 5px;
}

.index-block-67 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #604308;
  background: #714342;
  border-radius: 8px;
}

.index-block-68 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #160816;
  background: #984239;
  border-radius: 8px;
}

.index-block-69 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #115095;
  background: #629047;
  border-radius: 0px;
}

.index-block-70 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #764838;
  background: #730786;
  border-radius: 2px;
}

.index-block-71 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #934800;
  background: #514366;
  border-radius: 7px;
}

.index-block-72 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #980054;
  background: #910747;
  border-radius: 5px;
}

.index-block-73 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #582488;
  background: #335450;
  border-radius: 4px;
}

.index-block-74 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #654673;
  background: #422673;
  border-radius: 1px;
}

.index-block-75 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #465790;
  background: #896490;
  border-radius: 8px;
}

.index-block-76 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #929805;
  background: #397862;
  border-radius: 2px;
}

.index-block-77 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #231945;
  background: #515446;
  border-radius: 7px;
}

.index-block-78 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #580123;
  background: #573314;
  border-radius: 1px;
}

.index-block-79 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #703791;
  background: #724206;
  border-radius: 4px;
}

.index-block-80 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #583011;
  background: #196877;
  border-radius: 5px;
}

.index-block-81 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #681763;
  background: #366830;
  border-radius: 3px;
}

.index-block-82 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #980441;
  background: #543226;
  border-radius: 4px;
}

.index-block-83 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #709492;
  background: #933017;
  border-radius: 5px;
}

.index-block-84 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #532650;
  background: #122529;
  border-radius: 4px;
}

.index-block-85 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #442839;
  background: #363695;
  border-radius: 5px;
}

.index-block-86 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #695231;
  background: #636376;
  border-radius: 6px;
}

.index-block-87 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #886551;
  background: #431713;
  border-radius: 6px;
}

.index-block-88 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #612649;
  background: #484139;
  border-radius: 6px;
}

.index-block-89 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #875298;
  background: #914398;
  border-radius: 2px;
}

.index-block-90 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #692827;
  background: #703441;
  border-radius: 8px;
}

.index-block-91 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #632998;
  background: #867416;
  border-radius: 3px;
}

.index-block-92 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #740362;
  background: #747306;
  border-radius: 6px;
}

.index-block-93 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #952240;
  background: #862201;
  border-radius: 1px;
}

.index-block-94 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #961654;
  background: #313905;
  border-radius: 7px;
}

.index-block-95 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #950541;
  background: #693458;
  border-radius: 5px;
}

.index-block-96 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #244708;
  background: #558992;
  border-radius: 8px;
}

.index-block-97 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #588434;
  background: #680148;
  border-radius: 2px;
}

.index-block-98 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #141143;
  background: #792322;
  border-radius: 1px;
}

.index-block-99 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #832093;
  background: #604149;
  border-radius: 2px;
}

.index-block-100 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #869003;
  background: #393788;
  border-radius: 3px;
}

.index-block-101 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #116766;
  background: #136751;
  border-radius: 5px;
}

.index-block-102 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #493760;
  background: #639049;
  border-radius: 0px;
}

.index-block-103 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #772846;
  background: #325513;
  border-radius: 3px;
}

.index-block-104 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #862574;
  background: #204191;
  border-radius: 8px;
}

.index-block-105 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #820250;
  background: #234025;
  border-radius: 5px;
}

.index-block-106 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #344704;
  background: #380766;
  border-radius: 0px;
}

.index-block-107 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #875174;
  background: #276029;
  border-radius: 4px;
}

.index-block-108 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #200192;
  background: #982695;
  border-radius: 4px;
}

.index-block-109 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #852419;
  background: #544464;
  border-radius: 7px;
}

.index-block-110 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #440856;
  background: #721089;
  border-radius: 3px;
}

.index-block-111 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #142715;
  background: #236464;
  border-radius: 3px;
}

.index-block-112 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #293413;
  background: #868510;
  border-radius: 8px;
}

.index-block-113 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #903911;
  background: #398494;
  border-radius: 6px;
}

.index-block-114 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #505518;
  background: #586599;
  border-radius: 1px;
}

.index-block-115 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #183914;
  background: #892851;
  border-radius: 4px;
}

.index-block-116 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #682865;
  background: #156727;
  border-radius: 4px;
}

.index-block-117 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #898054;
  background: #898983;
  border-radius: 7px;
}

.index-block-118 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #290516;
  background: #988594;
  border-radius: 0px;
}

.index-block-119 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #570352;
  background: #841665;
  border-radius: 5px;
}

.index-block-120 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #825557;
  background: #992725;
  border-radius: 6px;
}

.index-block-121 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #723272;
  background: #464363;
  border-radius: 5px;
}

.index-block-122 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #752237;
  background: #145867;
  border-radius: 1px;
}

.index-block-123 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #320179;
  background: #771279;
  border-radius: 7px;
}

.index-block-124 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #916279;
  background: #359663;
  border-radius: 3px;
}

.index-block-125 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #235114;
  background: #226922;
  border-radius: 2px;
}

.index-block-126 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #303145;
  background: #638844;
  border-radius: 2px;
}

.index-block-127 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #401952;
  background: #658746;
  border-radius: 3px;
}

.index-block-128 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #407131;
  background: #391834;
  border-radius: 6px;
}

.index-block-129 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #285731;
  background: #737848;
  border-radius: 1px;
}

.index-block-130 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #215351;
  background: #990373;
  border-radius: 7px;
}

.index-block-131 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #579193;
  background: #345975;
  border-radius: 7px;
}

.index-block-132 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #314275;
  background: #871717;
  border-radius: 1px;
}

.index-block-133 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #463602;
  background: #455559;
  border-radius: 0px;
}

.index-block-134 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #177800;
  background: #993489;
  border-radius: 3px;
}

.index-block-135 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #340992;
  background: #584371;
  border-radius: 6px;
}

.index-block-136 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #325942;
  background: #193536;
  border-radius: 2px;
}

.index-block-137 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #251328;
  background: #418902;
  border-radius: 6px;
}

.index-block-138 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #333629;
  background: #831467;
  border-radius: 3px;
}

.index-block-139 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #388946;
  background: #961983;
  border-radius: 2px;
}

.index-block-140 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #850782;
  background: #701132;
  border-radius: 6px;
}

.index-block-141 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #634306;
  background: #831782;
  border-radius: 0px;
}

.index-block-142 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #249265;
  background: #360465;
  border-radius: 0px;
}

.index-block-143 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #475769;
  background: #352247;
  border-radius: 1px;
}

.index-block-144 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #570605;
  background: #132961;
  border-radius: 3px;
}

.index-block-145 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #718096;
  background: #710774;
  border-radius: 1px;
}

.index-block-146 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #791822;
  background: #650085;
  border-radius: 6px;
}

.index-block-147 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #415864;
  background: #348362;
  border-radius: 8px;
}

.index-block-148 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #986576;
  background: #632040;
  border-radius: 5px;
}

.index-block-149 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #337282;
  background: #272286;
  border-radius: 4px;
}

.index-block-150 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #716366;
  background: #202155;
  border-radius: 6px;
}

.index-block-151 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #513191;
  background: #672381;
  border-radius: 4px;
}

.index-block-152 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #872933;
  background: #403641;
  border-radius: 2px;
}

.index-block-153 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #963665;
  background: #560839;
  border-radius: 2px;
}

.index-block-154 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #689601;
  background: #993041;
  border-radius: 2px;
}

.index-block-155 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #576721;
  background: #973069;
  border-radius: 2px;
}

.index-block-156 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #677287;
  background: #828557;
  border-radius: 0px;
}

.index-block-157 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #146572;
  background: #445018;
  border-radius: 2px;
}

.index-block-158 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #701545;
  background: #109810;
  border-radius: 8px;
}

.index-block-159 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #518812;
  background: #251588;
  border-radius: 5px;
}

.index-block-160 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #231565;
  background: #864740;
  border-radius: 6px;
}

.index-block-161 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #143113;
  background: #332665;
  border-radius: 7px;
}

.index-block-162 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #441757;
  background: #575559;
  border-radius: 4px;
}

.index-block-163 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #356801;
  background: #679090;
  border-radius: 0px;
}

.index-block-164 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #362659;
  background: #295138;
  border-radius: 3px;
}

.index-block-165 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #321189;
  background: #581870;
  border-radius: 0px;
}

.index-block-166 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #741678;
  background: #484205;
  border-radius: 7px;
}

.index-block-167 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #363128;
  background: #295249;
  border-radius: 2px;
}

.index-block-168 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #316850;
  background: #304529;
  border-radius: 3px;
}

.index-block-169 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #743068;
  background: #809330;
  border-radius: 7px;
}

.index-block-170 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #809644;
  background: #790070;
  border-radius: 2px;
}

.index-block-171 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #534317;
  background: #701827;
  border-radius: 3px;
}

.index-block-172 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #237056;
  background: #893178;
  border-radius: 3px;
}

.index-block-173 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #462337;
  background: #222626;
  border-radius: 8px;
}

.index-block-174 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #610146;
  background: #322558;
  border-radius: 5px;
}

.index-block-175 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #574108;
  background: #290316;
  border-radius: 0px;
}

.index-block-176 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #156981;
  background: #260115;
  border-radius: 5px;
}

.index-block-177 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #392055;
  background: #227998;
  border-radius: 1px;
}

.index-block-178 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #863876;
  background: #821245;
  border-radius: 7px;
}

.index-block-179 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #911069;
  background: #467726;
  border-radius: 2px;
}

.index-block-180 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #701218;
  background: #613862;
  border-radius: 2px;
}

.index-block-181 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #126892;
  background: #890159;
  border-radius: 5px;
}

.index-block-182 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #570155;
  background: #911692;
  border-radius: 3px;
}

.index-block-183 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #995988;
  background: #369576;
  border-radius: 2px;
}

.index-block-184 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #105375;
  background: #793413;
  border-radius: 4px;
}

.index-block-185 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #827104;
  background: #145735;
  border-radius: 2px;
}

.index-block-186 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #278270;
  background: #467288;
  border-radius: 3px;
}

.index-block-187 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #349363;
  background: #774163;
  border-radius: 1px;
}

.index-block-188 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #395275;
  background: #407270;
  border-radius: 2px;
}

.index-block-189 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #397124;
  background: #396871;
  border-radius: 1px;
}

.index-block-190 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #659309;
  background: #127450;
  border-radius: 3px;
}

.index-block-191 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #854309;
  background: #357153;
  border-radius: 8px;
}

.index-block-192 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #689310;
  background: #823377;
  border-radius: 1px;
}

.index-block-193 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #716599;
  background: #336582;
  border-radius: 0px;
}

.index-block-194 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #555043;
  background: #767473;
  border-radius: 1px;
}

.index-block-195 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #915174;
  background: #950576;
  border-radius: 0px;
}

.index-block-196 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #812996;
  background: #267725;
  border-radius: 2px;
}

.index-block-197 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #106680;
  background: #482396;
  border-radius: 3px;
}

.index-block-198 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #705425;
  background: #740360;
  border-radius: 2px;
}

.index-block-199 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #227206;
  background: #895268;
  border-radius: 4px;
}

.index-block-200 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #839803;
  background: #314476;
  border-radius: 7px;
}

.index-block-201 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #239378;
  background: #719873;
  border-radius: 1px;
}
