/* types styles v1 */

.types-block-1 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #189364;
  background: #139848;
  border-radius: 8px;
}

.types-block-2 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #280592;
  background: #778669;
  border-radius: 1px;
}

.types-block-3 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #348452;
  background: #631559;
  border-radius: 2px;
}

.types-block-4 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #938244;
  background: #886080;
  border-radius: 4px;
}

.types-block-5 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #202406;
  background: #301369;
  border-radius: 5px;
}

.types-block-6 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #680019;
  background: #569756;
  border-radius: 7px;
}

.types-block-7 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #899737;
  background: #394055;
  border-radius: 0px;
}

.types-block-8 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #152511;
  background: #485965;
  border-radius: 4px;
}

.types-block-9 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #260730;
  background: #872284;
  border-radius: 7px;
}

.types-block-10 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #608799;
  background: #336923;
  border-radius: 2px;
}

.types-block-11 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #219807;
  background: #687126;
  border-radius: 8px;
}

.types-block-12 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #520209;
  background: #167278;
  border-radius: 6px;
}

.types-block-13 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #239569;
  background: #820252;
  border-radius: 2px;
}

.types-block-14 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #907543;
  background: #819275;
  border-radius: 1px;
}

.types-block-15 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #776897;
  background: #211575;
  border-radius: 6px;
}

.types-block-16 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #992440;
  background: #548765;
  border-radius: 4px;
}

.types-block-17 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #586299;
  background: #298262;
  border-radius: 7px;
}

.types-block-18 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #114527;
  background: #639462;
  border-radius: 0px;
}

.types-block-19 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #432457;
  background: #869664;
  border-radius: 7px;
}

.types-block-20 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #833953;
  background: #263919;
  border-radius: 1px;
}

.types-block-21 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #859094;
  background: #969007;
  border-radius: 7px;
}

.types-block-22 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #422979;
  background: #482709;
  border-radius: 0px;
}

.types-block-23 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #280833;
  background: #977817;
  border-radius: 8px;
}

.types-block-24 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #275792;
  background: #254709;
  border-radius: 0px;
}

.types-block-25 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #235208;
  background: #884432;
  border-radius: 5px;
}

.types-block-26 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #613845;
  background: #407199;
  border-radius: 7px;
}

.types-block-27 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #909355;
  background: #394654;
  border-radius: 3px;
}

.types-block-28 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #666079;
  background: #191197;
  border-radius: 8px;
}

.types-block-29 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #846698;
  background: #472017;
  border-radius: 6px;
}

.types-block-30 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #840607;
  background: #481118;
  border-radius: 4px;
}

.types-block-31 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #199149;
  background: #928419;
  border-radius: 2px;
}

.types-block-32 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #308010;
  background: #474830;
  border-radius: 6px;
}

.types-block-33 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #626404;
  background: #404363;
  border-radius: 7px;
}

.types-block-34 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #267724;
  background: #766666;
  border-radius: 8px;
}

.types-block-35 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #611984;
  background: #912863;
  border-radius: 7px;
}

.types-block-36 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #399119;
  background: #108258;
  border-radius: 2px;
}

.types-block-37 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #371992;
  background: #253644;
  border-radius: 2px;
}

.types-block-38 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #289236;
  background: #496361;
  border-radius: 2px;
}

.types-block-39 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #833469;
  background: #165651;
  border-radius: 4px;
}

.types-block-40 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #610874;
  background: #739444;
  border-radius: 2px;
}

.types-block-41 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #460874;
  background: #757482;
  border-radius: 7px;
}

.types-block-42 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #179113;
  background: #111932;
  border-radius: 5px;
}

.types-block-43 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #867901;
  background: #268348;
  border-radius: 0px;
}

.types-block-44 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #972667;
  background: #412925;
  border-radius: 5px;
}

.types-block-45 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #673829;
  background: #147806;
  border-radius: 7px;
}

.types-block-46 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #149905;
  background: #161131;
  border-radius: 7px;
}

.types-block-47 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #405101;
  background: #632050;
  border-radius: 3px;
}

.types-block-48 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #849261;
  background: #385999;
  border-radius: 1px;
}

.types-block-49 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #610116;
  background: #419273;
  border-radius: 3px;
}

.types-block-50 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #921252;
  background: #272763;
  border-radius: 3px;
}

.types-block-51 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #204521;
  background: #937719;
  border-radius: 4px;
}

.types-block-52 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #425760;
  background: #892676;
  border-radius: 5px;
}

.types-block-53 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #201911;
  background: #938791;
  border-radius: 3px;
}

.types-block-54 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #824824;
  background: #755250;
  border-radius: 2px;
}

.types-block-55 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #266953;
  background: #965298;
  border-radius: 7px;
}

.types-block-56 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #439154;
  background: #663185;
  border-radius: 3px;
}

.types-block-57 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #960869;
  background: #222722;
  border-radius: 2px;
}

.types-block-58 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #697246;
  background: #589043;
  border-radius: 0px;
}

.types-block-59 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #489156;
  background: #750642;
  border-radius: 5px;
}

.types-block-60 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #620515;
  background: #831871;
  border-radius: 3px;
}

.types-block-61 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #714634;
  background: #833328;
  border-radius: 4px;
}

.types-block-62 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #937574;
  background: #208200;
  border-radius: 4px;
}

.types-block-63 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #721692;
  background: #634359;
  border-radius: 3px;
}

.types-block-64 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #236898;
  background: #591276;
  border-radius: 4px;
}

.types-block-65 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #916091;
  background: #871010;
  border-radius: 5px;
}

.types-block-66 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #530886;
  background: #591429;
  border-radius: 4px;
}

.types-block-67 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #975308;
  background: #991597;
  border-radius: 8px;
}

.types-block-68 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #747008;
  background: #975226;
  border-radius: 1px;
}

.types-block-69 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #833197;
  background: #763913;
  border-radius: 5px;
}

.types-block-70 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #864547;
  background: #307919;
  border-radius: 2px;
}

.types-block-71 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #946162;
  background: #756860;
  border-radius: 2px;
}

.types-block-72 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #909707;
  background: #978737;
  border-radius: 8px;
}

.types-block-73 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #852181;
  background: #281460;
  border-radius: 7px;
}

.types-block-74 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #288716;
  background: #488271;
  border-radius: 2px;
}

.types-block-75 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #955206;
  background: #382893;
  border-radius: 0px;
}

.types-block-76 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #109406;
  background: #147543;
  border-radius: 8px;
}

.types-block-77 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #451945;
  background: #523372;
  border-radius: 0px;
}

.types-block-78 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #697647;
  background: #915837;
  border-radius: 5px;
}

.types-block-79 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #322047;
  background: #697725;
  border-radius: 7px;
}

.types-block-80 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #687424;
  background: #395075;
  border-radius: 3px;
}

.types-block-81 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #932460;
  background: #660734;
  border-radius: 5px;
}

.types-block-82 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #833358;
  background: #358778;
  border-radius: 0px;
}

.types-block-83 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #218593;
  background: #148914;
  border-radius: 3px;
}

.types-block-84 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #293356;
  background: #929683;
  border-radius: 2px;
}

.types-block-85 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #704981;
  background: #130685;
  border-radius: 7px;
}

.types-block-86 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #738228;
  background: #988165;
  border-radius: 2px;
}

.types-block-87 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #272787;
  background: #349056;
  border-radius: 8px;
}

.types-block-88 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #595531;
  background: #199938;
  border-radius: 0px;
}

.types-block-89 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #876895;
  background: #111274;
  border-radius: 1px;
}

.types-block-90 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #608078;
  background: #752423;
  border-radius: 4px;
}

.types-block-91 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #917768;
  background: #361636;
  border-radius: 1px;
}

.types-block-92 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #414610;
  background: #990796;
  border-radius: 2px;
}

.types-block-93 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #389006;
  background: #128057;
  border-radius: 1px;
}

.types-block-94 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #922299;
  background: #103435;
  border-radius: 6px;
}
