/* utils styles v1 */

.utils-block-1 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #206504;
  background: #834147;
  border-radius: 6px;
}

.utils-block-2 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #681619;
  background: #777381;
  border-radius: 6px;
}

.utils-block-3 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #830703;
  background: #433994;
  border-radius: 4px;
}

.utils-block-4 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #807753;
  background: #699596;
  border-radius: 7px;
}

.utils-block-5 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #160316;
  background: #497267;
  border-radius: 8px;
}

.utils-block-6 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #364563;
  background: #933742;
  border-radius: 2px;
}

.utils-block-7 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #972881;
  background: #747338;
  border-radius: 3px;
}

.utils-block-8 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #101366;
  background: #845826;
  border-radius: 4px;
}

.utils-block-9 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #862227;
  background: #727411;
  border-radius: 5px;
}

.utils-block-10 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #838323;
  background: #350511;
  border-radius: 6px;
}

.utils-block-11 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #228380;
  background: #709901;
  border-radius: 6px;
}

.utils-block-12 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #811447;
  background: #365215;
  border-radius: 5px;
}

.utils-block-13 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #700871;
  background: #520409;
  border-radius: 5px;
}

.utils-block-14 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #763856;
  background: #149113;
  border-radius: 6px;
}

.utils-block-15 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #841788;
  background: #172575;
  border-radius: 2px;
}

.utils-block-16 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #318848;
  background: #408042;
  border-radius: 5px;
}

.utils-block-17 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #760559;
  background: #473517;
  border-radius: 5px;
}

.utils-block-18 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #235287;
  background: #540582;
  border-radius: 4px;
}

.utils-block-19 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #312031;
  background: #923666;
  border-radius: 8px;
}

.utils-block-20 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #924021;
  background: #567458;
  border-radius: 8px;
}

.utils-block-21 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #824070;
  background: #856052;
  border-radius: 0px;
}

.utils-block-22 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #851820;
  background: #157207;
  border-radius: 0px;
}

.utils-block-23 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #442081;
  background: #444539;
  border-radius: 8px;
}

.utils-block-24 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #182836;
  background: #117038;
  border-radius: 0px;
}

.utils-block-25 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #266551;
  background: #714502;
  border-radius: 0px;
}

.utils-block-26 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #763171;
  background: #690134;
  border-radius: 4px;
}

.utils-block-27 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #727445;
  background: #319271;
  border-radius: 3px;
}

.utils-block-28 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #747972;
  background: #370702;
  border-radius: 7px;
}

.utils-block-29 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #367097;
  background: #557418;
  border-radius: 8px;
}

.utils-block-30 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #958864;
  background: #646990;
  border-radius: 6px;
}

.utils-block-31 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #622472;
  background: #906117;
  border-radius: 6px;
}

.utils-block-32 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #748683;
  background: #191556;
  border-radius: 2px;
}

.utils-block-33 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #289569;
  background: #590406;
  border-radius: 8px;
}

.utils-block-34 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #596673;
  background: #968591;
  border-radius: 7px;
}

.utils-block-35 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #348567;
  background: #903600;
  border-radius: 1px;
}

.utils-block-36 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #666758;
  background: #301224;
  border-radius: 8px;
}

.utils-block-37 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #809209;
  background: #196531;
  border-radius: 5px;
}

.utils-block-38 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #790548;
  background: #468786;
  border-radius: 2px;
}

.utils-block-39 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #933358;
  background: #869052;
  border-radius: 4px;
}

.utils-block-40 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #791479;
  background: #766234;
  border-radius: 7px;
}

.utils-block-41 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #386620;
  background: #982437;
  border-radius: 4px;
}

.utils-block-42 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #503320;
  background: #686521;
  border-radius: 0px;
}

.utils-block-43 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #794879;
  background: #972405;
  border-radius: 1px;
}

.utils-block-44 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #461403;
  background: #563012;
  border-radius: 8px;
}
