/* controller styles v1 */

.controller-block-1 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #638022;
  background: #258530;
  border-radius: 4px;
}

.controller-block-2 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #597229;
  background: #880469;
  border-radius: 6px;
}

.controller-block-3 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #894590;
  background: #584211;
  border-radius: 2px;
}

.controller-block-4 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #124028;
  background: #768751;
  border-radius: 5px;
}

.controller-block-5 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #906498;
  background: #340720;
  border-radius: 3px;
}

.controller-block-6 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #182696;
  background: #904962;
  border-radius: 7px;
}

.controller-block-7 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #863848;
  background: #764426;
  border-radius: 8px;
}

.controller-block-8 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #675997;
  background: #568143;
  border-radius: 6px;
}

.controller-block-9 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #432466;
  background: #628285;
  border-radius: 6px;
}

.controller-block-10 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #246925;
  background: #193057;
  border-radius: 3px;
}

.controller-block-11 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #160525;
  background: #696682;
  border-radius: 1px;
}

.controller-block-12 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #915938;
  background: #238914;
  border-radius: 1px;
}

.controller-block-13 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #266762;
  background: #346360;
  border-radius: 8px;
}

.controller-block-14 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #646426;
  background: #533757;
  border-radius: 7px;
}

.controller-block-15 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #432808;
  background: #540002;
  border-radius: 6px;
}

.controller-block-16 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #457969;
  background: #267324;
  border-radius: 5px;
}

.controller-block-17 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #542162;
  background: #649228;
  border-radius: 2px;
}

.controller-block-18 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #268718;
  background: #658834;
  border-radius: 1px;
}

.controller-block-19 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #857284;
  background: #509854;
  border-radius: 8px;
}

.controller-block-20 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #898392;
  background: #827364;
  border-radius: 7px;
}

.controller-block-21 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #285360;
  background: #910291;
  border-radius: 6px;
}

.controller-block-22 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #357945;
  background: #972720;
  border-radius: 3px;
}

.controller-block-23 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #183764;
  background: #770323;
  border-radius: 8px;
}

.controller-block-24 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #797416;
  background: #414990;
  border-radius: 8px;
}

.controller-block-25 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #179418;
  background: #518392;
  border-radius: 2px;
}

.controller-block-26 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #535903;
  background: #172726;
  border-radius: 6px;
}

.controller-block-27 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #753259;
  background: #427155;
  border-radius: 7px;
}

.controller-block-28 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #463311;
  background: #864098;
  border-radius: 3px;
}

.controller-block-29 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #753279;
  background: #175791;
  border-radius: 8px;
}

.controller-block-30 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #638792;
  background: #423655;
  border-radius: 0px;
}

.controller-block-31 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #778164;
  background: #979498;
  border-radius: 0px;
}

.controller-block-32 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #521831;
  background: #420793;
  border-radius: 2px;
}

.controller-block-33 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #399885;
  background: #518121;
  border-radius: 0px;
}

.controller-block-34 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #114995;
  background: #175880;
  border-radius: 2px;
}

.controller-block-35 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #998707;
  background: #913149;
  border-radius: 5px;
}

.controller-block-36 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #978692;
  background: #877531;
  border-radius: 6px;
}

.controller-block-37 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #549475;
  background: #601623;
  border-radius: 6px;
}

.controller-block-38 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #454214;
  background: #740930;
  border-radius: 2px;
}

.controller-block-39 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #754732;
  background: #743107;
  border-radius: 7px;
}

.controller-block-40 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #507933;
  background: #993681;
  border-radius: 0px;
}

.controller-block-41 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #349624;
  background: #827983;
  border-radius: 6px;
}

.controller-block-42 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #143264;
  background: #763672;
  border-radius: 6px;
}

.controller-block-43 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #136881;
  background: #238268;
  border-radius: 5px;
}

.controller-block-44 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #423966;
  background: #854071;
  border-radius: 2px;
}

.controller-block-45 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #328572;
  background: #702074;
  border-radius: 5px;
}

.controller-block-46 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #668832;
  background: #655120;
  border-radius: 2px;
}

.controller-block-47 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #806226;
  background: #386051;
  border-radius: 0px;
}

.controller-block-48 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #920139;
  background: #642098;
  border-radius: 6px;
}

.controller-block-49 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #543430;
  background: #942929;
  border-radius: 4px;
}

.controller-block-50 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #912531;
  background: #574967;
  border-radius: 2px;
}

.controller-block-51 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #996422;
  background: #379784;
  border-radius: 1px;
}

.controller-block-52 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #781598;
  background: #928934;
  border-radius: 2px;
}

.controller-block-53 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #539801;
  background: #793241;
  border-radius: 7px;
}

.controller-block-54 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #708548;
  background: #977880;
  border-radius: 8px;
}

.controller-block-55 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #237447;
  background: #836655;
  border-radius: 4px;
}

.controller-block-56 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #305296;
  background: #105425;
  border-radius: 0px;
}

.controller-block-57 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #574397;
  background: #497714;
  border-radius: 6px;
}

.controller-block-58 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #359201;
  background: #562625;
  border-radius: 5px;
}

.controller-block-59 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #764981;
  background: #379040;
  border-radius: 0px;
}

.controller-block-60 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #184935;
  background: #108215;
  border-radius: 8px;
}

.controller-block-61 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #177201;
  background: #245576;
  border-radius: 7px;
}

.controller-block-62 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #228717;
  background: #188088;
  border-radius: 5px;
}

.controller-block-63 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #904495;
  background: #837022;
  border-radius: 7px;
}

.controller-block-64 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #143657;
  background: #316678;
  border-radius: 4px;
}

.controller-block-65 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #254744;
  background: #597559;
  border-radius: 1px;
}

.controller-block-66 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #260554;
  background: #845258;
  border-radius: 7px;
}

.controller-block-67 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #244108;
  background: #554921;
  border-radius: 6px;
}

.controller-block-68 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #422314;
  background: #222210;
  border-radius: 8px;
}

.controller-block-69 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #761062;
  background: #642670;
  border-radius: 0px;
}

.controller-block-70 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #388556;
  background: #199220;
  border-radius: 2px;
}

.controller-block-71 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #635279;
  background: #509630;
  border-radius: 8px;
}

.controller-block-72 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #456104;
  background: #196451;
  border-radius: 4px;
}

.controller-block-73 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #587882;
  background: #255061;
  border-radius: 2px;
}

.controller-block-74 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #337285;
  background: #540240;
  border-radius: 4px;
}

.controller-block-75 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #785386;
  background: #473587;
  border-radius: 1px;
}

.controller-block-76 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #997409;
  background: #709988;
  border-radius: 6px;
}

.controller-block-77 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #250620;
  background: #446296;
  border-radius: 0px;
}

.controller-block-78 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #231810;
  background: #707987;
  border-radius: 2px;
}

.controller-block-79 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #431273;
  background: #480186;
  border-radius: 2px;
}

.controller-block-80 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #867627;
  background: #578116;
  border-radius: 8px;
}

.controller-block-81 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #971733;
  background: #533362;
  border-radius: 3px;
}

.controller-block-82 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #962293;
  background: #577965;
  border-radius: 7px;
}

.controller-block-83 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #607808;
  background: #574443;
  border-radius: 0px;
}

.controller-block-84 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #445832;
  background: #435207;
  border-radius: 7px;
}

.controller-block-85 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #288003;
  background: #967693;
  border-radius: 6px;
}

.controller-block-86 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #773666;
  background: #124215;
  border-radius: 5px;
}

.controller-block-87 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #250525;
  background: #156728;
  border-radius: 2px;
}

.controller-block-88 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #827051;
  background: #764260;
  border-radius: 8px;
}

.controller-block-89 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #733305;
  background: #195561;
  border-radius: 5px;
}

.controller-block-90 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #975719;
  background: #497350;
  border-radius: 6px;
}

.controller-block-91 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #396414;
  background: #252373;
  border-radius: 6px;
}

.controller-block-92 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #407989;
  background: #233185;
  border-radius: 0px;
}

.controller-block-93 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #673427;
  background: #245111;
  border-radius: 4px;
}

.controller-block-94 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #593915;
  background: #381981;
  border-radius: 1px;
}

.controller-block-95 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #471914;
  background: #564976;
  border-radius: 8px;
}

.controller-block-96 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #783011;
  background: #314390;
  border-radius: 6px;
}

.controller-block-97 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #494508;
  background: #860379;
  border-radius: 4px;
}

.controller-block-98 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #506234;
  background: #922601;
  border-radius: 7px;
}

.controller-block-99 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #182175;
  background: #496208;
  border-radius: 4px;
}

.controller-block-100 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #758178;
  background: #789226;
  border-radius: 1px;
}

.controller-block-101 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #871640;
  background: #927594;
  border-radius: 6px;
}

.controller-block-102 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #936369;
  background: #331993;
  border-radius: 7px;
}

.controller-block-103 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #940658;
  background: #939933;
  border-radius: 5px;
}

.controller-block-104 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #716179;
  background: #663869;
  border-radius: 0px;
}

.controller-block-105 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #669225;
  background: #964072;
  border-radius: 4px;
}

.controller-block-106 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #698581;
  background: #921212;
  border-radius: 4px;
}

.controller-block-107 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #103121;
  background: #283461;
  border-radius: 4px;
}

.controller-block-108 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #189939;
  background: #348181;
  border-radius: 2px;
}

.controller-block-109 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #449617;
  background: #665026;
  border-radius: 4px;
}

.controller-block-110 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #514525;
  background: #215223;
  border-radius: 5px;
}

.controller-block-111 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #295071;
  background: #773737;
  border-radius: 6px;
}

.controller-block-112 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #527742;
  background: #274121;
  border-radius: 4px;
}

.controller-block-113 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #691636;
  background: #128595;
  border-radius: 6px;
}

.controller-block-114 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #347363;
  background: #143230;
  border-radius: 5px;
}

.controller-block-115 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #546728;
  background: #231295;
  border-radius: 1px;
}

.controller-block-116 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #457662;
  background: #355277;
  border-radius: 3px;
}

.controller-block-117 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #245506;
  background: #104412;
  border-radius: 5px;
}

.controller-block-118 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #723476;
  background: #117793;
  border-radius: 4px;
}

.controller-block-119 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #974574;
  background: #119763;
  border-radius: 4px;
}

.controller-block-120 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #484128;
  background: #414067;
  border-radius: 2px;
}

.controller-block-121 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #775783;
  background: #436016;
  border-radius: 2px;
}

.controller-block-122 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #237081;
  background: #341759;
  border-radius: 0px;
}

.controller-block-123 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #773549;
  background: #903759;
  border-radius: 0px;
}

.controller-block-124 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #774430;
  background: #128182;
  border-radius: 7px;
}

.controller-block-125 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #668826;
  background: #592426;
  border-radius: 4px;
}

.controller-block-126 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #558077;
  background: #507104;
  border-radius: 3px;
}

.controller-block-127 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #108949;
  background: #852973;
  border-radius: 3px;
}

.controller-block-128 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #817979;
  background: #872827;
  border-radius: 8px;
}

.controller-block-129 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #806393;
  background: #109183;
  border-radius: 2px;
}
