/* factory styles v1 */

.factory-block-1 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #317483;
  background: #463097;
  border-radius: 3px;
}

.factory-block-2 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #639721;
  background: #755142;
  border-radius: 3px;
}

.factory-block-3 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #844629;
  background: #498776;
  border-radius: 6px;
}

.factory-block-4 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #358122;
  background: #149419;
  border-radius: 2px;
}

.factory-block-5 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #791964;
  background: #651980;
  border-radius: 3px;
}

.factory-block-6 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #279334;
  background: #976308;
  border-radius: 4px;
}

.factory-block-7 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #673308;
  background: #675676;
  border-radius: 0px;
}

.factory-block-8 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #925296;
  background: #644608;
  border-radius: 3px;
}

.factory-block-9 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #629627;
  background: #668575;
  border-radius: 2px;
}

.factory-block-10 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #430035;
  background: #935706;
  border-radius: 2px;
}

.factory-block-11 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #504627;
  background: #773870;
  border-radius: 6px;
}

.factory-block-12 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #870991;
  background: #591099;
  border-radius: 1px;
}

.factory-block-13 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #693811;
  background: #491433;
  border-radius: 2px;
}

.factory-block-14 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #609421;
  background: #467313;
  border-radius: 1px;
}

.factory-block-15 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #904491;
  background: #609877;
  border-radius: 4px;
}

.factory-block-16 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #953534;
  background: #479201;
  border-radius: 4px;
}

.factory-block-17 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #419853;
  background: #637262;
  border-radius: 0px;
}

.factory-block-18 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #625666;
  background: #382430;
  border-radius: 0px;
}

.factory-block-19 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #753974;
  background: #279232;
  border-radius: 5px;
}

.factory-block-20 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #442622;
  background: #457773;
  border-radius: 8px;
}

.factory-block-21 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #673130;
  background: #812300;
  border-radius: 4px;
}

.factory-block-22 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #537590;
  background: #459890;
  border-radius: 1px;
}

.factory-block-23 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #847831;
  background: #109080;
  border-radius: 4px;
}

.factory-block-24 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #243887;
  background: #537964;
  border-radius: 7px;
}

.factory-block-25 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #146257;
  background: #522764;
  border-radius: 6px;
}

.factory-block-26 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #956613;
  background: #530908;
  border-radius: 3px;
}

.factory-block-27 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #589214;
  background: #411255;
  border-radius: 6px;
}

.factory-block-28 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #269264;
  background: #242364;
  border-radius: 7px;
}

.factory-block-29 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #215756;
  background: #308459;
  border-radius: 4px;
}

.factory-block-30 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #779673;
  background: #116367;
  border-radius: 4px;
}

.factory-block-31 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #563376;
  background: #712417;
  border-radius: 8px;
}

.factory-block-32 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #854725;
  background: #919879;
  border-radius: 0px;
}

.factory-block-33 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #103515;
  background: #688578;
  border-radius: 7px;
}

.factory-block-34 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #467163;
  background: #399356;
  border-radius: 7px;
}

.factory-block-35 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #598207;
  background: #162795;
  border-radius: 1px;
}

.factory-block-36 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #251931;
  background: #671640;
  border-radius: 8px;
}

.factory-block-37 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #413340;
  background: #633781;
  border-radius: 3px;
}

.factory-block-38 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #304947;
  background: #840778;
  border-radius: 6px;
}

.factory-block-39 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #244385;
  background: #150113;
  border-radius: 1px;
}

.factory-block-40 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #245380;
  background: #858260;
  border-radius: 6px;
}

.factory-block-41 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #937920;
  background: #303604;
  border-radius: 5px;
}

.factory-block-42 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #414525;
  background: #970837;
  border-radius: 2px;
}

.factory-block-43 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #732979;
  background: #470247;
  border-radius: 3px;
}

.factory-block-44 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #671601;
  background: #183752;
  border-radius: 6px;
}

.factory-block-45 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #456514;
  background: #413260;
  border-radius: 0px;
}

.factory-block-46 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #500397;
  background: #114213;
  border-radius: 1px;
}

.factory-block-47 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #493301;
  background: #431186;
  border-radius: 8px;
}

.factory-block-48 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #741962;
  background: #276417;
  border-radius: 1px;
}

.factory-block-49 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #168672;
  background: #718900;
  border-radius: 3px;
}

.factory-block-50 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #248710;
  background: #631743;
  border-radius: 8px;
}

.factory-block-51 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #838824;
  background: #291861;
  border-radius: 8px;
}

.factory-block-52 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #995658;
  background: #112023;
  border-radius: 3px;
}

.factory-block-53 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #934306;
  background: #335396;
  border-radius: 2px;
}

.factory-block-54 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #616222;
  background: #686422;
  border-radius: 4px;
}

.factory-block-55 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #853981;
  background: #462388;
  border-radius: 4px;
}

.factory-block-56 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #834429;
  background: #949572;
  border-radius: 8px;
}

.factory-block-57 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #915416;
  background: #125695;
  border-radius: 6px;
}

.factory-block-58 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #173669;
  background: #566521;
  border-radius: 1px;
}

.factory-block-59 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #339654;
  background: #617314;
  border-radius: 0px;
}

.factory-block-60 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #315589;
  background: #474988;
  border-radius: 3px;
}

.factory-block-61 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #439800;
  background: #425831;
  border-radius: 4px;
}

.factory-block-62 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #692591;
  background: #923663;
  border-radius: 5px;
}

.factory-block-63 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #200169;
  background: #198401;
  border-radius: 6px;
}

.factory-block-64 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #704908;
  background: #973019;
  border-radius: 1px;
}

.factory-block-65 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #432032;
  background: #194638;
  border-radius: 7px;
}

.factory-block-66 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #389669;
  background: #308642;
  border-radius: 3px;
}

.factory-block-67 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #679604;
  background: #208532;
  border-radius: 1px;
}

.factory-block-68 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #315929;
  background: #772680;
  border-radius: 5px;
}

.factory-block-69 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #782055;
  background: #302229;
  border-radius: 3px;
}

.factory-block-70 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #267654;
  background: #512809;
  border-radius: 4px;
}

.factory-block-71 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #780227;
  background: #123286;
  border-radius: 8px;
}

.factory-block-72 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #387267;
  background: #536541;
  border-radius: 4px;
}

.factory-block-73 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #746673;
  background: #396314;
  border-radius: 2px;
}

.factory-block-74 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #616933;
  background: #547839;
  border-radius: 4px;
}

.factory-block-75 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #620879;
  background: #171757;
  border-radius: 3px;
}

.factory-block-76 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #874459;
  background: #389175;
  border-radius: 6px;
}

.factory-block-77 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #104267;
  background: #610408;
  border-radius: 6px;
}

.factory-block-78 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #966801;
  background: #821692;
  border-radius: 0px;
}

.factory-block-79 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #618107;
  background: #563173;
  border-radius: 8px;
}

.factory-block-80 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #457932;
  background: #105076;
  border-radius: 5px;
}

.factory-block-81 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #908055;
  background: #702998;
  border-radius: 1px;
}

.factory-block-82 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #800515;
  background: #593573;
  border-radius: 3px;
}

.factory-block-83 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #597862;
  background: #260870;
  border-radius: 3px;
}

.factory-block-84 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #893644;
  background: #401373;
  border-radius: 2px;
}

.factory-block-85 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #908183;
  background: #241727;
  border-radius: 3px;
}

.factory-block-86 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #373164;
  background: #815711;
  border-radius: 6px;
}

.factory-block-87 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #370580;
  background: #830209;
  border-radius: 1px;
}

.factory-block-88 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #757961;
  background: #905626;
  border-radius: 3px;
}

.factory-block-89 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #537996;
  background: #971664;
  border-radius: 1px;
}

.factory-block-90 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #296442;
  background: #394767;
  border-radius: 1px;
}

.factory-block-91 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #827456;
  background: #411960;
  border-radius: 1px;
}

.factory-block-92 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #763337;
  background: #494045;
  border-radius: 5px;
}

.factory-block-93 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #584764;
  background: #131714;
  border-radius: 6px;
}

.factory-block-94 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #579378;
  background: #230681;
  border-radius: 4px;
}

.factory-block-95 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #340713;
  background: #897755;
  border-radius: 2px;
}

.factory-block-96 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #746361;
  background: #520425;
  border-radius: 8px;
}

.factory-block-97 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #290205;
  background: #608241;
  border-radius: 5px;
}

.factory-block-98 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #939087;
  background: #815779;
  border-radius: 5px;
}

.factory-block-99 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #375697;
  background: #309143;
  border-radius: 4px;
}

.factory-block-100 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #154719;
  background: #881117;
  border-radius: 0px;
}

.factory-block-101 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #451100;
  background: #139952;
  border-radius: 7px;
}

.factory-block-102 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #820593;
  background: #101935;
  border-radius: 2px;
}

.factory-block-103 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #247595;
  background: #206827;
  border-radius: 5px;
}

.factory-block-104 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #584660;
  background: #686350;
  border-radius: 6px;
}

.factory-block-105 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #115321;
  background: #313123;
  border-radius: 5px;
}

.factory-block-106 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #489810;
  background: #368628;
  border-radius: 6px;
}

.factory-block-107 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #780596;
  background: #581636;
  border-radius: 1px;
}

.factory-block-108 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #145495;
  background: #233210;
  border-radius: 3px;
}

.factory-block-109 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #893576;
  background: #711211;
  border-radius: 4px;
}

.factory-block-110 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #288722;
  background: #649675;
  border-radius: 6px;
}

.factory-block-111 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #852310;
  background: #803797;
  border-radius: 6px;
}

.factory-block-112 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #252727;
  background: #300590;
  border-radius: 0px;
}

.factory-block-113 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #732201;
  background: #507927;
  border-radius: 8px;
}

.factory-block-114 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #766836;
  background: #101475;
  border-radius: 8px;
}

.factory-block-115 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #731245;
  background: #232075;
  border-radius: 8px;
}

.factory-block-116 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #676341;
  background: #411431;
  border-radius: 0px;
}

.factory-block-117 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #617284;
  background: #317829;
  border-radius: 2px;
}

.factory-block-118 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #327960;
  background: #120573;
  border-radius: 1px;
}

.factory-block-119 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #240171;
  background: #409332;
  border-radius: 8px;
}

.factory-block-120 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #295843;
  background: #632554;
  border-radius: 7px;
}

.factory-block-121 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #205462;
  background: #943496;
  border-radius: 1px;
}

.factory-block-122 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #756389;
  background: #443345;
  border-radius: 3px;
}

.factory-block-123 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #703170;
  background: #196084;
  border-radius: 2px;
}

.factory-block-124 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #538597;
  background: #907410;
  border-radius: 6px;
}

.factory-block-125 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #901685;
  background: #383348;
  border-radius: 5px;
}

.factory-block-126 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #611533;
  background: #885626;
  border-radius: 2px;
}

.factory-block-127 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #959191;
  background: #618594;
  border-radius: 1px;
}

.factory-block-128 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #603021;
  background: #242040;
  border-radius: 6px;
}

.factory-block-129 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #929266;
  background: #589166;
  border-radius: 4px;
}

.factory-block-130 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #805077;
  background: #805102;
  border-radius: 4px;
}

.factory-block-131 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #449927;
  background: #433097;
  border-radius: 5px;
}

.factory-block-132 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #793215;
  background: #989589;
  border-radius: 5px;
}

.factory-block-133 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #462528;
  background: #587394;
  border-radius: 7px;
}

.factory-block-134 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #999711;
  background: #294253;
  border-radius: 7px;
}

.factory-block-135 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #114810;
  background: #532684;
  border-radius: 5px;
}

.factory-block-136 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #816574;
  background: #303646;
  border-radius: 2px;
}

.factory-block-137 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #917363;
  background: #503263;
  border-radius: 0px;
}

.factory-block-138 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #793520;
  background: #136684;
  border-radius: 8px;
}

.factory-block-139 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #150960;
  background: #448431;
  border-radius: 5px;
}

.factory-block-140 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #820952;
  background: #555763;
  border-radius: 4px;
}

.factory-block-141 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #720010;
  background: #751813;
  border-radius: 5px;
}

.factory-block-142 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #979063;
  background: #484649;
  border-radius: 7px;
}

.factory-block-143 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #220874;
  background: #121335;
  border-radius: 6px;
}

.factory-block-144 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #572940;
  background: #537434;
  border-radius: 2px;
}

.factory-block-145 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #899376;
  background: #684870;
  border-radius: 2px;
}

.factory-block-146 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #391238;
  background: #240571;
  border-radius: 1px;
}

.factory-block-147 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #715697;
  background: #546600;
  border-radius: 5px;
}

.factory-block-148 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #503818;
  background: #591867;
  border-radius: 5px;
}

.factory-block-149 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #773193;
  background: #308049;
  border-radius: 1px;
}

.factory-block-150 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #282967;
  background: #250386;
  border-radius: 6px;
}

.factory-block-151 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #306858;
  background: #716861;
  border-radius: 8px;
}

.factory-block-152 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #474747;
  background: #145848;
  border-radius: 0px;
}

.factory-block-153 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #223345;
  background: #806829;
  border-radius: 4px;
}

.factory-block-154 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #492781;
  background: #141514;
  border-radius: 5px;
}

.factory-block-155 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #543907;
  background: #215889;
  border-radius: 8px;
}

.factory-block-156 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #437766;
  background: #537017;
  border-radius: 2px;
}

.factory-block-157 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #980664;
  background: #745782;
  border-radius: 6px;
}

.factory-block-158 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #693365;
  background: #463267;
  border-radius: 7px;
}

.factory-block-159 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #581347;
  background: #839351;
  border-radius: 6px;
}

.factory-block-160 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #194139;
  background: #156872;
  border-radius: 1px;
}

.factory-block-161 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #464511;
  background: #330002;
  border-radius: 0px;
}

.factory-block-162 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #435112;
  background: #412515;
  border-radius: 8px;
}

.factory-block-163 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #442296;
  background: #844177;
  border-radius: 6px;
}

.factory-block-164 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #176644;
  background: #654797;
  border-radius: 2px;
}

.factory-block-165 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #747454;
  background: #242808;
  border-radius: 7px;
}

.factory-block-166 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #923773;
  background: #552421;
  border-radius: 4px;
}

.factory-block-167 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #851760;
  background: #853113;
  border-radius: 2px;
}

.factory-block-168 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #907339;
  background: #873450;
  border-radius: 1px;
}

.factory-block-169 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #540359;
  background: #698777;
  border-radius: 2px;
}

.factory-block-170 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #896240;
  background: #357048;
  border-radius: 0px;
}

.factory-block-171 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #497363;
  background: #166001;
  border-radius: 6px;
}

.factory-block-172 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #807386;
  background: #410800;
  border-radius: 7px;
}

.factory-block-173 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #418200;
  background: #276171;
  border-radius: 0px;
}

.factory-block-174 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #783540;
  background: #439663;
  border-radius: 8px;
}

.factory-block-175 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #800324;
  background: #254371;
  border-radius: 1px;
}

.factory-block-176 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #360478;
  background: #729146;
  border-radius: 4px;
}

.factory-block-177 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #431906;
  background: #617825;
  border-radius: 8px;
}

.factory-block-178 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #775103;
  background: #647541;
  border-radius: 6px;
}

.factory-block-179 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #604499;
  background: #940882;
  border-radius: 7px;
}

.factory-block-180 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #156458;
  background: #956414;
  border-radius: 5px;
}

.factory-block-181 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #976556;
  background: #814549;
  border-radius: 1px;
}

.factory-block-182 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #223352;
  background: #731090;
  border-radius: 3px;
}

.factory-block-183 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #316307;
  background: #190208;
  border-radius: 8px;
}

.factory-block-184 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #366659;
  background: #150059;
  border-radius: 4px;
}

.factory-block-185 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #911237;
  background: #610113;
  border-radius: 5px;
}

.factory-block-186 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #652701;
  background: #620099;
  border-radius: 1px;
}

.factory-block-187 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #153341;
  background: #562892;
  border-radius: 7px;
}

.factory-block-188 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #427555;
  background: #918866;
  border-radius: 6px;
}

.factory-block-189 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #650863;
  background: #291882;
  border-radius: 1px;
}

.factory-block-190 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #461994;
  background: #264933;
  border-radius: 8px;
}

.factory-block-191 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #784489;
  background: #408766;
  border-radius: 5px;
}

.factory-block-192 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #634277;
  background: #522988;
  border-radius: 4px;
}

.factory-block-193 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #175298;
  background: #656154;
  border-radius: 6px;
}

.factory-block-194 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #234478;
  background: #125480;
  border-radius: 7px;
}

.factory-block-195 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #469369;
  background: #301476;
  border-radius: 0px;
}

.factory-block-196 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #370545;
  background: #797507;
  border-radius: 7px;
}

.factory-block-197 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #126058;
  background: #362262;
  border-radius: 6px;
}

.factory-block-198 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #894352;
  background: #915661;
  border-radius: 6px;
}

.factory-block-199 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #129890;
  background: #540686;
  border-radius: 7px;
}

.factory-block-200 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #526596;
  background: #969847;
  border-radius: 1px;
}

.factory-block-201 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #885935;
  background: #814520;
  border-radius: 6px;
}

.factory-block-202 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #573958;
  background: #536324;
  border-radius: 1px;
}

.factory-block-203 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #111762;
  background: #873520;
  border-radius: 1px;
}

.factory-block-204 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #781663;
  background: #666351;
  border-radius: 1px;
}
