/* hook styles v1 */

.hook-block-1 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #982374;
  background: #212566;
  border-radius: 6px;
}

.hook-block-2 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #234441;
  background: #362914;
  border-radius: 5px;
}

.hook-block-3 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #524788;
  background: #217395;
  border-radius: 2px;
}

.hook-block-4 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #116809;
  background: #443660;
  border-radius: 6px;
}

.hook-block-5 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #933629;
  background: #205074;
  border-radius: 1px;
}

.hook-block-6 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #602594;
  background: #742873;
  border-radius: 2px;
}

.hook-block-7 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #538540;
  background: #102416;
  border-radius: 8px;
}

.hook-block-8 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #385259;
  background: #590697;
  border-radius: 4px;
}

.hook-block-9 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #459497;
  background: #397441;
  border-radius: 7px;
}

.hook-block-10 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #280984;
  background: #264912;
  border-radius: 3px;
}

.hook-block-11 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #531644;
  background: #317145;
  border-radius: 8px;
}

.hook-block-12 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #356928;
  background: #571564;
  border-radius: 0px;
}

.hook-block-13 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #113993;
  background: #566740;
  border-radius: 0px;
}

.hook-block-14 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #388091;
  background: #409060;
  border-radius: 2px;
}

.hook-block-15 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #573230;
  background: #135031;
  border-radius: 4px;
}

.hook-block-16 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #651530;
  background: #173277;
  border-radius: 7px;
}

.hook-block-17 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #581596;
  background: #841378;
  border-radius: 7px;
}

.hook-block-18 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #907773;
  background: #545673;
  border-radius: 1px;
}

.hook-block-19 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #491359;
  background: #355651;
  border-radius: 3px;
}

.hook-block-20 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #908105;
  background: #410417;
  border-radius: 1px;
}

.hook-block-21 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #703944;
  background: #994948;
  border-radius: 8px;
}

.hook-block-22 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #433996;
  background: #776333;
  border-radius: 6px;
}

.hook-block-23 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #545669;
  background: #770877;
  border-radius: 0px;
}

.hook-block-24 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #802844;
  background: #191264;
  border-radius: 1px;
}

.hook-block-25 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #450369;
  background: #560102;
  border-radius: 4px;
}

.hook-block-26 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #293400;
  background: #936563;
  border-radius: 5px;
}

.hook-block-27 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #638388;
  background: #679972;
  border-radius: 8px;
}

.hook-block-28 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #136155;
  background: #234048;
  border-radius: 2px;
}

.hook-block-29 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #127596;
  background: #901506;
  border-radius: 0px;
}

.hook-block-30 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #909760;
  background: #893174;
  border-radius: 8px;
}

.hook-block-31 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #721544;
  background: #105172;
  border-radius: 1px;
}

.hook-block-32 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #365529;
  background: #128596;
  border-radius: 0px;
}

.hook-block-33 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #848916;
  background: #711942;
  border-radius: 5px;
}

.hook-block-34 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #999398;
  background: #294050;
  border-radius: 1px;
}

.hook-block-35 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #783173;
  background: #484317;
  border-radius: 6px;
}

.hook-block-36 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #285777;
  background: #763705;
  border-radius: 3px;
}

.hook-block-37 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #708139;
  background: #920615;
  border-radius: 8px;
}

.hook-block-38 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #511624;
  background: #653189;
  border-radius: 1px;
}

.hook-block-39 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #820354;
  background: #242102;
  border-radius: 7px;
}

.hook-block-40 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #383178;
  background: #265556;
  border-radius: 0px;
}

.hook-block-41 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #228653;
  background: #127723;
  border-radius: 7px;
}

.hook-block-42 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #353248;
  background: #278809;
  border-radius: 1px;
}

.hook-block-43 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #531861;
  background: #666492;
  border-radius: 7px;
}

.hook-block-44 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #915130;
  background: #617468;
  border-radius: 8px;
}

.hook-block-45 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #282883;
  background: #604377;
  border-radius: 1px;
}

.hook-block-46 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #261248;
  background: #677335;
  border-radius: 8px;
}

.hook-block-47 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #488265;
  background: #841890;
  border-radius: 2px;
}

.hook-block-48 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #591845;
  background: #956313;
  border-radius: 4px;
}

.hook-block-49 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #202480;
  background: #121892;
  border-radius: 7px;
}

.hook-block-50 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #912637;
  background: #991072;
  border-radius: 7px;
}

.hook-block-51 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #462287;
  background: #215591;
  border-radius: 1px;
}

.hook-block-52 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #261653;
  background: #565911;
  border-radius: 7px;
}

.hook-block-53 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #424543;
  background: #899555;
  border-radius: 4px;
}

.hook-block-54 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #385600;
  background: #452393;
  border-radius: 3px;
}

.hook-block-55 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #727213;
  background: #599113;
  border-radius: 8px;
}

.hook-block-56 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #926493;
  background: #612703;
  border-radius: 2px;
}

.hook-block-57 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #744188;
  background: #584902;
  border-radius: 5px;
}

.hook-block-58 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #510968;
  background: #262229;
  border-radius: 7px;
}

.hook-block-59 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #656197;
  background: #530944;
  border-radius: 2px;
}

.hook-block-60 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #939131;
  background: #194022;
  border-radius: 4px;
}

.hook-block-61 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #768779;
  background: #605579;
  border-radius: 8px;
}

.hook-block-62 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #178081;
  background: #125699;
  border-radius: 7px;
}

.hook-block-63 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #880250;
  background: #352278;
  border-radius: 8px;
}

.hook-block-64 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #158688;
  background: #494278;
  border-radius: 8px;
}

.hook-block-65 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #394128;
  background: #856849;
  border-radius: 8px;
}

.hook-block-66 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #584113;
  background: #202678;
  border-radius: 8px;
}

.hook-block-67 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #187728;
  background: #572312;
  border-radius: 4px;
}

.hook-block-68 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #166021;
  background: #469361;
  border-radius: 7px;
}

.hook-block-69 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #147986;
  background: #313803;
  border-radius: 4px;
}

.hook-block-70 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #840912;
  background: #556118;
  border-radius: 0px;
}

.hook-block-71 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #173151;
  background: #624638;
  border-radius: 4px;
}

.hook-block-72 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #665543;
  background: #104587;
  border-radius: 1px;
}

.hook-block-73 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #571125;
  background: #882348;
  border-radius: 1px;
}

.hook-block-74 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #378426;
  background: #305932;
  border-radius: 4px;
}

.hook-block-75 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #268132;
  background: #841333;
  border-radius: 4px;
}

.hook-block-76 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #525018;
  background: #516478;
  border-radius: 0px;
}

.hook-block-77 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #931335;
  background: #328015;
  border-radius: 4px;
}

.hook-block-78 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #508769;
  background: #721270;
  border-radius: 0px;
}

.hook-block-79 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #212263;
  background: #796264;
  border-radius: 3px;
}

.hook-block-80 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #429915;
  background: #293719;
  border-radius: 8px;
}

.hook-block-81 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #490640;
  background: #846673;
  border-radius: 3px;
}

.hook-block-82 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #439998;
  background: #508966;
  border-radius: 6px;
}

.hook-block-83 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #246750;
  background: #894216;
  border-radius: 7px;
}

.hook-block-84 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #753876;
  background: #297574;
  border-radius: 5px;
}

.hook-block-85 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #371055;
  background: #666192;
  border-radius: 7px;
}

.hook-block-86 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #353660;
  background: #581009;
  border-radius: 2px;
}

.hook-block-87 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #338608;
  background: #807364;
  border-radius: 0px;
}

.hook-block-88 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #171850;
  background: #567094;
  border-radius: 1px;
}

.hook-block-89 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #689185;
  background: #193133;
  border-radius: 4px;
}

.hook-block-90 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #985166;
  background: #708817;
  border-radius: 4px;
}

.hook-block-91 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #868245;
  background: #285686;
  border-radius: 5px;
}

.hook-block-92 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #767481;
  background: #199419;
  border-radius: 1px;
}

.hook-block-93 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #454982;
  background: #443512;
  border-radius: 3px;
}

.hook-block-94 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #171064;
  background: #397147;
  border-radius: 0px;
}

.hook-block-95 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #238232;
  background: #892855;
  border-radius: 8px;
}

.hook-block-96 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #411278;
  background: #500495;
  border-radius: 3px;
}

.hook-block-97 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #754987;
  background: #521712;
  border-radius: 3px;
}

.hook-block-98 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #552268;
  background: #335442;
  border-radius: 3px;
}

.hook-block-99 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #386075;
  background: #244182;
  border-radius: 5px;
}

.hook-block-100 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #211168;
  background: #226510;
  border-radius: 8px;
}

.hook-block-101 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #265340;
  background: #236606;
  border-radius: 4px;
}

.hook-block-102 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #547308;
  background: #109435;
  border-radius: 0px;
}

.hook-block-103 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #808809;
  background: #248182;
  border-radius: 4px;
}

.hook-block-104 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #161957;
  background: #761365;
  border-radius: 7px;
}

.hook-block-105 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #264903;
  background: #668944;
  border-radius: 4px;
}

.hook-block-106 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #334655;
  background: #680815;
  border-radius: 8px;
}

.hook-block-107 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #632217;
  background: #678300;
  border-radius: 6px;
}

.hook-block-108 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #445294;
  background: #600493;
  border-radius: 3px;
}

.hook-block-109 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #543783;
  background: #229073;
  border-radius: 6px;
}

.hook-block-110 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #808204;
  background: #567781;
  border-radius: 0px;
}

.hook-block-111 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #582492;
  background: #926390;
  border-radius: 3px;
}

.hook-block-112 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #856672;
  background: #136340;
  border-radius: 5px;
}

.hook-block-113 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #227582;
  background: #169053;
  border-radius: 2px;
}

.hook-block-114 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #694947;
  background: #984277;
  border-radius: 7px;
}

.hook-block-115 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #543149;
  background: #614487;
  border-radius: 0px;
}

.hook-block-116 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #961056;
  background: #165819;
  border-radius: 1px;
}

.hook-block-117 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #662684;
  background: #438230;
  border-radius: 7px;
}

.hook-block-118 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #848931;
  background: #320736;
  border-radius: 1px;
}

.hook-block-119 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #305013;
  background: #766442;
  border-radius: 5px;
}

.hook-block-120 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #203676;
  background: #265044;
  border-radius: 1px;
}
