/* transformer styles v4 */

.transformer-block-1 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #205331;
  background: #670265;
  border-radius: 7px;
}

.transformer-block-2 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #125174;
  background: #398556;
  border-radius: 5px;
}

.transformer-block-3 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #109265;
  background: #122976;
  border-radius: 3px;
}

.transformer-block-4 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #300199;
  background: #254340;
  border-radius: 4px;
}

.transformer-block-5 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #350177;
  background: #429250;
  border-radius: 5px;
}

.transformer-block-6 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #776923;
  background: #958832;
  border-radius: 8px;
}

.transformer-block-7 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #197491;
  background: #900067;
  border-radius: 3px;
}

.transformer-block-8 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #447849;
  background: #651461;
  border-radius: 7px;
}

.transformer-block-9 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #188900;
  background: #713729;
  border-radius: 5px;
}

.transformer-block-10 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #464889;
  background: #137834;
  border-radius: 7px;
}

.transformer-block-11 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #717884;
  background: #879959;
  border-radius: 4px;
}

.transformer-block-12 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #442256;
  background: #688581;
  border-radius: 1px;
}

.transformer-block-13 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #496916;
  background: #756110;
  border-radius: 0px;
}

.transformer-block-14 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #790399;
  background: #562861;
  border-radius: 0px;
}

.transformer-block-15 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #935901;
  background: #522919;
  border-radius: 5px;
}

.transformer-block-16 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #680806;
  background: #172907;
  border-radius: 5px;
}

.transformer-block-17 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #443788;
  background: #567190;
  border-radius: 1px;
}

.transformer-block-18 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #407977;
  background: #420526;
  border-radius: 6px;
}

.transformer-block-19 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #346219;
  background: #271993;
  border-radius: 0px;
}

.transformer-block-20 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #807197;
  background: #186184;
  border-radius: 5px;
}

.transformer-block-21 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #494548;
  background: #937741;
  border-radius: 7px;
}

.transformer-block-22 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #361014;
  background: #467410;
  border-radius: 5px;
}

.transformer-block-23 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #453016;
  background: #156020;
  border-radius: 7px;
}

.transformer-block-24 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #689941;
  background: #927041;
  border-radius: 7px;
}

.transformer-block-25 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #372449;
  background: #888642;
  border-radius: 4px;
}

.transformer-block-26 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #130048;
  background: #554481;
  border-radius: 7px;
}

.transformer-block-27 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #521827;
  background: #673205;
  border-radius: 5px;
}

.transformer-block-28 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #557984;
  background: #746003;
  border-radius: 1px;
}

.transformer-block-29 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #534704;
  background: #739854;
  border-radius: 6px;
}

.transformer-block-30 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #888942;
  background: #304344;
  border-radius: 7px;
}

.transformer-block-31 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #367055;
  background: #188074;
  border-radius: 5px;
}

.transformer-block-32 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #251280;
  background: #324745;
  border-radius: 4px;
}

.transformer-block-33 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #537771;
  background: #293555;
  border-radius: 1px;
}

.transformer-block-34 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #289289;
  background: #805390;
  border-radius: 7px;
}

.transformer-block-35 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #964185;
  background: #499621;
  border-radius: 2px;
}

.transformer-block-36 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #469107;
  background: #876150;
  border-radius: 7px;
}

.transformer-block-37 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #493761;
  background: #751750;
  border-radius: 4px;
}

.transformer-block-38 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #218358;
  background: #811902;
  border-radius: 2px;
}

.transformer-block-39 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #200761;
  background: #963456;
  border-radius: 2px;
}

.transformer-block-40 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #123958;
  background: #766725;
  border-radius: 5px;
}

.transformer-block-41 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #344515;
  background: #313665;
  border-radius: 6px;
}

.transformer-block-42 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #600875;
  background: #964173;
  border-radius: 4px;
}

.transformer-block-43 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #205206;
  background: #475772;
  border-radius: 3px;
}

.transformer-block-44 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #333810;
  background: #587944;
  border-radius: 2px;
}

.transformer-block-45 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #904916;
  background: #623235;
  border-radius: 3px;
}

.transformer-block-46 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #239977;
  background: #967714;
  border-radius: 6px;
}

.transformer-block-47 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #617530;
  background: #751938;
  border-radius: 4px;
}

.transformer-block-48 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #610576;
  background: #828083;
  border-radius: 8px;
}

.transformer-block-49 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #952015;
  background: #962013;
  border-radius: 3px;
}

.transformer-block-50 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #717631;
  background: #995605;
  border-radius: 5px;
}

.transformer-block-51 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #990994;
  background: #957540;
  border-radius: 8px;
}

.transformer-block-52 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #927573;
  background: #821101;
  border-radius: 5px;
}

.transformer-block-53 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #161503;
  background: #507784;
  border-radius: 0px;
}

.transformer-block-54 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #599841;
  background: #803050;
  border-radius: 2px;
}

.transformer-block-55 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #638798;
  background: #974665;
  border-radius: 7px;
}

.transformer-block-56 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #173798;
  background: #674138;
  border-radius: 2px;
}

.transformer-block-57 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #818122;
  background: #404234;
  border-radius: 3px;
}

.transformer-block-58 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #716951;
  background: #168205;
  border-radius: 0px;
}

.transformer-block-59 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #664849;
  background: #211264;
  border-radius: 2px;
}

.transformer-block-60 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #627834;
  background: #900185;
  border-radius: 2px;
}

.transformer-block-61 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #551562;
  background: #311952;
  border-radius: 5px;
}

.transformer-block-62 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #114361;
  background: #898335;
  border-radius: 2px;
}

.transformer-block-63 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #542672;
  background: #686382;
  border-radius: 1px;
}

.transformer-block-64 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #409203;
  background: #107495;
  border-radius: 7px;
}

.transformer-block-65 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #974400;
  background: #536097;
  border-radius: 0px;
}

.transformer-block-66 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #293960;
  background: #965366;
  border-radius: 1px;
}

.transformer-block-67 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #731531;
  background: #849089;
  border-radius: 7px;
}

.transformer-block-68 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #189965;
  background: #322297;
  border-radius: 5px;
}

.transformer-block-69 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #623665;
  background: #351041;
  border-radius: 2px;
}

.transformer-block-70 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #491603;
  background: #359900;
  border-radius: 6px;
}

.transformer-block-71 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #543814;
  background: #113910;
  border-radius: 1px;
}

.transformer-block-72 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #274390;
  background: #946365;
  border-radius: 4px;
}

.transformer-block-73 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #232568;
  background: #467291;
  border-radius: 3px;
}

.transformer-block-74 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #260927;
  background: #677738;
  border-radius: 6px;
}

.transformer-block-75 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #502760;
  background: #120570;
  border-radius: 7px;
}

.transformer-block-76 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #379504;
  background: #376025;
  border-radius: 4px;
}

.transformer-block-77 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #883980;
  background: #711015;
  border-radius: 8px;
}

.transformer-block-78 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #658830;
  background: #477995;
  border-radius: 7px;
}

.transformer-block-79 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #654570;
  background: #650873;
  border-radius: 3px;
}

.transformer-block-80 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #274328;
  background: #234138;
  border-radius: 3px;
}

.transformer-block-81 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #122200;
  background: #411469;
  border-radius: 7px;
}

.transformer-block-82 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #952929;
  background: #376858;
  border-radius: 2px;
}
