/* constants styles v2 */

.constants-block-1 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #628607;
  background: #923427;
  border-radius: 1px;
}

.constants-block-2 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #713449;
  background: #178170;
  border-radius: 7px;
}

.constants-block-3 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #674038;
  background: #657651;
  border-radius: 7px;
}

.constants-block-4 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #840752;
  background: #782708;
  border-radius: 3px;
}

.constants-block-5 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #715225;
  background: #965316;
  border-radius: 3px;
}

.constants-block-6 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #683992;
  background: #816204;
  border-radius: 6px;
}

.constants-block-7 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #392060;
  background: #292539;
  border-radius: 3px;
}

.constants-block-8 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #976472;
  background: #380258;
  border-radius: 5px;
}

.constants-block-9 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #885374;
  background: #847660;
  border-radius: 2px;
}

.constants-block-10 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #479589;
  background: #508281;
  border-radius: 3px;
}

.constants-block-11 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #718693;
  background: #861856;
  border-radius: 4px;
}

.constants-block-12 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #508935;
  background: #719564;
  border-radius: 6px;
}

.constants-block-13 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #734466;
  background: #951531;
  border-radius: 5px;
}

.constants-block-14 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #964849;
  background: #255410;
  border-radius: 1px;
}

.constants-block-15 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #549871;
  background: #367435;
  border-radius: 8px;
}

.constants-block-16 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #265824;
  background: #320327;
  border-radius: 2px;
}

.constants-block-17 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #368452;
  background: #790894;
  border-radius: 3px;
}

.constants-block-18 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #203959;
  background: #271624;
  border-radius: 1px;
}

.constants-block-19 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #558379;
  background: #635740;
  border-radius: 4px;
}

.constants-block-20 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #447632;
  background: #628239;
  border-radius: 6px;
}

.constants-block-21 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #662054;
  background: #766520;
  border-radius: 5px;
}

.constants-block-22 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #938906;
  background: #310331;
  border-radius: 8px;
}

.constants-block-23 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #381627;
  background: #430816;
  border-radius: 8px;
}

.constants-block-24 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #653203;
  background: #131421;
  border-radius: 5px;
}

.constants-block-25 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #346784;
  background: #957105;
  border-radius: 5px;
}

.constants-block-26 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #437731;
  background: #750915;
  border-radius: 0px;
}

.constants-block-27 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #521240;
  background: #770843;
  border-radius: 7px;
}

.constants-block-28 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #704198;
  background: #212894;
  border-radius: 5px;
}

.constants-block-29 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #799062;
  background: #561661;
  border-radius: 6px;
}

.constants-block-30 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #751856;
  background: #353407;
  border-radius: 1px;
}

.constants-block-31 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #587278;
  background: #974872;
  border-radius: 7px;
}

.constants-block-32 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #820058;
  background: #309400;
  border-radius: 0px;
}

.constants-block-33 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #823743;
  background: #932234;
  border-radius: 0px;
}

.constants-block-34 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #246560;
  background: #314033;
  border-radius: 0px;
}

.constants-block-35 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #144898;
  background: #191301;
  border-radius: 4px;
}

.constants-block-36 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #820008;
  background: #671883;
  border-radius: 3px;
}

.constants-block-37 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #853361;
  background: #961021;
  border-radius: 3px;
}

.constants-block-38 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #393662;
  background: #179452;
  border-radius: 0px;
}

.constants-block-39 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #546269;
  background: #484645;
  border-radius: 7px;
}

.constants-block-40 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #953681;
  background: #647938;
  border-radius: 8px;
}

.constants-block-41 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #208420;
  background: #810943;
  border-radius: 5px;
}

.constants-block-42 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #840470;
  background: #202498;
  border-radius: 2px;
}

.constants-block-43 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #955554;
  background: #582174;
  border-radius: 2px;
}

.constants-block-44 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #886912;
  background: #431549;
  border-radius: 0px;
}

.constants-block-45 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #989025;
  background: #503736;
  border-radius: 8px;
}

.constants-block-46 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #994064;
  background: #647246;
  border-radius: 0px;
}

.constants-block-47 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #899770;
  background: #206975;
  border-radius: 0px;
}

.constants-block-48 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #794275;
  background: #950428;
  border-radius: 8px;
}

.constants-block-49 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #893168;
  background: #804626;
  border-radius: 5px;
}

.constants-block-50 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #484980;
  background: #476194;
  border-radius: 4px;
}

.constants-block-51 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #303342;
  background: #949007;
  border-radius: 4px;
}

.constants-block-52 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #634920;
  background: #386255;
  border-radius: 5px;
}

.constants-block-53 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #682001;
  background: #567645;
  border-radius: 2px;
}

.constants-block-54 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #999337;
  background: #777396;
  border-radius: 8px;
}

.constants-block-55 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #789154;
  background: #650696;
  border-radius: 7px;
}

.constants-block-56 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #213273;
  background: #448152;
  border-radius: 2px;
}

.constants-block-57 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #937382;
  background: #230661;
  border-radius: 2px;
}

.constants-block-58 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #493496;
  background: #514346;
  border-radius: 7px;
}

.constants-block-59 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #553928;
  background: #108656;
  border-radius: 0px;
}

.constants-block-60 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #151158;
  background: #644679;
  border-radius: 1px;
}

.constants-block-61 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #782022;
  background: #674170;
  border-radius: 3px;
}

.constants-block-62 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #730296;
  background: #306429;
  border-radius: 4px;
}

.constants-block-63 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #550721;
  background: #618079;
  border-radius: 0px;
}

.constants-block-64 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #522912;
  background: #424692;
  border-radius: 3px;
}

.constants-block-65 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #657546;
  background: #382925;
  border-radius: 8px;
}

.constants-block-66 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #700934;
  background: #472750;
  border-radius: 1px;
}

.constants-block-67 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #336366;
  background: #811360;
  border-radius: 5px;
}

.constants-block-68 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #430053;
  background: #482349;
  border-radius: 7px;
}

.constants-block-69 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #680770;
  background: #374454;
  border-radius: 1px;
}

.constants-block-70 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #921557;
  background: #497151;
  border-radius: 6px;
}

.constants-block-71 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #866675;
  background: #567531;
  border-radius: 2px;
}

.constants-block-72 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #217051;
  background: #146597;
  border-radius: 2px;
}

.constants-block-73 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #723519;
  background: #483546;
  border-radius: 0px;
}

.constants-block-74 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #618612;
  background: #997244;
  border-radius: 4px;
}

.constants-block-75 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #247194;
  background: #194054;
  border-radius: 6px;
}

.constants-block-76 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #154786;
  background: #600436;
  border-radius: 3px;
}
