/* controller styles v3 */

.controller-block-1 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #527775;
  background: #666949;
  border-radius: 2px;
}

.controller-block-2 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #164327;
  background: #149706;
  border-radius: 2px;
}

.controller-block-3 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #120453;
  background: #856485;
  border-radius: 0px;
}

.controller-block-4 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #704857;
  background: #909581;
  border-radius: 5px;
}

.controller-block-5 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #578108;
  background: #237113;
  border-radius: 1px;
}

.controller-block-6 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #668712;
  background: #813726;
  border-radius: 0px;
}

.controller-block-7 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #843644;
  background: #371016;
  border-radius: 8px;
}

.controller-block-8 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #153607;
  background: #279335;
  border-radius: 0px;
}

.controller-block-9 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #930576;
  background: #592287;
  border-radius: 3px;
}

.controller-block-10 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #397729;
  background: #441416;
  border-radius: 3px;
}

.controller-block-11 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #950470;
  background: #511556;
  border-radius: 6px;
}

.controller-block-12 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #241144;
  background: #610376;
  border-radius: 6px;
}

.controller-block-13 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #232131;
  background: #978212;
  border-radius: 6px;
}

.controller-block-14 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #473041;
  background: #475935;
  border-radius: 4px;
}

.controller-block-15 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #964086;
  background: #979176;
  border-radius: 2px;
}

.controller-block-16 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #924443;
  background: #526326;
  border-radius: 4px;
}

.controller-block-17 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #831107;
  background: #712280;
  border-radius: 6px;
}

.controller-block-18 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #707909;
  background: #846363;
  border-radius: 4px;
}

.controller-block-19 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #811640;
  background: #172786;
  border-radius: 7px;
}

.controller-block-20 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #851557;
  background: #603382;
  border-radius: 3px;
}

.controller-block-21 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #662552;
  background: #314736;
  border-radius: 3px;
}

.controller-block-22 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #605687;
  background: #882480;
  border-radius: 1px;
}

.controller-block-23 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #996570;
  background: #725852;
  border-radius: 6px;
}

.controller-block-24 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #747659;
  background: #898229;
  border-radius: 3px;
}

.controller-block-25 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #462563;
  background: #766940;
  border-radius: 2px;
}

.controller-block-26 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #355680;
  background: #645265;
  border-radius: 8px;
}

.controller-block-27 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #825688;
  background: #605335;
  border-radius: 2px;
}

.controller-block-28 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #196104;
  background: #361207;
  border-radius: 0px;
}

.controller-block-29 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #619440;
  background: #798234;
  border-radius: 0px;
}

.controller-block-30 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #152919;
  background: #718430;
  border-radius: 0px;
}

.controller-block-31 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #961358;
  background: #386887;
  border-radius: 4px;
}

.controller-block-32 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #653569;
  background: #342538;
  border-radius: 3px;
}

.controller-block-33 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #894471;
  background: #427996;
  border-radius: 2px;
}

.controller-block-34 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #893439;
  background: #531301;
  border-radius: 8px;
}

.controller-block-35 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #694083;
  background: #845388;
  border-radius: 6px;
}

.controller-block-36 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #763343;
  background: #224439;
  border-radius: 8px;
}

.controller-block-37 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #270152;
  background: #314417;
  border-radius: 4px;
}

.controller-block-38 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #521593;
  background: #908361;
  border-radius: 2px;
}

.controller-block-39 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #355821;
  background: #324872;
  border-radius: 6px;
}

.controller-block-40 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #855818;
  background: #436924;
  border-radius: 4px;
}

.controller-block-41 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #708669;
  background: #186594;
  border-radius: 6px;
}

.controller-block-42 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #330988;
  background: #565768;
  border-radius: 2px;
}

.controller-block-43 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #619327;
  background: #676913;
  border-radius: 4px;
}

.controller-block-44 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #450257;
  background: #440111;
  border-radius: 4px;
}

.controller-block-45 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #828439;
  background: #761476;
  border-radius: 3px;
}

.controller-block-46 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #645596;
  background: #800149;
  border-radius: 6px;
}

.controller-block-47 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #553850;
  background: #181530;
  border-radius: 7px;
}

.controller-block-48 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #696889;
  background: #180843;
  border-radius: 7px;
}

.controller-block-49 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #831534;
  background: #272241;
  border-radius: 7px;
}

.controller-block-50 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #632601;
  background: #440001;
  border-radius: 8px;
}

.controller-block-51 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #132489;
  background: #689673;
  border-radius: 1px;
}

.controller-block-52 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #523395;
  background: #256440;
  border-radius: 6px;
}

.controller-block-53 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #639795;
  background: #359656;
  border-radius: 4px;
}

.controller-block-54 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #123546;
  background: #255001;
  border-radius: 0px;
}

.controller-block-55 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #511518;
  background: #651351;
  border-radius: 3px;
}

.controller-block-56 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #674862;
  background: #743388;
  border-radius: 8px;
}

.controller-block-57 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #422454;
  background: #302998;
  border-radius: 8px;
}

.controller-block-58 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #645347;
  background: #243533;
  border-radius: 3px;
}

.controller-block-59 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #127000;
  background: #818478;
  border-radius: 5px;
}

.controller-block-60 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #361247;
  background: #673792;
  border-radius: 5px;
}

.controller-block-61 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #323062;
  background: #192073;
  border-radius: 1px;
}

.controller-block-62 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #387731;
  background: #443755;
  border-radius: 7px;
}

.controller-block-63 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #178998;
  background: #136472;
  border-radius: 7px;
}

.controller-block-64 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #251424;
  background: #367385;
  border-radius: 7px;
}

.controller-block-65 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #918560;
  background: #566928;
  border-radius: 7px;
}

.controller-block-66 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #558660;
  background: #838512;
  border-radius: 3px;
}

.controller-block-67 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #898690;
  background: #963699;
  border-radius: 6px;
}

.controller-block-68 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #577882;
  background: #951919;
  border-radius: 1px;
}

.controller-block-69 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #768278;
  background: #676786;
  border-radius: 0px;
}

.controller-block-70 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #304309;
  background: #649409;
  border-radius: 6px;
}

.controller-block-71 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #818722;
  background: #682808;
  border-radius: 8px;
}

.controller-block-72 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #441122;
  background: #129750;
  border-radius: 5px;
}

.controller-block-73 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #235699;
  background: #434792;
  border-radius: 3px;
}

.controller-block-74 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #795158;
  background: #240361;
  border-radius: 7px;
}

.controller-block-75 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #692076;
  background: #993021;
  border-radius: 0px;
}

.controller-block-76 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #127829;
  background: #573427;
  border-radius: 0px;
}

.controller-block-77 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #290781;
  background: #570117;
  border-radius: 0px;
}

.controller-block-78 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #604753;
  background: #975917;
  border-radius: 7px;
}

.controller-block-79 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #429801;
  background: #697441;
  border-radius: 8px;
}

.controller-block-80 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #381874;
  background: #758090;
  border-radius: 4px;
}

.controller-block-81 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #525662;
  background: #203990;
  border-radius: 4px;
}

.controller-block-82 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #732714;
  background: #404697;
  border-radius: 4px;
}

.controller-block-83 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #152900;
  background: #124451;
  border-radius: 1px;
}

.controller-block-84 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #892210;
  background: #363508;
  border-radius: 4px;
}

.controller-block-85 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #841558;
  background: #301220;
  border-radius: 5px;
}

.controller-block-86 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #948541;
  background: #163224;
  border-radius: 2px;
}

.controller-block-87 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #478686;
  background: #547247;
  border-radius: 3px;
}

.controller-block-88 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #486727;
  background: #403551;
  border-radius: 1px;
}

.controller-block-89 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #689660;
  background: #973763;
  border-radius: 7px;
}

.controller-block-90 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #857778;
  background: #120491;
  border-radius: 5px;
}

.controller-block-91 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #986924;
  background: #190581;
  border-radius: 1px;
}

.controller-block-92 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #846123;
  background: #965915;
  border-radius: 7px;
}

.controller-block-93 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #773851;
  background: #637906;
  border-radius: 6px;
}

.controller-block-94 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #417109;
  background: #208557;
  border-radius: 5px;
}

.controller-block-95 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #536079;
  background: #338780;
  border-radius: 5px;
}

.controller-block-96 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #476863;
  background: #569923;
  border-radius: 7px;
}

.controller-block-97 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #648051;
  background: #751630;
  border-radius: 2px;
}

.controller-block-98 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #249943;
  background: #109487;
  border-radius: 2px;
}

.controller-block-99 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #624961;
  background: #184089;
  border-radius: 8px;
}

.controller-block-100 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #107275;
  background: #475188;
  border-radius: 3px;
}

.controller-block-101 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #266003;
  background: #283705;
  border-radius: 8px;
}

.controller-block-102 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #539042;
  background: #693963;
  border-radius: 2px;
}

.controller-block-103 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #620103;
  background: #679409;
  border-radius: 2px;
}

.controller-block-104 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #395859;
  background: #398989;
  border-radius: 0px;
}

.controller-block-105 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #266315;
  background: #291091;
  border-radius: 3px;
}

.controller-block-106 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #197771;
  background: #531858;
  border-radius: 6px;
}

.controller-block-107 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #894169;
  background: #984500;
  border-radius: 2px;
}

.controller-block-108 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #965863;
  background: #225130;
  border-radius: 0px;
}

.controller-block-109 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #500564;
  background: #506196;
  border-radius: 1px;
}

.controller-block-110 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #946519;
  background: #820099;
  border-radius: 7px;
}

.controller-block-111 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #445713;
  background: #119695;
  border-radius: 3px;
}

.controller-block-112 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #105192;
  background: #912130;
  border-radius: 8px;
}

.controller-block-113 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #137284;
  background: #660568;
  border-radius: 0px;
}

.controller-block-114 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #445859;
  background: #798128;
  border-radius: 2px;
}

.controller-block-115 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #995591;
  background: #466197;
  border-radius: 1px;
}

.controller-block-116 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #995709;
  background: #733536;
  border-radius: 0px;
}

.controller-block-117 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #199641;
  background: #596569;
  border-radius: 5px;
}

.controller-block-118 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #263010;
  background: #146271;
  border-radius: 4px;
}

.controller-block-119 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #980359;
  background: #977027;
  border-radius: 7px;
}

.controller-block-120 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #860999;
  background: #308174;
  border-radius: 8px;
}

.controller-block-121 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #619614;
  background: #643602;
  border-radius: 4px;
}

.controller-block-122 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #673160;
  background: #787333;
  border-radius: 3px;
}

.controller-block-123 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #887941;
  background: #587671;
  border-radius: 6px;
}

.controller-block-124 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #846644;
  background: #403166;
  border-radius: 4px;
}

.controller-block-125 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #316497;
  background: #360450;
  border-radius: 1px;
}

.controller-block-126 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #422219;
  background: #736723;
  border-radius: 2px;
}

.controller-block-127 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #205904;
  background: #140504;
  border-radius: 1px;
}

.controller-block-128 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #872086;
  background: #117497;
  border-radius: 2px;
}

.controller-block-129 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #932517;
  background: #270296;
  border-radius: 5px;
}

.controller-block-130 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #902555;
  background: #771434;
  border-radius: 0px;
}

.controller-block-131 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #677642;
  background: #362037;
  border-radius: 6px;
}

.controller-block-132 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #618136;
  background: #578976;
  border-radius: 2px;
}

.controller-block-133 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #683408;
  background: #639972;
  border-radius: 8px;
}

.controller-block-134 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #918284;
  background: #813175;
  border-radius: 1px;
}

.controller-block-135 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #186782;
  background: #857069;
  border-radius: 0px;
}

.controller-block-136 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #139182;
  background: #612377;
  border-radius: 8px;
}

.controller-block-137 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #106731;
  background: #580015;
  border-radius: 7px;
}

.controller-block-138 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #841673;
  background: #945983;
  border-radius: 2px;
}

.controller-block-139 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #515121;
  background: #808786;
  border-radius: 8px;
}

.controller-block-140 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #114176;
  background: #761591;
  border-radius: 1px;
}

.controller-block-141 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #315761;
  background: #967089;
  border-radius: 8px;
}

.controller-block-142 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #987217;
  background: #613614;
  border-radius: 1px;
}

.controller-block-143 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #244418;
  background: #498890;
  border-radius: 4px;
}

.controller-block-144 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #175448;
  background: #773592;
  border-radius: 0px;
}

.controller-block-145 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #691753;
  background: #515326;
  border-radius: 4px;
}

.controller-block-146 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #854958;
  background: #567035;
  border-radius: 5px;
}

.controller-block-147 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #997341;
  background: #286797;
  border-radius: 3px;
}

.controller-block-148 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #279413;
  background: #177032;
  border-radius: 8px;
}

.controller-block-149 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #472404;
  background: #648156;
  border-radius: 1px;
}

.controller-block-150 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #719601;
  background: #657329;
  border-radius: 6px;
}

.controller-block-151 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #537889;
  background: #211993;
  border-radius: 2px;
}

.controller-block-152 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #408239;
  background: #113276;
  border-radius: 4px;
}

.controller-block-153 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #819312;
  background: #847195;
  border-radius: 1px;
}

.controller-block-154 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #966994;
  background: #294314;
  border-radius: 1px;
}

.controller-block-155 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #476596;
  background: #908589;
  border-radius: 8px;
}

.controller-block-156 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #416532;
  background: #302695;
  border-radius: 6px;
}

.controller-block-157 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #572253;
  background: #579740;
  border-radius: 1px;
}

.controller-block-158 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #204538;
  background: #516207;
  border-radius: 2px;
}

.controller-block-159 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #750839;
  background: #446147;
  border-radius: 1px;
}

.controller-block-160 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #262106;
  background: #554018;
  border-radius: 3px;
}

.controller-block-161 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #723094;
  background: #731436;
  border-radius: 0px;
}

.controller-block-162 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #597074;
  background: #540627;
  border-radius: 1px;
}

.controller-block-163 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #975546;
  background: #835838;
  border-radius: 1px;
}

.controller-block-164 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #184891;
  background: #249574;
  border-radius: 2px;
}

.controller-block-165 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #467137;
  background: #395696;
  border-radius: 7px;
}

.controller-block-166 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #304840;
  background: #792265;
  border-radius: 5px;
}

.controller-block-167 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #184641;
  background: #365995;
  border-radius: 7px;
}

.controller-block-168 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #623056;
  background: #264213;
  border-radius: 7px;
}

.controller-block-169 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #314724;
  background: #396401;
  border-radius: 7px;
}

.controller-block-170 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #825018;
  background: #327525;
  border-radius: 2px;
}

.controller-block-171 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #208508;
  background: #356125;
  border-radius: 2px;
}

.controller-block-172 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #980399;
  background: #300741;
  border-radius: 0px;
}

.controller-block-173 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #970904;
  background: #845485;
  border-radius: 2px;
}

.controller-block-174 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #563478;
  background: #201445;
  border-radius: 0px;
}

.controller-block-175 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #157815;
  background: #243436;
  border-radius: 0px;
}

.controller-block-176 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #184062;
  background: #149665;
  border-radius: 0px;
}

.controller-block-177 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #415987;
  background: #961928;
  border-radius: 1px;
}

.controller-block-178 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #188245;
  background: #247222;
  border-radius: 6px;
}

.controller-block-179 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #308993;
  background: #140950;
  border-radius: 2px;
}

.controller-block-180 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #396654;
  background: #106070;
  border-radius: 5px;
}

.controller-block-181 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #844774;
  background: #603747;
  border-radius: 3px;
}

.controller-block-182 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #541276;
  background: #363646;
  border-radius: 2px;
}

.controller-block-183 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #611688;
  background: #531259;
  border-radius: 2px;
}

.controller-block-184 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #171818;
  background: #501437;
  border-radius: 4px;
}

.controller-block-185 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #447308;
  background: #489536;
  border-radius: 1px;
}

.controller-block-186 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #210094;
  background: #530754;
  border-radius: 4px;
}

.controller-block-187 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #863499;
  background: #684988;
  border-radius: 6px;
}

.controller-block-188 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #467324;
  background: #533215;
  border-radius: 3px;
}

.controller-block-189 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #138933;
  background: #111117;
  border-radius: 0px;
}

.controller-block-190 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #985854;
  background: #299022;
  border-radius: 1px;
}

.controller-block-191 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #822312;
  background: #318027;
  border-radius: 7px;
}

.controller-block-192 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #354747;
  background: #399956;
  border-radius: 6px;
}

.controller-block-193 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #672479;
  background: #663870;
  border-radius: 5px;
}

.controller-block-194 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #859392;
  background: #522399;
  border-radius: 1px;
}

.controller-block-195 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #551547;
  background: #226597;
  border-radius: 2px;
}

.controller-block-196 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #889779;
  background: #174836;
  border-radius: 0px;
}

.controller-block-197 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #890394;
  background: #746299;
  border-radius: 0px;
}

.controller-block-198 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #331827;
  background: #430512;
  border-radius: 2px;
}

.controller-block-199 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #618624;
  background: #564208;
  border-radius: 7px;
}

.controller-block-200 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #732260;
  background: #775360;
  border-radius: 0px;
}

.controller-block-201 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #899630;
  background: #705398;
  border-radius: 5px;
}

.controller-block-202 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #341278;
  background: #460334;
  border-radius: 0px;
}

.controller-block-203 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #191969;
  background: #149575;
  border-radius: 4px;
}

.controller-block-204 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #629972;
  background: #912075;
  border-radius: 6px;
}

.controller-block-205 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #677091;
  background: #229384;
  border-radius: 7px;
}

.controller-block-206 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #932250;
  background: #792637;
  border-radius: 2px;
}

.controller-block-207 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #306862;
  background: #419557;
  border-radius: 8px;
}

.controller-block-208 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #805264;
  background: #324101;
  border-radius: 2px;
}

.controller-block-209 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #138463;
  background: #114352;
  border-radius: 8px;
}

.controller-block-210 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #119269;
  background: #163553;
  border-radius: 5px;
}

.controller-block-211 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #895451;
  background: #766170;
  border-radius: 3px;
}
