/* controller styles v1 */

.controller-block-1 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #750047;
  background: #739635;
  border-radius: 1px;
}

.controller-block-2 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #160130;
  background: #910188;
  border-radius: 5px;
}

.controller-block-3 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #349620;
  background: #640704;
  border-radius: 6px;
}

.controller-block-4 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #497929;
  background: #156697;
  border-radius: 7px;
}

.controller-block-5 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #600803;
  background: #379268;
  border-radius: 7px;
}

.controller-block-6 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #740846;
  background: #939503;
  border-radius: 6px;
}

.controller-block-7 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #117290;
  background: #227932;
  border-radius: 4px;
}

.controller-block-8 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #236637;
  background: #435156;
  border-radius: 3px;
}

.controller-block-9 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #455600;
  background: #527886;
  border-radius: 8px;
}

.controller-block-10 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #237363;
  background: #453534;
  border-radius: 2px;
}

.controller-block-11 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #475455;
  background: #228776;
  border-radius: 2px;
}

.controller-block-12 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #433517;
  background: #194646;
  border-radius: 6px;
}

.controller-block-13 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #393404;
  background: #411931;
  border-radius: 1px;
}

.controller-block-14 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #588619;
  background: #123277;
  border-radius: 0px;
}

.controller-block-15 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #395928;
  background: #276598;
  border-radius: 6px;
}

.controller-block-16 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #458039;
  background: #294012;
  border-radius: 1px;
}

.controller-block-17 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #925990;
  background: #839641;
  border-radius: 6px;
}

.controller-block-18 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #116900;
  background: #443648;
  border-radius: 8px;
}

.controller-block-19 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #880551;
  background: #455104;
  border-radius: 4px;
}

.controller-block-20 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #210718;
  background: #872000;
  border-radius: 3px;
}

.controller-block-21 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #912133;
  background: #232413;
  border-radius: 8px;
}

.controller-block-22 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #810068;
  background: #861884;
  border-radius: 2px;
}

.controller-block-23 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #121336;
  background: #902016;
  border-radius: 3px;
}

.controller-block-24 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #578437;
  background: #600907;
  border-radius: 5px;
}

.controller-block-25 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #415648;
  background: #476169;
  border-radius: 1px;
}

.controller-block-26 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #181630;
  background: #467756;
  border-radius: 2px;
}

.controller-block-27 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #698977;
  background: #861668;
  border-radius: 1px;
}

.controller-block-28 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #259017;
  background: #490321;
  border-radius: 5px;
}

.controller-block-29 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #702587;
  background: #331818;
  border-radius: 6px;
}

.controller-block-30 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #572693;
  background: #878416;
  border-radius: 4px;
}

.controller-block-31 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #877560;
  background: #238080;
  border-radius: 5px;
}

.controller-block-32 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #331580;
  background: #836267;
  border-radius: 2px;
}

.controller-block-33 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #997910;
  background: #268850;
  border-radius: 4px;
}

.controller-block-34 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #584882;
  background: #475685;
  border-radius: 4px;
}

.controller-block-35 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #778279;
  background: #625099;
  border-radius: 0px;
}

.controller-block-36 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #274286;
  background: #836091;
  border-radius: 5px;
}

.controller-block-37 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #846942;
  background: #511145;
  border-radius: 0px;
}

.controller-block-38 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #158279;
  background: #878589;
  border-radius: 6px;
}

.controller-block-39 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #439959;
  background: #315145;
  border-radius: 2px;
}

.controller-block-40 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #855984;
  background: #714359;
  border-radius: 6px;
}

.controller-block-41 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #951927;
  background: #409052;
  border-radius: 7px;
}

.controller-block-42 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #633435;
  background: #858970;
  border-radius: 5px;
}

.controller-block-43 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #299217;
  background: #513126;
  border-radius: 3px;
}

.controller-block-44 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #753357;
  background: #130124;
  border-radius: 2px;
}

.controller-block-45 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #978992;
  background: #276794;
  border-radius: 1px;
}

.controller-block-46 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #261537;
  background: #832969;
  border-radius: 0px;
}

.controller-block-47 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #448059;
  background: #607106;
  border-radius: 7px;
}

.controller-block-48 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #970123;
  background: #360834;
  border-radius: 7px;
}

.controller-block-49 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #255832;
  background: #759271;
  border-radius: 7px;
}

.controller-block-50 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #251773;
  background: #786202;
  border-radius: 2px;
}

.controller-block-51 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #651734;
  background: #172263;
  border-radius: 6px;
}

.controller-block-52 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #759839;
  background: #883230;
  border-radius: 3px;
}

.controller-block-53 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #305435;
  background: #417322;
  border-radius: 0px;
}

.controller-block-54 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #669978;
  background: #815445;
  border-radius: 1px;
}

.controller-block-55 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #634653;
  background: #409713;
  border-radius: 5px;
}

.controller-block-56 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #478885;
  background: #996515;
  border-radius: 8px;
}

.controller-block-57 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #286150;
  background: #545506;
  border-radius: 0px;
}

.controller-block-58 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #827595;
  background: #194629;
  border-radius: 5px;
}

.controller-block-59 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #367187;
  background: #646763;
  border-radius: 2px;
}

.controller-block-60 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #921190;
  background: #258130;
  border-radius: 5px;
}

.controller-block-61 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #933417;
  background: #361458;
  border-radius: 0px;
}

.controller-block-62 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #125051;
  background: #997964;
  border-radius: 6px;
}

.controller-block-63 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #311155;
  background: #150144;
  border-radius: 7px;
}

.controller-block-64 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #611255;
  background: #727436;
  border-radius: 1px;
}

.controller-block-65 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #423468;
  background: #130900;
  border-radius: 0px;
}

.controller-block-66 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #938571;
  background: #938011;
  border-radius: 7px;
}

.controller-block-67 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #906820;
  background: #428809;
  border-radius: 6px;
}

.controller-block-68 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #857038;
  background: #737620;
  border-radius: 6px;
}

.controller-block-69 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #904317;
  background: #317351;
  border-radius: 6px;
}

.controller-block-70 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #964525;
  background: #801499;
  border-radius: 5px;
}

.controller-block-71 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #809198;
  background: #727825;
  border-radius: 7px;
}

.controller-block-72 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #689269;
  background: #741132;
  border-radius: 5px;
}

.controller-block-73 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #564344;
  background: #370615;
  border-radius: 1px;
}

.controller-block-74 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #460351;
  background: #790718;
  border-radius: 2px;
}

.controller-block-75 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #806495;
  background: #339960;
  border-radius: 1px;
}

.controller-block-76 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #938750;
  background: #598982;
  border-radius: 6px;
}

.controller-block-77 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #333789;
  background: #993088;
  border-radius: 8px;
}

.controller-block-78 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #546122;
  background: #803281;
  border-radius: 1px;
}

.controller-block-79 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #778489;
  background: #886497;
  border-radius: 4px;
}

.controller-block-80 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #928206;
  background: #309177;
  border-radius: 2px;
}

.controller-block-81 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #539474;
  background: #447972;
  border-radius: 2px;
}

.controller-block-82 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #455824;
  background: #108085;
  border-radius: 3px;
}

.controller-block-83 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #677663;
  background: #143848;
  border-radius: 5px;
}

.controller-block-84 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #280252;
  background: #194653;
  border-radius: 5px;
}

.controller-block-85 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #858050;
  background: #898441;
  border-radius: 2px;
}

.controller-block-86 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #952398;
  background: #200273;
  border-radius: 4px;
}

.controller-block-87 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #540908;
  background: #717541;
  border-radius: 2px;
}

.controller-block-88 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #568034;
  background: #395973;
  border-radius: 2px;
}

.controller-block-89 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #938104;
  background: #491827;
  border-radius: 8px;
}

.controller-block-90 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #645621;
  background: #443010;
  border-radius: 7px;
}

.controller-block-91 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #164597;
  background: #390121;
  border-radius: 0px;
}

.controller-block-92 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #860103;
  background: #639136;
  border-radius: 4px;
}

.controller-block-93 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #186416;
  background: #227886;
  border-radius: 6px;
}

.controller-block-94 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #976876;
  background: #628896;
  border-radius: 1px;
}

.controller-block-95 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #200861;
  background: #494546;
  border-radius: 2px;
}

.controller-block-96 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #336103;
  background: #573789;
  border-radius: 1px;
}

.controller-block-97 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #838695;
  background: #875211;
  border-radius: 4px;
}

.controller-block-98 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #759880;
  background: #518808;
  border-radius: 7px;
}

.controller-block-99 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #357862;
  background: #489637;
  border-radius: 2px;
}

.controller-block-100 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #674809;
  background: #302164;
  border-radius: 0px;
}

.controller-block-101 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #660097;
  background: #524851;
  border-radius: 6px;
}

.controller-block-102 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #991433;
  background: #141009;
  border-radius: 2px;
}

.controller-block-103 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #511883;
  background: #239129;
  border-radius: 7px;
}

.controller-block-104 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #241096;
  background: #944051;
  border-radius: 6px;
}

.controller-block-105 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #545840;
  background: #895204;
  border-radius: 7px;
}

.controller-block-106 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #371248;
  background: #358311;
  border-radius: 0px;
}

.controller-block-107 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #864048;
  background: #220914;
  border-radius: 2px;
}

.controller-block-108 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #223398;
  background: #808117;
  border-radius: 0px;
}

.controller-block-109 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #317232;
  background: #127231;
  border-radius: 3px;
}

.controller-block-110 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #894927;
  background: #736131;
  border-radius: 2px;
}

.controller-block-111 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #199484;
  background: #918007;
  border-radius: 8px;
}

.controller-block-112 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #798217;
  background: #964882;
  border-radius: 0px;
}

.controller-block-113 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #333421;
  background: #434077;
  border-radius: 6px;
}

.controller-block-114 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #809141;
  background: #969223;
  border-radius: 1px;
}

.controller-block-115 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #531739;
  background: #167823;
  border-radius: 5px;
}

.controller-block-116 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #723240;
  background: #941680;
  border-radius: 2px;
}

.controller-block-117 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #664179;
  background: #694141;
  border-radius: 0px;
}

.controller-block-118 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #143083;
  background: #649923;
  border-radius: 8px;
}

.controller-block-119 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #540258;
  background: #971314;
  border-radius: 1px;
}

.controller-block-120 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #485642;
  background: #584888;
  border-radius: 8px;
}

.controller-block-121 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #594031;
  background: #101669;
  border-radius: 3px;
}

.controller-block-122 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #155252;
  background: #485714;
  border-radius: 1px;
}

.controller-block-123 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #933749;
  background: #188531;
  border-radius: 2px;
}

.controller-block-124 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #357116;
  background: #959765;
  border-radius: 7px;
}

.controller-block-125 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #553052;
  background: #513927;
  border-radius: 4px;
}

.controller-block-126 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #759627;
  background: #198909;
  border-radius: 6px;
}

.controller-block-127 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #997229;
  background: #772176;
  border-radius: 6px;
}

.controller-block-128 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #232212;
  background: #983198;
  border-radius: 4px;
}

.controller-block-129 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #694630;
  background: #759022;
  border-radius: 3px;
}

.controller-block-130 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #220307;
  background: #266282;
  border-radius: 7px;
}

.controller-block-131 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #905588;
  background: #415701;
  border-radius: 3px;
}

.controller-block-132 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #251537;
  background: #209668;
  border-radius: 7px;
}

.controller-block-133 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #465516;
  background: #693423;
  border-radius: 5px;
}

.controller-block-134 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #728663;
  background: #481456;
  border-radius: 4px;
}

.controller-block-135 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #311455;
  background: #617527;
  border-radius: 8px;
}

.controller-block-136 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #536379;
  background: #415756;
  border-radius: 2px;
}

.controller-block-137 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #138469;
  background: #623261;
  border-radius: 6px;
}

.controller-block-138 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #302076;
  background: #247846;
  border-radius: 4px;
}

.controller-block-139 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #140199;
  background: #287932;
  border-radius: 6px;
}

.controller-block-140 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #386319;
  background: #653488;
  border-radius: 1px;
}

.controller-block-141 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #102819;
  background: #828455;
  border-radius: 3px;
}

.controller-block-142 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #268315;
  background: #334998;
  border-radius: 2px;
}

.controller-block-143 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #349877;
  background: #350182;
  border-radius: 3px;
}

.controller-block-144 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #216399;
  background: #467855;
  border-radius: 4px;
}

.controller-block-145 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #233244;
  background: #753732;
  border-radius: 0px;
}

.controller-block-146 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #224629;
  background: #656101;
  border-radius: 3px;
}

.controller-block-147 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #138926;
  background: #112460;
  border-radius: 7px;
}

.controller-block-148 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #735397;
  background: #998788;
  border-radius: 1px;
}
