/* hook styles v1 */

.hook-block-1 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #181112;
  background: #109759;
  border-radius: 3px;
}

.hook-block-2 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #940045;
  background: #331782;
  border-radius: 1px;
}

.hook-block-3 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #932106;
  background: #632453;
  border-radius: 3px;
}

.hook-block-4 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #286858;
  background: #165478;
  border-radius: 8px;
}

.hook-block-5 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #211766;
  background: #375991;
  border-radius: 8px;
}

.hook-block-6 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #252476;
  background: #483593;
  border-radius: 7px;
}

.hook-block-7 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #149899;
  background: #181102;
  border-radius: 5px;
}

.hook-block-8 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #114206;
  background: #939831;
  border-radius: 7px;
}

.hook-block-9 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #591836;
  background: #176556;
  border-radius: 1px;
}

.hook-block-10 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #986746;
  background: #767283;
  border-radius: 1px;
}

.hook-block-11 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #965444;
  background: #515833;
  border-radius: 5px;
}

.hook-block-12 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #737456;
  background: #270958;
  border-radius: 0px;
}

.hook-block-13 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #438953;
  background: #474881;
  border-radius: 5px;
}

.hook-block-14 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #188109;
  background: #228249;
  border-radius: 0px;
}

.hook-block-15 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #600325;
  background: #904108;
  border-radius: 5px;
}

.hook-block-16 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #285575;
  background: #287747;
  border-radius: 6px;
}

.hook-block-17 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #549532;
  background: #966190;
  border-radius: 8px;
}

.hook-block-18 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #763794;
  background: #126005;
  border-radius: 7px;
}

.hook-block-19 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #209663;
  background: #630393;
  border-radius: 4px;
}

.hook-block-20 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #772654;
  background: #263811;
  border-radius: 1px;
}

.hook-block-21 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #512497;
  background: #890325;
  border-radius: 4px;
}

.hook-block-22 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #572104;
  background: #889268;
  border-radius: 0px;
}

.hook-block-23 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #530263;
  background: #331492;
  border-radius: 8px;
}

.hook-block-24 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #388420;
  background: #765982;
  border-radius: 8px;
}

.hook-block-25 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #489123;
  background: #654045;
  border-radius: 7px;
}

.hook-block-26 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #560041;
  background: #552000;
  border-radius: 5px;
}

.hook-block-27 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #542536;
  background: #660886;
  border-radius: 6px;
}

.hook-block-28 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #569311;
  background: #600164;
  border-radius: 8px;
}

.hook-block-29 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #585549;
  background: #508110;
  border-radius: 3px;
}

.hook-block-30 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #519782;
  background: #984470;
  border-radius: 5px;
}

.hook-block-31 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #285249;
  background: #489883;
  border-radius: 5px;
}

.hook-block-32 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #582931;
  background: #181117;
  border-radius: 2px;
}

.hook-block-33 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #869536;
  background: #849450;
  border-radius: 7px;
}

.hook-block-34 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #759317;
  background: #558394;
  border-radius: 7px;
}

.hook-block-35 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #187175;
  background: #678403;
  border-radius: 4px;
}

.hook-block-36 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #283691;
  background: #877726;
  border-radius: 7px;
}

.hook-block-37 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #808019;
  background: #843767;
  border-radius: 2px;
}

.hook-block-38 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #307554;
  background: #710224;
  border-radius: 0px;
}

.hook-block-39 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #304695;
  background: #773201;
  border-radius: 2px;
}

.hook-block-40 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #422466;
  background: #910320;
  border-radius: 7px;
}

.hook-block-41 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #727026;
  background: #388837;
  border-radius: 4px;
}

.hook-block-42 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #499217;
  background: #991644;
  border-radius: 3px;
}

.hook-block-43 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #379421;
  background: #516345;
  border-radius: 4px;
}

.hook-block-44 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #918057;
  background: #301610;
  border-radius: 2px;
}

.hook-block-45 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #920522;
  background: #763861;
  border-radius: 4px;
}

.hook-block-46 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #509834;
  background: #621329;
  border-radius: 8px;
}

.hook-block-47 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #954902;
  background: #271760;
  border-radius: 2px;
}

.hook-block-48 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #423283;
  background: #607793;
  border-radius: 4px;
}

.hook-block-49 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #559742;
  background: #435159;
  border-radius: 5px;
}

.hook-block-50 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #436142;
  background: #477046;
  border-radius: 7px;
}

.hook-block-51 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #616473;
  background: #102651;
  border-radius: 4px;
}

.hook-block-52 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #743525;
  background: #681404;
  border-radius: 5px;
}

.hook-block-53 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #579572;
  background: #713524;
  border-radius: 1px;
}

.hook-block-54 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #742207;
  background: #592142;
  border-radius: 4px;
}

.hook-block-55 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #843313;
  background: #157618;
  border-radius: 3px;
}

.hook-block-56 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #990511;
  background: #742464;
  border-radius: 0px;
}

.hook-block-57 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #543548;
  background: #183551;
  border-radius: 3px;
}

.hook-block-58 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #616586;
  background: #145493;
  border-radius: 5px;
}

.hook-block-59 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #486770;
  background: #748273;
  border-radius: 1px;
}

.hook-block-60 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #779171;
  background: #259490;
  border-radius: 1px;
}

.hook-block-61 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #414027;
  background: #250249;
  border-radius: 7px;
}

.hook-block-62 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #710836;
  background: #858969;
  border-radius: 1px;
}

.hook-block-63 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #814022;
  background: #726177;
  border-radius: 2px;
}

.hook-block-64 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #500378;
  background: #566935;
  border-radius: 2px;
}

.hook-block-65 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #379097;
  background: #273249;
  border-radius: 7px;
}

.hook-block-66 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #654677;
  background: #541484;
  border-radius: 3px;
}

.hook-block-67 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #881128;
  background: #191902;
  border-radius: 3px;
}

.hook-block-68 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #427372;
  background: #870614;
  border-radius: 6px;
}

.hook-block-69 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #212789;
  background: #583927;
  border-radius: 4px;
}

.hook-block-70 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #868135;
  background: #643690;
  border-radius: 0px;
}

.hook-block-71 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #124536;
  background: #294038;
  border-radius: 1px;
}

.hook-block-72 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #638690;
  background: #817677;
  border-radius: 5px;
}

.hook-block-73 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #770148;
  background: #405748;
  border-radius: 7px;
}

.hook-block-74 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #415965;
  background: #612378;
  border-radius: 4px;
}

.hook-block-75 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #985117;
  background: #300949;
  border-radius: 5px;
}

.hook-block-76 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #365417;
  background: #532705;
  border-radius: 2px;
}

.hook-block-77 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #543740;
  background: #423140;
  border-radius: 6px;
}

.hook-block-78 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #874675;
  background: #658647;
  border-radius: 7px;
}

.hook-block-79 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #103774;
  background: #453102;
  border-radius: 0px;
}

.hook-block-80 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #995557;
  background: #946472;
  border-radius: 3px;
}

.hook-block-81 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #233135;
  background: #169222;
  border-radius: 4px;
}

.hook-block-82 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #307460;
  background: #578907;
  border-radius: 4px;
}

.hook-block-83 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #952699;
  background: #428768;
  border-radius: 5px;
}

.hook-block-84 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #993355;
  background: #268951;
  border-radius: 7px;
}

.hook-block-85 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #603948;
  background: #427691;
  border-radius: 0px;
}

.hook-block-86 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #367354;
  background: #492775;
  border-radius: 3px;
}

.hook-block-87 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #891335;
  background: #580920;
  border-radius: 1px;
}

.hook-block-88 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #916366;
  background: #683115;
  border-radius: 3px;
}

.hook-block-89 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #737992;
  background: #369181;
  border-radius: 6px;
}

.hook-block-90 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #273923;
  background: #586929;
  border-radius: 2px;
}

.hook-block-91 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #361108;
  background: #728131;
  border-radius: 7px;
}

.hook-block-92 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #938095;
  background: #861112;
  border-radius: 3px;
}

.hook-block-93 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #401105;
  background: #967405;
  border-radius: 8px;
}

.hook-block-94 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #233806;
  background: #778983;
  border-radius: 7px;
}

.hook-block-95 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #257997;
  background: #507294;
  border-radius: 6px;
}

.hook-block-96 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #509012;
  background: #529352;
  border-radius: 2px;
}

.hook-block-97 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #580218;
  background: #365394;
  border-radius: 5px;
}

.hook-block-98 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #200406;
  background: #540440;
  border-radius: 2px;
}

.hook-block-99 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #546984;
  background: #120960;
  border-radius: 5px;
}

.hook-block-100 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #113761;
  background: #334096;
  border-radius: 2px;
}

.hook-block-101 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #966223;
  background: #387157;
  border-radius: 5px;
}

.hook-block-102 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #793069;
  background: #242791;
  border-radius: 8px;
}

.hook-block-103 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #807480;
  background: #537131;
  border-radius: 0px;
}

.hook-block-104 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #807372;
  background: #284081;
  border-radius: 6px;
}

.hook-block-105 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #584203;
  background: #415045;
  border-radius: 1px;
}

.hook-block-106 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #821035;
  background: #215827;
  border-radius: 6px;
}

.hook-block-107 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #923755;
  background: #624296;
  border-radius: 6px;
}

.hook-block-108 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #138289;
  background: #271775;
  border-radius: 1px;
}

.hook-block-109 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #797585;
  background: #978169;
  border-radius: 6px;
}

.hook-block-110 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #482497;
  background: #232210;
  border-radius: 5px;
}

.hook-block-111 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #359455;
  background: #629542;
  border-radius: 0px;
}

.hook-block-112 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #391031;
  background: #999793;
  border-radius: 2px;
}

.hook-block-113 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #237792;
  background: #922151;
  border-radius: 7px;
}

.hook-block-114 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #634059;
  background: #557382;
  border-radius: 2px;
}

.hook-block-115 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #980269;
  background: #932535;
  border-radius: 1px;
}

.hook-block-116 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #306285;
  background: #264060;
  border-radius: 0px;
}

.hook-block-117 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #235932;
  background: #155544;
  border-radius: 1px;
}

.hook-block-118 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #450927;
  background: #528873;
  border-radius: 2px;
}

.hook-block-119 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #613795;
  background: #533198;
  border-radius: 5px;
}

.hook-block-120 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #161262;
  background: #470271;
  border-radius: 3px;
}

.hook-block-121 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #858110;
  background: #393224;
  border-radius: 5px;
}

.hook-block-122 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #523129;
  background: #754055;
  border-radius: 1px;
}

.hook-block-123 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #760680;
  background: #855895;
  border-radius: 4px;
}

.hook-block-124 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #818119;
  background: #285216;
  border-radius: 1px;
}

.hook-block-125 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #270914;
  background: #142060;
  border-radius: 6px;
}

.hook-block-126 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #658087;
  background: #840423;
  border-radius: 4px;
}

.hook-block-127 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #796090;
  background: #877925;
  border-radius: 8px;
}

.hook-block-128 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #973250;
  background: #249532;
  border-radius: 0px;
}

.hook-block-129 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #488633;
  background: #199190;
  border-radius: 0px;
}

.hook-block-130 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #784844;
  background: #997461;
  border-radius: 5px;
}

.hook-block-131 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #725577;
  background: #415149;
  border-radius: 2px;
}

.hook-block-132 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #665283;
  background: #203437;
  border-radius: 3px;
}

.hook-block-133 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #278785;
  background: #158204;
  border-radius: 5px;
}

.hook-block-134 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #980267;
  background: #774142;
  border-radius: 7px;
}

.hook-block-135 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #584401;
  background: #722560;
  border-radius: 6px;
}

.hook-block-136 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #424568;
  background: #802025;
  border-radius: 0px;
}

.hook-block-137 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #327503;
  background: #843547;
  border-radius: 1px;
}

.hook-block-138 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #462536;
  background: #121144;
  border-radius: 2px;
}

.hook-block-139 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #994370;
  background: #792600;
  border-radius: 8px;
}

.hook-block-140 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #971989;
  background: #921664;
  border-radius: 3px;
}

.hook-block-141 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #991345;
  background: #818462;
  border-radius: 4px;
}

.hook-block-142 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #122228;
  background: #991833;
  border-radius: 8px;
}

.hook-block-143 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #617268;
  background: #559052;
  border-radius: 7px;
}

.hook-block-144 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #499903;
  background: #984076;
  border-radius: 3px;
}

.hook-block-145 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #187102;
  background: #536780;
  border-radius: 8px;
}

.hook-block-146 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #786313;
  background: #721078;
  border-radius: 3px;
}

.hook-block-147 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #868921;
  background: #839305;
  border-radius: 6px;
}

.hook-block-148 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #293021;
  background: #849654;
  border-radius: 0px;
}

.hook-block-149 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #996140;
  background: #933863;
  border-radius: 8px;
}

.hook-block-150 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #435370;
  background: #145957;
  border-radius: 8px;
}

.hook-block-151 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #582971;
  background: #872813;
  border-radius: 2px;
}

.hook-block-152 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #872038;
  background: #956580;
  border-radius: 5px;
}

.hook-block-153 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #984873;
  background: #577030;
  border-radius: 1px;
}

.hook-block-154 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #119343;
  background: #157429;
  border-radius: 7px;
}

.hook-block-155 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #438426;
  background: #838557;
  border-radius: 5px;
}

.hook-block-156 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #767838;
  background: #307304;
  border-radius: 3px;
}

.hook-block-157 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #267901;
  background: #220761;
  border-radius: 8px;
}

.hook-block-158 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #642141;
  background: #197012;
  border-radius: 7px;
}

.hook-block-159 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #290033;
  background: #759321;
  border-radius: 3px;
}

.hook-block-160 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #359071;
  background: #428951;
  border-radius: 6px;
}

.hook-block-161 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #765389;
  background: #437003;
  border-radius: 2px;
}

.hook-block-162 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #210397;
  background: #737560;
  border-radius: 1px;
}

.hook-block-163 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #665551;
  background: #925605;
  border-radius: 2px;
}

.hook-block-164 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #830925;
  background: #359217;
  border-radius: 5px;
}

.hook-block-165 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #831247;
  background: #715880;
  border-radius: 6px;
}

.hook-block-166 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #766706;
  background: #312168;
  border-radius: 4px;
}

.hook-block-167 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #118981;
  background: #196968;
  border-radius: 5px;
}

.hook-block-168 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #237898;
  background: #334315;
  border-radius: 3px;
}

.hook-block-169 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #453674;
  background: #557135;
  border-radius: 7px;
}

.hook-block-170 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #352638;
  background: #380293;
  border-radius: 5px;
}

.hook-block-171 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #153811;
  background: #463635;
  border-radius: 0px;
}

.hook-block-172 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #578392;
  background: #580528;
  border-radius: 7px;
}

.hook-block-173 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #954624;
  background: #597598;
  border-radius: 0px;
}

.hook-block-174 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #371860;
  background: #945147;
  border-radius: 6px;
}
