/* store styles v5 */

.store-block-1 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #919093;
  background: #258273;
  border-radius: 5px;
}

.store-block-2 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #531047;
  background: #233730;
  border-radius: 2px;
}

.store-block-3 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #904823;
  background: #552402;
  border-radius: 5px;
}

.store-block-4 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #825898;
  background: #884069;
  border-radius: 2px;
}

.store-block-5 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #675656;
  background: #265916;
  border-radius: 3px;
}

.store-block-6 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #392556;
  background: #103670;
  border-radius: 2px;
}

.store-block-7 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #899714;
  background: #695321;
  border-radius: 4px;
}

.store-block-8 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #509045;
  background: #718483;
  border-radius: 0px;
}

.store-block-9 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #758244;
  background: #689674;
  border-radius: 4px;
}

.store-block-10 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #378568;
  background: #375494;
  border-radius: 6px;
}

.store-block-11 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #396610;
  background: #619596;
  border-radius: 5px;
}

.store-block-12 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #342257;
  background: #580612;
  border-radius: 3px;
}

.store-block-13 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #885187;
  background: #180563;
  border-radius: 0px;
}

.store-block-14 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #453945;
  background: #351476;
  border-radius: 6px;
}

.store-block-15 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #826750;
  background: #799804;
  border-radius: 3px;
}

.store-block-16 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #744319;
  background: #659565;
  border-radius: 3px;
}

.store-block-17 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #479463;
  background: #888916;
  border-radius: 4px;
}

.store-block-18 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #826131;
  background: #102102;
  border-radius: 2px;
}

.store-block-19 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #425986;
  background: #232838;
  border-radius: 6px;
}

.store-block-20 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #704726;
  background: #358010;
  border-radius: 7px;
}

.store-block-21 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #990827;
  background: #486380;
  border-radius: 3px;
}

.store-block-22 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #215299;
  background: #674858;
  border-radius: 6px;
}

.store-block-23 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #421025;
  background: #668356;
  border-radius: 3px;
}

.store-block-24 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #816181;
  background: #786566;
  border-radius: 8px;
}

.store-block-25 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #480922;
  background: #156770;
  border-radius: 8px;
}

.store-block-26 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #882408;
  background: #805866;
  border-radius: 7px;
}

.store-block-27 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #701306;
  background: #602611;
  border-radius: 2px;
}

.store-block-28 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #472043;
  background: #252435;
  border-radius: 7px;
}

.store-block-29 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #847943;
  background: #951081;
  border-radius: 2px;
}

.store-block-30 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #235486;
  background: #498395;
  border-radius: 1px;
}

.store-block-31 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #965593;
  background: #593470;
  border-radius: 5px;
}

.store-block-32 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #211522;
  background: #418829;
  border-radius: 7px;
}

.store-block-33 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #592417;
  background: #726970;
  border-radius: 8px;
}

.store-block-34 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #359445;
  background: #457351;
  border-radius: 4px;
}

.store-block-35 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #157325;
  background: #279442;
  border-radius: 7px;
}

.store-block-36 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #620437;
  background: #536764;
  border-radius: 4px;
}

.store-block-37 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #250653;
  background: #518024;
  border-radius: 3px;
}

.store-block-38 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #439741;
  background: #993767;
  border-radius: 4px;
}

.store-block-39 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #727815;
  background: #110515;
  border-radius: 2px;
}

.store-block-40 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #220365;
  background: #575778;
  border-radius: 7px;
}

.store-block-41 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #147438;
  background: #603130;
  border-radius: 4px;
}

.store-block-42 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #275203;
  background: #638386;
  border-radius: 3px;
}

.store-block-43 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #191326;
  background: #323630;
  border-radius: 1px;
}

.store-block-44 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #403970;
  background: #105140;
  border-radius: 2px;
}

.store-block-45 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #944522;
  background: #971247;
  border-radius: 8px;
}

.store-block-46 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #100323;
  background: #328387;
  border-radius: 8px;
}

.store-block-47 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #361119;
  background: #720589;
  border-radius: 6px;
}

.store-block-48 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #499341;
  background: #702109;
  border-radius: 7px;
}

.store-block-49 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #586485;
  background: #401909;
  border-radius: 3px;
}

.store-block-50 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #162345;
  background: #356316;
  border-radius: 8px;
}

.store-block-51 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #980507;
  background: #531222;
  border-radius: 5px;
}

.store-block-52 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #471147;
  background: #988802;
  border-radius: 6px;
}

.store-block-53 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #370506;
  background: #306756;
  border-radius: 1px;
}

.store-block-54 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #123435;
  background: #895286;
  border-radius: 7px;
}

.store-block-55 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #488005;
  background: #569620;
  border-radius: 8px;
}

.store-block-56 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #191416;
  background: #624242;
  border-radius: 3px;
}
