/* constants styles v5 */

.constants-block-1 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #967724;
  background: #789473;
  border-radius: 2px;
}

.constants-block-2 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #292081;
  background: #856472;
  border-radius: 7px;
}

.constants-block-3 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #762789;
  background: #435867;
  border-radius: 2px;
}

.constants-block-4 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #633351;
  background: #550595;
  border-radius: 7px;
}

.constants-block-5 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #596126;
  background: #560957;
  border-radius: 7px;
}

.constants-block-6 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #681655;
  background: #263660;
  border-radius: 0px;
}

.constants-block-7 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #814364;
  background: #322929;
  border-radius: 2px;
}

.constants-block-8 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #874293;
  background: #476581;
  border-radius: 3px;
}

.constants-block-9 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #872344;
  background: #482960;
  border-radius: 5px;
}

.constants-block-10 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #746365;
  background: #165815;
  border-radius: 0px;
}

.constants-block-11 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #784953;
  background: #309004;
  border-radius: 2px;
}

.constants-block-12 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #670210;
  background: #304351;
  border-radius: 4px;
}

.constants-block-13 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #575716;
  background: #408638;
  border-radius: 3px;
}

.constants-block-14 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #922278;
  background: #230936;
  border-radius: 2px;
}

.constants-block-15 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #391517;
  background: #911247;
  border-radius: 4px;
}

.constants-block-16 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #851809;
  background: #398198;
  border-radius: 7px;
}

.constants-block-17 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #325519;
  background: #715621;
  border-radius: 6px;
}

.constants-block-18 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #191792;
  background: #619791;
  border-radius: 7px;
}

.constants-block-19 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #938956;
  background: #499994;
  border-radius: 1px;
}

.constants-block-20 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #366487;
  background: #965701;
  border-radius: 0px;
}

.constants-block-21 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #452969;
  background: #488933;
  border-radius: 6px;
}

.constants-block-22 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #342433;
  background: #509627;
  border-radius: 7px;
}

.constants-block-23 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #100561;
  background: #766487;
  border-radius: 4px;
}

.constants-block-24 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #122714;
  background: #369176;
  border-radius: 2px;
}

.constants-block-25 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #442080;
  background: #348929;
  border-radius: 8px;
}

.constants-block-26 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #428486;
  background: #204699;
  border-radius: 2px;
}

.constants-block-27 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #761843;
  background: #164538;
  border-radius: 2px;
}

.constants-block-28 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #728669;
  background: #912234;
  border-radius: 8px;
}

.constants-block-29 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #234664;
  background: #263309;
  border-radius: 3px;
}

.constants-block-30 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #799510;
  background: #266428;
  border-radius: 2px;
}

.constants-block-31 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #585552;
  background: #877667;
  border-radius: 6px;
}

.constants-block-32 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #101665;
  background: #796744;
  border-radius: 2px;
}

.constants-block-33 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #319825;
  background: #907282;
  border-radius: 2px;
}

.constants-block-34 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #284825;
  background: #321000;
  border-radius: 3px;
}

.constants-block-35 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #280704;
  background: #188302;
  border-radius: 4px;
}

.constants-block-36 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #749944;
  background: #670519;
  border-radius: 0px;
}

.constants-block-37 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #453221;
  background: #260936;
  border-radius: 1px;
}

.constants-block-38 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #948003;
  background: #427219;
  border-radius: 4px;
}

.constants-block-39 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #383421;
  background: #350584;
  border-radius: 2px;
}

.constants-block-40 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #753396;
  background: #311039;
  border-radius: 3px;
}

.constants-block-41 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #676432;
  background: #757878;
  border-radius: 2px;
}

.constants-block-42 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #850450;
  background: #912427;
  border-radius: 5px;
}

.constants-block-43 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #682401;
  background: #193357;
  border-radius: 4px;
}

.constants-block-44 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #294768;
  background: #815521;
  border-radius: 7px;
}

.constants-block-45 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #431738;
  background: #224202;
  border-radius: 3px;
}

.constants-block-46 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #488136;
  background: #409297;
  border-radius: 5px;
}

.constants-block-47 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #446829;
  background: #304884;
  border-radius: 3px;
}

.constants-block-48 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #917919;
  background: #892645;
  border-radius: 1px;
}

.constants-block-49 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #792619;
  background: #371855;
  border-radius: 1px;
}

.constants-block-50 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #190519;
  background: #151329;
  border-radius: 6px;
}

.constants-block-51 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #539543;
  background: #775878;
  border-radius: 0px;
}

.constants-block-52 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #114692;
  background: #376262;
  border-radius: 5px;
}

.constants-block-53 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #655286;
  background: #235463;
  border-radius: 6px;
}

.constants-block-54 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #195752;
  background: #309841;
  border-radius: 8px;
}

.constants-block-55 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #623266;
  background: #402382;
  border-radius: 2px;
}

.constants-block-56 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #266964;
  background: #906378;
  border-radius: 3px;
}

.constants-block-57 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #461565;
  background: #666668;
  border-radius: 5px;
}

.constants-block-58 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #941216;
  background: #480279;
  border-radius: 0px;
}

.constants-block-59 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #192716;
  background: #175088;
  border-radius: 8px;
}

.constants-block-60 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #795426;
  background: #247740;
  border-radius: 7px;
}

.constants-block-61 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #248440;
  background: #325058;
  border-radius: 8px;
}

.constants-block-62 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #433444;
  background: #450652;
  border-radius: 4px;
}

.constants-block-63 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #690406;
  background: #606633;
  border-radius: 1px;
}

.constants-block-64 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #191675;
  background: #341330;
  border-radius: 2px;
}

.constants-block-65 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #644568;
  background: #729727;
  border-radius: 3px;
}

.constants-block-66 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #186511;
  background: #309920;
  border-radius: 4px;
}

.constants-block-67 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #788955;
  background: #673453;
  border-radius: 0px;
}

.constants-block-68 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #635161;
  background: #809086;
  border-radius: 4px;
}

.constants-block-69 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #359075;
  background: #360561;
  border-radius: 2px;
}

.constants-block-70 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #842935;
  background: #979119;
  border-radius: 2px;
}

.constants-block-71 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #547704;
  background: #973750;
  border-radius: 0px;
}

.constants-block-72 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #921560;
  background: #257154;
  border-radius: 5px;
}

.constants-block-73 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #132961;
  background: #323276;
  border-radius: 0px;
}

.constants-block-74 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #316165;
  background: #173070;
  border-radius: 2px;
}

.constants-block-75 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #676474;
  background: #428129;
  border-radius: 8px;
}

.constants-block-76 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #554142;
  background: #947986;
  border-radius: 1px;
}

.constants-block-77 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #848401;
  background: #217295;
  border-radius: 4px;
}

.constants-block-78 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #318713;
  background: #625451;
  border-radius: 4px;
}

.constants-block-79 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #464253;
  background: #374479;
  border-radius: 2px;
}

.constants-block-80 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #274681;
  background: #936605;
  border-radius: 7px;
}

.constants-block-81 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #816278;
  background: #870525;
  border-radius: 3px;
}

.constants-block-82 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #364990;
  background: #835072;
  border-radius: 2px;
}

.constants-block-83 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #855643;
  background: #433655;
  border-radius: 8px;
}

.constants-block-84 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #735485;
  background: #291337;
  border-radius: 1px;
}

.constants-block-85 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #187252;
  background: #230081;
  border-radius: 0px;
}

.constants-block-86 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #862915;
  background: #916151;
  border-radius: 8px;
}

.constants-block-87 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #482879;
  background: #447515;
  border-radius: 5px;
}

.constants-block-88 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #339099;
  background: #544330;
  border-radius: 3px;
}

.constants-block-89 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #856667;
  background: #423038;
  border-radius: 6px;
}

.constants-block-90 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #233356;
  background: #560399;
  border-radius: 5px;
}

.constants-block-91 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #586211;
  background: #515898;
  border-radius: 4px;
}

.constants-block-92 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #697248;
  background: #142169;
  border-radius: 0px;
}

.constants-block-93 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #358629;
  background: #126256;
  border-radius: 1px;
}

.constants-block-94 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #921459;
  background: #543746;
  border-radius: 0px;
}

.constants-block-95 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #780498;
  background: #384073;
  border-radius: 0px;
}

.constants-block-96 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #485576;
  background: #591905;
  border-radius: 4px;
}

.constants-block-97 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #969551;
  background: #609361;
  border-radius: 2px;
}

.constants-block-98 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #688947;
  background: #535499;
  border-radius: 6px;
}

.constants-block-99 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #250786;
  background: #557252;
  border-radius: 0px;
}

.constants-block-100 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #995755;
  background: #422803;
  border-radius: 6px;
}

.constants-block-101 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #566484;
  background: #939923;
  border-radius: 6px;
}

.constants-block-102 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #701424;
  background: #592759;
  border-radius: 8px;
}

.constants-block-103 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #284717;
  background: #543710;
  border-radius: 6px;
}

.constants-block-104 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #111513;
  background: #209126;
  border-radius: 7px;
}

.constants-block-105 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #410547;
  background: #364907;
  border-radius: 5px;
}

.constants-block-106 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #949772;
  background: #447903;
  border-radius: 1px;
}

.constants-block-107 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #674559;
  background: #653080;
  border-radius: 5px;
}

.constants-block-108 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #260159;
  background: #724268;
  border-radius: 3px;
}

.constants-block-109 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #450764;
  background: #907461;
  border-radius: 7px;
}
