/* context styles v1 */

.context-block-1 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #640401;
  background: #880555;
  border-radius: 5px;
}

.context-block-2 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #302975;
  background: #159480;
  border-radius: 2px;
}

.context-block-3 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #520934;
  background: #365842;
  border-radius: 3px;
}

.context-block-4 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #197053;
  background: #188802;
  border-radius: 8px;
}

.context-block-5 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #391973;
  background: #468668;
  border-radius: 2px;
}

.context-block-6 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #380657;
  background: #803130;
  border-radius: 3px;
}

.context-block-7 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #958812;
  background: #110235;
  border-radius: 0px;
}

.context-block-8 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #413307;
  background: #369310;
  border-radius: 0px;
}

.context-block-9 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #165881;
  background: #961506;
  border-radius: 6px;
}

.context-block-10 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #598236;
  background: #310793;
  border-radius: 7px;
}

.context-block-11 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #109048;
  background: #650712;
  border-radius: 5px;
}

.context-block-12 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #219251;
  background: #709777;
  border-radius: 8px;
}

.context-block-13 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #173445;
  background: #789355;
  border-radius: 3px;
}

.context-block-14 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #766611;
  background: #431390;
  border-radius: 0px;
}

.context-block-15 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #802830;
  background: #538664;
  border-radius: 3px;
}

.context-block-16 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #836601;
  background: #739504;
  border-radius: 2px;
}

.context-block-17 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #200746;
  background: #713612;
  border-radius: 1px;
}

.context-block-18 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #953631;
  background: #957856;
  border-radius: 5px;
}

.context-block-19 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #130624;
  background: #841190;
  border-radius: 6px;
}

.context-block-20 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #184919;
  background: #855646;
  border-radius: 0px;
}

.context-block-21 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #852780;
  background: #960066;
  border-radius: 3px;
}

.context-block-22 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #302233;
  background: #984905;
  border-radius: 4px;
}

.context-block-23 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #692225;
  background: #726188;
  border-radius: 4px;
}

.context-block-24 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #649219;
  background: #899002;
  border-radius: 5px;
}

.context-block-25 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #203552;
  background: #279623;
  border-radius: 1px;
}

.context-block-26 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #602599;
  background: #318853;
  border-radius: 4px;
}

.context-block-27 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #469181;
  background: #888162;
  border-radius: 7px;
}

.context-block-28 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #627357;
  background: #717006;
  border-radius: 1px;
}

.context-block-29 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #266208;
  background: #719281;
  border-radius: 2px;
}

.context-block-30 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #626115;
  background: #941053;
  border-radius: 5px;
}

.context-block-31 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #146129;
  background: #260074;
  border-radius: 2px;
}

.context-block-32 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #527529;
  background: #927993;
  border-radius: 7px;
}

.context-block-33 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #122237;
  background: #511179;
  border-radius: 6px;
}

.context-block-34 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #753973;
  background: #551501;
  border-radius: 2px;
}

.context-block-35 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #332634;
  background: #481535;
  border-radius: 0px;
}

.context-block-36 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #111168;
  background: #525794;
  border-radius: 0px;
}

.context-block-37 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #473820;
  background: #912516;
  border-radius: 3px;
}

.context-block-38 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #758202;
  background: #144187;
  border-radius: 2px;
}

.context-block-39 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #962070;
  background: #418659;
  border-radius: 6px;
}

.context-block-40 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #301569;
  background: #788727;
  border-radius: 2px;
}

.context-block-41 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #508387;
  background: #854167;
  border-radius: 5px;
}

.context-block-42 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #817961;
  background: #990744;
  border-radius: 1px;
}

.context-block-43 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #969114;
  background: #155896;
  border-radius: 0px;
}

.context-block-44 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #303550;
  background: #882044;
  border-radius: 3px;
}

.context-block-45 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #589446;
  background: #280802;
  border-radius: 0px;
}

.context-block-46 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #778895;
  background: #833956;
  border-radius: 7px;
}

.context-block-47 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #172423;
  background: #805139;
  border-radius: 1px;
}

.context-block-48 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #904457;
  background: #467898;
  border-radius: 7px;
}

.context-block-49 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #212737;
  background: #890318;
  border-radius: 0px;
}

.context-block-50 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #988371;
  background: #217700;
  border-radius: 1px;
}

.context-block-51 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #114039;
  background: #202435;
  border-radius: 8px;
}

.context-block-52 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #751833;
  background: #561894;
  border-radius: 4px;
}

.context-block-53 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #691790;
  background: #405409;
  border-radius: 7px;
}

.context-block-54 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #164403;
  background: #404869;
  border-radius: 5px;
}

.context-block-55 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #832104;
  background: #987608;
  border-radius: 6px;
}

.context-block-56 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #528057;
  background: #400279;
  border-radius: 1px;
}

.context-block-57 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #661932;
  background: #135062;
  border-radius: 7px;
}

.context-block-58 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #381086;
  background: #659854;
  border-radius: 8px;
}

.context-block-59 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #668432;
  background: #987100;
  border-radius: 1px;
}

.context-block-60 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #467269;
  background: #906846;
  border-radius: 1px;
}

.context-block-61 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #616815;
  background: #808824;
  border-radius: 0px;
}

.context-block-62 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #678341;
  background: #197125;
  border-radius: 7px;
}

.context-block-63 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #137513;
  background: #845349;
  border-radius: 1px;
}

.context-block-64 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #284895;
  background: #373602;
  border-radius: 5px;
}

.context-block-65 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #516534;
  background: #591625;
  border-radius: 6px;
}

.context-block-66 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #628793;
  background: #422506;
  border-radius: 5px;
}

.context-block-67 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #308495;
  background: #175017;
  border-radius: 8px;
}

.context-block-68 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #915074;
  background: #594270;
  border-radius: 5px;
}

.context-block-69 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #831374;
  background: #411981;
  border-radius: 5px;
}

.context-block-70 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #319587;
  background: #618674;
  border-radius: 4px;
}

.context-block-71 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #776731;
  background: #521372;
  border-radius: 1px;
}

.context-block-72 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #476321;
  background: #514691;
  border-radius: 7px;
}

.context-block-73 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #510280;
  background: #361388;
  border-radius: 4px;
}

.context-block-74 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #531959;
  background: #251465;
  border-radius: 5px;
}

.context-block-75 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #726426;
  background: #361151;
  border-radius: 0px;
}

.context-block-76 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #510711;
  background: #589167;
  border-radius: 5px;
}

.context-block-77 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #888090;
  background: #847729;
  border-radius: 0px;
}

.context-block-78 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #826377;
  background: #598543;
  border-radius: 6px;
}

.context-block-79 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #510967;
  background: #881202;
  border-radius: 6px;
}

.context-block-80 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #966923;
  background: #756847;
  border-radius: 7px;
}

.context-block-81 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #470592;
  background: #810481;
  border-radius: 6px;
}

.context-block-82 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #666056;
  background: #426993;
  border-radius: 3px;
}

.context-block-83 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #502490;
  background: #107223;
  border-radius: 1px;
}

.context-block-84 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #422434;
  background: #377172;
  border-radius: 6px;
}

.context-block-85 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #861493;
  background: #830568;
  border-radius: 6px;
}

.context-block-86 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #836664;
  background: #471405;
  border-radius: 4px;
}

.context-block-87 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #487249;
  background: #877918;
  border-radius: 5px;
}

.context-block-88 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #265193;
  background: #588481;
  border-radius: 3px;
}

.context-block-89 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #220329;
  background: #292639;
  border-radius: 3px;
}

.context-block-90 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #845038;
  background: #189003;
  border-radius: 3px;
}

.context-block-91 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #408343;
  background: #784869;
  border-radius: 2px;
}

.context-block-92 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #980075;
  background: #778815;
  border-radius: 8px;
}

.context-block-93 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #365403;
  background: #482618;
  border-radius: 1px;
}

.context-block-94 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #804712;
  background: #193398;
  border-radius: 7px;
}

.context-block-95 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #782374;
  background: #823445;
  border-radius: 0px;
}

.context-block-96 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #510437;
  background: #882993;
  border-radius: 3px;
}

.context-block-97 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #760802;
  background: #528303;
  border-radius: 8px;
}

.context-block-98 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #341072;
  background: #593504;
  border-radius: 3px;
}

.context-block-99 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #441595;
  background: #425061;
  border-radius: 5px;
}

.context-block-100 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #390082;
  background: #745025;
  border-radius: 2px;
}

.context-block-101 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #551560;
  background: #315853;
  border-radius: 4px;
}

.context-block-102 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #773955;
  background: #989199;
  border-radius: 2px;
}

.context-block-103 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #278101;
  background: #766091;
  border-radius: 6px;
}

.context-block-104 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #365944;
  background: #609909;
  border-radius: 7px;
}

.context-block-105 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #336026;
  background: #439968;
  border-radius: 2px;
}

.context-block-106 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #860505;
  background: #900291;
  border-radius: 0px;
}

.context-block-107 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #291639;
  background: #673764;
  border-radius: 4px;
}

.context-block-108 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #256812;
  background: #733894;
  border-radius: 3px;
}

.context-block-109 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #989506;
  background: #270568;
  border-radius: 2px;
}

.context-block-110 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #906091;
  background: #530339;
  border-radius: 6px;
}

.context-block-111 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #867594;
  background: #274334;
  border-radius: 3px;
}

.context-block-112 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #118398;
  background: #127261;
  border-radius: 5px;
}

.context-block-113 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #678230;
  background: #843791;
  border-radius: 2px;
}

.context-block-114 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #576102;
  background: #191900;
  border-radius: 4px;
}

.context-block-115 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #536712;
  background: #753856;
  border-radius: 4px;
}

.context-block-116 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #810066;
  background: #968680;
  border-radius: 7px;
}

.context-block-117 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #427722;
  background: #610116;
  border-radius: 4px;
}

.context-block-118 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #266441;
  background: #544776;
  border-radius: 1px;
}

.context-block-119 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #693123;
  background: #526866;
  border-radius: 2px;
}

.context-block-120 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #983539;
  background: #255221;
  border-radius: 4px;
}

.context-block-121 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #934617;
  background: #197436;
  border-radius: 8px;
}

.context-block-122 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #815514;
  background: #623795;
  border-radius: 0px;
}

.context-block-123 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #972225;
  background: #933288;
  border-radius: 0px;
}

.context-block-124 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #238881;
  background: #877065;
  border-radius: 7px;
}

.context-block-125 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #536008;
  background: #171876;
  border-radius: 6px;
}

.context-block-126 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #165543;
  background: #757717;
  border-radius: 1px;
}

.context-block-127 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #715004;
  background: #608876;
  border-radius: 2px;
}

.context-block-128 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #418083;
  background: #730985;
  border-radius: 1px;
}

.context-block-129 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #875368;
  background: #304182;
  border-radius: 1px;
}

.context-block-130 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #206006;
  background: #605815;
  border-radius: 1px;
}

.context-block-131 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #570326;
  background: #199500;
  border-radius: 6px;
}

.context-block-132 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #831565;
  background: #611664;
  border-radius: 5px;
}

.context-block-133 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #929117;
  background: #974486;
  border-radius: 8px;
}

.context-block-134 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #357012;
  background: #763686;
  border-radius: 5px;
}

.context-block-135 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #311797;
  background: #614595;
  border-radius: 1px;
}

.context-block-136 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #537883;
  background: #744902;
  border-radius: 2px;
}

.context-block-137 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #782901;
  background: #373268;
  border-radius: 3px;
}

.context-block-138 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #575439;
  background: #414874;
  border-radius: 1px;
}

.context-block-139 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #870722;
  background: #740085;
  border-radius: 6px;
}

.context-block-140 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #321991;
  background: #151784;
  border-radius: 3px;
}

.context-block-141 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #771636;
  background: #281314;
  border-radius: 5px;
}

.context-block-142 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #691633;
  background: #829845;
  border-radius: 7px;
}

.context-block-143 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #811751;
  background: #756082;
  border-radius: 2px;
}

.context-block-144 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #842339;
  background: #657863;
  border-radius: 7px;
}

.context-block-145 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #722382;
  background: #136499;
  border-radius: 3px;
}

.context-block-146 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #309490;
  background: #438899;
  border-radius: 7px;
}

.context-block-147 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #202753;
  background: #329701;
  border-radius: 2px;
}

.context-block-148 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #842133;
  background: #486430;
  border-radius: 0px;
}

.context-block-149 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #664121;
  background: #720189;
  border-radius: 2px;
}

.context-block-150 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #127720;
  background: #730563;
  border-radius: 3px;
}

.context-block-151 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #755499;
  background: #978263;
  border-radius: 3px;
}

.context-block-152 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #445071;
  background: #399926;
  border-radius: 6px;
}

.context-block-153 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #993478;
  background: #321095;
  border-radius: 1px;
}

.context-block-154 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #365131;
  background: #152033;
  border-radius: 6px;
}

.context-block-155 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #338706;
  background: #523238;
  border-radius: 7px;
}

.context-block-156 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #380858;
  background: #578562;
  border-radius: 7px;
}

.context-block-157 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #310478;
  background: #659375;
  border-radius: 8px;
}

.context-block-158 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #297712;
  background: #213239;
  border-radius: 8px;
}

.context-block-159 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #890003;
  background: #180219;
  border-radius: 0px;
}

.context-block-160 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #810825;
  background: #850206;
  border-radius: 7px;
}

.context-block-161 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #163367;
  background: #478797;
  border-radius: 3px;
}

.context-block-162 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #440357;
  background: #521074;
  border-radius: 0px;
}

.context-block-163 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #378391;
  background: #955232;
  border-radius: 4px;
}

.context-block-164 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #948958;
  background: #910605;
  border-radius: 3px;
}

.context-block-165 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #966597;
  background: #839798;
  border-radius: 5px;
}
