/* hook styles v1 */

.hook-block-1 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #420593;
  background: #557282;
  border-radius: 4px;
}

.hook-block-2 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #130506;
  background: #682922;
  border-radius: 2px;
}

.hook-block-3 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #159183;
  background: #207397;
  border-radius: 3px;
}

.hook-block-4 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #968053;
  background: #175834;
  border-radius: 6px;
}

.hook-block-5 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #979059;
  background: #526284;
  border-radius: 2px;
}

.hook-block-6 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #322567;
  background: #778222;
  border-radius: 5px;
}

.hook-block-7 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #559050;
  background: #707101;
  border-radius: 8px;
}

.hook-block-8 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #945778;
  background: #979811;
  border-radius: 0px;
}

.hook-block-9 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #930448;
  background: #980207;
  border-radius: 2px;
}

.hook-block-10 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #397609;
  background: #286558;
  border-radius: 5px;
}

.hook-block-11 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #415388;
  background: #239025;
  border-radius: 0px;
}

.hook-block-12 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #497635;
  background: #687236;
  border-radius: 5px;
}

.hook-block-13 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #305610;
  background: #136813;
  border-radius: 8px;
}

.hook-block-14 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #759103;
  background: #979927;
  border-radius: 4px;
}

.hook-block-15 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #534130;
  background: #156254;
  border-radius: 7px;
}

.hook-block-16 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #717764;
  background: #861623;
  border-radius: 2px;
}

.hook-block-17 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #105771;
  background: #677712;
  border-radius: 5px;
}

.hook-block-18 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #712039;
  background: #909290;
  border-radius: 8px;
}

.hook-block-19 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #566631;
  background: #406079;
  border-radius: 4px;
}

.hook-block-20 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #687903;
  background: #950356;
  border-radius: 4px;
}

.hook-block-21 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #963783;
  background: #191623;
  border-radius: 5px;
}

.hook-block-22 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #522704;
  background: #340975;
  border-radius: 2px;
}

.hook-block-23 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #780939;
  background: #478393;
  border-radius: 2px;
}

.hook-block-24 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #768066;
  background: #197907;
  border-radius: 7px;
}

.hook-block-25 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #589867;
  background: #465794;
  border-radius: 2px;
}

.hook-block-26 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #234403;
  background: #170527;
  border-radius: 6px;
}

.hook-block-27 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #937072;
  background: #956137;
  border-radius: 4px;
}

.hook-block-28 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #259585;
  background: #649770;
  border-radius: 6px;
}

.hook-block-29 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #647128;
  background: #314613;
  border-radius: 0px;
}

.hook-block-30 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #653215;
  background: #196815;
  border-radius: 5px;
}

.hook-block-31 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #274104;
  background: #169356;
  border-radius: 8px;
}

.hook-block-32 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #367082;
  background: #292433;
  border-radius: 8px;
}

.hook-block-33 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #627171;
  background: #759505;
  border-radius: 5px;
}

.hook-block-34 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #442816;
  background: #364196;
  border-radius: 8px;
}

.hook-block-35 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #141892;
  background: #479437;
  border-radius: 7px;
}

.hook-block-36 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #210926;
  background: #699700;
  border-radius: 8px;
}

.hook-block-37 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #621129;
  background: #299145;
  border-radius: 1px;
}

.hook-block-38 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #592462;
  background: #205564;
  border-radius: 8px;
}

.hook-block-39 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #235231;
  background: #245078;
  border-radius: 2px;
}

.hook-block-40 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #866738;
  background: #680668;
  border-radius: 5px;
}

.hook-block-41 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #906411;
  background: #534083;
  border-radius: 8px;
}

.hook-block-42 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #747163;
  background: #944091;
  border-radius: 2px;
}

.hook-block-43 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #313273;
  background: #846566;
  border-radius: 5px;
}

.hook-block-44 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #233515;
  background: #749678;
  border-radius: 3px;
}

.hook-block-45 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #894488;
  background: #334805;
  border-radius: 3px;
}

.hook-block-46 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #914141;
  background: #536472;
  border-radius: 0px;
}

.hook-block-47 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #612006;
  background: #769911;
  border-radius: 3px;
}

.hook-block-48 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #456927;
  background: #263560;
  border-radius: 6px;
}

.hook-block-49 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #210022;
  background: #167336;
  border-radius: 3px;
}

.hook-block-50 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #684606;
  background: #965480;
  border-radius: 7px;
}

.hook-block-51 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #682618;
  background: #277411;
  border-radius: 3px;
}

.hook-block-52 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #359352;
  background: #796458;
  border-radius: 3px;
}

.hook-block-53 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #396663;
  background: #615406;
  border-radius: 6px;
}

.hook-block-54 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #934943;
  background: #514659;
  border-radius: 1px;
}

.hook-block-55 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #213547;
  background: #816201;
  border-radius: 5px;
}

.hook-block-56 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #453210;
  background: #747584;
  border-radius: 7px;
}

.hook-block-57 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #569810;
  background: #963274;
  border-radius: 5px;
}

.hook-block-58 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #596340;
  background: #682952;
  border-radius: 3px;
}

.hook-block-59 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #219035;
  background: #641354;
  border-radius: 1px;
}

.hook-block-60 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #639166;
  background: #602180;
  border-radius: 0px;
}

.hook-block-61 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #361662;
  background: #328250;
  border-radius: 4px;
}

.hook-block-62 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #206946;
  background: #922086;
  border-radius: 3px;
}

.hook-block-63 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #502005;
  background: #955100;
  border-radius: 3px;
}

.hook-block-64 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #615756;
  background: #691026;
  border-radius: 0px;
}

.hook-block-65 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #328867;
  background: #456992;
  border-radius: 0px;
}

.hook-block-66 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #785604;
  background: #504521;
  border-radius: 2px;
}

.hook-block-67 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #324058;
  background: #188713;
  border-radius: 6px;
}

.hook-block-68 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #651993;
  background: #518787;
  border-radius: 1px;
}

.hook-block-69 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #118078;
  background: #524634;
  border-radius: 6px;
}

.hook-block-70 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #291238;
  background: #954781;
  border-radius: 0px;
}

.hook-block-71 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #440418;
  background: #178642;
  border-radius: 8px;
}

.hook-block-72 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #599541;
  background: #856525;
  border-radius: 4px;
}

.hook-block-73 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #309734;
  background: #600805;
  border-radius: 1px;
}

.hook-block-74 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #956935;
  background: #901975;
  border-radius: 1px;
}

.hook-block-75 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #382627;
  background: #513441;
  border-radius: 1px;
}

.hook-block-76 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #645986;
  background: #118685;
  border-radius: 1px;
}

.hook-block-77 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #585378;
  background: #971609;
  border-radius: 3px;
}

.hook-block-78 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #512808;
  background: #636319;
  border-radius: 8px;
}

.hook-block-79 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #396808;
  background: #753061;
  border-radius: 8px;
}

.hook-block-80 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #335793;
  background: #169860;
  border-radius: 6px;
}

.hook-block-81 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #588816;
  background: #931625;
  border-radius: 6px;
}

.hook-block-82 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #836680;
  background: #577480;
  border-radius: 3px;
}

.hook-block-83 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #570310;
  background: #747070;
  border-radius: 7px;
}

.hook-block-84 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #710494;
  background: #931660;
  border-radius: 1px;
}

.hook-block-85 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #176445;
  background: #884986;
  border-radius: 4px;
}

.hook-block-86 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #296674;
  background: #587545;
  border-radius: 5px;
}

.hook-block-87 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #704537;
  background: #303362;
  border-radius: 7px;
}

.hook-block-88 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #244685;
  background: #284989;
  border-radius: 8px;
}

.hook-block-89 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #477045;
  background: #119602;
  border-radius: 1px;
}

.hook-block-90 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #174750;
  background: #986432;
  border-radius: 4px;
}

.hook-block-91 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #216786;
  background: #583909;
  border-radius: 2px;
}

.hook-block-92 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #679378;
  background: #688042;
  border-radius: 0px;
}

.hook-block-93 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #206365;
  background: #843595;
  border-radius: 2px;
}

.hook-block-94 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #885269;
  background: #952555;
  border-radius: 1px;
}

.hook-block-95 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #278905;
  background: #829140;
  border-radius: 3px;
}

.hook-block-96 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #379284;
  background: #755341;
  border-radius: 7px;
}

.hook-block-97 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #806796;
  background: #497999;
  border-radius: 0px;
}

.hook-block-98 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #827631;
  background: #116556;
  border-radius: 1px;
}

.hook-block-99 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #725568;
  background: #437483;
  border-radius: 3px;
}

.hook-block-100 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #765582;
  background: #668117;
  border-radius: 5px;
}

.hook-block-101 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #907466;
  background: #484793;
  border-radius: 0px;
}

.hook-block-102 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #137070;
  background: #380916;
  border-radius: 4px;
}

.hook-block-103 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #690005;
  background: #451653;
  border-radius: 2px;
}

.hook-block-104 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #300742;
  background: #111352;
  border-radius: 8px;
}

.hook-block-105 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #425047;
  background: #274330;
  border-radius: 5px;
}

.hook-block-106 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #122639;
  background: #723258;
  border-radius: 4px;
}

.hook-block-107 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #449977;
  background: #528236;
  border-radius: 2px;
}

.hook-block-108 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #226954;
  background: #957793;
  border-radius: 8px;
}

.hook-block-109 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #650607;
  background: #981221;
  border-radius: 2px;
}

.hook-block-110 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #206483;
  background: #466150;
  border-radius: 4px;
}

.hook-block-111 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #391821;
  background: #292140;
  border-radius: 4px;
}

.hook-block-112 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #584744;
  background: #144255;
  border-radius: 3px;
}

.hook-block-113 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #392799;
  background: #422741;
  border-radius: 3px;
}

.hook-block-114 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #703430;
  background: #621230;
  border-radius: 2px;
}

.hook-block-115 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #425374;
  background: #702471;
  border-radius: 5px;
}

.hook-block-116 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #363315;
  background: #710514;
  border-radius: 0px;
}

.hook-block-117 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #172720;
  background: #598813;
  border-radius: 7px;
}

.hook-block-118 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #204979;
  background: #340455;
  border-radius: 3px;
}

.hook-block-119 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #707584;
  background: #381392;
  border-radius: 8px;
}

.hook-block-120 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #559203;
  background: #796120;
  border-radius: 1px;
}

.hook-block-121 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #590735;
  background: #157642;
  border-radius: 4px;
}

.hook-block-122 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #856755;
  background: #132297;
  border-radius: 1px;
}

.hook-block-123 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #257632;
  background: #982545;
  border-radius: 5px;
}

.hook-block-124 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #144782;
  background: #715422;
  border-radius: 6px;
}

.hook-block-125 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #110593;
  background: #436052;
  border-radius: 4px;
}

.hook-block-126 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #843470;
  background: #325685;
  border-radius: 4px;
}

.hook-block-127 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #171368;
  background: #800572;
  border-radius: 7px;
}

.hook-block-128 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #373206;
  background: #956141;
  border-radius: 5px;
}

.hook-block-129 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #431136;
  background: #788592;
  border-radius: 6px;
}

.hook-block-130 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #420473;
  background: #589521;
  border-radius: 4px;
}

.hook-block-131 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #367868;
  background: #148320;
  border-radius: 2px;
}

.hook-block-132 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #671335;
  background: #171774;
  border-radius: 5px;
}

.hook-block-133 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #840916;
  background: #544479;
  border-radius: 3px;
}

.hook-block-134 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #355947;
  background: #240572;
  border-radius: 6px;
}

.hook-block-135 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #625946;
  background: #853285;
  border-radius: 4px;
}

.hook-block-136 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #197208;
  background: #663177;
  border-radius: 4px;
}

.hook-block-137 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #976045;
  background: #856429;
  border-radius: 7px;
}

.hook-block-138 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #672803;
  background: #197553;
  border-radius: 8px;
}

.hook-block-139 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #693411;
  background: #449852;
  border-radius: 8px;
}

.hook-block-140 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #463638;
  background: #269604;
  border-radius: 5px;
}

.hook-block-141 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #126565;
  background: #830451;
  border-radius: 3px;
}

.hook-block-142 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #604360;
  background: #464210;
  border-radius: 8px;
}

.hook-block-143 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #776891;
  background: #768901;
  border-radius: 0px;
}

.hook-block-144 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #154476;
  background: #214541;
  border-radius: 5px;
}

.hook-block-145 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #361681;
  background: #550656;
  border-radius: 7px;
}

.hook-block-146 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #902836;
  background: #749232;
  border-radius: 3px;
}

.hook-block-147 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #345038;
  background: #451339;
  border-radius: 6px;
}

.hook-block-148 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #485113;
  background: #176636;
  border-radius: 0px;
}

.hook-block-149 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #269143;
  background: #438149;
  border-radius: 2px;
}

.hook-block-150 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #864753;
  background: #355774;
  border-radius: 8px;
}

.hook-block-151 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #602924;
  background: #537121;
  border-radius: 7px;
}

.hook-block-152 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #983788;
  background: #681037;
  border-radius: 7px;
}

.hook-block-153 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #529104;
  background: #108071;
  border-radius: 5px;
}

.hook-block-154 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #662289;
  background: #898440;
  border-radius: 3px;
}

.hook-block-155 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #920443;
  background: #306317;
  border-radius: 3px;
}

.hook-block-156 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #895255;
  background: #731454;
  border-radius: 8px;
}

.hook-block-157 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #467769;
  background: #113835;
  border-radius: 2px;
}

.hook-block-158 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #894647;
  background: #330502;
  border-radius: 7px;
}

.hook-block-159 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #422521;
  background: #373801;
  border-radius: 5px;
}

.hook-block-160 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #933376;
  background: #428253;
  border-radius: 2px;
}

.hook-block-161 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #961128;
  background: #292650;
  border-radius: 7px;
}

.hook-block-162 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #498517;
  background: #289201;
  border-radius: 5px;
}

.hook-block-163 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #873969;
  background: #564105;
  border-radius: 5px;
}

.hook-block-164 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #334205;
  background: #542906;
  border-radius: 5px;
}

.hook-block-165 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #484116;
  background: #351360;
  border-radius: 0px;
}

.hook-block-166 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #681670;
  background: #391916;
  border-radius: 4px;
}

.hook-block-167 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #916761;
  background: #118021;
  border-radius: 4px;
}

.hook-block-168 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #586120;
  background: #244093;
  border-radius: 6px;
}

.hook-block-169 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #125483;
  background: #456684;
  border-radius: 0px;
}

.hook-block-170 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #268768;
  background: #141033;
  border-radius: 4px;
}

.hook-block-171 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #742580;
  background: #807498;
  border-radius: 8px;
}

.hook-block-172 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #438571;
  background: #695779;
  border-radius: 8px;
}

.hook-block-173 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #313703;
  background: #718920;
  border-radius: 3px;
}

.hook-block-174 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #473441;
  background: #520307;
  border-radius: 4px;
}

.hook-block-175 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #508426;
  background: #260404;
  border-radius: 2px;
}

.hook-block-176 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #315998;
  background: #872576;
  border-radius: 0px;
}

.hook-block-177 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #124234;
  background: #483156;
  border-radius: 5px;
}

.hook-block-178 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #435692;
  background: #290551;
  border-radius: 8px;
}

.hook-block-179 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #328094;
  background: #821715;
  border-radius: 0px;
}

.hook-block-180 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #288497;
  background: #962705;
  border-radius: 2px;
}

.hook-block-181 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #363431;
  background: #367070;
  border-radius: 7px;
}

.hook-block-182 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #188704;
  background: #217451;
  border-radius: 0px;
}

.hook-block-183 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #897358;
  background: #102689;
  border-radius: 8px;
}

.hook-block-184 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #275776;
  background: #153866;
  border-radius: 4px;
}

.hook-block-185 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #149441;
  background: #309376;
  border-radius: 8px;
}

.hook-block-186 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #944098;
  background: #789317;
  border-radius: 2px;
}

.hook-block-187 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #435650;
  background: #694594;
  border-radius: 5px;
}

.hook-block-188 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #585983;
  background: #122329;
  border-radius: 2px;
}

.hook-block-189 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #335373;
  background: #617974;
  border-radius: 1px;
}

.hook-block-190 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #909711;
  background: #807595;
  border-radius: 7px;
}

.hook-block-191 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #952056;
  background: #248548;
  border-radius: 1px;
}

.hook-block-192 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #215956;
  background: #570566;
  border-radius: 3px;
}

.hook-block-193 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #345075;
  background: #631867;
  border-radius: 5px;
}

.hook-block-194 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #378962;
  background: #857941;
  border-radius: 1px;
}

.hook-block-195 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #168443;
  background: #748035;
  border-radius: 8px;
}

.hook-block-196 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #464458;
  background: #383722;
  border-radius: 7px;
}

.hook-block-197 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #416813;
  background: #635917;
  border-radius: 3px;
}

.hook-block-198 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #355853;
  background: #594677;
  border-radius: 4px;
}

.hook-block-199 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #557528;
  background: #425659;
  border-radius: 8px;
}

.hook-block-200 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #934971;
  background: #200255;
  border-radius: 5px;
}

.hook-block-201 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #775181;
  background: #292491;
  border-radius: 5px;
}

.hook-block-202 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #804686;
  background: #596436;
  border-radius: 4px;
}

.hook-block-203 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #578698;
  background: #400699;
  border-radius: 1px;
}

.hook-block-204 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #429596;
  background: #617044;
  border-radius: 7px;
}

.hook-block-205 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #276536;
  background: #579063;
  border-radius: 8px;
}

.hook-block-206 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #338544;
  background: #875809;
  border-radius: 7px;
}

.hook-block-207 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #919397;
  background: #739027;
  border-radius: 4px;
}
