/* index styles v2 */

.index-block-1 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #322314;
  background: #950967;
  border-radius: 5px;
}

.index-block-2 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #912858;
  background: #722817;
  border-radius: 4px;
}

.index-block-3 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #151235;
  background: #165663;
  border-radius: 6px;
}

.index-block-4 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #777118;
  background: #893895;
  border-radius: 4px;
}

.index-block-5 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #355234;
  background: #875106;
  border-radius: 5px;
}

.index-block-6 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #498793;
  background: #437443;
  border-radius: 7px;
}

.index-block-7 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #141850;
  background: #240440;
  border-radius: 3px;
}

.index-block-8 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #170535;
  background: #141566;
  border-radius: 8px;
}

.index-block-9 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #268993;
  background: #861592;
  border-radius: 5px;
}

.index-block-10 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #562378;
  background: #680161;
  border-radius: 8px;
}

.index-block-11 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #505089;
  background: #578149;
  border-radius: 1px;
}

.index-block-12 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #552753;
  background: #687182;
  border-radius: 8px;
}

.index-block-13 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #637817;
  background: #185600;
  border-radius: 4px;
}

.index-block-14 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #157225;
  background: #375384;
  border-radius: 7px;
}

.index-block-15 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #435756;
  background: #541708;
  border-radius: 2px;
}

.index-block-16 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #480679;
  background: #477987;
  border-radius: 3px;
}

.index-block-17 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #282187;
  background: #782027;
  border-radius: 5px;
}

.index-block-18 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #508270;
  background: #305840;
  border-radius: 7px;
}

.index-block-19 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #228527;
  background: #480454;
  border-radius: 5px;
}

.index-block-20 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #175116;
  background: #583873;
  border-radius: 5px;
}

.index-block-21 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #812620;
  background: #811520;
  border-radius: 0px;
}

.index-block-22 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #645868;
  background: #665090;
  border-radius: 0px;
}

.index-block-23 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #360648;
  background: #577083;
  border-radius: 3px;
}

.index-block-24 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #474040;
  background: #674360;
  border-radius: 7px;
}

.index-block-25 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #296988;
  background: #282448;
  border-radius: 8px;
}

.index-block-26 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #328647;
  background: #214053;
  border-radius: 5px;
}

.index-block-27 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #730196;
  background: #366937;
  border-radius: 3px;
}

.index-block-28 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #953558;
  background: #325372;
  border-radius: 3px;
}

.index-block-29 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #421674;
  background: #742905;
  border-radius: 7px;
}

.index-block-30 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #594196;
  background: #149351;
  border-radius: 7px;
}

.index-block-31 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #682722;
  background: #856224;
  border-radius: 0px;
}

.index-block-32 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #268093;
  background: #826096;
  border-radius: 3px;
}

.index-block-33 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #441903;
  background: #181790;
  border-radius: 5px;
}

.index-block-34 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #601652;
  background: #716272;
  border-radius: 2px;
}

.index-block-35 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #684083;
  background: #590727;
  border-radius: 1px;
}

.index-block-36 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #186379;
  background: #581264;
  border-radius: 6px;
}

.index-block-37 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #941534;
  background: #703028;
  border-radius: 8px;
}

.index-block-38 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #455243;
  background: #424187;
  border-radius: 7px;
}

.index-block-39 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #422280;
  background: #651562;
  border-radius: 7px;
}

.index-block-40 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #624821;
  background: #829148;
  border-radius: 6px;
}

.index-block-41 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #147644;
  background: #862008;
  border-radius: 0px;
}

.index-block-42 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #122842;
  background: #747214;
  border-radius: 6px;
}

.index-block-43 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #946112;
  background: #479546;
  border-radius: 2px;
}

.index-block-44 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #204770;
  background: #820600;
  border-radius: 6px;
}

.index-block-45 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #870202;
  background: #578279;
  border-radius: 6px;
}

.index-block-46 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #988620;
  background: #517949;
  border-radius: 7px;
}

.index-block-47 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #673459;
  background: #854748;
  border-radius: 4px;
}

.index-block-48 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #885296;
  background: #529429;
  border-radius: 3px;
}

.index-block-49 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #462163;
  background: #863585;
  border-radius: 8px;
}

.index-block-50 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #603821;
  background: #447075;
  border-radius: 0px;
}

.index-block-51 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #527003;
  background: #882775;
  border-radius: 5px;
}

.index-block-52 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #148008;
  background: #389444;
  border-radius: 8px;
}

.index-block-53 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #320280;
  background: #629296;
  border-radius: 7px;
}

.index-block-54 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #224768;
  background: #626668;
  border-radius: 6px;
}

.index-block-55 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #380208;
  background: #364352;
  border-radius: 8px;
}

.index-block-56 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #335489;
  background: #378471;
  border-radius: 0px;
}

.index-block-57 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #571946;
  background: #262287;
  border-radius: 4px;
}

.index-block-58 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #852120;
  background: #200000;
  border-radius: 7px;
}

.index-block-59 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #721364;
  background: #249779;
  border-radius: 5px;
}

.index-block-60 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #169904;
  background: #994652;
  border-radius: 0px;
}

.index-block-61 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #718394;
  background: #283349;
  border-radius: 4px;
}

.index-block-62 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #610469;
  background: #505661;
  border-radius: 5px;
}

.index-block-63 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #268510;
  background: #404800;
  border-radius: 6px;
}

.index-block-64 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #303348;
  background: #795343;
  border-radius: 0px;
}

.index-block-65 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #229548;
  background: #727172;
  border-radius: 1px;
}

.index-block-66 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #232333;
  background: #628813;
  border-radius: 7px;
}

.index-block-67 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #293050;
  background: #439473;
  border-radius: 6px;
}

.index-block-68 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #976496;
  background: #693920;
  border-radius: 0px;
}

.index-block-69 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #510852;
  background: #807975;
  border-radius: 5px;
}

.index-block-70 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #235599;
  background: #617378;
  border-radius: 0px;
}

.index-block-71 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #534866;
  background: #576577;
  border-radius: 0px;
}

.index-block-72 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #687113;
  background: #234813;
  border-radius: 2px;
}

.index-block-73 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #887383;
  background: #459848;
  border-radius: 4px;
}

.index-block-74 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #608497;
  background: #845991;
  border-radius: 8px;
}

.index-block-75 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #616761;
  background: #661146;
  border-radius: 3px;
}

.index-block-76 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #494994;
  background: #992067;
  border-radius: 0px;
}

.index-block-77 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #375560;
  background: #165857;
  border-radius: 3px;
}

.index-block-78 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #541142;
  background: #635506;
  border-radius: 3px;
}

.index-block-79 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #391015;
  background: #137667;
  border-radius: 7px;
}

.index-block-80 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #814889;
  background: #961761;
  border-radius: 6px;
}

.index-block-81 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #137765;
  background: #214983;
  border-radius: 1px;
}

.index-block-82 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #467730;
  background: #360894;
  border-radius: 4px;
}

.index-block-83 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #975896;
  background: #246528;
  border-radius: 4px;
}

.index-block-84 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #273979;
  background: #943576;
  border-radius: 3px;
}

.index-block-85 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #840186;
  background: #750958;
  border-radius: 4px;
}

.index-block-86 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #808441;
  background: #705321;
  border-radius: 3px;
}

.index-block-87 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #364914;
  background: #916253;
  border-radius: 3px;
}

.index-block-88 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #135467;
  background: #931847;
  border-radius: 5px;
}

.index-block-89 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #159195;
  background: #602057;
  border-radius: 8px;
}

.index-block-90 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #125106;
  background: #143239;
  border-radius: 7px;
}

.index-block-91 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #216651;
  background: #353113;
  border-radius: 4px;
}

.index-block-92 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #914844;
  background: #761386;
  border-radius: 8px;
}

.index-block-93 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #406575;
  background: #305905;
  border-radius: 5px;
}

.index-block-94 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #129712;
  background: #960287;
  border-radius: 7px;
}

.index-block-95 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #157962;
  background: #154657;
  border-radius: 4px;
}

.index-block-96 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #540392;
  background: #578421;
  border-radius: 5px;
}

.index-block-97 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #468903;
  background: #568376;
  border-radius: 6px;
}

.index-block-98 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #909795;
  background: #142826;
  border-radius: 4px;
}

.index-block-99 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #258373;
  background: #998729;
  border-radius: 1px;
}

.index-block-100 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #934491;
  background: #531926;
  border-radius: 0px;
}

.index-block-101 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #481411;
  background: #220623;
  border-radius: 0px;
}

.index-block-102 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #559798;
  background: #194911;
  border-radius: 5px;
}

.index-block-103 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #158480;
  background: #284541;
  border-radius: 0px;
}

.index-block-104 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #417285;
  background: #205690;
  border-radius: 6px;
}

.index-block-105 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #181631;
  background: #663328;
  border-radius: 1px;
}

.index-block-106 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #132441;
  background: #465518;
  border-radius: 0px;
}

.index-block-107 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #660163;
  background: #627356;
  border-radius: 5px;
}

.index-block-108 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #859277;
  background: #336408;
  border-radius: 6px;
}

.index-block-109 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #913132;
  background: #612213;
  border-radius: 3px;
}

.index-block-110 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #649178;
  background: #893841;
  border-radius: 0px;
}

.index-block-111 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #311435;
  background: #533348;
  border-radius: 5px;
}

.index-block-112 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #234412;
  background: #588129;
  border-radius: 8px;
}

.index-block-113 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #774678;
  background: #283887;
  border-radius: 7px;
}

.index-block-114 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #733797;
  background: #805463;
  border-radius: 8px;
}

.index-block-115 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #443724;
  background: #906198;
  border-radius: 3px;
}

.index-block-116 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #850208;
  background: #878362;
  border-radius: 6px;
}

.index-block-117 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #535095;
  background: #186089;
  border-radius: 5px;
}

.index-block-118 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #958226;
  background: #817222;
  border-radius: 7px;
}

.index-block-119 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #844418;
  background: #961997;
  border-radius: 4px;
}

.index-block-120 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #756506;
  background: #476149;
  border-radius: 1px;
}

.index-block-121 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #359188;
  background: #601378;
  border-radius: 6px;
}

.index-block-122 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #514609;
  background: #833576;
  border-radius: 0px;
}

.index-block-123 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #872465;
  background: #554004;
  border-radius: 5px;
}

.index-block-124 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #859386;
  background: #117432;
  border-radius: 3px;
}

.index-block-125 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #914990;
  background: #878359;
  border-radius: 6px;
}

.index-block-126 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #852717;
  background: #842292;
  border-radius: 7px;
}

.index-block-127 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #349868;
  background: #933835;
  border-radius: 3px;
}

.index-block-128 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #191835;
  background: #908008;
  border-radius: 1px;
}

.index-block-129 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #157686;
  background: #569477;
  border-radius: 5px;
}

.index-block-130 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #546746;
  background: #642259;
  border-radius: 3px;
}

.index-block-131 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #186852;
  background: #700638;
  border-radius: 8px;
}

.index-block-132 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #617702;
  background: #309406;
  border-radius: 0px;
}

.index-block-133 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #710500;
  background: #179460;
  border-radius: 0px;
}

.index-block-134 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #980584;
  background: #261239;
  border-radius: 3px;
}

.index-block-135 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #223552;
  background: #114822;
  border-radius: 8px;
}

.index-block-136 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #170526;
  background: #127974;
  border-radius: 6px;
}

.index-block-137 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #687871;
  background: #413474;
  border-radius: 2px;
}

.index-block-138 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #365583;
  background: #346383;
  border-radius: 8px;
}

.index-block-139 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #996009;
  background: #177896;
  border-radius: 0px;
}

.index-block-140 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #353784;
  background: #252512;
  border-radius: 5px;
}

.index-block-141 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #431222;
  background: #839039;
  border-radius: 5px;
}

.index-block-142 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #629928;
  background: #235299;
  border-radius: 3px;
}

.index-block-143 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #159291;
  background: #204985;
  border-radius: 1px;
}

.index-block-144 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #754131;
  background: #710744;
  border-radius: 1px;
}

.index-block-145 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #252651;
  background: #900781;
  border-radius: 1px;
}

.index-block-146 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #643637;
  background: #640512;
  border-radius: 8px;
}

.index-block-147 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #625569;
  background: #541583;
  border-radius: 6px;
}

.index-block-148 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #444189;
  background: #639956;
  border-radius: 6px;
}

.index-block-149 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #506827;
  background: #152083;
  border-radius: 1px;
}

.index-block-150 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #768278;
  background: #105108;
  border-radius: 3px;
}

.index-block-151 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #899933;
  background: #201109;
  border-radius: 2px;
}

.index-block-152 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #676449;
  background: #992104;
  border-radius: 5px;
}

.index-block-153 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #236437;
  background: #192685;
  border-radius: 4px;
}

.index-block-154 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #745447;
  background: #712381;
  border-radius: 8px;
}

.index-block-155 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #421779;
  background: #124827;
  border-radius: 4px;
}

.index-block-156 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #894851;
  background: #918709;
  border-radius: 7px;
}

.index-block-157 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #761472;
  background: #226308;
  border-radius: 1px;
}

.index-block-158 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #163090;
  background: #957304;
  border-radius: 8px;
}

.index-block-159 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #744582;
  background: #490684;
  border-radius: 1px;
}

.index-block-160 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #115599;
  background: #505844;
  border-radius: 6px;
}

.index-block-161 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #107677;
  background: #877361;
  border-radius: 5px;
}

.index-block-162 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #163707;
  background: #712621;
  border-radius: 7px;
}

.index-block-163 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #711848;
  background: #522652;
  border-radius: 3px;
}

.index-block-164 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #653778;
  background: #254544;
  border-radius: 8px;
}

.index-block-165 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #394469;
  background: #530789;
  border-radius: 8px;
}

.index-block-166 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #783517;
  background: #247382;
  border-radius: 1px;
}

.index-block-167 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #212079;
  background: #477099;
  border-radius: 7px;
}

.index-block-168 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #597336;
  background: #526922;
  border-radius: 2px;
}

.index-block-169 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #127648;
  background: #184129;
  border-radius: 5px;
}

.index-block-170 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #236648;
  background: #680736;
  border-radius: 0px;
}

.index-block-171 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #320549;
  background: #307798;
  border-radius: 4px;
}

.index-block-172 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #354991;
  background: #803332;
  border-radius: 7px;
}

.index-block-173 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #267196;
  background: #625839;
  border-radius: 6px;
}

.index-block-174 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #883405;
  background: #878788;
  border-radius: 2px;
}

.index-block-175 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #460718;
  background: #536088;
  border-radius: 0px;
}
