/* constants styles v1 */

.constants-block-1 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #679621;
  background: #338223;
  border-radius: 2px;
}

.constants-block-2 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #221376;
  background: #586371;
  border-radius: 1px;
}

.constants-block-3 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #438606;
  background: #164373;
  border-radius: 4px;
}

.constants-block-4 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #771912;
  background: #403294;
  border-radius: 0px;
}

.constants-block-5 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #407693;
  background: #520329;
  border-radius: 3px;
}

.constants-block-6 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #565710;
  background: #879216;
  border-radius: 8px;
}

.constants-block-7 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #589715;
  background: #779778;
  border-radius: 0px;
}

.constants-block-8 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #950242;
  background: #580350;
  border-radius: 5px;
}

.constants-block-9 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #870981;
  background: #662123;
  border-radius: 7px;
}

.constants-block-10 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #499738;
  background: #725475;
  border-radius: 1px;
}

.constants-block-11 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #834104;
  background: #653070;
  border-radius: 2px;
}

.constants-block-12 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #575862;
  background: #878942;
  border-radius: 1px;
}

.constants-block-13 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #585707;
  background: #255321;
  border-radius: 1px;
}

.constants-block-14 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #787464;
  background: #546469;
  border-radius: 6px;
}

.constants-block-15 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #251116;
  background: #390565;
  border-radius: 5px;
}

.constants-block-16 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #220802;
  background: #770680;
  border-radius: 8px;
}

.constants-block-17 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #201138;
  background: #292842;
  border-radius: 4px;
}

.constants-block-18 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #519545;
  background: #376157;
  border-radius: 6px;
}

.constants-block-19 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #311673;
  background: #946683;
  border-radius: 6px;
}

.constants-block-20 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #608814;
  background: #157992;
  border-radius: 8px;
}

.constants-block-21 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #646458;
  background: #637638;
  border-radius: 2px;
}

.constants-block-22 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #385723;
  background: #524768;
  border-radius: 7px;
}

.constants-block-23 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #177934;
  background: #653962;
  border-radius: 5px;
}

.constants-block-24 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #296656;
  background: #927646;
  border-radius: 4px;
}

.constants-block-25 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #452363;
  background: #612715;
  border-radius: 1px;
}

.constants-block-26 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #295033;
  background: #313229;
  border-radius: 0px;
}

.constants-block-27 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #944078;
  background: #937540;
  border-radius: 1px;
}

.constants-block-28 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #478907;
  background: #760228;
  border-radius: 2px;
}

.constants-block-29 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #361417;
  background: #295154;
  border-radius: 5px;
}

.constants-block-30 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #751557;
  background: #179958;
  border-radius: 4px;
}

.constants-block-31 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #944755;
  background: #759421;
  border-radius: 1px;
}

.constants-block-32 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #786631;
  background: #809644;
  border-radius: 4px;
}

.constants-block-33 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #166239;
  background: #221956;
  border-radius: 5px;
}

.constants-block-34 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #518570;
  background: #986583;
  border-radius: 5px;
}

.constants-block-35 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #482777;
  background: #562848;
  border-radius: 5px;
}

.constants-block-36 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #775197;
  background: #491695;
  border-radius: 6px;
}

.constants-block-37 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #839589;
  background: #140510;
  border-radius: 7px;
}

.constants-block-38 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #428873;
  background: #874151;
  border-radius: 6px;
}

.constants-block-39 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #352612;
  background: #712073;
  border-radius: 7px;
}

.constants-block-40 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #421581;
  background: #545807;
  border-radius: 2px;
}

.constants-block-41 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #945410;
  background: #361505;
  border-radius: 2px;
}

.constants-block-42 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #924129;
  background: #146386;
  border-radius: 8px;
}

.constants-block-43 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #361240;
  background: #347859;
  border-radius: 3px;
}

.constants-block-44 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #376441;
  background: #658959;
  border-radius: 8px;
}

.constants-block-45 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #844888;
  background: #497097;
  border-radius: 6px;
}

.constants-block-46 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #931019;
  background: #581555;
  border-radius: 4px;
}

.constants-block-47 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #672931;
  background: #104017;
  border-radius: 6px;
}

.constants-block-48 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #241301;
  background: #665885;
  border-radius: 4px;
}

.constants-block-49 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #536596;
  background: #492137;
  border-radius: 2px;
}

.constants-block-50 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #507020;
  background: #199523;
  border-radius: 6px;
}

.constants-block-51 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #929521;
  background: #655283;
  border-radius: 6px;
}

.constants-block-52 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #566138;
  background: #164610;
  border-radius: 8px;
}

.constants-block-53 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #594778;
  background: #981283;
  border-radius: 0px;
}

.constants-block-54 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #913635;
  background: #935534;
  border-radius: 8px;
}

.constants-block-55 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #422724;
  background: #991862;
  border-radius: 3px;
}

.constants-block-56 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #987694;
  background: #611375;
  border-radius: 1px;
}

.constants-block-57 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #594848;
  background: #229803;
  border-radius: 1px;
}

.constants-block-58 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #499863;
  background: #997298;
  border-radius: 6px;
}

.constants-block-59 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #120076;
  background: #540947;
  border-radius: 2px;
}

.constants-block-60 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #653822;
  background: #684023;
  border-radius: 0px;
}

.constants-block-61 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #440150;
  background: #440883;
  border-radius: 8px;
}

.constants-block-62 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #303752;
  background: #606938;
  border-radius: 7px;
}

.constants-block-63 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #371036;
  background: #480513;
  border-radius: 0px;
}

.constants-block-64 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #104181;
  background: #227906;
  border-radius: 4px;
}

.constants-block-65 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #329056;
  background: #437243;
  border-radius: 7px;
}

.constants-block-66 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #204814;
  background: #554372;
  border-radius: 0px;
}

.constants-block-67 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #944838;
  background: #715718;
  border-radius: 3px;
}

.constants-block-68 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #402592;
  background: #423368;
  border-radius: 5px;
}

.constants-block-69 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #726457;
  background: #549894;
  border-radius: 5px;
}

.constants-block-70 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #885147;
  background: #213667;
  border-radius: 4px;
}

.constants-block-71 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #376638;
  background: #913211;
  border-radius: 5px;
}

.constants-block-72 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #941366;
  background: #638875;
  border-radius: 0px;
}

.constants-block-73 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #328707;
  background: #771828;
  border-radius: 3px;
}

.constants-block-74 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #982045;
  background: #998963;
  border-radius: 2px;
}

.constants-block-75 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #823530;
  background: #713660;
  border-radius: 4px;
}

.constants-block-76 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #262913;
  background: #758860;
  border-radius: 1px;
}

.constants-block-77 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #136096;
  background: #459465;
  border-radius: 2px;
}

.constants-block-78 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #639941;
  background: #761493;
  border-radius: 4px;
}

.constants-block-79 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #556977;
  background: #767822;
  border-radius: 4px;
}

.constants-block-80 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #868954;
  background: #900324;
  border-radius: 1px;
}

.constants-block-81 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #371893;
  background: #889667;
  border-radius: 7px;
}

.constants-block-82 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #394467;
  background: #854291;
  border-radius: 8px;
}

.constants-block-83 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #543243;
  background: #166452;
  border-radius: 8px;
}

.constants-block-84 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #312643;
  background: #557277;
  border-radius: 7px;
}

.constants-block-85 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #612042;
  background: #505128;
  border-radius: 3px;
}

.constants-block-86 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #746456;
  background: #116132;
  border-radius: 2px;
}

.constants-block-87 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #488367;
  background: #459378;
  border-radius: 6px;
}

.constants-block-88 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #593909;
  background: #337076;
  border-radius: 0px;
}

.constants-block-89 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #214567;
  background: #805958;
  border-radius: 1px;
}

.constants-block-90 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #808707;
  background: #651273;
  border-radius: 3px;
}

.constants-block-91 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #449252;
  background: #584049;
  border-radius: 6px;
}

.constants-block-92 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #603331;
  background: #677710;
  border-radius: 4px;
}

.constants-block-93 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #862732;
  background: #570271;
  border-radius: 4px;
}

.constants-block-94 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #933308;
  background: #106561;
  border-radius: 2px;
}

.constants-block-95 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #937434;
  background: #548863;
  border-radius: 1px;
}

.constants-block-96 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #484871;
  background: #260117;
  border-radius: 7px;
}

.constants-block-97 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #661054;
  background: #411588;
  border-radius: 5px;
}

.constants-block-98 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #952339;
  background: #272465;
  border-radius: 6px;
}

.constants-block-99 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #967085;
  background: #441598;
  border-radius: 5px;
}

.constants-block-100 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #212753;
  background: #654573;
  border-radius: 0px;
}

.constants-block-101 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #948192;
  background: #305867;
  border-radius: 8px;
}

.constants-block-102 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #289769;
  background: #859592;
  border-radius: 6px;
}

.constants-block-103 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #923817;
  background: #458253;
  border-radius: 4px;
}

.constants-block-104 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #102824;
  background: #565230;
  border-radius: 3px;
}

.constants-block-105 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #415807;
  background: #845983;
  border-radius: 7px;
}

.constants-block-106 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #127355;
  background: #627263;
  border-radius: 6px;
}

.constants-block-107 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #255849;
  background: #672604;
  border-radius: 5px;
}

.constants-block-108 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #403698;
  background: #161862;
  border-radius: 6px;
}

.constants-block-109 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #847428;
  background: #306450;
  border-radius: 0px;
}

.constants-block-110 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #832359;
  background: #365690;
  border-radius: 1px;
}

.constants-block-111 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #914105;
  background: #391806;
  border-radius: 5px;
}

.constants-block-112 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #938001;
  background: #212877;
  border-radius: 3px;
}

.constants-block-113 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #416414;
  background: #526217;
  border-radius: 4px;
}

.constants-block-114 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #679893;
  background: #658344;
  border-radius: 8px;
}

.constants-block-115 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #692794;
  background: #768338;
  border-radius: 1px;
}

.constants-block-116 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #189014;
  background: #758664;
  border-radius: 1px;
}

.constants-block-117 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #207051;
  background: #642341;
  border-radius: 8px;
}

.constants-block-118 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #327704;
  background: #176045;
  border-radius: 4px;
}

.constants-block-119 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #447041;
  background: #163602;
  border-radius: 3px;
}

.constants-block-120 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #653056;
  background: #689331;
  border-radius: 1px;
}

.constants-block-121 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #347859;
  background: #232353;
  border-radius: 7px;
}

.constants-block-122 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #626216;
  background: #479364;
  border-radius: 4px;
}

.constants-block-123 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #789136;
  background: #783507;
  border-radius: 8px;
}

.constants-block-124 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #502889;
  background: #715909;
  border-radius: 6px;
}

.constants-block-125 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #171167;
  background: #348125;
  border-radius: 3px;
}

.constants-block-126 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #471635;
  background: #130888;
  border-radius: 1px;
}

.constants-block-127 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #989958;
  background: #331328;
  border-radius: 5px;
}

.constants-block-128 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #432475;
  background: #749061;
  border-radius: 7px;
}

.constants-block-129 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #838025;
  background: #149054;
  border-radius: 7px;
}

.constants-block-130 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #734936;
  background: #743901;
  border-radius: 5px;
}

.constants-block-131 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #437130;
  background: #248167;
  border-radius: 1px;
}

.constants-block-132 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #778396;
  background: #924385;
  border-radius: 0px;
}

.constants-block-133 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #992503;
  background: #567377;
  border-radius: 3px;
}

.constants-block-134 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #724539;
  background: #119067;
  border-radius: 5px;
}

.constants-block-135 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #526484;
  background: #236322;
  border-radius: 6px;
}

.constants-block-136 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #238241;
  background: #438360;
  border-radius: 3px;
}

.constants-block-137 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #534455;
  background: #563427;
  border-radius: 2px;
}

.constants-block-138 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #865491;
  background: #945652;
  border-radius: 3px;
}

.constants-block-139 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #588385;
  background: #285884;
  border-radius: 8px;
}

.constants-block-140 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #531281;
  background: #283992;
  border-radius: 6px;
}

.constants-block-141 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #824795;
  background: #553640;
  border-radius: 4px;
}

.constants-block-142 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #302963;
  background: #768866;
  border-radius: 6px;
}

.constants-block-143 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #575480;
  background: #149859;
  border-radius: 5px;
}

.constants-block-144 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #871745;
  background: #900236;
  border-radius: 8px;
}

.constants-block-145 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #662361;
  background: #819132;
  border-radius: 4px;
}

.constants-block-146 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #862873;
  background: #249877;
  border-radius: 3px;
}

.constants-block-147 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #963439;
  background: #838150;
  border-radius: 5px;
}

.constants-block-148 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #549999;
  background: #374249;
  border-radius: 7px;
}

.constants-block-149 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #196419;
  background: #927651;
  border-radius: 0px;
}

.constants-block-150 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #227461;
  background: #370070;
  border-radius: 0px;
}

.constants-block-151 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #441239;
  background: #325689;
  border-radius: 6px;
}

.constants-block-152 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #241955;
  background: #860537;
  border-radius: 5px;
}

.constants-block-153 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #863878;
  background: #126726;
  border-radius: 3px;
}

.constants-block-154 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #608603;
  background: #856097;
  border-radius: 7px;
}

.constants-block-155 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #292574;
  background: #195048;
  border-radius: 6px;
}

.constants-block-156 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #992008;
  background: #506055;
  border-radius: 3px;
}

.constants-block-157 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #465272;
  background: #690814;
  border-radius: 6px;
}

.constants-block-158 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #926703;
  background: #627294;
  border-radius: 6px;
}

.constants-block-159 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #294929;
  background: #558831;
  border-radius: 6px;
}

.constants-block-160 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #939826;
  background: #595336;
  border-radius: 4px;
}

.constants-block-161 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #718575;
  background: #230269;
  border-radius: 8px;
}

.constants-block-162 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #127958;
  background: #392034;
  border-radius: 0px;
}

.constants-block-163 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #887895;
  background: #432165;
  border-radius: 5px;
}

.constants-block-164 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #886302;
  background: #254693;
  border-radius: 0px;
}

.constants-block-165 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #754909;
  background: #594934;
  border-radius: 2px;
}

.constants-block-166 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #797819;
  background: #544546;
  border-radius: 3px;
}

.constants-block-167 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #487290;
  background: #250606;
  border-radius: 6px;
}

.constants-block-168 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #318967;
  background: #779568;
  border-radius: 5px;
}

.constants-block-169 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #645211;
  background: #930178;
  border-radius: 1px;
}

.constants-block-170 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #653448;
  background: #338812;
  border-radius: 8px;
}

.constants-block-171 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #446639;
  background: #753757;
  border-radius: 1px;
}

.constants-block-172 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #842205;
  background: #474091;
  border-radius: 4px;
}

.constants-block-173 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #571921;
  background: #268187;
  border-radius: 0px;
}

.constants-block-174 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #223004;
  background: #941051;
  border-radius: 4px;
}

.constants-block-175 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #692580;
  background: #779931;
  border-radius: 3px;
}

.constants-block-176 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #882552;
  background: #716906;
  border-radius: 0px;
}

.constants-block-177 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #384744;
  background: #162321;
  border-radius: 5px;
}

.constants-block-178 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #344542;
  background: #787400;
  border-radius: 0px;
}

.constants-block-179 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #785756;
  background: #342160;
  border-radius: 0px;
}

.constants-block-180 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #864410;
  background: #992328;
  border-radius: 3px;
}

.constants-block-181 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #904571;
  background: #797348;
  border-radius: 4px;
}

.constants-block-182 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #242370;
  background: #698319;
  border-radius: 0px;
}

.constants-block-183 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #683767;
  background: #280856;
  border-radius: 7px;
}

.constants-block-184 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #476487;
  background: #450899;
  border-radius: 2px;
}

.constants-block-185 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #464589;
  background: #433374;
  border-radius: 0px;
}

.constants-block-186 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #863644;
  background: #426306;
  border-radius: 8px;
}

.constants-block-187 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #207722;
  background: #813458;
  border-radius: 2px;
}

.constants-block-188 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #474265;
  background: #388394;
  border-radius: 0px;
}

.constants-block-189 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #202677;
  background: #166271;
  border-radius: 7px;
}

.constants-block-190 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #383046;
  background: #938469;
  border-radius: 5px;
}

.constants-block-191 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #938979;
  background: #626352;
  border-radius: 7px;
}

.constants-block-192 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #988822;
  background: #457354;
  border-radius: 8px;
}

.constants-block-193 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #344123;
  background: #912424;
  border-radius: 5px;
}

.constants-block-194 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #508323;
  background: #860526;
  border-radius: 1px;
}

.constants-block-195 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #997613;
  background: #179396;
  border-radius: 7px;
}

.constants-block-196 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #237312;
  background: #550194;
  border-radius: 3px;
}

.constants-block-197 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #538742;
  background: #450611;
  border-radius: 3px;
}

.constants-block-198 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #144532;
  background: #933795;
  border-radius: 6px;
}
