/* constants styles v2 */

.constants-block-1 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #697424;
  background: #961172;
  border-radius: 7px;
}

.constants-block-2 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #644583;
  background: #912293;
  border-radius: 0px;
}

.constants-block-3 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #695420;
  background: #768251;
  border-radius: 8px;
}

.constants-block-4 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #661952;
  background: #795002;
  border-radius: 0px;
}

.constants-block-5 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #519915;
  background: #995691;
  border-radius: 8px;
}

.constants-block-6 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #990342;
  background: #168370;
  border-radius: 4px;
}

.constants-block-7 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #980711;
  background: #393233;
  border-radius: 6px;
}

.constants-block-8 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #285624;
  background: #180687;
  border-radius: 7px;
}

.constants-block-9 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #853234;
  background: #244688;
  border-radius: 1px;
}

.constants-block-10 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #468358;
  background: #724088;
  border-radius: 2px;
}

.constants-block-11 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #755359;
  background: #927472;
  border-radius: 1px;
}

.constants-block-12 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #845274;
  background: #171884;
  border-radius: 4px;
}

.constants-block-13 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #301547;
  background: #620203;
  border-radius: 6px;
}

.constants-block-14 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #311648;
  background: #963641;
  border-radius: 1px;
}

.constants-block-15 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #708576;
  background: #917749;
  border-radius: 4px;
}

.constants-block-16 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #667592;
  background: #386045;
  border-radius: 6px;
}

.constants-block-17 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #548729;
  background: #643674;
  border-radius: 8px;
}

.constants-block-18 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #988420;
  background: #640217;
  border-radius: 7px;
}

.constants-block-19 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #609292;
  background: #318887;
  border-radius: 3px;
}

.constants-block-20 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #447126;
  background: #389003;
  border-radius: 6px;
}

.constants-block-21 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #802846;
  background: #708672;
  border-radius: 7px;
}

.constants-block-22 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #452004;
  background: #372003;
  border-radius: 2px;
}

.constants-block-23 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #912412;
  background: #534450;
  border-radius: 4px;
}

.constants-block-24 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #640601;
  background: #442975;
  border-radius: 4px;
}

.constants-block-25 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #830195;
  background: #757780;
  border-radius: 6px;
}

.constants-block-26 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #119009;
  background: #355081;
  border-radius: 8px;
}

.constants-block-27 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #389784;
  background: #928640;
  border-radius: 4px;
}

.constants-block-28 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #858990;
  background: #775370;
  border-radius: 2px;
}

.constants-block-29 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #780461;
  background: #793956;
  border-radius: 6px;
}

.constants-block-30 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #421015;
  background: #782282;
  border-radius: 2px;
}

.constants-block-31 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #599923;
  background: #992201;
  border-radius: 7px;
}

.constants-block-32 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #765153;
  background: #169956;
  border-radius: 2px;
}

.constants-block-33 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #629542;
  background: #471672;
  border-radius: 3px;
}

.constants-block-34 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #400106;
  background: #382060;
  border-radius: 0px;
}

.constants-block-35 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #335583;
  background: #470129;
  border-radius: 2px;
}

.constants-block-36 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #409853;
  background: #306952;
  border-radius: 8px;
}

.constants-block-37 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #491614;
  background: #538163;
  border-radius: 8px;
}

.constants-block-38 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #743575;
  background: #516444;
  border-radius: 4px;
}

.constants-block-39 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #313215;
  background: #784019;
  border-radius: 7px;
}

.constants-block-40 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #863965;
  background: #903614;
  border-radius: 2px;
}

.constants-block-41 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #577002;
  background: #120070;
  border-radius: 5px;
}

.constants-block-42 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #878090;
  background: #902142;
  border-radius: 8px;
}

.constants-block-43 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #793379;
  background: #506853;
  border-radius: 0px;
}

.constants-block-44 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #829687;
  background: #631864;
  border-radius: 0px;
}

.constants-block-45 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #697410;
  background: #275822;
  border-radius: 5px;
}

.constants-block-46 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #768656;
  background: #243845;
  border-radius: 2px;
}

.constants-block-47 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #246186;
  background: #373039;
  border-radius: 8px;
}

.constants-block-48 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #438569;
  background: #114541;
  border-radius: 6px;
}

.constants-block-49 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #345076;
  background: #159040;
  border-radius: 6px;
}

.constants-block-50 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #292662;
  background: #893805;
  border-radius: 2px;
}

.constants-block-51 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #700809;
  background: #231518;
  border-radius: 5px;
}

.constants-block-52 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #269172;
  background: #826817;
  border-radius: 5px;
}

.constants-block-53 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #597416;
  background: #263295;
  border-radius: 8px;
}

.constants-block-54 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #984349;
  background: #676744;
  border-radius: 7px;
}

.constants-block-55 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #443153;
  background: #274749;
  border-radius: 1px;
}

.constants-block-56 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #942163;
  background: #254365;
  border-radius: 7px;
}

.constants-block-57 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #323723;
  background: #443529;
  border-radius: 5px;
}

.constants-block-58 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #769999;
  background: #244155;
  border-radius: 0px;
}

.constants-block-59 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #850717;
  background: #201387;
  border-radius: 6px;
}

.constants-block-60 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #775673;
  background: #984813;
  border-radius: 3px;
}

.constants-block-61 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #995474;
  background: #434438;
  border-radius: 6px;
}

.constants-block-62 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #439150;
  background: #547061;
  border-radius: 7px;
}

.constants-block-63 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #378739;
  background: #995462;
  border-radius: 3px;
}

.constants-block-64 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #908711;
  background: #334072;
  border-radius: 8px;
}

.constants-block-65 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #426814;
  background: #911156;
  border-radius: 2px;
}

.constants-block-66 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #322175;
  background: #341300;
  border-radius: 1px;
}

.constants-block-67 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #236661;
  background: #729880;
  border-radius: 8px;
}

.constants-block-68 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #525468;
  background: #234086;
  border-radius: 0px;
}

.constants-block-69 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #996779;
  background: #662520;
  border-radius: 6px;
}

.constants-block-70 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #969502;
  background: #264380;
  border-radius: 6px;
}

.constants-block-71 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #619002;
  background: #327045;
  border-radius: 8px;
}

.constants-block-72 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #138299;
  background: #833572;
  border-radius: 0px;
}

.constants-block-73 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #529820;
  background: #972254;
  border-radius: 5px;
}

.constants-block-74 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #252823;
  background: #447991;
  border-radius: 8px;
}

.constants-block-75 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #779671;
  background: #334430;
  border-radius: 0px;
}

.constants-block-76 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #512224;
  background: #888306;
  border-radius: 4px;
}

.constants-block-77 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #836191;
  background: #628381;
  border-radius: 1px;
}

.constants-block-78 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #233579;
  background: #455213;
  border-radius: 7px;
}

.constants-block-79 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #263819;
  background: #597894;
  border-radius: 5px;
}

.constants-block-80 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #338733;
  background: #342527;
  border-radius: 0px;
}

.constants-block-81 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #738760;
  background: #306154;
  border-radius: 7px;
}

.constants-block-82 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #469048;
  background: #656502;
  border-radius: 0px;
}

.constants-block-83 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #636256;
  background: #540577;
  border-radius: 8px;
}

.constants-block-84 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #491725;
  background: #728016;
  border-radius: 0px;
}

.constants-block-85 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #937812;
  background: #194853;
  border-radius: 7px;
}

.constants-block-86 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #551334;
  background: #783503;
  border-radius: 2px;
}

.constants-block-87 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #970523;
  background: #680161;
  border-radius: 2px;
}

.constants-block-88 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #423391;
  background: #132412;
  border-radius: 2px;
}

.constants-block-89 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #590398;
  background: #163727;
  border-radius: 5px;
}

.constants-block-90 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #699592;
  background: #624761;
  border-radius: 0px;
}

.constants-block-91 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #387664;
  background: #842330;
  border-radius: 2px;
}

.constants-block-92 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #382844;
  background: #413331;
  border-radius: 2px;
}

.constants-block-93 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #805804;
  background: #287418;
  border-radius: 1px;
}

.constants-block-94 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #250779;
  background: #852385;
  border-radius: 1px;
}

.constants-block-95 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #458777;
  background: #653231;
  border-radius: 5px;
}

.constants-block-96 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #865324;
  background: #459843;
  border-radius: 8px;
}

.constants-block-97 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #783686;
  background: #676170;
  border-radius: 8px;
}

.constants-block-98 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #419250;
  background: #393735;
  border-radius: 2px;
}

.constants-block-99 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #510387;
  background: #918757;
  border-radius: 7px;
}

.constants-block-100 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #824775;
  background: #827882;
  border-radius: 2px;
}

.constants-block-101 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #446457;
  background: #681127;
  border-radius: 8px;
}

.constants-block-102 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #820528;
  background: #487191;
  border-radius: 2px;
}

.constants-block-103 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #696717;
  background: #223448;
  border-radius: 3px;
}

.constants-block-104 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #907613;
  background: #301142;
  border-radius: 8px;
}

.constants-block-105 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #242460;
  background: #470052;
  border-radius: 7px;
}

.constants-block-106 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #179529;
  background: #586063;
  border-radius: 5px;
}

.constants-block-107 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #927920;
  background: #206845;
  border-radius: 1px;
}

.constants-block-108 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #190505;
  background: #254015;
  border-radius: 3px;
}

.constants-block-109 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #721514;
  background: #993760;
  border-radius: 7px;
}

.constants-block-110 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #168588;
  background: #299711;
  border-radius: 6px;
}

.constants-block-111 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #168326;
  background: #800091;
  border-radius: 2px;
}

.constants-block-112 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #329960;
  background: #518161;
  border-radius: 0px;
}

.constants-block-113 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #209384;
  background: #388595;
  border-radius: 6px;
}

.constants-block-114 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #745568;
  background: #185936;
  border-radius: 4px;
}

.constants-block-115 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #843771;
  background: #230600;
  border-radius: 3px;
}

.constants-block-116 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #656546;
  background: #379232;
  border-radius: 2px;
}

.constants-block-117 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #832737;
  background: #385242;
  border-radius: 0px;
}

.constants-block-118 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #787394;
  background: #733697;
  border-radius: 7px;
}

.constants-block-119 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #822073;
  background: #427603;
  border-radius: 3px;
}

.constants-block-120 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #371552;
  background: #555351;
  border-radius: 1px;
}

.constants-block-121 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #971150;
  background: #519217;
  border-radius: 6px;
}

.constants-block-122 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #939297;
  background: #900233;
  border-radius: 0px;
}

.constants-block-123 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #655714;
  background: #686394;
  border-radius: 5px;
}

.constants-block-124 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #828905;
  background: #433885;
  border-radius: 8px;
}

.constants-block-125 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #137730;
  background: #463308;
  border-radius: 8px;
}

.constants-block-126 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #425100;
  background: #491626;
  border-radius: 3px;
}

.constants-block-127 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #900792;
  background: #474065;
  border-radius: 8px;
}
