/* factory styles v1 */

.factory-block-1 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #774631;
  background: #111394;
  border-radius: 2px;
}

.factory-block-2 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #647643;
  background: #898307;
  border-radius: 2px;
}

.factory-block-3 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #853256;
  background: #380425;
  border-radius: 1px;
}

.factory-block-4 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #982052;
  background: #358275;
  border-radius: 1px;
}

.factory-block-5 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #504601;
  background: #415277;
  border-radius: 3px;
}

.factory-block-6 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #730359;
  background: #110079;
  border-radius: 4px;
}

.factory-block-7 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #634718;
  background: #892613;
  border-radius: 3px;
}

.factory-block-8 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #780827;
  background: #127008;
  border-radius: 0px;
}

.factory-block-9 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #853567;
  background: #321540;
  border-radius: 3px;
}

.factory-block-10 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #975051;
  background: #137612;
  border-radius: 5px;
}

.factory-block-11 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #854976;
  background: #533282;
  border-radius: 2px;
}

.factory-block-12 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #956501;
  background: #333937;
  border-radius: 3px;
}

.factory-block-13 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #429463;
  background: #831844;
  border-radius: 2px;
}

.factory-block-14 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #354564;
  background: #465554;
  border-radius: 3px;
}

.factory-block-15 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #144725;
  background: #676490;
  border-radius: 0px;
}

.factory-block-16 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #563429;
  background: #534525;
  border-radius: 7px;
}

.factory-block-17 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #637235;
  background: #529915;
  border-radius: 1px;
}

.factory-block-18 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #683460;
  background: #464380;
  border-radius: 3px;
}

.factory-block-19 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #730410;
  background: #691584;
  border-radius: 6px;
}

.factory-block-20 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #686145;
  background: #181078;
  border-radius: 0px;
}

.factory-block-21 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #586294;
  background: #675298;
  border-radius: 4px;
}

.factory-block-22 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #673585;
  background: #722212;
  border-radius: 8px;
}

.factory-block-23 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #214966;
  background: #864734;
  border-radius: 8px;
}

.factory-block-24 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #211001;
  background: #438398;
  border-radius: 8px;
}

.factory-block-25 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #865254;
  background: #921820;
  border-radius: 4px;
}

.factory-block-26 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #147163;
  background: #974389;
  border-radius: 4px;
}

.factory-block-27 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #107874;
  background: #311591;
  border-radius: 8px;
}

.factory-block-28 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #384230;
  background: #972975;
  border-radius: 7px;
}

.factory-block-29 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #954269;
  background: #974825;
  border-radius: 2px;
}

.factory-block-30 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #246471;
  background: #438605;
  border-radius: 3px;
}

.factory-block-31 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #237356;
  background: #807614;
  border-radius: 6px;
}

.factory-block-32 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #507995;
  background: #786027;
  border-radius: 8px;
}

.factory-block-33 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #470273;
  background: #326237;
  border-radius: 5px;
}

.factory-block-34 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #104154;
  background: #288425;
  border-radius: 1px;
}

.factory-block-35 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #602501;
  background: #687633;
  border-radius: 6px;
}

.factory-block-36 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #650995;
  background: #685695;
  border-radius: 8px;
}

.factory-block-37 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #265452;
  background: #131519;
  border-radius: 8px;
}

.factory-block-38 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #563257;
  background: #122996;
  border-radius: 2px;
}

.factory-block-39 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #948153;
  background: #991222;
  border-radius: 8px;
}

.factory-block-40 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #475174;
  background: #718716;
  border-radius: 5px;
}

.factory-block-41 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #524248;
  background: #717590;
  border-radius: 6px;
}

.factory-block-42 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #561013;
  background: #315755;
  border-radius: 6px;
}

.factory-block-43 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #270354;
  background: #355425;
  border-radius: 0px;
}

.factory-block-44 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #605119;
  background: #506880;
  border-radius: 6px;
}

.factory-block-45 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #429206;
  background: #135760;
  border-radius: 0px;
}

.factory-block-46 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #815476;
  background: #749963;
  border-radius: 7px;
}

.factory-block-47 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #485182;
  background: #381417;
  border-radius: 7px;
}

.factory-block-48 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #591682;
  background: #758584;
  border-radius: 2px;
}

.factory-block-49 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #590990;
  background: #298750;
  border-radius: 2px;
}

.factory-block-50 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #879038;
  background: #173857;
  border-radius: 1px;
}

.factory-block-51 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #718767;
  background: #226643;
  border-radius: 1px;
}

.factory-block-52 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #346414;
  background: #850794;
  border-radius: 8px;
}

.factory-block-53 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #662861;
  background: #465851;
  border-radius: 8px;
}

.factory-block-54 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #147912;
  background: #633251;
  border-radius: 6px;
}

.factory-block-55 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #401316;
  background: #799020;
  border-radius: 6px;
}

.factory-block-56 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #448360;
  background: #201733;
  border-radius: 1px;
}

.factory-block-57 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #984950;
  background: #365296;
  border-radius: 1px;
}

.factory-block-58 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #141627;
  background: #964392;
  border-radius: 0px;
}

.factory-block-59 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #772954;
  background: #454740;
  border-radius: 4px;
}

.factory-block-60 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #549773;
  background: #579605;
  border-radius: 3px;
}

.factory-block-61 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #228623;
  background: #367898;
  border-radius: 8px;
}

.factory-block-62 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #191611;
  background: #454873;
  border-radius: 5px;
}

.factory-block-63 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #934196;
  background: #326259;
  border-radius: 3px;
}

.factory-block-64 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #732325;
  background: #417659;
  border-radius: 1px;
}

.factory-block-65 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #136259;
  background: #751020;
  border-radius: 8px;
}

.factory-block-66 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #502913;
  background: #705436;
  border-radius: 8px;
}

.factory-block-67 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #998857;
  background: #732017;
  border-radius: 3px;
}

.factory-block-68 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #990362;
  background: #330925;
  border-radius: 3px;
}

.factory-block-69 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #776745;
  background: #516943;
  border-radius: 1px;
}

.factory-block-70 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #678137;
  background: #250459;
  border-radius: 5px;
}

.factory-block-71 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #832215;
  background: #944465;
  border-radius: 2px;
}

.factory-block-72 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #542780;
  background: #554915;
  border-radius: 3px;
}

.factory-block-73 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #562017;
  background: #954686;
  border-radius: 7px;
}

.factory-block-74 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #917643;
  background: #119952;
  border-radius: 4px;
}

.factory-block-75 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #182247;
  background: #417947;
  border-radius: 7px;
}

.factory-block-76 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #700067;
  background: #951605;
  border-radius: 4px;
}

.factory-block-77 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #194935;
  background: #459350;
  border-radius: 4px;
}

.factory-block-78 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #735082;
  background: #950864;
  border-radius: 7px;
}

.factory-block-79 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #836737;
  background: #703017;
  border-radius: 4px;
}

.factory-block-80 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #838093;
  background: #953029;
  border-radius: 2px;
}

.factory-block-81 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #943831;
  background: #648039;
  border-radius: 4px;
}

.factory-block-82 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #152318;
  background: #380521;
  border-radius: 7px;
}

.factory-block-83 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #864079;
  background: #298739;
  border-radius: 8px;
}

.factory-block-84 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #655191;
  background: #637766;
  border-radius: 7px;
}

.factory-block-85 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #464022;
  background: #836432;
  border-radius: 1px;
}

.factory-block-86 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #462820;
  background: #580011;
  border-radius: 8px;
}

.factory-block-87 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #920581;
  background: #119538;
  border-radius: 5px;
}

.factory-block-88 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #514111;
  background: #760665;
  border-radius: 7px;
}

.factory-block-89 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #411608;
  background: #465059;
  border-radius: 1px;
}

.factory-block-90 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #977565;
  background: #910313;
  border-radius: 4px;
}

.factory-block-91 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #532089;
  background: #578165;
  border-radius: 7px;
}

.factory-block-92 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #895394;
  background: #681093;
  border-radius: 7px;
}

.factory-block-93 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #719872;
  background: #489341;
  border-radius: 4px;
}

.factory-block-94 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #992521;
  background: #409000;
  border-radius: 5px;
}

.factory-block-95 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #282741;
  background: #311340;
  border-radius: 7px;
}

.factory-block-96 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #413735;
  background: #560039;
  border-radius: 3px;
}

.factory-block-97 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #633588;
  background: #372473;
  border-radius: 1px;
}

.factory-block-98 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #241781;
  background: #840319;
  border-radius: 6px;
}

.factory-block-99 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #868652;
  background: #499626;
  border-radius: 2px;
}

.factory-block-100 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #173897;
  background: #921373;
  border-radius: 3px;
}

.factory-block-101 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #721550;
  background: #145194;
  border-radius: 0px;
}

.factory-block-102 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #325402;
  background: #366457;
  border-radius: 6px;
}

.factory-block-103 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #999368;
  background: #958116;
  border-radius: 3px;
}

.factory-block-104 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #867738;
  background: #997581;
  border-radius: 6px;
}

.factory-block-105 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #312638;
  background: #121513;
  border-radius: 1px;
}

.factory-block-106 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #826008;
  background: #522823;
  border-radius: 0px;
}

.factory-block-107 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #854875;
  background: #499472;
  border-radius: 5px;
}

.factory-block-108 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #838917;
  background: #205283;
  border-radius: 6px;
}

.factory-block-109 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #325733;
  background: #984460;
  border-radius: 4px;
}

.factory-block-110 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #253238;
  background: #805133;
  border-radius: 4px;
}

.factory-block-111 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #930993;
  background: #795893;
  border-radius: 1px;
}

.factory-block-112 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #866834;
  background: #120850;
  border-radius: 5px;
}

.factory-block-113 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #988789;
  background: #880918;
  border-radius: 4px;
}

.factory-block-114 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #480070;
  background: #401133;
  border-radius: 3px;
}

.factory-block-115 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #730956;
  background: #591576;
  border-radius: 5px;
}
