/* factory styles v7 */

.factory-block-1 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #926025;
  background: #302654;
  border-radius: 7px;
}

.factory-block-2 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #877995;
  background: #160985;
  border-radius: 6px;
}

.factory-block-3 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #887546;
  background: #221477;
  border-radius: 3px;
}

.factory-block-4 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #580098;
  background: #179041;
  border-radius: 6px;
}

.factory-block-5 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #116207;
  background: #987962;
  border-radius: 8px;
}

.factory-block-6 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #845549;
  background: #896998;
  border-radius: 6px;
}

.factory-block-7 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #667329;
  background: #912094;
  border-radius: 7px;
}

.factory-block-8 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #427896;
  background: #717081;
  border-radius: 0px;
}

.factory-block-9 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #651406;
  background: #418514;
  border-radius: 7px;
}

.factory-block-10 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #697439;
  background: #992463;
  border-radius: 1px;
}

.factory-block-11 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #497122;
  background: #830126;
  border-radius: 4px;
}

.factory-block-12 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #433634;
  background: #413606;
  border-radius: 8px;
}

.factory-block-13 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #387756;
  background: #251701;
  border-radius: 7px;
}

.factory-block-14 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #469780;
  background: #860945;
  border-radius: 7px;
}

.factory-block-15 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #375060;
  background: #825730;
  border-radius: 5px;
}

.factory-block-16 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #197560;
  background: #466199;
  border-radius: 8px;
}

.factory-block-17 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #500641;
  background: #919158;
  border-radius: 5px;
}

.factory-block-18 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #645764;
  background: #862209;
  border-radius: 0px;
}

.factory-block-19 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #681468;
  background: #296250;
  border-radius: 6px;
}

.factory-block-20 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #726901;
  background: #983323;
  border-radius: 2px;
}

.factory-block-21 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #299861;
  background: #570815;
  border-radius: 0px;
}

.factory-block-22 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #228716;
  background: #411279;
  border-radius: 4px;
}

.factory-block-23 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #385288;
  background: #391641;
  border-radius: 8px;
}

.factory-block-24 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #196080;
  background: #401432;
  border-radius: 5px;
}

.factory-block-25 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #841769;
  background: #829590;
  border-radius: 5px;
}

.factory-block-26 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #233600;
  background: #477449;
  border-radius: 2px;
}

.factory-block-27 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #567012;
  background: #284446;
  border-radius: 7px;
}

.factory-block-28 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #841783;
  background: #605316;
  border-radius: 3px;
}

.factory-block-29 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #983698;
  background: #245789;
  border-radius: 5px;
}

.factory-block-30 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #911053;
  background: #656035;
  border-radius: 0px;
}

.factory-block-31 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #165927;
  background: #805884;
  border-radius: 7px;
}

.factory-block-32 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #119466;
  background: #496982;
  border-radius: 7px;
}

.factory-block-33 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #350985;
  background: #665278;
  border-radius: 5px;
}

.factory-block-34 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #142993;
  background: #220708;
  border-radius: 1px;
}

.factory-block-35 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #784490;
  background: #274622;
  border-radius: 7px;
}

.factory-block-36 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #672840;
  background: #583380;
  border-radius: 1px;
}

.factory-block-37 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #511903;
  background: #650480;
  border-radius: 3px;
}

.factory-block-38 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #673877;
  background: #189191;
  border-radius: 3px;
}

.factory-block-39 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #707649;
  background: #869770;
  border-radius: 0px;
}

.factory-block-40 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #992910;
  background: #878283;
  border-radius: 2px;
}

.factory-block-41 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #380813;
  background: #718280;
  border-radius: 5px;
}

.factory-block-42 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #766665;
  background: #960162;
  border-radius: 6px;
}

.factory-block-43 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #819914;
  background: #924695;
  border-radius: 6px;
}

.factory-block-44 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #868129;
  background: #738653;
  border-radius: 2px;
}

.factory-block-45 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #994861;
  background: #383872;
  border-radius: 2px;
}

.factory-block-46 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #697548;
  background: #204146;
  border-radius: 7px;
}

.factory-block-47 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #327991;
  background: #943184;
  border-radius: 4px;
}

.factory-block-48 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #152227;
  background: #480780;
  border-radius: 7px;
}

.factory-block-49 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #834511;
  background: #524633;
  border-radius: 8px;
}

.factory-block-50 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #128520;
  background: #416239;
  border-radius: 5px;
}

.factory-block-51 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #921804;
  background: #964539;
  border-radius: 5px;
}

.factory-block-52 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #201277;
  background: #346526;
  border-radius: 4px;
}

.factory-block-53 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #883248;
  background: #503084;
  border-radius: 2px;
}

.factory-block-54 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #321831;
  background: #663445;
  border-radius: 7px;
}

.factory-block-55 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #431699;
  background: #429159;
  border-radius: 5px;
}

.factory-block-56 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #456558;
  background: #714976;
  border-radius: 0px;
}

.factory-block-57 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #146744;
  background: #412981;
  border-radius: 4px;
}

.factory-block-58 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #185404;
  background: #384470;
  border-radius: 6px;
}

.factory-block-59 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #464661;
  background: #221175;
  border-radius: 4px;
}

.factory-block-60 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #874795;
  background: #479810;
  border-radius: 6px;
}

.factory-block-61 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #376818;
  background: #137630;
  border-radius: 1px;
}

.factory-block-62 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #563277;
  background: #124756;
  border-radius: 2px;
}

.factory-block-63 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #527337;
  background: #489693;
  border-radius: 5px;
}

.factory-block-64 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #432307;
  background: #637717;
  border-radius: 6px;
}

.factory-block-65 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #270489;
  background: #634458;
  border-radius: 2px;
}

.factory-block-66 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #810111;
  background: #514592;
  border-radius: 3px;
}

.factory-block-67 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #868697;
  background: #675220;
  border-radius: 3px;
}

.factory-block-68 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #154657;
  background: #558147;
  border-radius: 1px;
}

.factory-block-69 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #139442;
  background: #484925;
  border-radius: 2px;
}

.factory-block-70 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #713862;
  background: #123097;
  border-radius: 0px;
}

.factory-block-71 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #500133;
  background: #292821;
  border-radius: 6px;
}

.factory-block-72 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #448343;
  background: #729732;
  border-radius: 0px;
}

.factory-block-73 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #470209;
  background: #773825;
  border-radius: 8px;
}

.factory-block-74 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #355641;
  background: #245899;
  border-radius: 0px;
}

.factory-block-75 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #475809;
  background: #148582;
  border-radius: 2px;
}

.factory-block-76 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #736112;
  background: #803675;
  border-radius: 6px;
}

.factory-block-77 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #520397;
  background: #987045;
  border-radius: 5px;
}

.factory-block-78 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #620862;
  background: #609314;
  border-radius: 7px;
}

.factory-block-79 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #241084;
  background: #290933;
  border-radius: 8px;
}

.factory-block-80 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #622440;
  background: #879422;
  border-radius: 2px;
}

.factory-block-81 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #621256;
  background: #341847;
  border-radius: 2px;
}

.factory-block-82 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #100708;
  background: #798844;
  border-radius: 4px;
}

.factory-block-83 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #281806;
  background: #223402;
  border-radius: 3px;
}

.factory-block-84 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #240758;
  background: #702942;
  border-radius: 3px;
}

.factory-block-85 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #381907;
  background: #288731;
  border-radius: 0px;
}

.factory-block-86 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #547994;
  background: #844804;
  border-radius: 2px;
}

.factory-block-87 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #232306;
  background: #830349;
  border-radius: 0px;
}

.factory-block-88 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #358976;
  background: #672900;
  border-radius: 5px;
}

.factory-block-89 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #515546;
  background: #548933;
  border-radius: 7px;
}

.factory-block-90 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #876497;
  background: #922889;
  border-radius: 8px;
}

.factory-block-91 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #724887;
  background: #492256;
  border-radius: 8px;
}

.factory-block-92 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #344865;
  background: #675072;
  border-radius: 2px;
}

.factory-block-93 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #932931;
  background: #176650;
  border-radius: 7px;
}

.factory-block-94 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #417791;
  background: #352495;
  border-radius: 6px;
}

.factory-block-95 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #388636;
  background: #592133;
  border-radius: 6px;
}

.factory-block-96 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #417877;
  background: #190279;
  border-radius: 2px;
}

.factory-block-97 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #573465;
  background: #960012;
  border-radius: 4px;
}

.factory-block-98 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #874675;
  background: #800608;
  border-radius: 6px;
}

.factory-block-99 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #330364;
  background: #739593;
  border-radius: 4px;
}

.factory-block-100 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #438940;
  background: #646177;
  border-radius: 0px;
}

.factory-block-101 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #169198;
  background: #799902;
  border-radius: 7px;
}

.factory-block-102 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #235241;
  background: #824069;
  border-radius: 4px;
}

.factory-block-103 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #755484;
  background: #264169;
  border-radius: 5px;
}

.factory-block-104 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #314813;
  background: #408209;
  border-radius: 8px;
}

.factory-block-105 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #362037;
  background: #930667;
  border-radius: 5px;
}

.factory-block-106 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #936646;
  background: #608037;
  border-radius: 3px;
}

.factory-block-107 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #711645;
  background: #254434;
  border-radius: 6px;
}

.factory-block-108 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #118551;
  background: #930022;
  border-radius: 2px;
}

.factory-block-109 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #419504;
  background: #671778;
  border-radius: 5px;
}

.factory-block-110 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #792664;
  background: #883444;
  border-radius: 5px;
}

.factory-block-111 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #462934;
  background: #644478;
  border-radius: 5px;
}

.factory-block-112 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #952642;
  background: #508673;
  border-radius: 8px;
}

.factory-block-113 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #319336;
  background: #424523;
  border-radius: 2px;
}

.factory-block-114 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #224057;
  background: #931279;
  border-radius: 8px;
}

.factory-block-115 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #827454;
  background: #574318;
  border-radius: 1px;
}

.factory-block-116 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #606394;
  background: #914936;
  border-radius: 2px;
}

.factory-block-117 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #198244;
  background: #552768;
  border-radius: 3px;
}

.factory-block-118 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #155851;
  background: #806493;
  border-radius: 7px;
}

.factory-block-119 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #336095;
  background: #575790;
  border-radius: 8px;
}

.factory-block-120 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #784106;
  background: #194016;
  border-radius: 6px;
}

.factory-block-121 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #385152;
  background: #211874;
  border-radius: 4px;
}

.factory-block-122 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #270562;
  background: #539351;
  border-radius: 2px;
}

.factory-block-123 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #295309;
  background: #860495;
  border-radius: 0px;
}

.factory-block-124 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #605619;
  background: #956983;
  border-radius: 1px;
}
