/* utils styles v1 */

.utils-block-1 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #759229;
  background: #183875;
  border-radius: 4px;
}

.utils-block-2 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #641510;
  background: #444729;
  border-radius: 5px;
}

.utils-block-3 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #421673;
  background: #999826;
  border-radius: 5px;
}

.utils-block-4 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #192144;
  background: #263762;
  border-radius: 8px;
}

.utils-block-5 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #545800;
  background: #602182;
  border-radius: 4px;
}

.utils-block-6 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #162586;
  background: #821351;
  border-radius: 7px;
}

.utils-block-7 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #335757;
  background: #749852;
  border-radius: 5px;
}

.utils-block-8 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #270885;
  background: #201248;
  border-radius: 7px;
}

.utils-block-9 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #693832;
  background: #987581;
  border-radius: 8px;
}

.utils-block-10 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #202144;
  background: #363660;
  border-radius: 1px;
}

.utils-block-11 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #768196;
  background: #175462;
  border-radius: 2px;
}

.utils-block-12 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #639384;
  background: #373015;
  border-radius: 4px;
}

.utils-block-13 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #888216;
  background: #809264;
  border-radius: 8px;
}

.utils-block-14 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #541998;
  background: #912221;
  border-radius: 6px;
}

.utils-block-15 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #915191;
  background: #562302;
  border-radius: 3px;
}

.utils-block-16 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #986289;
  background: #665842;
  border-radius: 7px;
}

.utils-block-17 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #383319;
  background: #540211;
  border-radius: 5px;
}

.utils-block-18 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #251076;
  background: #494578;
  border-radius: 4px;
}

.utils-block-19 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #872230;
  background: #154557;
  border-radius: 1px;
}

.utils-block-20 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #716192;
  background: #576633;
  border-radius: 3px;
}

.utils-block-21 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #344667;
  background: #570906;
  border-radius: 5px;
}

.utils-block-22 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #924244;
  background: #414344;
  border-radius: 6px;
}

.utils-block-23 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #557268;
  background: #603092;
  border-radius: 5px;
}

.utils-block-24 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #167398;
  background: #502928;
  border-radius: 8px;
}

.utils-block-25 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #214940;
  background: #289189;
  border-radius: 2px;
}

.utils-block-26 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #482558;
  background: #788835;
  border-radius: 1px;
}

.utils-block-27 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #146495;
  background: #227383;
  border-radius: 6px;
}

.utils-block-28 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #301294;
  background: #713977;
  border-radius: 1px;
}

.utils-block-29 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #437098;
  background: #152760;
  border-radius: 7px;
}

.utils-block-30 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #386502;
  background: #805540;
  border-radius: 1px;
}

.utils-block-31 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #518023;
  background: #430258;
  border-radius: 8px;
}

.utils-block-32 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #427352;
  background: #435195;
  border-radius: 8px;
}

.utils-block-33 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #692453;
  background: #805942;
  border-radius: 0px;
}

.utils-block-34 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #738774;
  background: #392762;
  border-radius: 4px;
}

.utils-block-35 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #623787;
  background: #529553;
  border-radius: 3px;
}

.utils-block-36 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #952842;
  background: #603809;
  border-radius: 3px;
}

.utils-block-37 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #136483;
  background: #717234;
  border-radius: 7px;
}

.utils-block-38 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #278196;
  background: #224721;
  border-radius: 4px;
}

.utils-block-39 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #634991;
  background: #595712;
  border-radius: 5px;
}

.utils-block-40 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #371315;
  background: #578503;
  border-radius: 4px;
}

.utils-block-41 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #940228;
  background: #339226;
  border-radius: 5px;
}

.utils-block-42 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #491283;
  background: #806453;
  border-radius: 5px;
}

.utils-block-43 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #131390;
  background: #609409;
  border-radius: 6px;
}

.utils-block-44 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #228920;
  background: #910892;
  border-radius: 4px;
}

.utils-block-45 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #470052;
  background: #317445;
  border-radius: 8px;
}

.utils-block-46 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #693069;
  background: #708800;
  border-radius: 3px;
}

.utils-block-47 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #629744;
  background: #678256;
  border-radius: 0px;
}

.utils-block-48 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #532608;
  background: #211608;
  border-radius: 3px;
}

.utils-block-49 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #863601;
  background: #399688;
  border-radius: 5px;
}

.utils-block-50 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #853716;
  background: #548810;
  border-radius: 1px;
}

.utils-block-51 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #371739;
  background: #976649;
  border-radius: 3px;
}

.utils-block-52 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #689303;
  background: #468843;
  border-radius: 4px;
}

.utils-block-53 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #184768;
  background: #522405;
  border-radius: 4px;
}

.utils-block-54 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #372502;
  background: #635862;
  border-radius: 7px;
}

.utils-block-55 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #116686;
  background: #297831;
  border-radius: 1px;
}

.utils-block-56 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #590086;
  background: #302138;
  border-radius: 0px;
}

.utils-block-57 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #665470;
  background: #375694;
  border-radius: 8px;
}

.utils-block-58 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #125721;
  background: #228827;
  border-radius: 4px;
}

.utils-block-59 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #209337;
  background: #432213;
  border-radius: 2px;
}

.utils-block-60 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #278464;
  background: #859237;
  border-radius: 5px;
}

.utils-block-61 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #467053;
  background: #273475;
  border-radius: 4px;
}

.utils-block-62 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #940083;
  background: #274573;
  border-radius: 2px;
}

.utils-block-63 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #918086;
  background: #411034;
  border-radius: 0px;
}

.utils-block-64 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #466780;
  background: #688824;
  border-radius: 8px;
}

.utils-block-65 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #419148;
  background: #980396;
  border-radius: 7px;
}

.utils-block-66 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #868157;
  background: #923132;
  border-radius: 3px;
}

.utils-block-67 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #263918;
  background: #879414;
  border-radius: 5px;
}

.utils-block-68 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #989834;
  background: #246952;
  border-radius: 8px;
}

.utils-block-69 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #718766;
  background: #372053;
  border-radius: 7px;
}

.utils-block-70 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #167430;
  background: #639843;
  border-radius: 0px;
}

.utils-block-71 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #885371;
  background: #387868;
  border-radius: 3px;
}

.utils-block-72 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #809772;
  background: #919971;
  border-radius: 0px;
}

.utils-block-73 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #597470;
  background: #330053;
  border-radius: 5px;
}

.utils-block-74 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #609542;
  background: #359773;
  border-radius: 6px;
}

.utils-block-75 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #809861;
  background: #716326;
  border-radius: 0px;
}

.utils-block-76 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #711306;
  background: #771777;
  border-radius: 4px;
}

.utils-block-77 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #689426;
  background: #598524;
  border-radius: 7px;
}

.utils-block-78 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #371258;
  background: #154745;
  border-radius: 7px;
}

.utils-block-79 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #826661;
  background: #769755;
  border-radius: 5px;
}

.utils-block-80 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #151330;
  background: #248188;
  border-radius: 6px;
}

.utils-block-81 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #858137;
  background: #653599;
  border-radius: 4px;
}

.utils-block-82 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #383745;
  background: #408263;
  border-radius: 7px;
}

.utils-block-83 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #181852;
  background: #209409;
  border-radius: 4px;
}

.utils-block-84 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #651995;
  background: #696261;
  border-radius: 4px;
}

.utils-block-85 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #864692;
  background: #262455;
  border-radius: 7px;
}

.utils-block-86 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #441704;
  background: #818676;
  border-radius: 4px;
}

.utils-block-87 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #240563;
  background: #908793;
  border-radius: 4px;
}

.utils-block-88 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #451295;
  background: #381363;
  border-radius: 8px;
}

.utils-block-89 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #685322;
  background: #433468;
  border-radius: 8px;
}

.utils-block-90 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #498936;
  background: #675862;
  border-radius: 1px;
}

.utils-block-91 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #886802;
  background: #848397;
  border-radius: 7px;
}

.utils-block-92 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #450248;
  background: #109812;
  border-radius: 7px;
}

.utils-block-93 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #211090;
  background: #384038;
  border-radius: 7px;
}

.utils-block-94 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #301892;
  background: #481770;
  border-radius: 7px;
}

.utils-block-95 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #756207;
  background: #488260;
  border-radius: 6px;
}

.utils-block-96 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #320708;
  background: #189890;
  border-radius: 2px;
}

.utils-block-97 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #987521;
  background: #777660;
  border-radius: 7px;
}

.utils-block-98 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #637776;
  background: #710120;
  border-radius: 5px;
}

.utils-block-99 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #922008;
  background: #482429;
  border-radius: 3px;
}

.utils-block-100 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #762897;
  background: #389054;
  border-radius: 5px;
}

.utils-block-101 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #276986;
  background: #306786;
  border-radius: 5px;
}

.utils-block-102 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #698757;
  background: #925567;
  border-radius: 4px;
}

.utils-block-103 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #179536;
  background: #424377;
  border-radius: 0px;
}

.utils-block-104 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #226696;
  background: #370147;
  border-radius: 7px;
}

.utils-block-105 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #351653;
  background: #823063;
  border-radius: 1px;
}

.utils-block-106 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #688865;
  background: #907666;
  border-radius: 0px;
}

.utils-block-107 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #899568;
  background: #437435;
  border-radius: 0px;
}

.utils-block-108 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #735772;
  background: #114425;
  border-radius: 6px;
}

.utils-block-109 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #349816;
  background: #441480;
  border-radius: 2px;
}

.utils-block-110 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #125114;
  background: #249920;
  border-radius: 1px;
}

.utils-block-111 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #545844;
  background: #449313;
  border-radius: 1px;
}

.utils-block-112 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #778602;
  background: #964219;
  border-radius: 5px;
}

.utils-block-113 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #353414;
  background: #170023;
  border-radius: 8px;
}

.utils-block-114 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #509437;
  background: #329247;
  border-radius: 6px;
}

.utils-block-115 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #877046;
  background: #314762;
  border-radius: 8px;
}

.utils-block-116 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #255452;
  background: #943028;
  border-radius: 6px;
}

.utils-block-117 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #769559;
  background: #341363;
  border-radius: 6px;
}

.utils-block-118 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #572977;
  background: #166165;
  border-radius: 6px;
}

.utils-block-119 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #478567;
  background: #575442;
  border-radius: 3px;
}

.utils-block-120 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #395373;
  background: #735878;
  border-radius: 4px;
}

.utils-block-121 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #123875;
  background: #248167;
  border-radius: 2px;
}

.utils-block-122 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #419306;
  background: #421015;
  border-radius: 7px;
}

.utils-block-123 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #394382;
  background: #271064;
  border-radius: 5px;
}

.utils-block-124 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #682282;
  background: #937736;
  border-radius: 6px;
}

.utils-block-125 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #898469;
  background: #208584;
  border-radius: 8px;
}

.utils-block-126 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #518133;
  background: #296531;
  border-radius: 7px;
}

.utils-block-127 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #654320;
  background: #140855;
  border-radius: 0px;
}

.utils-block-128 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #454188;
  background: #202810;
  border-radius: 2px;
}

.utils-block-129 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #872339;
  background: #113467;
  border-radius: 1px;
}

.utils-block-130 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #626061;
  background: #242068;
  border-radius: 5px;
}

.utils-block-131 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #817064;
  background: #879430;
  border-radius: 5px;
}

.utils-block-132 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #464623;
  background: #552539;
  border-radius: 5px;
}

.utils-block-133 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #747045;
  background: #431897;
  border-radius: 7px;
}

.utils-block-134 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #335960;
  background: #179807;
  border-radius: 3px;
}

.utils-block-135 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #774188;
  background: #736112;
  border-radius: 6px;
}

.utils-block-136 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #820342;
  background: #225087;
  border-radius: 4px;
}

.utils-block-137 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #565437;
  background: #176568;
  border-radius: 6px;
}

.utils-block-138 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #481510;
  background: #298239;
  border-radius: 0px;
}

.utils-block-139 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #985534;
  background: #571771;
  border-radius: 8px;
}

.utils-block-140 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #934361;
  background: #574150;
  border-radius: 7px;
}

.utils-block-141 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #856264;
  background: #955602;
  border-radius: 4px;
}

.utils-block-142 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #348495;
  background: #883255;
  border-radius: 1px;
}

.utils-block-143 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #641262;
  background: #412253;
  border-radius: 5px;
}

.utils-block-144 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #158381;
  background: #649897;
  border-radius: 2px;
}

.utils-block-145 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #362481;
  background: #362351;
  border-radius: 7px;
}

.utils-block-146 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #269377;
  background: #582135;
  border-radius: 1px;
}

.utils-block-147 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #570857;
  background: #562447;
  border-radius: 7px;
}
