/* controller styles v4 */

.controller-block-1 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #537527;
  background: #912257;
  border-radius: 7px;
}

.controller-block-2 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #931443;
  background: #572345;
  border-radius: 5px;
}

.controller-block-3 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #136447;
  background: #866811;
  border-radius: 7px;
}

.controller-block-4 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #482839;
  background: #686655;
  border-radius: 6px;
}

.controller-block-5 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #589846;
  background: #198108;
  border-radius: 0px;
}

.controller-block-6 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #223539;
  background: #949737;
  border-radius: 8px;
}

.controller-block-7 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #739254;
  background: #661822;
  border-radius: 1px;
}

.controller-block-8 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #172313;
  background: #119090;
  border-radius: 0px;
}

.controller-block-9 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #936004;
  background: #738388;
  border-radius: 6px;
}

.controller-block-10 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #642840;
  background: #914660;
  border-radius: 4px;
}

.controller-block-11 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #418428;
  background: #678705;
  border-radius: 6px;
}

.controller-block-12 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #975376;
  background: #444927;
  border-radius: 1px;
}

.controller-block-13 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #888938;
  background: #841168;
  border-radius: 1px;
}

.controller-block-14 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #347276;
  background: #704083;
  border-radius: 5px;
}

.controller-block-15 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #951967;
  background: #406746;
  border-radius: 2px;
}

.controller-block-16 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #860219;
  background: #931303;
  border-radius: 5px;
}

.controller-block-17 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #939119;
  background: #958170;
  border-radius: 1px;
}

.controller-block-18 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #277893;
  background: #459492;
  border-radius: 5px;
}

.controller-block-19 {
  display: flex;
  padding: 22px;
  margin: 10px;
  color: #604593;
  background: #896858;
  border-radius: 6px;
}

.controller-block-20 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #664529;
  background: #227505;
  border-radius: 2px;
}

.controller-block-21 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #303333;
  background: #703362;
  border-radius: 8px;
}

.controller-block-22 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #408393;
  background: #717817;
  border-radius: 6px;
}

.controller-block-23 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #497685;
  background: #130021;
  border-radius: 6px;
}

.controller-block-24 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #811288;
  background: #892262;
  border-radius: 1px;
}

.controller-block-25 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #756769;
  background: #604444;
  border-radius: 1px;
}

.controller-block-26 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #741651;
  background: #262999;
  border-radius: 1px;
}

.controller-block-27 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #647660;
  background: #325663;
  border-radius: 7px;
}

.controller-block-28 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #191084;
  background: #235605;
  border-radius: 1px;
}

.controller-block-29 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #449971;
  background: #107573;
  border-radius: 4px;
}

.controller-block-30 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #598513;
  background: #127265;
  border-radius: 0px;
}

.controller-block-31 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #986881;
  background: #372789;
  border-radius: 1px;
}

.controller-block-32 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #318727;
  background: #676829;
  border-radius: 8px;
}

.controller-block-33 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #337210;
  background: #680613;
  border-radius: 0px;
}

.controller-block-34 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #769198;
  background: #256175;
  border-radius: 1px;
}

.controller-block-35 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #406141;
  background: #791687;
  border-radius: 6px;
}

.controller-block-36 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #997006;
  background: #145133;
  border-radius: 0px;
}

.controller-block-37 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #167847;
  background: #585236;
  border-radius: 6px;
}

.controller-block-38 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #722598;
  background: #776497;
  border-radius: 6px;
}

.controller-block-39 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #582795;
  background: #259007;
  border-radius: 7px;
}

.controller-block-40 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #945377;
  background: #674501;
  border-radius: 0px;
}

.controller-block-41 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #817252;
  background: #513183;
  border-radius: 1px;
}

.controller-block-42 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #393818;
  background: #230981;
  border-radius: 6px;
}

.controller-block-43 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #883598;
  background: #754026;
  border-radius: 0px;
}

.controller-block-44 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #876413;
  background: #669378;
  border-radius: 3px;
}

.controller-block-45 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #258827;
  background: #806999;
  border-radius: 0px;
}

.controller-block-46 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #995233;
  background: #469087;
  border-radius: 6px;
}

.controller-block-47 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #556313;
  background: #808930;
  border-radius: 7px;
}

.controller-block-48 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #427815;
  background: #442721;
  border-radius: 2px;
}

.controller-block-49 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #403711;
  background: #910551;
  border-radius: 2px;
}

.controller-block-50 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #421407;
  background: #207732;
  border-radius: 6px;
}

.controller-block-51 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #349150;
  background: #670899;
  border-radius: 4px;
}

.controller-block-52 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #382805;
  background: #452958;
  border-radius: 3px;
}

.controller-block-53 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #859721;
  background: #219642;
  border-radius: 2px;
}

.controller-block-54 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #643166;
  background: #901120;
  border-radius: 5px;
}

.controller-block-55 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #422101;
  background: #208833;
  border-radius: 6px;
}

.controller-block-56 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #236707;
  background: #691455;
  border-radius: 4px;
}

.controller-block-57 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #886095;
  background: #628042;
  border-radius: 7px;
}

.controller-block-58 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #611141;
  background: #183722;
  border-radius: 7px;
}

.controller-block-59 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #639232;
  background: #322507;
  border-radius: 4px;
}

.controller-block-60 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #292539;
  background: #897016;
  border-radius: 4px;
}

.controller-block-61 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #445599;
  background: #489234;
  border-radius: 4px;
}

.controller-block-62 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #614101;
  background: #575449;
  border-radius: 6px;
}

.controller-block-63 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #555990;
  background: #836991;
  border-radius: 7px;
}

.controller-block-64 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #593410;
  background: #599010;
  border-radius: 8px;
}

.controller-block-65 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #480556;
  background: #539202;
  border-radius: 5px;
}

.controller-block-66 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #162385;
  background: #163114;
  border-radius: 8px;
}

.controller-block-67 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #240603;
  background: #690129;
  border-radius: 7px;
}

.controller-block-68 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #924558;
  background: #915665;
  border-radius: 6px;
}

.controller-block-69 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #964367;
  background: #250556;
  border-radius: 8px;
}

.controller-block-70 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #491734;
  background: #597205;
  border-radius: 6px;
}

.controller-block-71 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #593607;
  background: #145901;
  border-radius: 5px;
}

.controller-block-72 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #942820;
  background: #359105;
  border-radius: 7px;
}

.controller-block-73 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #905083;
  background: #213334;
  border-radius: 8px;
}

.controller-block-74 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #507861;
  background: #468071;
  border-radius: 6px;
}

.controller-block-75 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #254602;
  background: #491477;
  border-radius: 3px;
}

.controller-block-76 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #616363;
  background: #523684;
  border-radius: 3px;
}

.controller-block-77 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #202584;
  background: #262758;
  border-radius: 5px;
}

.controller-block-78 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #417041;
  background: #850553;
  border-radius: 1px;
}

.controller-block-79 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #810257;
  background: #500766;
  border-radius: 1px;
}

.controller-block-80 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #482477;
  background: #859189;
  border-radius: 8px;
}

.controller-block-81 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #785947;
  background: #399289;
  border-radius: 8px;
}

.controller-block-82 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #513061;
  background: #531137;
  border-radius: 4px;
}

.controller-block-83 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #742659;
  background: #872296;
  border-radius: 0px;
}

.controller-block-84 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #556245;
  background: #655461;
  border-radius: 5px;
}

.controller-block-85 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #182533;
  background: #971273;
  border-radius: 2px;
}

.controller-block-86 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #815820;
  background: #956698;
  border-radius: 6px;
}

.controller-block-87 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #182056;
  background: #174212;
  border-radius: 4px;
}

.controller-block-88 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #547914;
  background: #490014;
  border-radius: 6px;
}

.controller-block-89 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #595397;
  background: #615502;
  border-radius: 5px;
}

.controller-block-90 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #281910;
  background: #668871;
  border-radius: 3px;
}

.controller-block-91 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #953050;
  background: #254217;
  border-radius: 8px;
}

.controller-block-92 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #671757;
  background: #115192;
  border-radius: 1px;
}

.controller-block-93 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #990540;
  background: #575989;
  border-radius: 0px;
}

.controller-block-94 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #832477;
  background: #613148;
  border-radius: 7px;
}

.controller-block-95 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #128317;
  background: #597272;
  border-radius: 6px;
}

.controller-block-96 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #754262;
  background: #786454;
  border-radius: 1px;
}

.controller-block-97 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #220605;
  background: #846287;
  border-radius: 0px;
}

.controller-block-98 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #968682;
  background: #536729;
  border-radius: 0px;
}

.controller-block-99 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #728906;
  background: #938856;
  border-radius: 4px;
}

.controller-block-100 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #974444;
  background: #458322;
  border-radius: 2px;
}

.controller-block-101 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #736547;
  background: #805653;
  border-radius: 4px;
}

.controller-block-102 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #870069;
  background: #214218;
  border-radius: 5px;
}

.controller-block-103 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #435179;
  background: #166610;
  border-radius: 2px;
}

.controller-block-104 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #594099;
  background: #199575;
  border-radius: 2px;
}

.controller-block-105 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #863862;
  background: #144370;
  border-radius: 7px;
}

.controller-block-106 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #596162;
  background: #565200;
  border-radius: 7px;
}

.controller-block-107 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #397469;
  background: #468169;
  border-radius: 7px;
}

.controller-block-108 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #260816;
  background: #804243;
  border-radius: 7px;
}

.controller-block-109 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #744929;
  background: #598542;
  border-radius: 4px;
}

.controller-block-110 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #236590;
  background: #852788;
  border-radius: 1px;
}

.controller-block-111 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #860491;
  background: #707999;
  border-radius: 8px;
}

.controller-block-112 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #191550;
  background: #299959;
  border-radius: 5px;
}

.controller-block-113 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #474022;
  background: #239679;
  border-radius: 3px;
}

.controller-block-114 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #280062;
  background: #977182;
  border-radius: 0px;
}

.controller-block-115 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #940603;
  background: #141050;
  border-radius: 5px;
}

.controller-block-116 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #269579;
  background: #580242;
  border-radius: 4px;
}

.controller-block-117 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #676568;
  background: #189373;
  border-radius: 2px;
}

.controller-block-118 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #697508;
  background: #103312;
  border-radius: 3px;
}

.controller-block-119 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #319946;
  background: #496043;
  border-radius: 7px;
}

.controller-block-120 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #212644;
  background: #112267;
  border-radius: 4px;
}

.controller-block-121 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #709199;
  background: #654387;
  border-radius: 0px;
}

.controller-block-122 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #159683;
  background: #186624;
  border-radius: 2px;
}

.controller-block-123 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #846550;
  background: #986186;
  border-radius: 6px;
}

.controller-block-124 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #895107;
  background: #296688;
  border-radius: 2px;
}

.controller-block-125 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #682171;
  background: #302469;
  border-radius: 6px;
}

.controller-block-126 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #634561;
  background: #686075;
  border-radius: 2px;
}

.controller-block-127 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #854460;
  background: #830158;
  border-radius: 8px;
}

.controller-block-128 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #931910;
  background: #181066;
  border-radius: 5px;
}

.controller-block-129 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #230709;
  background: #624197;
  border-radius: 7px;
}

.controller-block-130 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #334830;
  background: #678400;
  border-radius: 1px;
}

.controller-block-131 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #442938;
  background: #691154;
  border-radius: 4px;
}

.controller-block-132 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #857173;
  background: #353486;
  border-radius: 5px;
}

.controller-block-133 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #686840;
  background: #951174;
  border-radius: 8px;
}

.controller-block-134 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #510790;
  background: #512703;
  border-radius: 8px;
}

.controller-block-135 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #178813;
  background: #966800;
  border-radius: 1px;
}

.controller-block-136 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #455231;
  background: #167897;
  border-radius: 2px;
}

.controller-block-137 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #428271;
  background: #625883;
  border-radius: 7px;
}

.controller-block-138 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #508979;
  background: #769449;
  border-radius: 1px;
}

.controller-block-139 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #211038;
  background: #487778;
  border-radius: 6px;
}

.controller-block-140 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #226922;
  background: #577767;
  border-radius: 5px;
}

.controller-block-141 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #405893;
  background: #743515;
  border-radius: 5px;
}

.controller-block-142 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #741830;
  background: #112915;
  border-radius: 2px;
}

.controller-block-143 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #711520;
  background: #307936;
  border-radius: 7px;
}

.controller-block-144 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #198945;
  background: #779594;
  border-radius: 4px;
}

.controller-block-145 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #176446;
  background: #811080;
  border-radius: 3px;
}

.controller-block-146 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #138683;
  background: #151152;
  border-radius: 7px;
}

.controller-block-147 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #281274;
  background: #393727;
  border-radius: 6px;
}

.controller-block-148 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #309098;
  background: #492838;
  border-radius: 0px;
}

.controller-block-149 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #991936;
  background: #294117;
  border-radius: 5px;
}

.controller-block-150 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #973449;
  background: #442538;
  border-radius: 7px;
}

.controller-block-151 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #885976;
  background: #645774;
  border-radius: 1px;
}

.controller-block-152 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #525199;
  background: #127856;
  border-radius: 2px;
}
