/* helpers styles v1 */

.helpers-block-1 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #963044;
  background: #478479;
  border-radius: 0px;
}

.helpers-block-2 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #414677;
  background: #420613;
  border-radius: 2px;
}

.helpers-block-3 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #273900;
  background: #864827;
  border-radius: 6px;
}

.helpers-block-4 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #129727;
  background: #873684;
  border-radius: 4px;
}

.helpers-block-5 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #671465;
  background: #318845;
  border-radius: 1px;
}

.helpers-block-6 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #802774;
  background: #800434;
  border-radius: 0px;
}

.helpers-block-7 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #937730;
  background: #438908;
  border-radius: 7px;
}

.helpers-block-8 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #200962;
  background: #379420;
  border-radius: 2px;
}

.helpers-block-9 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #830704;
  background: #457157;
  border-radius: 5px;
}

.helpers-block-10 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #464969;
  background: #955828;
  border-radius: 7px;
}

.helpers-block-11 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #415264;
  background: #158834;
  border-radius: 3px;
}

.helpers-block-12 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #781761;
  background: #285506;
  border-radius: 7px;
}

.helpers-block-13 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #255459;
  background: #127839;
  border-radius: 2px;
}

.helpers-block-14 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #675465;
  background: #257722;
  border-radius: 1px;
}

.helpers-block-15 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #584003;
  background: #191797;
  border-radius: 4px;
}

.helpers-block-16 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #904734;
  background: #538850;
  border-radius: 0px;
}

.helpers-block-17 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #989781;
  background: #516228;
  border-radius: 7px;
}

.helpers-block-18 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #589000;
  background: #672239;
  border-radius: 6px;
}

.helpers-block-19 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #533839;
  background: #752549;
  border-radius: 8px;
}

.helpers-block-20 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #461554;
  background: #200893;
  border-radius: 6px;
}

.helpers-block-21 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #124729;
  background: #959999;
  border-radius: 4px;
}

.helpers-block-22 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #945490;
  background: #105449;
  border-radius: 0px;
}

.helpers-block-23 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #111513;
  background: #228310;
  border-radius: 7px;
}

.helpers-block-24 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #100627;
  background: #476595;
  border-radius: 3px;
}

.helpers-block-25 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #193472;
  background: #407322;
  border-radius: 7px;
}

.helpers-block-26 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #276729;
  background: #324794;
  border-radius: 0px;
}

.helpers-block-27 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #955805;
  background: #733074;
  border-radius: 2px;
}

.helpers-block-28 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #861951;
  background: #277110;
  border-radius: 7px;
}

.helpers-block-29 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #526640;
  background: #208326;
  border-radius: 6px;
}

.helpers-block-30 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #616693;
  background: #277471;
  border-radius: 3px;
}

.helpers-block-31 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #368756;
  background: #180365;
  border-radius: 4px;
}

.helpers-block-32 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #863263;
  background: #698969;
  border-radius: 7px;
}

.helpers-block-33 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #575743;
  background: #941423;
  border-radius: 0px;
}

.helpers-block-34 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #342027;
  background: #751113;
  border-radius: 5px;
}

.helpers-block-35 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #593235;
  background: #588519;
  border-radius: 3px;
}

.helpers-block-36 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #976508;
  background: #827576;
  border-radius: 7px;
}

.helpers-block-37 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #537470;
  background: #601057;
  border-radius: 3px;
}

.helpers-block-38 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #594267;
  background: #647056;
  border-radius: 7px;
}

.helpers-block-39 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #492173;
  background: #457547;
  border-radius: 8px;
}

.helpers-block-40 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #158702;
  background: #797837;
  border-radius: 8px;
}

.helpers-block-41 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #136679;
  background: #798444;
  border-radius: 2px;
}

.helpers-block-42 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #660365;
  background: #461528;
  border-radius: 3px;
}

.helpers-block-43 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #749762;
  background: #481637;
  border-radius: 5px;
}

.helpers-block-44 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #926256;
  background: #369723;
  border-radius: 4px;
}

.helpers-block-45 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #250887;
  background: #851859;
  border-radius: 5px;
}

.helpers-block-46 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #213074;
  background: #895047;
  border-radius: 7px;
}

.helpers-block-47 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #839942;
  background: #786368;
  border-radius: 4px;
}

.helpers-block-48 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #686820;
  background: #401596;
  border-radius: 5px;
}

.helpers-block-49 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #584085;
  background: #368043;
  border-radius: 6px;
}

.helpers-block-50 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #437762;
  background: #935369;
  border-radius: 4px;
}

.helpers-block-51 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #432491;
  background: #504698;
  border-radius: 4px;
}

.helpers-block-52 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #667705;
  background: #429094;
  border-radius: 6px;
}

.helpers-block-53 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #322673;
  background: #541276;
  border-radius: 3px;
}

.helpers-block-54 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #797214;
  background: #884272;
  border-radius: 1px;
}

.helpers-block-55 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #132013;
  background: #830772;
  border-radius: 3px;
}

.helpers-block-56 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #504950;
  background: #182398;
  border-radius: 2px;
}

.helpers-block-57 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #831340;
  background: #921697;
  border-radius: 4px;
}

.helpers-block-58 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #110982;
  background: #723507;
  border-radius: 7px;
}

.helpers-block-59 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #270164;
  background: #315633;
  border-radius: 7px;
}

.helpers-block-60 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #782101;
  background: #499694;
  border-radius: 2px;
}

.helpers-block-61 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #671702;
  background: #329422;
  border-radius: 5px;
}

.helpers-block-62 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #950851;
  background: #640217;
  border-radius: 0px;
}

.helpers-block-63 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #296399;
  background: #193892;
  border-radius: 5px;
}

.helpers-block-64 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #932755;
  background: #219628;
  border-radius: 1px;
}

.helpers-block-65 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #451497;
  background: #916022;
  border-radius: 7px;
}

.helpers-block-66 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #378977;
  background: #857143;
  border-radius: 1px;
}

.helpers-block-67 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #637576;
  background: #855408;
  border-radius: 5px;
}

.helpers-block-68 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #845937;
  background: #260593;
  border-radius: 6px;
}

.helpers-block-69 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #137168;
  background: #199931;
  border-radius: 1px;
}

.helpers-block-70 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #680273;
  background: #837930;
  border-radius: 5px;
}

.helpers-block-71 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #121715;
  background: #501061;
  border-radius: 8px;
}

.helpers-block-72 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #338370;
  background: #219630;
  border-radius: 4px;
}

.helpers-block-73 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #487633;
  background: #227341;
  border-radius: 5px;
}

.helpers-block-74 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #165583;
  background: #862841;
  border-radius: 5px;
}

.helpers-block-75 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #286234;
  background: #946661;
  border-radius: 0px;
}

.helpers-block-76 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #782708;
  background: #948779;
  border-radius: 7px;
}

.helpers-block-77 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #692059;
  background: #235146;
  border-radius: 6px;
}

.helpers-block-78 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #847225;
  background: #195191;
  border-radius: 1px;
}

.helpers-block-79 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #215966;
  background: #564069;
  border-radius: 4px;
}

.helpers-block-80 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #805780;
  background: #691684;
  border-radius: 3px;
}

.helpers-block-81 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #719453;
  background: #617505;
  border-radius: 7px;
}

.helpers-block-82 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #713464;
  background: #683825;
  border-radius: 5px;
}

.helpers-block-83 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #881277;
  background: #473585;
  border-radius: 3px;
}

.helpers-block-84 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #695922;
  background: #488256;
  border-radius: 5px;
}

.helpers-block-85 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #912884;
  background: #322570;
  border-radius: 4px;
}

.helpers-block-86 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #653468;
  background: #571928;
  border-radius: 0px;
}

.helpers-block-87 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #371589;
  background: #826669;
  border-radius: 5px;
}

.helpers-block-88 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #683453;
  background: #580231;
  border-radius: 7px;
}

.helpers-block-89 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #586142;
  background: #630964;
  border-radius: 0px;
}

.helpers-block-90 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #509312;
  background: #407513;
  border-radius: 2px;
}

.helpers-block-91 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #344634;
  background: #243058;
  border-radius: 6px;
}

.helpers-block-92 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #983354;
  background: #375399;
  border-radius: 1px;
}

.helpers-block-93 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #305653;
  background: #592555;
  border-radius: 7px;
}

.helpers-block-94 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #356605;
  background: #875872;
  border-radius: 7px;
}

.helpers-block-95 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #136737;
  background: #891336;
  border-radius: 0px;
}

.helpers-block-96 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #914223;
  background: #353353;
  border-radius: 7px;
}

.helpers-block-97 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #165464;
  background: #223090;
  border-radius: 8px;
}

.helpers-block-98 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #840285;
  background: #499309;
  border-radius: 8px;
}

.helpers-block-99 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #204445;
  background: #327028;
  border-radius: 7px;
}

.helpers-block-100 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #932555;
  background: #920551;
  border-radius: 5px;
}

.helpers-block-101 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #988099;
  background: #787256;
  border-radius: 7px;
}

.helpers-block-102 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #217153;
  background: #474482;
  border-radius: 5px;
}

.helpers-block-103 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #792823;
  background: #927275;
  border-radius: 5px;
}

.helpers-block-104 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #846424;
  background: #647497;
  border-radius: 6px;
}

.helpers-block-105 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #309115;
  background: #719740;
  border-radius: 3px;
}

.helpers-block-106 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #381710;
  background: #742640;
  border-radius: 5px;
}

.helpers-block-107 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #850719;
  background: #486147;
  border-radius: 7px;
}

.helpers-block-108 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #297613;
  background: #145880;
  border-radius: 5px;
}

.helpers-block-109 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #428156;
  background: #360819;
  border-radius: 7px;
}

.helpers-block-110 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #176857;
  background: #413101;
  border-radius: 2px;
}

.helpers-block-111 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #638308;
  background: #659678;
  border-radius: 3px;
}

.helpers-block-112 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #626273;
  background: #968451;
  border-radius: 1px;
}

.helpers-block-113 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #134325;
  background: #108084;
  border-radius: 4px;
}

.helpers-block-114 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #416021;
  background: #585245;
  border-radius: 7px;
}

.helpers-block-115 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #897250;
  background: #874651;
  border-radius: 1px;
}

.helpers-block-116 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #257156;
  background: #839478;
  border-radius: 7px;
}

.helpers-block-117 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #438686;
  background: #210827;
  border-radius: 8px;
}

.helpers-block-118 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #268267;
  background: #639374;
  border-radius: 5px;
}

.helpers-block-119 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #678738;
  background: #440233;
  border-radius: 2px;
}

.helpers-block-120 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #271500;
  background: #248572;
  border-radius: 4px;
}

.helpers-block-121 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #871708;
  background: #758671;
  border-radius: 1px;
}

.helpers-block-122 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #882961;
  background: #891716;
  border-radius: 6px;
}

.helpers-block-123 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #649783;
  background: #326493;
  border-radius: 1px;
}

.helpers-block-124 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #153613;
  background: #565712;
  border-radius: 8px;
}

.helpers-block-125 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #928458;
  background: #640999;
  border-radius: 3px;
}

.helpers-block-126 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #855552;
  background: #433912;
  border-radius: 7px;
}

.helpers-block-127 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #923032;
  background: #798881;
  border-radius: 2px;
}

.helpers-block-128 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #826234;
  background: #160263;
  border-radius: 4px;
}

.helpers-block-129 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #769366;
  background: #778750;
  border-radius: 2px;
}

.helpers-block-130 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #761022;
  background: #802284;
  border-radius: 4px;
}

.helpers-block-131 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #680427;
  background: #322728;
  border-radius: 6px;
}

.helpers-block-132 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #813720;
  background: #631826;
  border-radius: 8px;
}

.helpers-block-133 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #909368;
  background: #955135;
  border-radius: 1px;
}

.helpers-block-134 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #906578;
  background: #247203;
  border-radius: 4px;
}

.helpers-block-135 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #786028;
  background: #476824;
  border-radius: 4px;
}

.helpers-block-136 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #397134;
  background: #385698;
  border-radius: 0px;
}

.helpers-block-137 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #853238;
  background: #496843;
  border-radius: 8px;
}

.helpers-block-138 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #980145;
  background: #497863;
  border-radius: 3px;
}

.helpers-block-139 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #908315;
  background: #240146;
  border-radius: 3px;
}

.helpers-block-140 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #950280;
  background: #710793;
  border-radius: 4px;
}

.helpers-block-141 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #459923;
  background: #682306;
  border-radius: 4px;
}

.helpers-block-142 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #596221;
  background: #442781;
  border-radius: 4px;
}

.helpers-block-143 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #897264;
  background: #140784;
  border-radius: 4px;
}

.helpers-block-144 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #370772;
  background: #242799;
  border-radius: 4px;
}

.helpers-block-145 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #843703;
  background: #678561;
  border-radius: 5px;
}

.helpers-block-146 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #865659;
  background: #871333;
  border-radius: 2px;
}

.helpers-block-147 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #186527;
  background: #981150;
  border-radius: 2px;
}

.helpers-block-148 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #145169;
  background: #720417;
  border-radius: 3px;
}

.helpers-block-149 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #944964;
  background: #633305;
  border-radius: 7px;
}

.helpers-block-150 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #140939;
  background: #546634;
  border-radius: 2px;
}

.helpers-block-151 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #916021;
  background: #978506;
  border-radius: 0px;
}

.helpers-block-152 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #212267;
  background: #367464;
  border-radius: 1px;
}

.helpers-block-153 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #528431;
  background: #573676;
  border-radius: 5px;
}

.helpers-block-154 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #713485;
  background: #105083;
  border-radius: 6px;
}

.helpers-block-155 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #895243;
  background: #784895;
  border-radius: 8px;
}

.helpers-block-156 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #313593;
  background: #958682;
  border-radius: 0px;
}

.helpers-block-157 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #791641;
  background: #188340;
  border-radius: 3px;
}

.helpers-block-158 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #264598;
  background: #802874;
  border-radius: 2px;
}

.helpers-block-159 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #552613;
  background: #875524;
  border-radius: 8px;
}

.helpers-block-160 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #645167;
  background: #852041;
  border-radius: 3px;
}

.helpers-block-161 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #291486;
  background: #294443;
  border-radius: 8px;
}

.helpers-block-162 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #596572;
  background: #654800;
  border-radius: 2px;
}

.helpers-block-163 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #541168;
  background: #319668;
  border-radius: 3px;
}

.helpers-block-164 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #249600;
  background: #495358;
  border-radius: 4px;
}

.helpers-block-165 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #321641;
  background: #715981;
  border-radius: 5px;
}

.helpers-block-166 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #695534;
  background: #635648;
  border-radius: 3px;
}

.helpers-block-167 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #195922;
  background: #773160;
  border-radius: 7px;
}

.helpers-block-168 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #812581;
  background: #340056;
  border-radius: 3px;
}

.helpers-block-169 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #798675;
  background: #325168;
  border-radius: 6px;
}

.helpers-block-170 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #802599;
  background: #539507;
  border-radius: 3px;
}

.helpers-block-171 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #963187;
  background: #856520;
  border-radius: 5px;
}

.helpers-block-172 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #352831;
  background: #119849;
  border-radius: 0px;
}

.helpers-block-173 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #339669;
  background: #723351;
  border-radius: 6px;
}

.helpers-block-174 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #294878;
  background: #317300;
  border-radius: 8px;
}

.helpers-block-175 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #247191;
  background: #507790;
  border-radius: 1px;
}

.helpers-block-176 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #219563;
  background: #577192;
  border-radius: 0px;
}

.helpers-block-177 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #939152;
  background: #863031;
  border-radius: 0px;
}

.helpers-block-178 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #302919;
  background: #437850;
  border-radius: 2px;
}

.helpers-block-179 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #944285;
  background: #924149;
  border-radius: 0px;
}
