/* hook styles v1 */

.hook-block-1 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #978454;
  background: #856347;
  border-radius: 4px;
}

.hook-block-2 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #737690;
  background: #431440;
  border-radius: 1px;
}

.hook-block-3 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #901929;
  background: #725090;
  border-radius: 5px;
}

.hook-block-4 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #703525;
  background: #452620;
  border-radius: 8px;
}

.hook-block-5 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #636257;
  background: #145533;
  border-radius: 2px;
}

.hook-block-6 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #965203;
  background: #529451;
  border-radius: 1px;
}

.hook-block-7 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #400091;
  background: #741073;
  border-radius: 2px;
}

.hook-block-8 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #281212;
  background: #271910;
  border-radius: 1px;
}

.hook-block-9 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #928017;
  background: #408697;
  border-radius: 2px;
}

.hook-block-10 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #313609;
  background: #685964;
  border-radius: 3px;
}

.hook-block-11 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #170581;
  background: #944891;
  border-radius: 3px;
}

.hook-block-12 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #359742;
  background: #474604;
  border-radius: 3px;
}

.hook-block-13 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #542232;
  background: #406398;
  border-radius: 5px;
}

.hook-block-14 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #957319;
  background: #782164;
  border-radius: 2px;
}

.hook-block-15 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #143147;
  background: #886779;
  border-radius: 4px;
}

.hook-block-16 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #400239;
  background: #937055;
  border-radius: 7px;
}

.hook-block-17 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #159483;
  background: #761734;
  border-radius: 0px;
}

.hook-block-18 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #413615;
  background: #841526;
  border-radius: 0px;
}

.hook-block-19 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #772866;
  background: #447608;
  border-radius: 6px;
}

.hook-block-20 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #379531;
  background: #566886;
  border-radius: 2px;
}

.hook-block-21 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #615140;
  background: #634840;
  border-radius: 8px;
}

.hook-block-22 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #786380;
  background: #120201;
  border-radius: 4px;
}

.hook-block-23 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #169688;
  background: #857374;
  border-radius: 3px;
}

.hook-block-24 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #350527;
  background: #784832;
  border-radius: 5px;
}

.hook-block-25 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #377394;
  background: #346699;
  border-radius: 7px;
}

.hook-block-26 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #235712;
  background: #483832;
  border-radius: 1px;
}

.hook-block-27 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #534727;
  background: #251283;
  border-radius: 4px;
}

.hook-block-28 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #629266;
  background: #503163;
  border-radius: 7px;
}

.hook-block-29 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #904684;
  background: #685079;
  border-radius: 1px;
}

.hook-block-30 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #831227;
  background: #922352;
  border-radius: 7px;
}

.hook-block-31 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #179842;
  background: #258745;
  border-radius: 1px;
}

.hook-block-32 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #428923;
  background: #164757;
  border-radius: 2px;
}

.hook-block-33 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #771581;
  background: #650411;
  border-radius: 2px;
}

.hook-block-34 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #571860;
  background: #879335;
  border-radius: 2px;
}

.hook-block-35 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #732091;
  background: #745595;
  border-radius: 0px;
}

.hook-block-36 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #186118;
  background: #231871;
  border-radius: 1px;
}

.hook-block-37 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #177196;
  background: #124426;
  border-radius: 8px;
}

.hook-block-38 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #579991;
  background: #597465;
  border-radius: 0px;
}

.hook-block-39 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #849601;
  background: #554844;
  border-radius: 6px;
}

.hook-block-40 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #449806;
  background: #438686;
  border-radius: 5px;
}

.hook-block-41 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #775164;
  background: #669357;
  border-radius: 2px;
}

.hook-block-42 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #202695;
  background: #406673;
  border-radius: 6px;
}

.hook-block-43 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #200437;
  background: #716277;
  border-radius: 4px;
}

.hook-block-44 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #328093;
  background: #946688;
  border-radius: 4px;
}

.hook-block-45 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #389275;
  background: #590513;
  border-radius: 5px;
}

.hook-block-46 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #677934;
  background: #206519;
  border-radius: 2px;
}

.hook-block-47 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #781011;
  background: #520221;
  border-radius: 7px;
}

.hook-block-48 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #513258;
  background: #466937;
  border-radius: 3px;
}

.hook-block-49 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #403813;
  background: #420054;
  border-radius: 7px;
}

.hook-block-50 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #448506;
  background: #619369;
  border-radius: 2px;
}

.hook-block-51 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #975614;
  background: #475774;
  border-radius: 8px;
}

.hook-block-52 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #830325;
  background: #138298;
  border-radius: 7px;
}

.hook-block-53 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #642666;
  background: #104765;
  border-radius: 1px;
}

.hook-block-54 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #531556;
  background: #315943;
  border-radius: 5px;
}

.hook-block-55 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #483619;
  background: #298822;
  border-radius: 1px;
}

.hook-block-56 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #479472;
  background: #575685;
  border-radius: 6px;
}

.hook-block-57 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #876259;
  background: #905645;
  border-radius: 5px;
}

.hook-block-58 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #776466;
  background: #439777;
  border-radius: 0px;
}

.hook-block-59 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #265918;
  background: #100160;
  border-radius: 3px;
}

.hook-block-60 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #367608;
  background: #427395;
  border-radius: 3px;
}

.hook-block-61 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #420395;
  background: #942130;
  border-radius: 0px;
}

.hook-block-62 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #468944;
  background: #282188;
  border-radius: 5px;
}

.hook-block-63 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #787169;
  background: #569018;
  border-radius: 2px;
}

.hook-block-64 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #849419;
  background: #505584;
  border-radius: 5px;
}

.hook-block-65 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #116044;
  background: #538751;
  border-radius: 2px;
}

.hook-block-66 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #764104;
  background: #984275;
  border-radius: 3px;
}

.hook-block-67 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #255403;
  background: #872305;
  border-radius: 3px;
}

.hook-block-68 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #123194;
  background: #678943;
  border-radius: 5px;
}

.hook-block-69 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #404153;
  background: #457053;
  border-radius: 1px;
}

.hook-block-70 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #356376;
  background: #967544;
  border-radius: 4px;
}

.hook-block-71 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #185548;
  background: #414902;
  border-radius: 8px;
}

.hook-block-72 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #551762;
  background: #341656;
  border-radius: 1px;
}

.hook-block-73 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #234538;
  background: #620574;
  border-radius: 2px;
}

.hook-block-74 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #319033;
  background: #319708;
  border-radius: 1px;
}

.hook-block-75 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #638459;
  background: #931285;
  border-radius: 7px;
}

.hook-block-76 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #703825;
  background: #897680;
  border-radius: 2px;
}

.hook-block-77 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #872925;
  background: #865706;
  border-radius: 7px;
}

.hook-block-78 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #971171;
  background: #987215;
  border-radius: 0px;
}

.hook-block-79 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #111979;
  background: #203824;
  border-radius: 1px;
}

.hook-block-80 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #636021;
  background: #824423;
  border-radius: 1px;
}

.hook-block-81 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #895189;
  background: #976247;
  border-radius: 3px;
}

.hook-block-82 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #854929;
  background: #651091;
  border-radius: 1px;
}

.hook-block-83 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #885630;
  background: #428045;
  border-radius: 2px;
}

.hook-block-84 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #461024;
  background: #204881;
  border-radius: 8px;
}

.hook-block-85 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #382875;
  background: #184460;
  border-radius: 1px;
}

.hook-block-86 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #930790;
  background: #887634;
  border-radius: 0px;
}

.hook-block-87 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #145467;
  background: #470181;
  border-radius: 7px;
}

.hook-block-88 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #371984;
  background: #342289;
  border-radius: 7px;
}

.hook-block-89 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #159037;
  background: #146439;
  border-radius: 8px;
}

.hook-block-90 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #223751;
  background: #940546;
  border-radius: 2px;
}

.hook-block-91 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #540682;
  background: #887319;
  border-radius: 6px;
}

.hook-block-92 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #618636;
  background: #496362;
  border-radius: 1px;
}

.hook-block-93 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #128481;
  background: #324615;
  border-radius: 6px;
}

.hook-block-94 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #878189;
  background: #856038;
  border-radius: 6px;
}

.hook-block-95 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #248496;
  background: #405457;
  border-radius: 2px;
}

.hook-block-96 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #155373;
  background: #305172;
  border-radius: 7px;
}

.hook-block-97 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #111465;
  background: #135200;
  border-radius: 7px;
}

.hook-block-98 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #304227;
  background: #157502;
  border-radius: 3px;
}

.hook-block-99 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #248926;
  background: #575788;
  border-radius: 3px;
}

.hook-block-100 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #106614;
  background: #481740;
  border-radius: 0px;
}

.hook-block-101 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #484913;
  background: #843377;
  border-radius: 6px;
}

.hook-block-102 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #523421;
  background: #961285;
  border-radius: 0px;
}

.hook-block-103 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #135972;
  background: #454511;
  border-radius: 2px;
}

.hook-block-104 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #419759;
  background: #899388;
  border-radius: 7px;
}

.hook-block-105 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #170215;
  background: #414069;
  border-radius: 5px;
}

.hook-block-106 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #246573;
  background: #360141;
  border-radius: 0px;
}

.hook-block-107 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #816789;
  background: #276498;
  border-radius: 1px;
}

.hook-block-108 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #801061;
  background: #804937;
  border-radius: 3px;
}

.hook-block-109 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #531671;
  background: #851080;
  border-radius: 7px;
}

.hook-block-110 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #241485;
  background: #325926;
  border-radius: 5px;
}

.hook-block-111 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #275420;
  background: #918116;
  border-radius: 2px;
}

.hook-block-112 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #154723;
  background: #723784;
  border-radius: 4px;
}

.hook-block-113 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #574639;
  background: #982425;
  border-radius: 7px;
}

.hook-block-114 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #573470;
  background: #608089;
  border-radius: 4px;
}

.hook-block-115 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #302631;
  background: #569522;
  border-radius: 7px;
}

.hook-block-116 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #670519;
  background: #445945;
  border-radius: 6px;
}

.hook-block-117 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #557461;
  background: #974669;
  border-radius: 3px;
}

.hook-block-118 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #926428;
  background: #629526;
  border-radius: 5px;
}

.hook-block-119 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #918429;
  background: #161748;
  border-radius: 2px;
}
