/* index styles v1 */

.index-block-1 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #505140;
  background: #411484;
  border-radius: 7px;
}

.index-block-2 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #991069;
  background: #119818;
  border-radius: 1px;
}

.index-block-3 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #238967;
  background: #516525;
  border-radius: 8px;
}

.index-block-4 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #192587;
  background: #979226;
  border-radius: 7px;
}

.index-block-5 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #445476;
  background: #925406;
  border-radius: 1px;
}

.index-block-6 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #900404;
  background: #666800;
  border-radius: 4px;
}

.index-block-7 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #969740;
  background: #100844;
  border-radius: 0px;
}

.index-block-8 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #795503;
  background: #181351;
  border-radius: 5px;
}

.index-block-9 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #630161;
  background: #132543;
  border-radius: 8px;
}

.index-block-10 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #923794;
  background: #801026;
  border-radius: 7px;
}

.index-block-11 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #737894;
  background: #777582;
  border-radius: 1px;
}

.index-block-12 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #766055;
  background: #657390;
  border-radius: 8px;
}

.index-block-13 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #950911;
  background: #184632;
  border-radius: 3px;
}

.index-block-14 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #906868;
  background: #820489;
  border-radius: 2px;
}

.index-block-15 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #199042;
  background: #193164;
  border-radius: 6px;
}

.index-block-16 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #107182;
  background: #499125;
  border-radius: 2px;
}

.index-block-17 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #637515;
  background: #624314;
  border-radius: 6px;
}

.index-block-18 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #455962;
  background: #230935;
  border-radius: 2px;
}

.index-block-19 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #571003;
  background: #228218;
  border-radius: 3px;
}

.index-block-20 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #432330;
  background: #114370;
  border-radius: 3px;
}

.index-block-21 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #794200;
  background: #954666;
  border-radius: 0px;
}

.index-block-22 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #481974;
  background: #125333;
  border-radius: 5px;
}

.index-block-23 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #624693;
  background: #251146;
  border-radius: 2px;
}

.index-block-24 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #181613;
  background: #421531;
  border-radius: 7px;
}

.index-block-25 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #615772;
  background: #695951;
  border-radius: 5px;
}

.index-block-26 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #164235;
  background: #473608;
  border-radius: 2px;
}

.index-block-27 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #636848;
  background: #325306;
  border-radius: 4px;
}

.index-block-28 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #986911;
  background: #630205;
  border-radius: 3px;
}

.index-block-29 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #853858;
  background: #543626;
  border-radius: 0px;
}

.index-block-30 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #373466;
  background: #830433;
  border-radius: 3px;
}

.index-block-31 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #437364;
  background: #996373;
  border-radius: 0px;
}

.index-block-32 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #337451;
  background: #178124;
  border-radius: 3px;
}

.index-block-33 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #428560;
  background: #366694;
  border-radius: 1px;
}

.index-block-34 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #517881;
  background: #593899;
  border-radius: 2px;
}

.index-block-35 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #509086;
  background: #911439;
  border-radius: 4px;
}

.index-block-36 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #822444;
  background: #619757;
  border-radius: 5px;
}

.index-block-37 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #205822;
  background: #810440;
  border-radius: 8px;
}

.index-block-38 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #301485;
  background: #572886;
  border-radius: 4px;
}

.index-block-39 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #922848;
  background: #946407;
  border-radius: 1px;
}

.index-block-40 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #752322;
  background: #786892;
  border-radius: 4px;
}

.index-block-41 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #285850;
  background: #192632;
  border-radius: 6px;
}

.index-block-42 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #108660;
  background: #645924;
  border-radius: 7px;
}

.index-block-43 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #315579;
  background: #343257;
  border-radius: 3px;
}

.index-block-44 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #485171;
  background: #366494;
  border-radius: 0px;
}

.index-block-45 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #772858;
  background: #207234;
  border-radius: 5px;
}

.index-block-46 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #254069;
  background: #219385;
  border-radius: 5px;
}

.index-block-47 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #944288;
  background: #283732;
  border-radius: 7px;
}

.index-block-48 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #509884;
  background: #266170;
  border-radius: 4px;
}

.index-block-49 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #921496;
  background: #874709;
  border-radius: 0px;
}

.index-block-50 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #461958;
  background: #317790;
  border-radius: 7px;
}

.index-block-51 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #873745;
  background: #851014;
  border-radius: 5px;
}

.index-block-52 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #862625;
  background: #962535;
  border-radius: 0px;
}

.index-block-53 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #780230;
  background: #502959;
  border-radius: 7px;
}

.index-block-54 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #263919;
  background: #964069;
  border-radius: 6px;
}

.index-block-55 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #480655;
  background: #955952;
  border-radius: 6px;
}

.index-block-56 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #878153;
  background: #252807;
  border-radius: 0px;
}

.index-block-57 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #677024;
  background: #447979;
  border-radius: 3px;
}

.index-block-58 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #329166;
  background: #332569;
  border-radius: 2px;
}

.index-block-59 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #282162;
  background: #229399;
  border-radius: 8px;
}

.index-block-60 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #302573;
  background: #154936;
  border-radius: 4px;
}

.index-block-61 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #417611;
  background: #288276;
  border-radius: 7px;
}

.index-block-62 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #466401;
  background: #582628;
  border-radius: 4px;
}

.index-block-63 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #621470;
  background: #307233;
  border-radius: 1px;
}

.index-block-64 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #319073;
  background: #526577;
  border-radius: 1px;
}

.index-block-65 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #291672;
  background: #752119;
  border-radius: 5px;
}

.index-block-66 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #161316;
  background: #305530;
  border-radius: 7px;
}

.index-block-67 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #468417;
  background: #459606;
  border-radius: 1px;
}

.index-block-68 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #563215;
  background: #398229;
  border-radius: 4px;
}

.index-block-69 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #807249;
  background: #461690;
  border-radius: 2px;
}

.index-block-70 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #538808;
  background: #542652;
  border-radius: 4px;
}

.index-block-71 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #917787;
  background: #741001;
  border-radius: 2px;
}

.index-block-72 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #129335;
  background: #340843;
  border-radius: 1px;
}

.index-block-73 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #998678;
  background: #683184;
  border-radius: 5px;
}

.index-block-74 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #563962;
  background: #257611;
  border-radius: 6px;
}

.index-block-75 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #293208;
  background: #862653;
  border-radius: 2px;
}

.index-block-76 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #894625;
  background: #313213;
  border-radius: 4px;
}

.index-block-77 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #778382;
  background: #996933;
  border-radius: 6px;
}

.index-block-78 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #320865;
  background: #570232;
  border-radius: 4px;
}

.index-block-79 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #389413;
  background: #313887;
  border-radius: 5px;
}

.index-block-80 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #912446;
  background: #259473;
  border-radius: 5px;
}

.index-block-81 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #427817;
  background: #526613;
  border-radius: 3px;
}

.index-block-82 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #133314;
  background: #385144;
  border-radius: 8px;
}

.index-block-83 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #410699;
  background: #983955;
  border-radius: 5px;
}

.index-block-84 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #951449;
  background: #151993;
  border-radius: 2px;
}

.index-block-85 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #447898;
  background: #691593;
  border-radius: 1px;
}

.index-block-86 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #716487;
  background: #472815;
  border-radius: 5px;
}

.index-block-87 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #388390;
  background: #260919;
  border-radius: 2px;
}

.index-block-88 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #682052;
  background: #900005;
  border-radius: 6px;
}

.index-block-89 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #714197;
  background: #271491;
  border-radius: 0px;
}

.index-block-90 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #773621;
  background: #885839;
  border-radius: 0px;
}

.index-block-91 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #985116;
  background: #609144;
  border-radius: 6px;
}

.index-block-92 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #836851;
  background: #569264;
  border-radius: 6px;
}

.index-block-93 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #807254;
  background: #797001;
  border-radius: 7px;
}

.index-block-94 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #376788;
  background: #218301;
  border-radius: 6px;
}

.index-block-95 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #318718;
  background: #651973;
  border-radius: 7px;
}

.index-block-96 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #896509;
  background: #383056;
  border-radius: 0px;
}

.index-block-97 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #913289;
  background: #906053;
  border-radius: 0px;
}

.index-block-98 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #695802;
  background: #941002;
  border-radius: 7px;
}

.index-block-99 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #363601;
  background: #511137;
  border-radius: 6px;
}

.index-block-100 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #977707;
  background: #999859;
  border-radius: 8px;
}

.index-block-101 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #215637;
  background: #829363;
  border-radius: 4px;
}

.index-block-102 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #764339;
  background: #970398;
  border-radius: 2px;
}

.index-block-103 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #612333;
  background: #379464;
  border-radius: 5px;
}

.index-block-104 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #624698;
  background: #387991;
  border-radius: 2px;
}

.index-block-105 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #722222;
  background: #594445;
  border-radius: 7px;
}

.index-block-106 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #297329;
  background: #454018;
  border-radius: 3px;
}

.index-block-107 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #105316;
  background: #328457;
  border-radius: 0px;
}
