/* logger styles v8 */

.logger-block-1 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #255224;
  background: #839865;
  border-radius: 7px;
}

.logger-block-2 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #888317;
  background: #733798;
  border-radius: 2px;
}

.logger-block-3 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #550687;
  background: #195358;
  border-radius: 4px;
}

.logger-block-4 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #331082;
  background: #946127;
  border-radius: 5px;
}

.logger-block-5 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #742540;
  background: #900349;
  border-radius: 8px;
}

.logger-block-6 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #795771;
  background: #145582;
  border-radius: 3px;
}

.logger-block-7 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #974241;
  background: #535413;
  border-radius: 2px;
}

.logger-block-8 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #922755;
  background: #791514;
  border-radius: 4px;
}

.logger-block-9 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #781712;
  background: #524760;
  border-radius: 1px;
}

.logger-block-10 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #483398;
  background: #293517;
  border-radius: 4px;
}

.logger-block-11 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #766583;
  background: #525458;
  border-radius: 2px;
}

.logger-block-12 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #520538;
  background: #479799;
  border-radius: 7px;
}

.logger-block-13 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #913019;
  background: #560548;
  border-radius: 0px;
}

.logger-block-14 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #745093;
  background: #288112;
  border-radius: 6px;
}

.logger-block-15 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #814647;
  background: #329509;
  border-radius: 3px;
}

.logger-block-16 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #899791;
  background: #815991;
  border-radius: 8px;
}

.logger-block-17 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #659438;
  background: #237057;
  border-radius: 0px;
}

.logger-block-18 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #866345;
  background: #666345;
  border-radius: 8px;
}

.logger-block-19 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #696296;
  background: #817669;
  border-radius: 6px;
}

.logger-block-20 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #449162;
  background: #412039;
  border-radius: 8px;
}

.logger-block-21 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #683752;
  background: #879842;
  border-radius: 3px;
}

.logger-block-22 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #898023;
  background: #635249;
  border-radius: 7px;
}

.logger-block-23 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #554860;
  background: #682041;
  border-radius: 4px;
}

.logger-block-24 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #765520;
  background: #280271;
  border-radius: 7px;
}

.logger-block-25 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #629356;
  background: #762967;
  border-radius: 3px;
}

.logger-block-26 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #313461;
  background: #948405;
  border-radius: 8px;
}

.logger-block-27 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #520657;
  background: #813306;
  border-radius: 8px;
}

.logger-block-28 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #217331;
  background: #566772;
  border-radius: 5px;
}

.logger-block-29 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #927557;
  background: #575855;
  border-radius: 4px;
}

.logger-block-30 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #150408;
  background: #335659;
  border-radius: 8px;
}

.logger-block-31 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #224785;
  background: #426991;
  border-radius: 1px;
}

.logger-block-32 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #590572;
  background: #407524;
  border-radius: 6px;
}

.logger-block-33 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #879202;
  background: #506260;
  border-radius: 5px;
}

.logger-block-34 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #664407;
  background: #631380;
  border-radius: 6px;
}

.logger-block-35 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #275530;
  background: #253519;
  border-radius: 0px;
}

.logger-block-36 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #956211;
  background: #415098;
  border-radius: 5px;
}

.logger-block-37 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #843428;
  background: #765899;
  border-radius: 5px;
}

.logger-block-38 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #245150;
  background: #871556;
  border-radius: 0px;
}

.logger-block-39 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #592664;
  background: #431085;
  border-radius: 4px;
}

.logger-block-40 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #823343;
  background: #328740;
  border-radius: 6px;
}

.logger-block-41 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #391351;
  background: #510338;
  border-radius: 1px;
}

.logger-block-42 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #672401;
  background: #455058;
  border-radius: 2px;
}

.logger-block-43 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #619981;
  background: #765427;
  border-radius: 0px;
}

.logger-block-44 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #667022;
  background: #785640;
  border-radius: 6px;
}

.logger-block-45 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #707516;
  background: #229668;
  border-radius: 1px;
}

.logger-block-46 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #613020;
  background: #189371;
  border-radius: 2px;
}

.logger-block-47 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #361362;
  background: #445554;
  border-radius: 3px;
}

.logger-block-48 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #744874;
  background: #396205;
  border-radius: 5px;
}

.logger-block-49 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #846910;
  background: #311551;
  border-radius: 5px;
}

.logger-block-50 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #885664;
  background: #166117;
  border-radius: 7px;
}

.logger-block-51 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #510688;
  background: #829498;
  border-radius: 2px;
}

.logger-block-52 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #241537;
  background: #231152;
  border-radius: 0px;
}

.logger-block-53 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #180352;
  background: #403187;
  border-radius: 7px;
}

.logger-block-54 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #244734;
  background: #836664;
  border-radius: 1px;
}

.logger-block-55 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #170911;
  background: #739139;
  border-radius: 8px;
}

.logger-block-56 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #804990;
  background: #153226;
  border-radius: 2px;
}

.logger-block-57 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #686077;
  background: #823772;
  border-radius: 7px;
}

.logger-block-58 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #260111;
  background: #383163;
  border-radius: 8px;
}

.logger-block-59 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #782606;
  background: #928185;
  border-radius: 4px;
}

.logger-block-60 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #763850;
  background: #451364;
  border-radius: 7px;
}

.logger-block-61 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #270324;
  background: #304005;
  border-radius: 2px;
}

.logger-block-62 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #294269;
  background: #605287;
  border-radius: 7px;
}

.logger-block-63 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #807295;
  background: #412349;
  border-radius: 0px;
}

.logger-block-64 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #739677;
  background: #860108;
  border-radius: 0px;
}

.logger-block-65 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #924738;
  background: #754213;
  border-radius: 8px;
}

.logger-block-66 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #703300;
  background: #468023;
  border-radius: 2px;
}

.logger-block-67 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #135883;
  background: #875806;
  border-radius: 7px;
}

.logger-block-68 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #193374;
  background: #972087;
  border-radius: 8px;
}

.logger-block-69 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #853405;
  background: #287643;
  border-radius: 7px;
}

.logger-block-70 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #213438;
  background: #780801;
  border-radius: 7px;
}

.logger-block-71 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #117491;
  background: #492971;
  border-radius: 2px;
}

.logger-block-72 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #669717;
  background: #876380;
  border-radius: 4px;
}

.logger-block-73 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #227323;
  background: #950499;
  border-radius: 0px;
}

.logger-block-74 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #649627;
  background: #503283;
  border-radius: 7px;
}

.logger-block-75 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #629022;
  background: #129681;
  border-radius: 4px;
}

.logger-block-76 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #229105;
  background: #180565;
  border-radius: 1px;
}

.logger-block-77 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #949130;
  background: #235283;
  border-radius: 3px;
}

.logger-block-78 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #917705;
  background: #498136;
  border-radius: 6px;
}

.logger-block-79 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #330757;
  background: #112826;
  border-radius: 3px;
}

.logger-block-80 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #680572;
  background: #999275;
  border-radius: 0px;
}

.logger-block-81 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #835901;
  background: #478987;
  border-radius: 4px;
}

.logger-block-82 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #166768;
  background: #176073;
  border-radius: 2px;
}

.logger-block-83 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #178296;
  background: #182509;
  border-radius: 5px;
}

.logger-block-84 {
  display: flex;
  padding: 21px;
  margin: 15px;
  color: #855130;
  background: #917073;
  border-radius: 2px;
}

.logger-block-85 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #852819;
  background: #272722;
  border-radius: 6px;
}

.logger-block-86 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #583260;
  background: #603509;
  border-radius: 8px;
}

.logger-block-87 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #586171;
  background: #165777;
  border-radius: 2px;
}

.logger-block-88 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #683515;
  background: #858452;
  border-radius: 1px;
}

.logger-block-89 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #155538;
  background: #634333;
  border-radius: 3px;
}

.logger-block-90 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #493379;
  background: #868112;
  border-radius: 5px;
}

.logger-block-91 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #863412;
  background: #936006;
  border-radius: 1px;
}

.logger-block-92 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #567381;
  background: #822774;
  border-radius: 7px;
}

.logger-block-93 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #724057;
  background: #420561;
  border-radius: 0px;
}

.logger-block-94 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #175334;
  background: #822587;
  border-radius: 7px;
}

.logger-block-95 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #766421;
  background: #946987;
  border-radius: 1px;
}

.logger-block-96 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #558015;
  background: #766974;
  border-radius: 0px;
}

.logger-block-97 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #395896;
  background: #680319;
  border-radius: 1px;
}

.logger-block-98 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #708038;
  background: #151992;
  border-radius: 0px;
}

.logger-block-99 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #639425;
  background: #955784;
  border-radius: 2px;
}

.logger-block-100 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #481643;
  background: #743816;
  border-radius: 3px;
}

.logger-block-101 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #131419;
  background: #975651;
  border-radius: 2px;
}

.logger-block-102 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #707777;
  background: #134900;
  border-radius: 0px;
}

.logger-block-103 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #437846;
  background: #973426;
  border-radius: 0px;
}

.logger-block-104 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #575367;
  background: #928537;
  border-radius: 0px;
}

.logger-block-105 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #269083;
  background: #621918;
  border-radius: 2px;
}

.logger-block-106 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #529442;
  background: #293721;
  border-radius: 4px;
}

.logger-block-107 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #854900;
  background: #707488;
  border-radius: 5px;
}

.logger-block-108 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #622817;
  background: #591684;
  border-radius: 1px;
}

.logger-block-109 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #353449;
  background: #923792;
  border-radius: 6px;
}

.logger-block-110 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #333869;
  background: #354504;
  border-radius: 2px;
}

.logger-block-111 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #996719;
  background: #585633;
  border-radius: 0px;
}

.logger-block-112 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #303576;
  background: #700945;
  border-radius: 3px;
}

.logger-block-113 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #243757;
  background: #208615;
  border-radius: 0px;
}

.logger-block-114 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #247852;
  background: #161510;
  border-radius: 1px;
}

.logger-block-115 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #776331;
  background: #674174;
  border-radius: 3px;
}

.logger-block-116 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #995423;
  background: #659805;
  border-radius: 2px;
}

.logger-block-117 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #435882;
  background: #683675;
  border-radius: 0px;
}

.logger-block-118 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #268399;
  background: #316899;
  border-radius: 1px;
}

.logger-block-119 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #221793;
  background: #430717;
  border-radius: 4px;
}

.logger-block-120 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #493490;
  background: #615832;
  border-radius: 7px;
}

.logger-block-121 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #655477;
  background: #468979;
  border-radius: 4px;
}

.logger-block-122 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #487787;
  background: #240813;
  border-radius: 2px;
}

.logger-block-123 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #718801;
  background: #654945;
  border-radius: 1px;
}

.logger-block-124 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #235359;
  background: #296396;
  border-radius: 5px;
}

.logger-block-125 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #505125;
  background: #182076;
  border-radius: 8px;
}

.logger-block-126 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #640979;
  background: #472190;
  border-radius: 8px;
}

.logger-block-127 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #833084;
  background: #226619;
  border-radius: 0px;
}

.logger-block-128 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #746185;
  background: #854649;
  border-radius: 0px;
}

.logger-block-129 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #773303;
  background: #576485;
  border-radius: 5px;
}

.logger-block-130 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #901971;
  background: #955613;
  border-radius: 8px;
}

.logger-block-131 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #282895;
  background: #244833;
  border-radius: 6px;
}

.logger-block-132 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #842908;
  background: #233567;
  border-radius: 2px;
}

.logger-block-133 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #637980;
  background: #360308;
  border-radius: 6px;
}

.logger-block-134 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #680619;
  background: #784501;
  border-radius: 7px;
}

.logger-block-135 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #656915;
  background: #507620;
  border-radius: 6px;
}

.logger-block-136 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #161594;
  background: #680879;
  border-radius: 2px;
}
