/* utils styles v1 */

.utils-block-1 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #883411;
  background: #943226;
  border-radius: 4px;
}

.utils-block-2 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #107965;
  background: #179734;
  border-radius: 7px;
}

.utils-block-3 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #399331;
  background: #651768;
  border-radius: 1px;
}

.utils-block-4 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #818415;
  background: #646486;
  border-radius: 3px;
}

.utils-block-5 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #343327;
  background: #403007;
  border-radius: 4px;
}

.utils-block-6 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #479361;
  background: #871008;
  border-radius: 7px;
}

.utils-block-7 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #731129;
  background: #386471;
  border-radius: 8px;
}

.utils-block-8 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #458116;
  background: #559432;
  border-radius: 1px;
}

.utils-block-9 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #701530;
  background: #628224;
  border-radius: 4px;
}

.utils-block-10 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #982014;
  background: #686849;
  border-radius: 5px;
}

.utils-block-11 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #978294;
  background: #383845;
  border-radius: 0px;
}

.utils-block-12 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #275872;
  background: #485432;
  border-radius: 2px;
}

.utils-block-13 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #101677;
  background: #848083;
  border-radius: 5px;
}

.utils-block-14 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #989011;
  background: #286576;
  border-radius: 3px;
}

.utils-block-15 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #141433;
  background: #279350;
  border-radius: 5px;
}

.utils-block-16 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #341424;
  background: #970646;
  border-radius: 1px;
}

.utils-block-17 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #869306;
  background: #246668;
  border-radius: 8px;
}

.utils-block-18 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #867241;
  background: #358857;
  border-radius: 5px;
}

.utils-block-19 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #382759;
  background: #335717;
  border-radius: 3px;
}

.utils-block-20 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #714188;
  background: #379178;
  border-radius: 3px;
}

.utils-block-21 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #664381;
  background: #705399;
  border-radius: 8px;
}

.utils-block-22 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #976591;
  background: #733194;
  border-radius: 7px;
}

.utils-block-23 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #914236;
  background: #823146;
  border-radius: 0px;
}

.utils-block-24 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #152859;
  background: #814753;
  border-radius: 3px;
}

.utils-block-25 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #836668;
  background: #532316;
  border-radius: 6px;
}

.utils-block-26 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #332528;
  background: #965326;
  border-radius: 4px;
}

.utils-block-27 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #179954;
  background: #774621;
  border-radius: 0px;
}

.utils-block-28 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #289167;
  background: #926494;
  border-radius: 5px;
}

.utils-block-29 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #948010;
  background: #510984;
  border-radius: 7px;
}

.utils-block-30 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #289868;
  background: #948124;
  border-radius: 4px;
}

.utils-block-31 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #609312;
  background: #911613;
  border-radius: 0px;
}

.utils-block-32 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #486116;
  background: #362829;
  border-radius: 4px;
}

.utils-block-33 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #850550;
  background: #626842;
  border-radius: 1px;
}

.utils-block-34 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #830551;
  background: #324539;
  border-radius: 1px;
}

.utils-block-35 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #542558;
  background: #460525;
  border-radius: 3px;
}

.utils-block-36 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #326001;
  background: #362609;
  border-radius: 8px;
}

.utils-block-37 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #434986;
  background: #253806;
  border-radius: 6px;
}

.utils-block-38 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #663234;
  background: #204156;
  border-radius: 2px;
}

.utils-block-39 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #455263;
  background: #305160;
  border-radius: 4px;
}

.utils-block-40 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #798522;
  background: #497502;
  border-radius: 4px;
}

.utils-block-41 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #887896;
  background: #408938;
  border-radius: 6px;
}

.utils-block-42 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #867507;
  background: #109934;
  border-radius: 7px;
}

.utils-block-43 {
  display: flex;
  padding: 20px;
  margin: 4px;
  color: #433272;
  background: #845542;
  border-radius: 6px;
}

.utils-block-44 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #884313;
  background: #804712;
  border-radius: 4px;
}

.utils-block-45 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #722215;
  background: #607995;
  border-radius: 6px;
}

.utils-block-46 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #340560;
  background: #406676;
  border-radius: 4px;
}

.utils-block-47 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #274717;
  background: #258394;
  border-radius: 3px;
}

.utils-block-48 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #854193;
  background: #774090;
  border-radius: 2px;
}

.utils-block-49 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #769918;
  background: #179666;
  border-radius: 8px;
}

.utils-block-50 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #329092;
  background: #887804;
  border-radius: 7px;
}

.utils-block-51 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #320637;
  background: #879593;
  border-radius: 0px;
}

.utils-block-52 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #429446;
  background: #378715;
  border-radius: 1px;
}

.utils-block-53 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #150969;
  background: #621320;
  border-radius: 2px;
}

.utils-block-54 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #454298;
  background: #821993;
  border-radius: 7px;
}

.utils-block-55 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #440772;
  background: #153906;
  border-radius: 3px;
}

.utils-block-56 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #873457;
  background: #462979;
  border-radius: 0px;
}

.utils-block-57 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #557607;
  background: #404059;
  border-radius: 4px;
}

.utils-block-58 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #362726;
  background: #586239;
  border-radius: 2px;
}

.utils-block-59 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #226105;
  background: #422324;
  border-radius: 7px;
}

.utils-block-60 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #510001;
  background: #927262;
  border-radius: 5px;
}

.utils-block-61 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #418020;
  background: #859914;
  border-radius: 6px;
}

.utils-block-62 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #660832;
  background: #736904;
  border-radius: 6px;
}

.utils-block-63 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #964690;
  background: #942310;
  border-radius: 2px;
}

.utils-block-64 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #388510;
  background: #773256;
  border-radius: 7px;
}

.utils-block-65 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #328486;
  background: #608970;
  border-radius: 5px;
}

.utils-block-66 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #616032;
  background: #895322;
  border-radius: 8px;
}

.utils-block-67 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #302360;
  background: #561265;
  border-radius: 3px;
}

.utils-block-68 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #141623;
  background: #698983;
  border-radius: 6px;
}

.utils-block-69 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #868021;
  background: #309254;
  border-radius: 0px;
}

.utils-block-70 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #232079;
  background: #149514;
  border-radius: 1px;
}

.utils-block-71 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #414845;
  background: #988532;
  border-radius: 1px;
}

.utils-block-72 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #305334;
  background: #157595;
  border-radius: 4px;
}

.utils-block-73 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #234622;
  background: #137180;
  border-radius: 1px;
}

.utils-block-74 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #131560;
  background: #898575;
  border-radius: 2px;
}

.utils-block-75 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #342889;
  background: #836249;
  border-radius: 5px;
}

.utils-block-76 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #597047;
  background: #819001;
  border-radius: 3px;
}

.utils-block-77 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #267141;
  background: #531384;
  border-radius: 7px;
}

.utils-block-78 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #103341;
  background: #291310;
  border-radius: 7px;
}

.utils-block-79 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #966915;
  background: #524353;
  border-radius: 6px;
}

.utils-block-80 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #971861;
  background: #698388;
  border-radius: 2px;
}

.utils-block-81 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #841880;
  background: #757742;
  border-radius: 5px;
}

.utils-block-82 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #997764;
  background: #435656;
  border-radius: 2px;
}

.utils-block-83 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #922800;
  background: #570073;
  border-radius: 4px;
}

.utils-block-84 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #802382;
  background: #340698;
  border-radius: 5px;
}

.utils-block-85 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #657945;
  background: #878395;
  border-radius: 2px;
}

.utils-block-86 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #477407;
  background: #380480;
  border-radius: 3px;
}

.utils-block-87 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #685331;
  background: #307192;
  border-radius: 7px;
}

.utils-block-88 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #752387;
  background: #375127;
  border-radius: 5px;
}

.utils-block-89 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #150436;
  background: #332589;
  border-radius: 2px;
}

.utils-block-90 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #356230;
  background: #596299;
  border-radius: 4px;
}

.utils-block-91 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #770895;
  background: #705415;
  border-radius: 4px;
}

.utils-block-92 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #439650;
  background: #578710;
  border-radius: 3px;
}

.utils-block-93 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #695530;
  background: #962147;
  border-radius: 0px;
}

.utils-block-94 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #284904;
  background: #506482;
  border-radius: 7px;
}

.utils-block-95 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #935971;
  background: #785148;
  border-radius: 2px;
}

.utils-block-96 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #508234;
  background: #913039;
  border-radius: 7px;
}

.utils-block-97 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #796528;
  background: #939380;
  border-radius: 3px;
}

.utils-block-98 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #465152;
  background: #445514;
  border-radius: 4px;
}

.utils-block-99 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #272987;
  background: #747994;
  border-radius: 3px;
}

.utils-block-100 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #855577;
  background: #723198;
  border-radius: 0px;
}

.utils-block-101 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #964907;
  background: #480251;
  border-radius: 1px;
}

.utils-block-102 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #300899;
  background: #745864;
  border-radius: 2px;
}

.utils-block-103 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #130102;
  background: #868290;
  border-radius: 6px;
}

.utils-block-104 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #484668;
  background: #612965;
  border-radius: 4px;
}

.utils-block-105 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #435470;
  background: #850608;
  border-radius: 0px;
}

.utils-block-106 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #819057;
  background: #780032;
  border-radius: 5px;
}

.utils-block-107 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #306474;
  background: #715988;
  border-radius: 4px;
}

.utils-block-108 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #176634;
  background: #935345;
  border-radius: 4px;
}

.utils-block-109 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #579631;
  background: #898292;
  border-radius: 8px;
}

.utils-block-110 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #917748;
  background: #109337;
  border-radius: 0px;
}

.utils-block-111 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #799581;
  background: #806196;
  border-radius: 1px;
}

.utils-block-112 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #404058;
  background: #962497;
  border-radius: 1px;
}

.utils-block-113 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #405907;
  background: #968944;
  border-radius: 3px;
}

.utils-block-114 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #224783;
  background: #515999;
  border-radius: 1px;
}

.utils-block-115 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #906156;
  background: #895694;
  border-radius: 7px;
}

.utils-block-116 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #630320;
  background: #324121;
  border-radius: 2px;
}

.utils-block-117 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #361687;
  background: #888305;
  border-radius: 0px;
}

.utils-block-118 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #874204;
  background: #720092;
  border-radius: 5px;
}

.utils-block-119 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #303296;
  background: #171738;
  border-radius: 7px;
}

.utils-block-120 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #965295;
  background: #928360;
  border-radius: 1px;
}

.utils-block-121 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #275323;
  background: #518845;
  border-radius: 6px;
}

.utils-block-122 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #733707;
  background: #107920;
  border-radius: 4px;
}

.utils-block-123 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #661309;
  background: #303448;
  border-radius: 5px;
}

.utils-block-124 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #172706;
  background: #604288;
  border-radius: 1px;
}

.utils-block-125 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #902622;
  background: #823506;
  border-radius: 7px;
}

.utils-block-126 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #540760;
  background: #123375;
  border-radius: 2px;
}

.utils-block-127 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #264864;
  background: #851127;
  border-radius: 6px;
}

.utils-block-128 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #449452;
  background: #530042;
  border-radius: 4px;
}

.utils-block-129 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #766797;
  background: #894402;
  border-radius: 0px;
}

.utils-block-130 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #830218;
  background: #298857;
  border-radius: 2px;
}

.utils-block-131 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #444002;
  background: #153782;
  border-radius: 5px;
}

.utils-block-132 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #822222;
  background: #135657;
  border-radius: 2px;
}

.utils-block-133 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #905928;
  background: #129262;
  border-radius: 5px;
}

.utils-block-134 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #761259;
  background: #527301;
  border-radius: 5px;
}

.utils-block-135 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #541574;
  background: #640198;
  border-radius: 5px;
}

.utils-block-136 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #831702;
  background: #194679;
  border-radius: 8px;
}

.utils-block-137 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #667016;
  background: #563443;
  border-radius: 4px;
}

.utils-block-138 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #376446;
  background: #701875;
  border-radius: 5px;
}

.utils-block-139 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #668667;
  background: #633843;
  border-radius: 7px;
}

.utils-block-140 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #399698;
  background: #843598;
  border-radius: 8px;
}

.utils-block-141 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #310674;
  background: #990323;
  border-radius: 3px;
}

.utils-block-142 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #850737;
  background: #774928;
  border-radius: 3px;
}

.utils-block-143 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #224583;
  background: #846951;
  border-radius: 3px;
}
