/* constants styles v1 */

.constants-block-1 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #762873;
  background: #931998;
  border-radius: 8px;
}

.constants-block-2 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #404754;
  background: #659732;
  border-radius: 1px;
}

.constants-block-3 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #388987;
  background: #870424;
  border-radius: 6px;
}

.constants-block-4 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #627511;
  background: #427722;
  border-radius: 0px;
}

.constants-block-5 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #375985;
  background: #499656;
  border-radius: 6px;
}

.constants-block-6 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #696476;
  background: #440311;
  border-radius: 7px;
}

.constants-block-7 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #599743;
  background: #779782;
  border-radius: 4px;
}

.constants-block-8 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #723345;
  background: #387884;
  border-radius: 4px;
}

.constants-block-9 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #196996;
  background: #999785;
  border-radius: 2px;
}

.constants-block-10 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #539902;
  background: #806020;
  border-radius: 1px;
}

.constants-block-11 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #371605;
  background: #414781;
  border-radius: 6px;
}

.constants-block-12 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #134360;
  background: #133810;
  border-radius: 8px;
}

.constants-block-13 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #751532;
  background: #269814;
  border-radius: 7px;
}

.constants-block-14 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #406820;
  background: #863592;
  border-radius: 8px;
}

.constants-block-15 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #813827;
  background: #403845;
  border-radius: 0px;
}

.constants-block-16 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #977493;
  background: #713374;
  border-radius: 5px;
}

.constants-block-17 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #732510;
  background: #466299;
  border-radius: 4px;
}

.constants-block-18 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #377924;
  background: #258755;
  border-radius: 6px;
}

.constants-block-19 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #786384;
  background: #996251;
  border-radius: 5px;
}

.constants-block-20 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #493447;
  background: #405049;
  border-radius: 5px;
}

.constants-block-21 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #496705;
  background: #392127;
  border-radius: 6px;
}

.constants-block-22 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #985737;
  background: #318640;
  border-radius: 8px;
}

.constants-block-23 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #704589;
  background: #869067;
  border-radius: 8px;
}

.constants-block-24 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #738879;
  background: #875797;
  border-radius: 2px;
}

.constants-block-25 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #851250;
  background: #842958;
  border-radius: 4px;
}

.constants-block-26 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #722087;
  background: #983359;
  border-radius: 2px;
}

.constants-block-27 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #346932;
  background: #325986;
  border-radius: 2px;
}

.constants-block-28 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #578304;
  background: #585152;
  border-radius: 0px;
}

.constants-block-29 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #912899;
  background: #149465;
  border-radius: 6px;
}

.constants-block-30 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #911702;
  background: #347049;
  border-radius: 7px;
}

.constants-block-31 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #411467;
  background: #577117;
  border-radius: 2px;
}

.constants-block-32 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #589765;
  background: #818309;
  border-radius: 8px;
}

.constants-block-33 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #847851;
  background: #516943;
  border-radius: 1px;
}

.constants-block-34 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #978472;
  background: #253706;
  border-radius: 1px;
}

.constants-block-35 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #691030;
  background: #913799;
  border-radius: 0px;
}

.constants-block-36 {
  display: flex;
  padding: 9px;
  margin: 4px;
  color: #423335;
  background: #456023;
  border-radius: 0px;
}

.constants-block-37 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #224952;
  background: #988839;
  border-radius: 3px;
}

.constants-block-38 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #655951;
  background: #918109;
  border-radius: 5px;
}

.constants-block-39 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #562628;
  background: #317489;
  border-radius: 2px;
}

.constants-block-40 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #776510;
  background: #814147;
  border-radius: 7px;
}

.constants-block-41 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #940097;
  background: #785769;
  border-radius: 2px;
}

.constants-block-42 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #718668;
  background: #167164;
  border-radius: 7px;
}

.constants-block-43 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #511298;
  background: #366803;
  border-radius: 0px;
}

.constants-block-44 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #775569;
  background: #710603;
  border-radius: 7px;
}

.constants-block-45 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #494622;
  background: #996596;
  border-radius: 7px;
}

.constants-block-46 {
  display: flex;
  padding: 8px;
  margin: 13px;
  color: #335790;
  background: #521964;
  border-radius: 0px;
}

.constants-block-47 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #933752;
  background: #231757;
  border-radius: 7px;
}

.constants-block-48 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #676943;
  background: #842611;
  border-radius: 5px;
}

.constants-block-49 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #335525;
  background: #923104;
  border-radius: 4px;
}

.constants-block-50 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #173720;
  background: #565883;
  border-radius: 8px;
}

.constants-block-51 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #992115;
  background: #869285;
  border-radius: 2px;
}

.constants-block-52 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #227674;
  background: #781981;
  border-radius: 7px;
}

.constants-block-53 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #190312;
  background: #904867;
  border-radius: 3px;
}

.constants-block-54 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #799174;
  background: #369026;
  border-radius: 4px;
}

.constants-block-55 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #513078;
  background: #659084;
  border-radius: 1px;
}

.constants-block-56 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #349008;
  background: #921288;
  border-radius: 3px;
}

.constants-block-57 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #854278;
  background: #275840;
  border-radius: 3px;
}

.constants-block-58 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #559321;
  background: #564330;
  border-radius: 1px;
}

.constants-block-59 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #952773;
  background: #943850;
  border-radius: 3px;
}

.constants-block-60 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #732210;
  background: #328737;
  border-radius: 0px;
}

.constants-block-61 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #313051;
  background: #929261;
  border-radius: 6px;
}

.constants-block-62 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #940523;
  background: #995643;
  border-radius: 4px;
}

.constants-block-63 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #772683;
  background: #562980;
  border-radius: 2px;
}

.constants-block-64 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #560635;
  background: #594528;
  border-radius: 3px;
}

.constants-block-65 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #708201;
  background: #192413;
  border-radius: 3px;
}

.constants-block-66 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #632261;
  background: #583085;
  border-radius: 3px;
}

.constants-block-67 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #596899;
  background: #993791;
  border-radius: 1px;
}

.constants-block-68 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #797139;
  background: #776547;
  border-radius: 1px;
}

.constants-block-69 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #678717;
  background: #137810;
  border-radius: 0px;
}

.constants-block-70 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #247793;
  background: #276010;
  border-radius: 2px;
}

.constants-block-71 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #446034;
  background: #739311;
  border-radius: 6px;
}

.constants-block-72 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #400882;
  background: #278173;
  border-radius: 1px;
}

.constants-block-73 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #936196;
  background: #382374;
  border-radius: 3px;
}

.constants-block-74 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #278118;
  background: #388876;
  border-radius: 0px;
}

.constants-block-75 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #368116;
  background: #126733;
  border-radius: 1px;
}

.constants-block-76 {
  display: flex;
  padding: 14px;
  margin: 1px;
  color: #662584;
  background: #616037;
  border-radius: 2px;
}

.constants-block-77 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #756514;
  background: #151162;
  border-radius: 2px;
}

.constants-block-78 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #280797;
  background: #940336;
  border-radius: 3px;
}

.constants-block-79 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #711764;
  background: #105555;
  border-radius: 2px;
}

.constants-block-80 {
  display: flex;
  padding: 20px;
  margin: 0px;
  color: #572311;
  background: #860530;
  border-radius: 7px;
}

.constants-block-81 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #195827;
  background: #507208;
  border-radius: 2px;
}

.constants-block-82 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #330207;
  background: #340868;
  border-radius: 3px;
}

.constants-block-83 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #311957;
  background: #459509;
  border-radius: 3px;
}

.constants-block-84 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #558833;
  background: #656880;
  border-radius: 6px;
}

.constants-block-85 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #563699;
  background: #574033;
  border-radius: 2px;
}

.constants-block-86 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #580776;
  background: #599252;
  border-radius: 2px;
}

.constants-block-87 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #983720;
  background: #371308;
  border-radius: 8px;
}

.constants-block-88 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #664628;
  background: #659602;
  border-radius: 4px;
}

.constants-block-89 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #411165;
  background: #702405;
  border-radius: 0px;
}

.constants-block-90 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #419775;
  background: #443203;
  border-radius: 4px;
}

.constants-block-91 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #844029;
  background: #904296;
  border-radius: 8px;
}

.constants-block-92 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #145600;
  background: #338149;
  border-radius: 8px;
}

.constants-block-93 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #716558;
  background: #557893;
  border-radius: 3px;
}

.constants-block-94 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #711217;
  background: #274482;
  border-radius: 1px;
}

.constants-block-95 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #607251;
  background: #190048;
  border-radius: 1px;
}

.constants-block-96 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #309557;
  background: #536560;
  border-radius: 5px;
}

.constants-block-97 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #776893;
  background: #130783;
  border-radius: 3px;
}

.constants-block-98 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #257441;
  background: #803789;
  border-radius: 0px;
}

.constants-block-99 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #424430;
  background: #235997;
  border-radius: 0px;
}

.constants-block-100 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #932531;
  background: #394922;
  border-radius: 0px;
}

.constants-block-101 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #737635;
  background: #194922;
  border-radius: 2px;
}

.constants-block-102 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #329925;
  background: #835755;
  border-radius: 7px;
}

.constants-block-103 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #161741;
  background: #392136;
  border-radius: 6px;
}

.constants-block-104 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #616981;
  background: #965473;
  border-radius: 8px;
}

.constants-block-105 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #818657;
  background: #767052;
  border-radius: 7px;
}

.constants-block-106 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #745901;
  background: #799340;
  border-radius: 2px;
}

.constants-block-107 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #938407;
  background: #440872;
  border-radius: 5px;
}

.constants-block-108 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #880965;
  background: #181129;
  border-radius: 7px;
}

.constants-block-109 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #119204;
  background: #843194;
  border-radius: 1px;
}

.constants-block-110 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #892343;
  background: #843965;
  border-radius: 7px;
}

.constants-block-111 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #569406;
  background: #499079;
  border-radius: 1px;
}

.constants-block-112 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #492320;
  background: #959282;
  border-radius: 0px;
}

.constants-block-113 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #809669;
  background: #213641;
  border-radius: 2px;
}

.constants-block-114 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #423864;
  background: #546662;
  border-radius: 3px;
}

.constants-block-115 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #983276;
  background: #446425;
  border-radius: 4px;
}

.constants-block-116 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #986937;
  background: #448654;
  border-radius: 2px;
}

.constants-block-117 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #343001;
  background: #783132;
  border-radius: 5px;
}

.constants-block-118 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #886122;
  background: #300590;
  border-radius: 7px;
}

.constants-block-119 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #910328;
  background: #919033;
  border-radius: 3px;
}

.constants-block-120 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #435166;
  background: #652031;
  border-radius: 4px;
}

.constants-block-121 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #443555;
  background: #547764;
  border-radius: 7px;
}

.constants-block-122 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #741253;
  background: #180195;
  border-radius: 3px;
}

.constants-block-123 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #461583;
  background: #932532;
  border-radius: 1px;
}

.constants-block-124 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #445439;
  background: #782690;
  border-radius: 2px;
}

.constants-block-125 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #656196;
  background: #605198;
  border-radius: 4px;
}

.constants-block-126 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #796942;
  background: #403355;
  border-radius: 5px;
}

.constants-block-127 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #343745;
  background: #923567;
  border-radius: 6px;
}

.constants-block-128 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #319162;
  background: #337336;
  border-radius: 8px;
}

.constants-block-129 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #263462;
  background: #799741;
  border-radius: 0px;
}

.constants-block-130 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #365647;
  background: #535802;
  border-radius: 1px;
}

.constants-block-131 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #280519;
  background: #423828;
  border-radius: 1px;
}

.constants-block-132 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #195929;
  background: #693339;
  border-radius: 5px;
}

.constants-block-133 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #203621;
  background: #328839;
  border-radius: 3px;
}

.constants-block-134 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #705581;
  background: #208146;
  border-radius: 2px;
}

.constants-block-135 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #535592;
  background: #505663;
  border-radius: 6px;
}

.constants-block-136 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #153142;
  background: #463119;
  border-radius: 2px;
}

.constants-block-137 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #447403;
  background: #962571;
  border-radius: 5px;
}

.constants-block-138 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #119980;
  background: #740806;
  border-radius: 5px;
}

.constants-block-139 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #757584;
  background: #663335;
  border-radius: 6px;
}

.constants-block-140 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #449083;
  background: #763460;
  border-radius: 1px;
}

.constants-block-141 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #216249;
  background: #852684;
  border-radius: 6px;
}

.constants-block-142 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #416239;
  background: #997169;
  border-radius: 1px;
}

.constants-block-143 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #492287;
  background: #718982;
  border-radius: 8px;
}

.constants-block-144 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #223506;
  background: #782581;
  border-radius: 8px;
}

.constants-block-145 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #549865;
  background: #432749;
  border-radius: 3px;
}

.constants-block-146 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #551480;
  background: #810280;
  border-radius: 7px;
}

.constants-block-147 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #532500;
  background: #567351;
  border-radius: 3px;
}

.constants-block-148 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #294811;
  background: #252775;
  border-radius: 7px;
}

.constants-block-149 {
  display: flex;
  padding: 11px;
  margin: 2px;
  color: #855916;
  background: #735987;
  border-radius: 0px;
}

.constants-block-150 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #316101;
  background: #353375;
  border-radius: 1px;
}

.constants-block-151 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #900774;
  background: #698365;
  border-radius: 7px;
}

.constants-block-152 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #617860;
  background: #461428;
  border-radius: 8px;
}

.constants-block-153 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #199654;
  background: #782338;
  border-radius: 0px;
}

.constants-block-154 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #231874;
  background: #249587;
  border-radius: 1px;
}

.constants-block-155 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #485378;
  background: #361578;
  border-radius: 0px;
}

.constants-block-156 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #291507;
  background: #158221;
  border-radius: 1px;
}

.constants-block-157 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #816302;
  background: #911325;
  border-radius: 8px;
}

.constants-block-158 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #266166;
  background: #241112;
  border-radius: 5px;
}

.constants-block-159 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #874806;
  background: #361596;
  border-radius: 7px;
}

.constants-block-160 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #129891;
  background: #941350;
  border-radius: 0px;
}

.constants-block-161 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #754004;
  background: #262288;
  border-radius: 4px;
}

.constants-block-162 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #188824;
  background: #763169;
  border-radius: 3px;
}

.constants-block-163 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #961126;
  background: #598507;
  border-radius: 2px;
}

.constants-block-164 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #836563;
  background: #930548;
  border-radius: 8px;
}

.constants-block-165 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #580155;
  background: #228540;
  border-radius: 0px;
}

.constants-block-166 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #123310;
  background: #293049;
  border-radius: 3px;
}

.constants-block-167 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #607492;
  background: #692404;
  border-radius: 7px;
}

.constants-block-168 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #845508;
  background: #759746;
  border-radius: 6px;
}

.constants-block-169 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #708922;
  background: #737009;
  border-radius: 6px;
}

.constants-block-170 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #968626;
  background: #469584;
  border-radius: 1px;
}

.constants-block-171 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #400123;
  background: #556048;
  border-radius: 5px;
}

.constants-block-172 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #818123;
  background: #247172;
  border-radius: 4px;
}

.constants-block-173 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #332767;
  background: #729938;
  border-radius: 0px;
}

.constants-block-174 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #993611;
  background: #603332;
  border-radius: 8px;
}

.constants-block-175 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #930078;
  background: #704729;
  border-radius: 4px;
}

.constants-block-176 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #410217;
  background: #325701;
  border-radius: 4px;
}

.constants-block-177 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #165792;
  background: #950188;
  border-radius: 7px;
}

.constants-block-178 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #430157;
  background: #322797;
  border-radius: 5px;
}

.constants-block-179 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #775121;
  background: #517417;
  border-radius: 3px;
}

.constants-block-180 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #148091;
  background: #741277;
  border-radius: 8px;
}

.constants-block-181 {
  display: flex;
  padding: 16px;
  margin: 12px;
  color: #631704;
  background: #156731;
  border-radius: 6px;
}

.constants-block-182 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #916919;
  background: #527004;
  border-radius: 2px;
}

.constants-block-183 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #676994;
  background: #988222;
  border-radius: 4px;
}

.constants-block-184 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #777762;
  background: #452210;
  border-radius: 2px;
}

.constants-block-185 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #854229;
  background: #421862;
  border-radius: 5px;
}

.constants-block-186 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #370068;
  background: #239720;
  border-radius: 2px;
}

.constants-block-187 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #934419;
  background: #732267;
  border-radius: 4px;
}

.constants-block-188 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #776393;
  background: #687167;
  border-radius: 5px;
}

.constants-block-189 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #432778;
  background: #486734;
  border-radius: 4px;
}

.constants-block-190 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #282671;
  background: #685666;
  border-radius: 5px;
}

.constants-block-191 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #857135;
  background: #335006;
  border-radius: 6px;
}

.constants-block-192 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #139999;
  background: #944661;
  border-radius: 6px;
}

.constants-block-193 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #811177;
  background: #476737;
  border-radius: 3px;
}

.constants-block-194 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #379230;
  background: #233997;
  border-radius: 0px;
}
