/* constants styles v1 */

.constants-block-1 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #803676;
  background: #901052;
  border-radius: 1px;
}

.constants-block-2 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #259127;
  background: #861652;
  border-radius: 7px;
}

.constants-block-3 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #968383;
  background: #654280;
  border-radius: 0px;
}

.constants-block-4 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #501305;
  background: #270549;
  border-radius: 2px;
}

.constants-block-5 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #666454;
  background: #774081;
  border-radius: 8px;
}

.constants-block-6 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #386499;
  background: #273340;
  border-radius: 5px;
}

.constants-block-7 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #854843;
  background: #312680;
  border-radius: 4px;
}

.constants-block-8 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #794279;
  background: #176215;
  border-radius: 8px;
}

.constants-block-9 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #704898;
  background: #958833;
  border-radius: 6px;
}

.constants-block-10 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #116619;
  background: #116007;
  border-radius: 5px;
}

.constants-block-11 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #794065;
  background: #407202;
  border-radius: 1px;
}

.constants-block-12 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #684985;
  background: #296197;
  border-radius: 6px;
}

.constants-block-13 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #415905;
  background: #890076;
  border-radius: 8px;
}

.constants-block-14 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #466636;
  background: #275064;
  border-radius: 0px;
}

.constants-block-15 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #830271;
  background: #199097;
  border-radius: 4px;
}

.constants-block-16 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #486109;
  background: #202329;
  border-radius: 1px;
}

.constants-block-17 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #383784;
  background: #482550;
  border-radius: 1px;
}

.constants-block-18 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #399834;
  background: #786287;
  border-radius: 6px;
}

.constants-block-19 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #524191;
  background: #368720;
  border-radius: 5px;
}

.constants-block-20 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #243317;
  background: #612971;
  border-radius: 4px;
}

.constants-block-21 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #442087;
  background: #844029;
  border-radius: 2px;
}

.constants-block-22 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #587628;
  background: #313607;
  border-radius: 4px;
}

.constants-block-23 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #180953;
  background: #162441;
  border-radius: 4px;
}

.constants-block-24 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #641243;
  background: #517716;
  border-radius: 5px;
}

.constants-block-25 {
  display: flex;
  padding: 5px;
  margin: 6px;
  color: #792944;
  background: #686145;
  border-radius: 4px;
}

.constants-block-26 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #520874;
  background: #418010;
  border-radius: 2px;
}

.constants-block-27 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #964390;
  background: #313085;
  border-radius: 0px;
}

.constants-block-28 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #247077;
  background: #240878;
  border-radius: 6px;
}

.constants-block-29 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #922994;
  background: #540778;
  border-radius: 1px;
}

.constants-block-30 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #403306;
  background: #444121;
  border-radius: 1px;
}

.constants-block-31 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #649349;
  background: #104216;
  border-radius: 1px;
}

.constants-block-32 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #187054;
  background: #782804;
  border-radius: 1px;
}

.constants-block-33 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #379945;
  background: #114818;
  border-radius: 3px;
}

.constants-block-34 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #584915;
  background: #476013;
  border-radius: 1px;
}

.constants-block-35 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #888535;
  background: #573591;
  border-radius: 7px;
}

.constants-block-36 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #576179;
  background: #803082;
  border-radius: 3px;
}

.constants-block-37 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #298858;
  background: #441128;
  border-radius: 3px;
}

.constants-block-38 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #518089;
  background: #338832;
  border-radius: 3px;
}

.constants-block-39 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #695481;
  background: #876077;
  border-radius: 6px;
}

.constants-block-40 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #246476;
  background: #934711;
  border-radius: 7px;
}

.constants-block-41 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #292186;
  background: #208501;
  border-radius: 6px;
}

.constants-block-42 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #344306;
  background: #847770;
  border-radius: 1px;
}

.constants-block-43 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #570186;
  background: #251359;
  border-radius: 1px;
}

.constants-block-44 {
  display: flex;
  padding: 11px;
  margin: 10px;
  color: #744089;
  background: #143284;
  border-radius: 0px;
}

.constants-block-45 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #842656;
  background: #178445;
  border-radius: 0px;
}

.constants-block-46 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #344219;
  background: #230980;
  border-radius: 8px;
}

.constants-block-47 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #518998;
  background: #266744;
  border-radius: 1px;
}

.constants-block-48 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #490546;
  background: #570256;
  border-radius: 1px;
}

.constants-block-49 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #863035;
  background: #121584;
  border-radius: 6px;
}

.constants-block-50 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #908922;
  background: #477963;
  border-radius: 0px;
}

.constants-block-51 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #645289;
  background: #430377;
  border-radius: 3px;
}

.constants-block-52 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #328488;
  background: #624356;
  border-radius: 6px;
}

.constants-block-53 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #111867;
  background: #831512;
  border-radius: 4px;
}

.constants-block-54 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #515230;
  background: #790020;
  border-radius: 5px;
}

.constants-block-55 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #612502;
  background: #295171;
  border-radius: 0px;
}

.constants-block-56 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #497191;
  background: #410210;
  border-radius: 6px;
}

.constants-block-57 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #179212;
  background: #598894;
  border-radius: 8px;
}

.constants-block-58 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #212765;
  background: #534304;
  border-radius: 6px;
}

.constants-block-59 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #806119;
  background: #698789;
  border-radius: 8px;
}

.constants-block-60 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #808184;
  background: #608225;
  border-radius: 8px;
}

.constants-block-61 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #681483;
  background: #953632;
  border-radius: 8px;
}

.constants-block-62 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #855680;
  background: #128062;
  border-radius: 3px;
}

.constants-block-63 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #146116;
  background: #609955;
  border-radius: 2px;
}

.constants-block-64 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #716270;
  background: #444813;
  border-radius: 2px;
}

.constants-block-65 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #129418;
  background: #707919;
  border-radius: 1px;
}

.constants-block-66 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #236816;
  background: #204602;
  border-radius: 4px;
}

.constants-block-67 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #126475;
  background: #676437;
  border-radius: 2px;
}

.constants-block-68 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #706281;
  background: #617005;
  border-radius: 5px;
}

.constants-block-69 {
  display: flex;
  padding: 13px;
  margin: 2px;
  color: #358264;
  background: #757975;
  border-radius: 6px;
}

.constants-block-70 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #207123;
  background: #537571;
  border-radius: 3px;
}

.constants-block-71 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #583302;
  background: #495001;
  border-radius: 0px;
}

.constants-block-72 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #340858;
  background: #160523;
  border-radius: 0px;
}

.constants-block-73 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #134224;
  background: #927289;
  border-radius: 4px;
}

.constants-block-74 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #788136;
  background: #425087;
  border-radius: 0px;
}

.constants-block-75 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #818126;
  background: #248645;
  border-radius: 1px;
}

.constants-block-76 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #239588;
  background: #775376;
  border-radius: 1px;
}

.constants-block-77 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #676245;
  background: #959183;
  border-radius: 8px;
}

.constants-block-78 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #810340;
  background: #660308;
  border-radius: 2px;
}

.constants-block-79 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #127934;
  background: #481438;
  border-radius: 3px;
}

.constants-block-80 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #184791;
  background: #848030;
  border-radius: 8px;
}

.constants-block-81 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #157196;
  background: #891496;
  border-radius: 7px;
}

.constants-block-82 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #535219;
  background: #239977;
  border-radius: 2px;
}

.constants-block-83 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #118507;
  background: #306262;
  border-radius: 6px;
}

.constants-block-84 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #174288;
  background: #334226;
  border-radius: 4px;
}

.constants-block-85 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #373499;
  background: #771220;
  border-radius: 4px;
}

.constants-block-86 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #143812;
  background: #987529;
  border-radius: 0px;
}

.constants-block-87 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #602619;
  background: #865783;
  border-radius: 2px;
}

.constants-block-88 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #666450;
  background: #991511;
  border-radius: 1px;
}

.constants-block-89 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #397286;
  background: #791877;
  border-radius: 5px;
}

.constants-block-90 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #799590;
  background: #192301;
  border-radius: 2px;
}

.constants-block-91 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #909663;
  background: #391950;
  border-radius: 8px;
}

.constants-block-92 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #287846;
  background: #175525;
  border-radius: 3px;
}

.constants-block-93 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #850137;
  background: #461474;
  border-radius: 6px;
}

.constants-block-94 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #818449;
  background: #191427;
  border-radius: 6px;
}

.constants-block-95 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #658264;
  background: #734352;
  border-radius: 8px;
}

.constants-block-96 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #298802;
  background: #939137;
  border-radius: 4px;
}

.constants-block-97 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #362459;
  background: #133834;
  border-radius: 6px;
}

.constants-block-98 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #403661;
  background: #145967;
  border-radius: 5px;
}

.constants-block-99 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #568445;
  background: #452722;
  border-radius: 3px;
}

.constants-block-100 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #137179;
  background: #198460;
  border-radius: 6px;
}

.constants-block-101 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #207574;
  background: #361110;
  border-radius: 0px;
}

.constants-block-102 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #728565;
  background: #287832;
  border-radius: 3px;
}

.constants-block-103 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #514901;
  background: #193927;
  border-radius: 6px;
}

.constants-block-104 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #985691;
  background: #654834;
  border-radius: 7px;
}

.constants-block-105 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #924578;
  background: #150317;
  border-radius: 3px;
}

.constants-block-106 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #474831;
  background: #539084;
  border-radius: 7px;
}

.constants-block-107 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #347956;
  background: #398731;
  border-radius: 6px;
}

.constants-block-108 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #333067;
  background: #586822;
  border-radius: 4px;
}

.constants-block-109 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #169030;
  background: #831669;
  border-radius: 7px;
}

.constants-block-110 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #359104;
  background: #830150;
  border-radius: 5px;
}

.constants-block-111 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #233752;
  background: #408669;
  border-radius: 2px;
}
