/* context styles v1 */

.context-block-1 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #599383;
  background: #582876;
  border-radius: 8px;
}

.context-block-2 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #748878;
  background: #857310;
  border-radius: 6px;
}

.context-block-3 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #565671;
  background: #947445;
  border-radius: 5px;
}

.context-block-4 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #328842;
  background: #993064;
  border-radius: 4px;
}

.context-block-5 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #182328;
  background: #814038;
  border-radius: 2px;
}

.context-block-6 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #584814;
  background: #415552;
  border-radius: 3px;
}

.context-block-7 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #515538;
  background: #659307;
  border-radius: 8px;
}

.context-block-8 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #600464;
  background: #810600;
  border-radius: 2px;
}

.context-block-9 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #425393;
  background: #834086;
  border-radius: 3px;
}

.context-block-10 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #340752;
  background: #257950;
  border-radius: 0px;
}

.context-block-11 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #268207;
  background: #674206;
  border-radius: 8px;
}

.context-block-12 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #720443;
  background: #132893;
  border-radius: 6px;
}

.context-block-13 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #946019;
  background: #652173;
  border-radius: 7px;
}

.context-block-14 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #964795;
  background: #648923;
  border-radius: 1px;
}

.context-block-15 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #117472;
  background: #722709;
  border-radius: 4px;
}

.context-block-16 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #205419;
  background: #994556;
  border-radius: 0px;
}

.context-block-17 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #596811;
  background: #928901;
  border-radius: 4px;
}

.context-block-18 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #625958;
  background: #598032;
  border-radius: 0px;
}

.context-block-19 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #124937;
  background: #728404;
  border-radius: 6px;
}

.context-block-20 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #385149;
  background: #972419;
  border-radius: 0px;
}

.context-block-21 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #104287;
  background: #351965;
  border-radius: 1px;
}

.context-block-22 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #380540;
  background: #507087;
  border-radius: 1px;
}

.context-block-23 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #704321;
  background: #950774;
  border-radius: 1px;
}

.context-block-24 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #805641;
  background: #285611;
  border-radius: 8px;
}

.context-block-25 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #672572;
  background: #406033;
  border-radius: 8px;
}

.context-block-26 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #878028;
  background: #381404;
  border-radius: 5px;
}

.context-block-27 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #583989;
  background: #894970;
  border-radius: 1px;
}

.context-block-28 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #206990;
  background: #416828;
  border-radius: 4px;
}

.context-block-29 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #534844;
  background: #113423;
  border-radius: 7px;
}

.context-block-30 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #808134;
  background: #425538;
  border-radius: 4px;
}

.context-block-31 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #993016;
  background: #377543;
  border-radius: 3px;
}

.context-block-32 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #289986;
  background: #737611;
  border-radius: 0px;
}

.context-block-33 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #660347;
  background: #447147;
  border-radius: 1px;
}

.context-block-34 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #815493;
  background: #268807;
  border-radius: 1px;
}

.context-block-35 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #841104;
  background: #962186;
  border-radius: 6px;
}

.context-block-36 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #810554;
  background: #745434;
  border-radius: 1px;
}

.context-block-37 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #449783;
  background: #542882;
  border-radius: 7px;
}

.context-block-38 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #633605;
  background: #490899;
  border-radius: 2px;
}

.context-block-39 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #287650;
  background: #804570;
  border-radius: 4px;
}

.context-block-40 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #866088;
  background: #445427;
  border-radius: 2px;
}

.context-block-41 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #476896;
  background: #461426;
  border-radius: 1px;
}

.context-block-42 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #814581;
  background: #442910;
  border-radius: 5px;
}

.context-block-43 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #620299;
  background: #470316;
  border-radius: 2px;
}

.context-block-44 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #762744;
  background: #634532;
  border-radius: 4px;
}

.context-block-45 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #759056;
  background: #278205;
  border-radius: 3px;
}

.context-block-46 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #856244;
  background: #984084;
  border-radius: 3px;
}

.context-block-47 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #288269;
  background: #615178;
  border-radius: 0px;
}

.context-block-48 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #877748;
  background: #570926;
  border-radius: 8px;
}

.context-block-49 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #364668;
  background: #801396;
  border-radius: 1px;
}

.context-block-50 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #153164;
  background: #279603;
  border-radius: 2px;
}

.context-block-51 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #660784;
  background: #541492;
  border-radius: 1px;
}

.context-block-52 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #455789;
  background: #636495;
  border-radius: 0px;
}

.context-block-53 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #790198;
  background: #645224;
  border-radius: 5px;
}

.context-block-54 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #323175;
  background: #729716;
  border-radius: 7px;
}

.context-block-55 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #205913;
  background: #569965;
  border-radius: 4px;
}

.context-block-56 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #403560;
  background: #725200;
  border-radius: 2px;
}

.context-block-57 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #464654;
  background: #809995;
  border-radius: 0px;
}

.context-block-58 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #485948;
  background: #325533;
  border-radius: 4px;
}

.context-block-59 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #110126;
  background: #590846;
  border-radius: 8px;
}

.context-block-60 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #871497;
  background: #615128;
  border-radius: 2px;
}

.context-block-61 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #364306;
  background: #245436;
  border-radius: 0px;
}

.context-block-62 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #695174;
  background: #451789;
  border-radius: 2px;
}

.context-block-63 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #483901;
  background: #883565;
  border-radius: 4px;
}

.context-block-64 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #836798;
  background: #707044;
  border-radius: 3px;
}

.context-block-65 {
  display: flex;
  padding: 19px;
  margin: 15px;
  color: #445487;
  background: #298890;
  border-radius: 1px;
}

.context-block-66 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #150924;
  background: #281894;
  border-radius: 4px;
}

.context-block-67 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #723660;
  background: #718889;
  border-radius: 3px;
}

.context-block-68 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #826766;
  background: #837270;
  border-radius: 3px;
}

.context-block-69 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #128262;
  background: #174948;
  border-radius: 5px;
}

.context-block-70 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #443744;
  background: #335582;
  border-radius: 4px;
}

.context-block-71 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #725376;
  background: #382654;
  border-radius: 0px;
}
