/* helpers styles v1 */

.helpers-block-1 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #247635;
  background: #375225;
  border-radius: 5px;
}

.helpers-block-2 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #392364;
  background: #368442;
  border-radius: 0px;
}

.helpers-block-3 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #380813;
  background: #353090;
  border-radius: 5px;
}

.helpers-block-4 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #955510;
  background: #192212;
  border-radius: 4px;
}

.helpers-block-5 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #686198;
  background: #879017;
  border-radius: 6px;
}

.helpers-block-6 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #815899;
  background: #737123;
  border-radius: 7px;
}

.helpers-block-7 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #581381;
  background: #772606;
  border-radius: 0px;
}

.helpers-block-8 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #773676;
  background: #585559;
  border-radius: 2px;
}

.helpers-block-9 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #934706;
  background: #744157;
  border-radius: 0px;
}

.helpers-block-10 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #106727;
  background: #374353;
  border-radius: 0px;
}

.helpers-block-11 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #471246;
  background: #588566;
  border-radius: 4px;
}

.helpers-block-12 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #743347;
  background: #356117;
  border-radius: 8px;
}

.helpers-block-13 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #265324;
  background: #641170;
  border-radius: 3px;
}

.helpers-block-14 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #200188;
  background: #824121;
  border-radius: 8px;
}

.helpers-block-15 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #457643;
  background: #133917;
  border-radius: 2px;
}

.helpers-block-16 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #449075;
  background: #496086;
  border-radius: 8px;
}

.helpers-block-17 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #135554;
  background: #946613;
  border-radius: 2px;
}

.helpers-block-18 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #821699;
  background: #992610;
  border-radius: 8px;
}

.helpers-block-19 {
  display: flex;
  padding: 9px;
  margin: 1px;
  color: #238160;
  background: #498845;
  border-radius: 6px;
}

.helpers-block-20 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #113607;
  background: #877653;
  border-radius: 4px;
}

.helpers-block-21 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #724958;
  background: #679881;
  border-radius: 3px;
}

.helpers-block-22 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #614664;
  background: #532931;
  border-radius: 8px;
}

.helpers-block-23 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #759000;
  background: #722499;
  border-radius: 4px;
}

.helpers-block-24 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #128391;
  background: #646360;
  border-radius: 2px;
}

.helpers-block-25 {
  display: flex;
  padding: 24px;
  margin: 14px;
  color: #134088;
  background: #898693;
  border-radius: 4px;
}

.helpers-block-26 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #153640;
  background: #288138;
  border-radius: 8px;
}

.helpers-block-27 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #601852;
  background: #406700;
  border-radius: 4px;
}

.helpers-block-28 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #845107;
  background: #657927;
  border-radius: 7px;
}

.helpers-block-29 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #759692;
  background: #136084;
  border-radius: 5px;
}

.helpers-block-30 {
  display: flex;
  padding: 23px;
  margin: 6px;
  color: #950568;
  background: #594119;
  border-radius: 7px;
}

.helpers-block-31 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #425934;
  background: #396920;
  border-radius: 3px;
}

.helpers-block-32 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #898551;
  background: #772589;
  border-radius: 1px;
}

.helpers-block-33 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #585243;
  background: #286718;
  border-radius: 6px;
}

.helpers-block-34 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #186884;
  background: #268909;
  border-radius: 1px;
}

.helpers-block-35 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #516784;
  background: #700876;
  border-radius: 6px;
}

.helpers-block-36 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #656175;
  background: #346026;
  border-radius: 4px;
}

.helpers-block-37 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #450869;
  background: #175326;
  border-radius: 7px;
}

.helpers-block-38 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #929323;
  background: #239990;
  border-radius: 1px;
}

.helpers-block-39 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #118340;
  background: #440020;
  border-radius: 3px;
}

.helpers-block-40 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #514604;
  background: #580930;
  border-radius: 0px;
}

.helpers-block-41 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #991738;
  background: #165084;
  border-radius: 5px;
}

.helpers-block-42 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #212219;
  background: #686141;
  border-radius: 1px;
}

.helpers-block-43 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #249896;
  background: #354257;
  border-radius: 1px;
}

.helpers-block-44 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #188435;
  background: #428277;
  border-radius: 6px;
}

.helpers-block-45 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #958962;
  background: #888748;
  border-radius: 3px;
}

.helpers-block-46 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #394134;
  background: #595407;
  border-radius: 3px;
}

.helpers-block-47 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #234474;
  background: #505203;
  border-radius: 2px;
}

.helpers-block-48 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #861634;
  background: #452377;
  border-radius: 4px;
}

.helpers-block-49 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #762084;
  background: #110356;
  border-radius: 1px;
}

.helpers-block-50 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #321607;
  background: #765737;
  border-radius: 7px;
}

.helpers-block-51 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #890184;
  background: #448278;
  border-radius: 0px;
}

.helpers-block-52 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #596846;
  background: #498749;
  border-radius: 3px;
}

.helpers-block-53 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #897210;
  background: #950308;
  border-radius: 6px;
}

.helpers-block-54 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #457845;
  background: #699865;
  border-radius: 3px;
}

.helpers-block-55 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #561147;
  background: #368974;
  border-radius: 1px;
}

.helpers-block-56 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #622924;
  background: #628893;
  border-radius: 2px;
}

.helpers-block-57 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #449844;
  background: #831631;
  border-radius: 6px;
}

.helpers-block-58 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #559169;
  background: #770988;
  border-radius: 7px;
}

.helpers-block-59 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #989514;
  background: #103586;
  border-radius: 4px;
}

.helpers-block-60 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #745994;
  background: #611017;
  border-radius: 5px;
}

.helpers-block-61 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #186499;
  background: #930260;
  border-radius: 7px;
}

.helpers-block-62 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #207031;
  background: #560810;
  border-radius: 1px;
}

.helpers-block-63 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #655174;
  background: #389730;
  border-radius: 0px;
}

.helpers-block-64 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #154371;
  background: #680789;
  border-radius: 5px;
}

.helpers-block-65 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #574136;
  background: #537127;
  border-radius: 3px;
}

.helpers-block-66 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #128402;
  background: #696511;
  border-radius: 2px;
}

.helpers-block-67 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #234695;
  background: #116961;
  border-radius: 6px;
}

.helpers-block-68 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #312629;
  background: #211165;
  border-radius: 6px;
}

.helpers-block-69 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #591497;
  background: #364880;
  border-radius: 3px;
}

.helpers-block-70 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #662359;
  background: #438206;
  border-radius: 2px;
}

.helpers-block-71 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #956064;
  background: #672797;
  border-radius: 0px;
}

.helpers-block-72 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #565149;
  background: #155363;
  border-radius: 5px;
}

.helpers-block-73 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #721396;
  background: #357045;
  border-radius: 0px;
}

.helpers-block-74 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #255666;
  background: #593450;
  border-radius: 5px;
}

.helpers-block-75 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #250797;
  background: #804473;
  border-radius: 1px;
}

.helpers-block-76 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #694453;
  background: #952047;
  border-radius: 4px;
}

.helpers-block-77 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #238032;
  background: #282442;
  border-radius: 4px;
}

.helpers-block-78 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #695185;
  background: #860361;
  border-radius: 3px;
}

.helpers-block-79 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #129968;
  background: #741721;
  border-radius: 2px;
}

.helpers-block-80 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #604626;
  background: #406777;
  border-radius: 8px;
}

.helpers-block-81 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #728382;
  background: #822665;
  border-radius: 0px;
}

.helpers-block-82 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #809902;
  background: #725918;
  border-radius: 7px;
}

.helpers-block-83 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #735728;
  background: #350903;
  border-radius: 6px;
}
