/* helpers styles v1 */

.helpers-block-1 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #525965;
  background: #490076;
  border-radius: 6px;
}

.helpers-block-2 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #359172;
  background: #318010;
  border-radius: 7px;
}

.helpers-block-3 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #357826;
  background: #295648;
  border-radius: 0px;
}

.helpers-block-4 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #457115;
  background: #318415;
  border-radius: 6px;
}

.helpers-block-5 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #986863;
  background: #199459;
  border-radius: 6px;
}

.helpers-block-6 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #932055;
  background: #418826;
  border-radius: 7px;
}

.helpers-block-7 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #779793;
  background: #813114;
  border-radius: 0px;
}

.helpers-block-8 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #249046;
  background: #991159;
  border-radius: 7px;
}

.helpers-block-9 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #403190;
  background: #313446;
  border-radius: 0px;
}

.helpers-block-10 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #413135;
  background: #445050;
  border-radius: 2px;
}

.helpers-block-11 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #524825;
  background: #119685;
  border-radius: 6px;
}

.helpers-block-12 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #619941;
  background: #434387;
  border-radius: 7px;
}

.helpers-block-13 {
  display: flex;
  padding: 20px;
  margin: 2px;
  color: #778019;
  background: #798244;
  border-radius: 5px;
}

.helpers-block-14 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #843528;
  background: #348120;
  border-radius: 7px;
}

.helpers-block-15 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #761660;
  background: #658562;
  border-radius: 2px;
}

.helpers-block-16 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #144773;
  background: #110271;
  border-radius: 5px;
}

.helpers-block-17 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #235375;
  background: #782066;
  border-radius: 1px;
}

.helpers-block-18 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #257295;
  background: #425076;
  border-radius: 0px;
}

.helpers-block-19 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #444443;
  background: #852568;
  border-radius: 0px;
}

.helpers-block-20 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #192134;
  background: #446298;
  border-radius: 5px;
}

.helpers-block-21 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #128660;
  background: #261588;
  border-radius: 3px;
}

.helpers-block-22 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #927837;
  background: #831050;
  border-radius: 8px;
}

.helpers-block-23 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #139761;
  background: #727453;
  border-radius: 4px;
}

.helpers-block-24 {
  display: flex;
  padding: 11px;
  margin: 11px;
  color: #500758;
  background: #114397;
  border-radius: 5px;
}

.helpers-block-25 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #569496;
  background: #223724;
  border-radius: 5px;
}

.helpers-block-26 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #912432;
  background: #417618;
  border-radius: 5px;
}

.helpers-block-27 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #581110;
  background: #641921;
  border-radius: 6px;
}

.helpers-block-28 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #308089;
  background: #436733;
  border-radius: 0px;
}

.helpers-block-29 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #197287;
  background: #746810;
  border-radius: 3px;
}

.helpers-block-30 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #183979;
  background: #254860;
  border-radius: 7px;
}

.helpers-block-31 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #633630;
  background: #900972;
  border-radius: 7px;
}

.helpers-block-32 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #432467;
  background: #138471;
  border-radius: 3px;
}

.helpers-block-33 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #934812;
  background: #470239;
  border-radius: 2px;
}

.helpers-block-34 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #664010;
  background: #319908;
  border-radius: 4px;
}

.helpers-block-35 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #476895;
  background: #354100;
  border-radius: 2px;
}

.helpers-block-36 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #135484;
  background: #992824;
  border-radius: 7px;
}

.helpers-block-37 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #700174;
  background: #146611;
  border-radius: 5px;
}

.helpers-block-38 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #396039;
  background: #559825;
  border-radius: 1px;
}

.helpers-block-39 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #738588;
  background: #404915;
  border-radius: 8px;
}

.helpers-block-40 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #816087;
  background: #128707;
  border-radius: 4px;
}

.helpers-block-41 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #470402;
  background: #615475;
  border-radius: 0px;
}

.helpers-block-42 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #323301;
  background: #661604;
  border-radius: 0px;
}

.helpers-block-43 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #236865;
  background: #383762;
  border-radius: 8px;
}

.helpers-block-44 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #912974;
  background: #796289;
  border-radius: 6px;
}

.helpers-block-45 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #117029;
  background: #162705;
  border-radius: 0px;
}

.helpers-block-46 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #959950;
  background: #287108;
  border-radius: 5px;
}

.helpers-block-47 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #614221;
  background: #159882;
  border-radius: 0px;
}

.helpers-block-48 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #816853;
  background: #710774;
  border-radius: 1px;
}

.helpers-block-49 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #858954;
  background: #954595;
  border-radius: 0px;
}

.helpers-block-50 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #669774;
  background: #855771;
  border-radius: 5px;
}

.helpers-block-51 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #270679;
  background: #894690;
  border-radius: 8px;
}

.helpers-block-52 {
  display: flex;
  padding: 18px;
  margin: 6px;
  color: #819137;
  background: #119720;
  border-radius: 2px;
}

.helpers-block-53 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #902904;
  background: #260707;
  border-radius: 6px;
}

.helpers-block-54 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #291497;
  background: #282857;
  border-radius: 7px;
}

.helpers-block-55 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #729103;
  background: #462727;
  border-radius: 2px;
}

.helpers-block-56 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #548612;
  background: #864200;
  border-radius: 0px;
}

.helpers-block-57 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #766804;
  background: #904570;
  border-radius: 2px;
}

.helpers-block-58 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #174723;
  background: #206104;
  border-radius: 3px;
}

.helpers-block-59 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #190448;
  background: #991855;
  border-radius: 6px;
}

.helpers-block-60 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #472670;
  background: #329125;
  border-radius: 1px;
}

.helpers-block-61 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #806368;
  background: #906258;
  border-radius: 4px;
}

.helpers-block-62 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #215582;
  background: #458557;
  border-radius: 7px;
}

.helpers-block-63 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #561777;
  background: #299247;
  border-radius: 5px;
}

.helpers-block-64 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #864646;
  background: #603042;
  border-radius: 6px;
}

.helpers-block-65 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #690228;
  background: #805936;
  border-radius: 8px;
}

.helpers-block-66 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #206154;
  background: #770406;
  border-radius: 6px;
}

.helpers-block-67 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #464830;
  background: #424743;
  border-radius: 6px;
}

.helpers-block-68 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #163834;
  background: #292715;
  border-radius: 6px;
}

.helpers-block-69 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #893912;
  background: #782417;
  border-radius: 4px;
}

.helpers-block-70 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #736723;
  background: #207635;
  border-radius: 7px;
}

.helpers-block-71 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #957980;
  background: #988133;
  border-radius: 7px;
}

.helpers-block-72 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #279742;
  background: #562801;
  border-radius: 1px;
}

.helpers-block-73 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #207977;
  background: #405805;
  border-radius: 3px;
}

.helpers-block-74 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #614917;
  background: #380313;
  border-radius: 1px;
}

.helpers-block-75 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #529381;
  background: #221924;
  border-radius: 0px;
}

.helpers-block-76 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #517148;
  background: #495943;
  border-radius: 1px;
}

.helpers-block-77 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #580620;
  background: #588286;
  border-radius: 1px;
}

.helpers-block-78 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #490818;
  background: #678309;
  border-radius: 6px;
}

.helpers-block-79 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #244117;
  background: #656164;
  border-radius: 6px;
}

.helpers-block-80 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #723514;
  background: #293580;
  border-radius: 2px;
}

.helpers-block-81 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #240069;
  background: #322117;
  border-radius: 1px;
}

.helpers-block-82 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #102084;
  background: #117274;
  border-radius: 5px;
}

.helpers-block-83 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #553165;
  background: #456871;
  border-radius: 4px;
}

.helpers-block-84 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #285336;
  background: #462793;
  border-radius: 4px;
}

.helpers-block-85 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #367078;
  background: #818897;
  border-radius: 4px;
}

.helpers-block-86 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #178152;
  background: #802687;
  border-radius: 4px;
}

.helpers-block-87 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #296992;
  background: #244649;
  border-radius: 3px;
}

.helpers-block-88 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #524970;
  background: #659504;
  border-radius: 4px;
}

.helpers-block-89 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #412826;
  background: #189154;
  border-radius: 3px;
}

.helpers-block-90 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #467590;
  background: #144773;
  border-radius: 2px;
}

.helpers-block-91 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #561593;
  background: #545030;
  border-radius: 0px;
}

.helpers-block-92 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #274521;
  background: #283322;
  border-radius: 3px;
}

.helpers-block-93 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #582542;
  background: #726343;
  border-radius: 3px;
}

.helpers-block-94 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #877653;
  background: #582124;
  border-radius: 2px;
}

.helpers-block-95 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #969781;
  background: #347127;
  border-radius: 2px;
}

.helpers-block-96 {
  display: flex;
  padding: 24px;
  margin: 1px;
  color: #728335;
  background: #444381;
  border-radius: 0px;
}

.helpers-block-97 {
  display: flex;
  padding: 17px;
  margin: 0px;
  color: #530164;
  background: #684291;
  border-radius: 7px;
}

.helpers-block-98 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #340109;
  background: #996811;
  border-radius: 4px;
}

.helpers-block-99 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #515538;
  background: #272142;
  border-radius: 1px;
}

.helpers-block-100 {
  display: flex;
  padding: 24px;
  margin: 6px;
  color: #800673;
  background: #847444;
  border-radius: 7px;
}

.helpers-block-101 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #634348;
  background: #262164;
  border-radius: 2px;
}

.helpers-block-102 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #842399;
  background: #828821;
  border-radius: 0px;
}

.helpers-block-103 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #874259;
  background: #578308;
  border-radius: 1px;
}

.helpers-block-104 {
  display: flex;
  padding: 23px;
  margin: 10px;
  color: #440120;
  background: #663618;
  border-radius: 4px;
}

.helpers-block-105 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #751133;
  background: #436013;
  border-radius: 6px;
}

.helpers-block-106 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #888189;
  background: #422625;
  border-radius: 3px;
}

.helpers-block-107 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #446675;
  background: #653813;
  border-radius: 0px;
}

.helpers-block-108 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #777299;
  background: #984972;
  border-radius: 3px;
}

.helpers-block-109 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #563581;
  background: #500974;
  border-radius: 0px;
}

.helpers-block-110 {
  display: flex;
  padding: 17px;
  margin: 1px;
  color: #676380;
  background: #263676;
  border-radius: 6px;
}

.helpers-block-111 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #919281;
  background: #574273;
  border-radius: 5px;
}

.helpers-block-112 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #107443;
  background: #382382;
  border-radius: 4px;
}

.helpers-block-113 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #473704;
  background: #413163;
  border-radius: 3px;
}

.helpers-block-114 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #112637;
  background: #187673;
  border-radius: 6px;
}

.helpers-block-115 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #649089;
  background: #126331;
  border-radius: 4px;
}

.helpers-block-116 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #234395;
  background: #511908;
  border-radius: 6px;
}

.helpers-block-117 {
  display: flex;
  padding: 9px;
  margin: 10px;
  color: #406985;
  background: #745349;
  border-radius: 0px;
}

.helpers-block-118 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #692502;
  background: #770386;
  border-radius: 6px;
}

.helpers-block-119 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #705501;
  background: #823915;
  border-radius: 0px;
}

.helpers-block-120 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #127598;
  background: #240019;
  border-radius: 2px;
}

.helpers-block-121 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #424810;
  background: #495457;
  border-radius: 4px;
}

.helpers-block-122 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #920148;
  background: #330856;
  border-radius: 4px;
}

.helpers-block-123 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #127126;
  background: #468744;
  border-radius: 4px;
}

.helpers-block-124 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #868635;
  background: #182980;
  border-radius: 5px;
}

.helpers-block-125 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #965127;
  background: #411960;
  border-radius: 6px;
}

.helpers-block-126 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #351845;
  background: #105797;
  border-radius: 7px;
}

.helpers-block-127 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #376354;
  background: #631636;
  border-radius: 0px;
}

.helpers-block-128 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #188878;
  background: #180712;
  border-radius: 2px;
}

.helpers-block-129 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #756634;
  background: #825238;
  border-radius: 8px;
}

.helpers-block-130 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #578191;
  background: #677993;
  border-radius: 2px;
}

.helpers-block-131 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #499492;
  background: #856172;
  border-radius: 6px;
}

.helpers-block-132 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #124821;
  background: #350432;
  border-radius: 2px;
}

.helpers-block-133 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #576817;
  background: #298949;
  border-radius: 4px;
}

.helpers-block-134 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #684175;
  background: #866511;
  border-radius: 1px;
}

.helpers-block-135 {
  display: flex;
  padding: 8px;
  margin: 2px;
  color: #725281;
  background: #411293;
  border-radius: 0px;
}

.helpers-block-136 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #242643;
  background: #390399;
  border-radius: 4px;
}

.helpers-block-137 {
  display: flex;
  padding: 21px;
  margin: 5px;
  color: #549148;
  background: #740485;
  border-radius: 0px;
}

.helpers-block-138 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #251139;
  background: #611551;
  border-radius: 8px;
}

.helpers-block-139 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #959607;
  background: #744380;
  border-radius: 4px;
}

.helpers-block-140 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #408577;
  background: #129063;
  border-radius: 1px;
}

.helpers-block-141 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #499762;
  background: #534571;
  border-radius: 3px;
}

.helpers-block-142 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #689694;
  background: #611729;
  border-radius: 4px;
}

.helpers-block-143 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #659207;
  background: #211391;
  border-radius: 1px;
}

.helpers-block-144 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #406640;
  background: #939938;
  border-radius: 4px;
}

.helpers-block-145 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #518904;
  background: #689072;
  border-radius: 5px;
}

.helpers-block-146 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #417655;
  background: #696621;
  border-radius: 4px;
}

.helpers-block-147 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #492205;
  background: #785602;
  border-radius: 6px;
}

.helpers-block-148 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #130291;
  background: #667516;
  border-radius: 3px;
}

.helpers-block-149 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #897489;
  background: #607070;
  border-radius: 4px;
}

.helpers-block-150 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #322058;
  background: #942363;
  border-radius: 1px;
}

.helpers-block-151 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #118264;
  background: #771533;
  border-radius: 5px;
}

.helpers-block-152 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #699575;
  background: #134517;
  border-radius: 2px;
}

.helpers-block-153 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #834068;
  background: #824272;
  border-radius: 8px;
}

.helpers-block-154 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #169323;
  background: #763143;
  border-radius: 1px;
}

.helpers-block-155 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #146188;
  background: #875607;
  border-radius: 0px;
}

.helpers-block-156 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #780317;
  background: #825816;
  border-radius: 5px;
}

.helpers-block-157 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #932506;
  background: #575815;
  border-radius: 1px;
}

.helpers-block-158 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #152624;
  background: #436376;
  border-radius: 4px;
}

.helpers-block-159 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #351772;
  background: #810111;
  border-radius: 1px;
}

.helpers-block-160 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #606932;
  background: #569322;
  border-radius: 6px;
}
