/* constants styles v1 */

.constants-block-1 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #893656;
  background: #766488;
  border-radius: 1px;
}

.constants-block-2 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #845917;
  background: #524617;
  border-radius: 7px;
}

.constants-block-3 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #420543;
  background: #481573;
  border-radius: 8px;
}

.constants-block-4 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #521317;
  background: #683978;
  border-radius: 2px;
}

.constants-block-5 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #361910;
  background: #732298;
  border-radius: 0px;
}

.constants-block-6 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #743495;
  background: #568247;
  border-radius: 6px;
}

.constants-block-7 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #300647;
  background: #501590;
  border-radius: 8px;
}

.constants-block-8 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #968751;
  background: #590235;
  border-radius: 3px;
}

.constants-block-9 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #395074;
  background: #718793;
  border-radius: 4px;
}

.constants-block-10 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #565897;
  background: #825104;
  border-radius: 5px;
}

.constants-block-11 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #853710;
  background: #612484;
  border-radius: 2px;
}

.constants-block-12 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #823646;
  background: #717269;
  border-radius: 5px;
}

.constants-block-13 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #399431;
  background: #352580;
  border-radius: 2px;
}

.constants-block-14 {
  display: flex;
  padding: 6px;
  margin: 9px;
  color: #973600;
  background: #633017;
  border-radius: 2px;
}

.constants-block-15 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #374675;
  background: #322240;
  border-radius: 3px;
}

.constants-block-16 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #459357;
  background: #849473;
  border-radius: 2px;
}

.constants-block-17 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #151976;
  background: #273827;
  border-radius: 2px;
}

.constants-block-18 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #153861;
  background: #251135;
  border-radius: 6px;
}

.constants-block-19 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #171216;
  background: #115847;
  border-radius: 7px;
}

.constants-block-20 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #540089;
  background: #824005;
  border-radius: 5px;
}

.constants-block-21 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #132914;
  background: #130655;
  border-radius: 2px;
}

.constants-block-22 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #105821;
  background: #750773;
  border-radius: 4px;
}

.constants-block-23 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #591792;
  background: #866922;
  border-radius: 1px;
}

.constants-block-24 {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: #392783;
  background: #824617;
  border-radius: 5px;
}

.constants-block-25 {
  display: flex;
  padding: 4px;
  margin: 9px;
  color: #523102;
  background: #367764;
  border-radius: 5px;
}

.constants-block-26 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #365176;
  background: #370426;
  border-radius: 1px;
}

.constants-block-27 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #731931;
  background: #216239;
  border-radius: 7px;
}

.constants-block-28 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #953700;
  background: #396678;
  border-radius: 0px;
}

.constants-block-29 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #849251;
  background: #285867;
  border-radius: 2px;
}

.constants-block-30 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #669953;
  background: #455250;
  border-radius: 5px;
}

.constants-block-31 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #764044;
  background: #106201;
  border-radius: 3px;
}

.constants-block-32 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #603782;
  background: #866194;
  border-radius: 8px;
}

.constants-block-33 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #684679;
  background: #373479;
  border-radius: 6px;
}

.constants-block-34 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #993961;
  background: #126334;
  border-radius: 4px;
}

.constants-block-35 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #661088;
  background: #285341;
  border-radius: 4px;
}

.constants-block-36 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #331840;
  background: #770656;
  border-radius: 6px;
}

.constants-block-37 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #238465;
  background: #937640;
  border-radius: 8px;
}

.constants-block-38 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #199485;
  background: #450063;
  border-radius: 3px;
}

.constants-block-39 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #109391;
  background: #521904;
  border-radius: 1px;
}

.constants-block-40 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #689638;
  background: #234503;
  border-radius: 8px;
}

.constants-block-41 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #790771;
  background: #985118;
  border-radius: 0px;
}

.constants-block-42 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #185779;
  background: #402897;
  border-radius: 0px;
}

.constants-block-43 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #130948;
  background: #290567;
  border-radius: 0px;
}

.constants-block-44 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #227937;
  background: #747038;
  border-radius: 4px;
}

.constants-block-45 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #657187;
  background: #630671;
  border-radius: 1px;
}

.constants-block-46 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #134919;
  background: #451869;
  border-radius: 6px;
}

.constants-block-47 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #860499;
  background: #221376;
  border-radius: 8px;
}

.constants-block-48 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #827550;
  background: #525592;
  border-radius: 1px;
}

.constants-block-49 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #589882;
  background: #633916;
  border-radius: 1px;
}

.constants-block-50 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #781587;
  background: #996121;
  border-radius: 8px;
}

.constants-block-51 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #947712;
  background: #824946;
  border-radius: 0px;
}

.constants-block-52 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #364491;
  background: #271753;
  border-radius: 4px;
}

.constants-block-53 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #348383;
  background: #991378;
  border-radius: 4px;
}

.constants-block-54 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #158340;
  background: #239783;
  border-radius: 3px;
}

.constants-block-55 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #679772;
  background: #532991;
  border-radius: 7px;
}

.constants-block-56 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #173260;
  background: #153482;
  border-radius: 5px;
}

.constants-block-57 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #797806;
  background: #735272;
  border-radius: 8px;
}

.constants-block-58 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #292929;
  background: #791520;
  border-radius: 6px;
}

.constants-block-59 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #344688;
  background: #718257;
  border-radius: 5px;
}

.constants-block-60 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #997335;
  background: #570910;
  border-radius: 6px;
}

.constants-block-61 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #917328;
  background: #415594;
  border-radius: 5px;
}

.constants-block-62 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #459235;
  background: #311041;
  border-radius: 6px;
}

.constants-block-63 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #880648;
  background: #382905;
  border-radius: 2px;
}

.constants-block-64 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #940941;
  background: #588648;
  border-radius: 4px;
}

.constants-block-65 {
  display: flex;
  padding: 22px;
  margin: 0px;
  color: #926734;
  background: #867065;
  border-radius: 3px;
}

.constants-block-66 {
  display: flex;
  padding: 23px;
  margin: 2px;
  color: #508380;
  background: #247905;
  border-radius: 3px;
}

.constants-block-67 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #581705;
  background: #329413;
  border-radius: 2px;
}

.constants-block-68 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #161140;
  background: #742404;
  border-radius: 4px;
}

.constants-block-69 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #463836;
  background: #187512;
  border-radius: 7px;
}

.constants-block-70 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #231568;
  background: #342914;
  border-radius: 2px;
}

.constants-block-71 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #755137;
  background: #853066;
  border-radius: 3px;
}

.constants-block-72 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #164327;
  background: #952741;
  border-radius: 0px;
}

.constants-block-73 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #770596;
  background: #979227;
  border-radius: 1px;
}

.constants-block-74 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #731244;
  background: #787424;
  border-radius: 1px;
}

.constants-block-75 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #150773;
  background: #620088;
  border-radius: 4px;
}

.constants-block-76 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #196174;
  background: #703763;
  border-radius: 5px;
}

.constants-block-77 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #270734;
  background: #529882;
  border-radius: 3px;
}

.constants-block-78 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #502095;
  background: #860874;
  border-radius: 8px;
}

.constants-block-79 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #507606;
  background: #120475;
  border-radius: 2px;
}

.constants-block-80 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #639097;
  background: #769567;
  border-radius: 0px;
}

.constants-block-81 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #146671;
  background: #734561;
  border-radius: 3px;
}

.constants-block-82 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #748497;
  background: #191850;
  border-radius: 6px;
}

.constants-block-83 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #788002;
  background: #709608;
  border-radius: 3px;
}

.constants-block-84 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #156309;
  background: #596252;
  border-radius: 1px;
}

.constants-block-85 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #748589;
  background: #985455;
  border-radius: 2px;
}

.constants-block-86 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #489937;
  background: #913004;
  border-radius: 2px;
}

.constants-block-87 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #194822;
  background: #377688;
  border-radius: 3px;
}

.constants-block-88 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #546508;
  background: #972313;
  border-radius: 4px;
}

.constants-block-89 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #493436;
  background: #480814;
  border-radius: 3px;
}

.constants-block-90 {
  display: flex;
  padding: 21px;
  margin: 11px;
  color: #930986;
  background: #205120;
  border-radius: 0px;
}

.constants-block-91 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #591763;
  background: #211076;
  border-radius: 3px;
}

.constants-block-92 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #198282;
  background: #245225;
  border-radius: 3px;
}

.constants-block-93 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #136686;
  background: #629679;
  border-radius: 8px;
}

.constants-block-94 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #997398;
  background: #750667;
  border-radius: 3px;
}

.constants-block-95 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #972239;
  background: #634578;
  border-radius: 4px;
}

.constants-block-96 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #458276;
  background: #467026;
  border-radius: 7px;
}

.constants-block-97 {
  display: flex;
  padding: 16px;
  margin: 16px;
  color: #224665;
  background: #253995;
  border-radius: 6px;
}

.constants-block-98 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #364869;
  background: #242125;
  border-radius: 5px;
}

.constants-block-99 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #247103;
  background: #948760;
  border-radius: 7px;
}

.constants-block-100 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #852198;
  background: #476725;
  border-radius: 8px;
}

.constants-block-101 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #460253;
  background: #814641;
  border-radius: 7px;
}

.constants-block-102 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #432042;
  background: #515416;
  border-radius: 0px;
}

.constants-block-103 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #546538;
  background: #601340;
  border-radius: 3px;
}

.constants-block-104 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #722711;
  background: #852333;
  border-radius: 3px;
}

.constants-block-105 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #939784;
  background: #412947;
  border-radius: 6px;
}

.constants-block-106 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #214314;
  background: #603746;
  border-radius: 6px;
}

.constants-block-107 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #756411;
  background: #856724;
  border-radius: 5px;
}

.constants-block-108 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #773291;
  background: #890336;
  border-radius: 2px;
}

.constants-block-109 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #943940;
  background: #544269;
  border-radius: 0px;
}

.constants-block-110 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #560003;
  background: #332162;
  border-radius: 4px;
}

.constants-block-111 {
  display: flex;
  padding: 7px;
  margin: 7px;
  color: #834418;
  background: #352752;
  border-radius: 7px;
}

.constants-block-112 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #932097;
  background: #395424;
  border-radius: 0px;
}

.constants-block-113 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #190471;
  background: #305167;
  border-radius: 0px;
}

.constants-block-114 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #615443;
  background: #798150;
  border-radius: 2px;
}

.constants-block-115 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #776327;
  background: #758712;
  border-radius: 0px;
}

.constants-block-116 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #174931;
  background: #388285;
  border-radius: 1px;
}

.constants-block-117 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #481540;
  background: #680771;
  border-radius: 8px;
}

.constants-block-118 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #390564;
  background: #908582;
  border-radius: 7px;
}

.constants-block-119 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #827629;
  background: #273682;
  border-radius: 7px;
}

.constants-block-120 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #571330;
  background: #664278;
  border-radius: 4px;
}

.constants-block-121 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #503508;
  background: #363874;
  border-radius: 8px;
}

.constants-block-122 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #101528;
  background: #168319;
  border-radius: 1px;
}

.constants-block-123 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #760911;
  background: #629277;
  border-radius: 6px;
}

.constants-block-124 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #942881;
  background: #460795;
  border-radius: 0px;
}

.constants-block-125 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #161974;
  background: #782334;
  border-radius: 4px;
}

.constants-block-126 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #691974;
  background: #140790;
  border-radius: 4px;
}

.constants-block-127 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #764267;
  background: #385841;
  border-radius: 6px;
}

.constants-block-128 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #847794;
  background: #616135;
  border-radius: 3px;
}

.constants-block-129 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #459882;
  background: #436333;
  border-radius: 1px;
}
