/* controller styles v3 */

.controller-block-1 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #797954;
  background: #870667;
  border-radius: 7px;
}

.controller-block-2 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #667933;
  background: #205188;
  border-radius: 4px;
}

.controller-block-3 {
  display: flex;
  padding: 21px;
  margin: 16px;
  color: #538450;
  background: #646693;
  border-radius: 3px;
}

.controller-block-4 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #726084;
  background: #668932;
  border-radius: 1px;
}

.controller-block-5 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #951566;
  background: #709389;
  border-radius: 3px;
}

.controller-block-6 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #432642;
  background: #698317;
  border-radius: 7px;
}

.controller-block-7 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #154780;
  background: #762018;
  border-radius: 8px;
}

.controller-block-8 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #722164;
  background: #438071;
  border-radius: 5px;
}

.controller-block-9 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #676299;
  background: #487152;
  border-radius: 4px;
}

.controller-block-10 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #279551;
  background: #966743;
  border-radius: 0px;
}

.controller-block-11 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #517109;
  background: #366546;
  border-radius: 4px;
}

.controller-block-12 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #991136;
  background: #786922;
  border-radius: 7px;
}

.controller-block-13 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #549446;
  background: #386062;
  border-radius: 3px;
}

.controller-block-14 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #797439;
  background: #626907;
  border-radius: 7px;
}

.controller-block-15 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #622912;
  background: #995657;
  border-radius: 6px;
}

.controller-block-16 {
  display: flex;
  padding: 7px;
  margin: 11px;
  color: #299048;
  background: #191767;
  border-radius: 4px;
}

.controller-block-17 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #790632;
  background: #478940;
  border-radius: 4px;
}

.controller-block-18 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #790664;
  background: #557709;
  border-radius: 4px;
}

.controller-block-19 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #756565;
  background: #690811;
  border-radius: 5px;
}

.controller-block-20 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #353868;
  background: #476027;
  border-radius: 2px;
}

.controller-block-21 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #612793;
  background: #251474;
  border-radius: 4px;
}

.controller-block-22 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #933047;
  background: #422919;
  border-radius: 0px;
}

.controller-block-23 {
  display: flex;
  padding: 8px;
  margin: 16px;
  color: #863424;
  background: #396935;
  border-radius: 8px;
}

.controller-block-24 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #507279;
  background: #230386;
  border-radius: 1px;
}

.controller-block-25 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #150993;
  background: #586185;
  border-radius: 0px;
}

.controller-block-26 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #560143;
  background: #142528;
  border-radius: 1px;
}

.controller-block-27 {
  display: flex;
  padding: 7px;
  margin: 3px;
  color: #693139;
  background: #509919;
  border-radius: 1px;
}

.controller-block-28 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #395619;
  background: #991998;
  border-radius: 4px;
}

.controller-block-29 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #933130;
  background: #741021;
  border-radius: 1px;
}

.controller-block-30 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #157693;
  background: #264578;
  border-radius: 8px;
}

.controller-block-31 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #488774;
  background: #469517;
  border-radius: 4px;
}

.controller-block-32 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #240310;
  background: #546831;
  border-radius: 4px;
}

.controller-block-33 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #181608;
  background: #180395;
  border-radius: 6px;
}

.controller-block-34 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #729092;
  background: #914043;
  border-radius: 6px;
}

.controller-block-35 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #323287;
  background: #117969;
  border-radius: 6px;
}

.controller-block-36 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #453057;
  background: #144232;
  border-radius: 0px;
}

.controller-block-37 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #560017;
  background: #941473;
  border-radius: 8px;
}

.controller-block-38 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #449665;
  background: #120328;
  border-radius: 6px;
}

.controller-block-39 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #909938;
  background: #869664;
  border-radius: 7px;
}

.controller-block-40 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #616159;
  background: #437745;
  border-radius: 8px;
}

.controller-block-41 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #503904;
  background: #143534;
  border-radius: 7px;
}

.controller-block-42 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #940574;
  background: #649941;
  border-radius: 5px;
}

.controller-block-43 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #838179;
  background: #462142;
  border-radius: 3px;
}

.controller-block-44 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #833218;
  background: #791277;
  border-radius: 3px;
}

.controller-block-45 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #699685;
  background: #273201;
  border-radius: 8px;
}

.controller-block-46 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #620169;
  background: #495900;
  border-radius: 6px;
}

.controller-block-47 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #711604;
  background: #483768;
  border-radius: 0px;
}

.controller-block-48 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #570576;
  background: #614646;
  border-radius: 2px;
}

.controller-block-49 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #400764;
  background: #303372;
  border-radius: 4px;
}

.controller-block-50 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #515587;
  background: #900450;
  border-radius: 3px;
}

.controller-block-51 {
  display: flex;
  padding: 22px;
  margin: 4px;
  color: #589508;
  background: #198366;
  border-radius: 4px;
}

.controller-block-52 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #234792;
  background: #717592;
  border-radius: 4px;
}

.controller-block-53 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #694922;
  background: #228649;
  border-radius: 3px;
}

.controller-block-54 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #442427;
  background: #312630;
  border-radius: 7px;
}

.controller-block-55 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #758619;
  background: #812146;
  border-radius: 7px;
}

.controller-block-56 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #156454;
  background: #196307;
  border-radius: 5px;
}

.controller-block-57 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #562036;
  background: #525087;
  border-radius: 5px;
}

.controller-block-58 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #585292;
  background: #507282;
  border-radius: 8px;
}

.controller-block-59 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #786570;
  background: #453228;
  border-radius: 0px;
}

.controller-block-60 {
  display: flex;
  padding: 4px;
  margin: 14px;
  color: #875667;
  background: #791549;
  border-radius: 3px;
}

.controller-block-61 {
  display: flex;
  padding: 23px;
  margin: 1px;
  color: #586198;
  background: #767069;
  border-radius: 7px;
}

.controller-block-62 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #337033;
  background: #917032;
  border-radius: 5px;
}

.controller-block-63 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #133679;
  background: #859074;
  border-radius: 7px;
}

.controller-block-64 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #749497;
  background: #282394;
  border-radius: 8px;
}

.controller-block-65 {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: #611287;
  background: #959120;
  border-radius: 8px;
}

.controller-block-66 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #879489;
  background: #653832;
  border-radius: 4px;
}

.controller-block-67 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #224578;
  background: #192141;
  border-radius: 6px;
}

.controller-block-68 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #626715;
  background: #804701;
  border-radius: 3px;
}

.controller-block-69 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #354058;
  background: #365487;
  border-radius: 4px;
}

.controller-block-70 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #213550;
  background: #921616;
  border-radius: 2px;
}

.controller-block-71 {
  display: flex;
  padding: 12px;
  margin: 14px;
  color: #906281;
  background: #629078;
  border-radius: 3px;
}

.controller-block-72 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #360130;
  background: #608344;
  border-radius: 6px;
}

.controller-block-73 {
  display: flex;
  padding: 16px;
  margin: 8px;
  color: #513818;
  background: #545270;
  border-radius: 7px;
}

.controller-block-74 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #171343;
  background: #746621;
  border-radius: 8px;
}

.controller-block-75 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #644234;
  background: #193756;
  border-radius: 7px;
}

.controller-block-76 {
  display: flex;
  padding: 13px;
  margin: 15px;
  color: #951833;
  background: #992278;
  border-radius: 8px;
}

.controller-block-77 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #342745;
  background: #625941;
  border-radius: 5px;
}

.controller-block-78 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #168365;
  background: #776960;
  border-radius: 2px;
}

.controller-block-79 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #132916;
  background: #629474;
  border-radius: 0px;
}

.controller-block-80 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #251666;
  background: #981499;
  border-radius: 5px;
}

.controller-block-81 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #465913;
  background: #973051;
  border-radius: 5px;
}

.controller-block-82 {
  display: flex;
  padding: 4px;
  margin: 5px;
  color: #378362;
  background: #427989;
  border-radius: 1px;
}

.controller-block-83 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #222552;
  background: #330625;
  border-radius: 2px;
}

.controller-block-84 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #954227;
  background: #234955;
  border-radius: 4px;
}

.controller-block-85 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #165088;
  background: #138946;
  border-radius: 4px;
}

.controller-block-86 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #338787;
  background: #875032;
  border-radius: 6px;
}

.controller-block-87 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #588511;
  background: #979157;
  border-radius: 0px;
}

.controller-block-88 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #364718;
  background: #298490;
  border-radius: 3px;
}

.controller-block-89 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #165355;
  background: #798291;
  border-radius: 7px;
}

.controller-block-90 {
  display: flex;
  padding: 10px;
  margin: 11px;
  color: #819622;
  background: #520045;
  border-radius: 4px;
}

.controller-block-91 {
  display: flex;
  padding: 17px;
  margin: 13px;
  color: #394925;
  background: #956120;
  border-radius: 4px;
}

.controller-block-92 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #928958;
  background: #841854;
  border-radius: 0px;
}

.controller-block-93 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #588637;
  background: #103230;
  border-radius: 1px;
}

.controller-block-94 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #813403;
  background: #383756;
  border-radius: 4px;
}

.controller-block-95 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #629129;
  background: #123638;
  border-radius: 3px;
}

.controller-block-96 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #647866;
  background: #343870;
  border-radius: 6px;
}

.controller-block-97 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #163178;
  background: #415985;
  border-radius: 0px;
}

.controller-block-98 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #629243;
  background: #199861;
  border-radius: 1px;
}

.controller-block-99 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #808446;
  background: #297591;
  border-radius: 7px;
}

.controller-block-100 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #121728;
  background: #114803;
  border-radius: 4px;
}

.controller-block-101 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #303038;
  background: #101706;
  border-radius: 2px;
}

.controller-block-102 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #698675;
  background: #412836;
  border-radius: 6px;
}

.controller-block-103 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #985912;
  background: #356337;
  border-radius: 5px;
}

.controller-block-104 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #194567;
  background: #869995;
  border-radius: 3px;
}

.controller-block-105 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #796677;
  background: #789395;
  border-radius: 1px;
}

.controller-block-106 {
  display: flex;
  padding: 19px;
  margin: 7px;
  color: #326119;
  background: #305915;
  border-radius: 3px;
}

.controller-block-107 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #406479;
  background: #455783;
  border-radius: 8px;
}

.controller-block-108 {
  display: flex;
  padding: 18px;
  margin: 14px;
  color: #393917;
  background: #193843;
  border-radius: 8px;
}

.controller-block-109 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #168676;
  background: #233698;
  border-radius: 4px;
}

.controller-block-110 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #841795;
  background: #710822;
  border-radius: 6px;
}

.controller-block-111 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #590276;
  background: #346116;
  border-radius: 3px;
}

.controller-block-112 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #486323;
  background: #358158;
  border-radius: 5px;
}

.controller-block-113 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #503669;
  background: #435402;
  border-radius: 2px;
}

.controller-block-114 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #739890;
  background: #175787;
  border-radius: 8px;
}

.controller-block-115 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #144479;
  background: #410501;
  border-radius: 5px;
}

.controller-block-116 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #493876;
  background: #183990;
  border-radius: 7px;
}

.controller-block-117 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #546548;
  background: #603421;
  border-radius: 6px;
}

.controller-block-118 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #309786;
  background: #693438;
  border-radius: 3px;
}

.controller-block-119 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #330358;
  background: #771074;
  border-radius: 1px;
}

.controller-block-120 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #142092;
  background: #660971;
  border-radius: 6px;
}

.controller-block-121 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #717993;
  background: #566110;
  border-radius: 4px;
}

.controller-block-122 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #193173;
  background: #615108;
  border-radius: 2px;
}

.controller-block-123 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #137064;
  background: #332523;
  border-radius: 4px;
}

.controller-block-124 {
  display: flex;
  padding: 20px;
  margin: 16px;
  color: #734461;
  background: #263237;
  border-radius: 2px;
}

.controller-block-125 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #709402;
  background: #864704;
  border-radius: 6px;
}

.controller-block-126 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #124851;
  background: #303142;
  border-radius: 3px;
}

.controller-block-127 {
  display: flex;
  padding: 11px;
  margin: 1px;
  color: #338710;
  background: #558584;
  border-radius: 4px;
}

.controller-block-128 {
  display: flex;
  padding: 13px;
  margin: 7px;
  color: #973954;
  background: #225999;
  border-radius: 2px;
}

.controller-block-129 {
  display: flex;
  padding: 22px;
  margin: 7px;
  color: #246275;
  background: #386694;
  border-radius: 4px;
}

.controller-block-130 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #740036;
  background: #397748;
  border-radius: 0px;
}

.controller-block-131 {
  display: flex;
  padding: 10px;
  margin: 6px;
  color: #236330;
  background: #101762;
  border-radius: 4px;
}

.controller-block-132 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #976829;
  background: #671816;
  border-radius: 4px;
}

.controller-block-133 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #334118;
  background: #721968;
  border-radius: 3px;
}

.controller-block-134 {
  display: flex;
  padding: 24px;
  margin: 5px;
  color: #755979;
  background: #699957;
  border-radius: 7px;
}

.controller-block-135 {
  display: flex;
  padding: 18px;
  margin: 2px;
  color: #711244;
  background: #831580;
  border-radius: 1px;
}

.controller-block-136 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #149024;
  background: #200643;
  border-radius: 7px;
}

.controller-block-137 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #725933;
  background: #549503;
  border-radius: 2px;
}

.controller-block-138 {
  display: flex;
  padding: 14px;
  margin: 2px;
  color: #960723;
  background: #697270;
  border-radius: 1px;
}

.controller-block-139 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #441429;
  background: #131684;
  border-radius: 2px;
}

.controller-block-140 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #920470;
  background: #982704;
  border-radius: 3px;
}

.controller-block-141 {
  display: flex;
  padding: 10px;
  margin: 12px;
  color: #375342;
  background: #487453;
  border-radius: 8px;
}

.controller-block-142 {
  display: flex;
  padding: 6px;
  margin: 0px;
  color: #566790;
  background: #283533;
  border-radius: 1px;
}

.controller-block-143 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #257429;
  background: #361099;
  border-radius: 8px;
}

.controller-block-144 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #857617;
  background: #918269;
  border-radius: 3px;
}

.controller-block-145 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #664435;
  background: #364412;
  border-radius: 4px;
}

.controller-block-146 {
  display: flex;
  padding: 15px;
  margin: 9px;
  color: #512634;
  background: #349620;
  border-radius: 6px;
}

.controller-block-147 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #239383;
  background: #899969;
  border-radius: 3px;
}

.controller-block-148 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #899502;
  background: #553380;
  border-radius: 8px;
}

.controller-block-149 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #620367;
  background: #794695;
  border-radius: 0px;
}

.controller-block-150 {
  display: flex;
  padding: 12px;
  margin: 4px;
  color: #619646;
  background: #446472;
  border-radius: 6px;
}

.controller-block-151 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #481733;
  background: #525069;
  border-radius: 5px;
}

.controller-block-152 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #987661;
  background: #465598;
  border-radius: 6px;
}

.controller-block-153 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #559806;
  background: #465423;
  border-radius: 5px;
}

.controller-block-154 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #237551;
  background: #847071;
  border-radius: 3px;
}

.controller-block-155 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #477158;
  background: #285427;
  border-radius: 0px;
}

.controller-block-156 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #485204;
  background: #158836;
  border-radius: 5px;
}

.controller-block-157 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #225264;
  background: #568250;
  border-radius: 5px;
}

.controller-block-158 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #535991;
  background: #358894;
  border-radius: 0px;
}

.controller-block-159 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #396323;
  background: #873347;
  border-radius: 8px;
}

.controller-block-160 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #305362;
  background: #731332;
  border-radius: 7px;
}

.controller-block-161 {
  display: flex;
  padding: 16px;
  margin: 11px;
  color: #202388;
  background: #133517;
  border-radius: 5px;
}

.controller-block-162 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #525112;
  background: #363422;
  border-radius: 6px;
}

.controller-block-163 {
  display: flex;
  padding: 12px;
  margin: 0px;
  color: #564981;
  background: #411161;
  border-radius: 8px;
}

.controller-block-164 {
  display: flex;
  padding: 9px;
  margin: 2px;
  color: #294812;
  background: #305831;
  border-radius: 6px;
}

.controller-block-165 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #332271;
  background: #449674;
  border-radius: 1px;
}

.controller-block-166 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #712965;
  background: #584263;
  border-radius: 3px;
}

.controller-block-167 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #165006;
  background: #599010;
  border-radius: 5px;
}

.controller-block-168 {
  display: flex;
  padding: 5px;
  margin: 0px;
  color: #942116;
  background: #236039;
  border-radius: 3px;
}

.controller-block-169 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #757846;
  background: #975755;
  border-radius: 4px;
}

.controller-block-170 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #632541;
  background: #210445;
  border-radius: 4px;
}

.controller-block-171 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #910914;
  background: #593980;
  border-radius: 8px;
}

.controller-block-172 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #706552;
  background: #728403;
  border-radius: 8px;
}

.controller-block-173 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #668421;
  background: #879746;
  border-radius: 2px;
}

.controller-block-174 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #996244;
  background: #226454;
  border-radius: 2px;
}

.controller-block-175 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #978429;
  background: #515892;
  border-radius: 8px;
}

.controller-block-176 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #287679;
  background: #743289;
  border-radius: 7px;
}

.controller-block-177 {
  display: flex;
  padding: 9px;
  margin: 13px;
  color: #831426;
  background: #760631;
  border-radius: 3px;
}

.controller-block-178 {
  display: flex;
  padding: 12px;
  margin: 10px;
  color: #760620;
  background: #325572;
  border-radius: 7px;
}

.controller-block-179 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #686671;
  background: #700066;
  border-radius: 3px;
}

.controller-block-180 {
  display: flex;
  padding: 9px;
  margin: 5px;
  color: #180932;
  background: #164621;
  border-radius: 4px;
}

.controller-block-181 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #925425;
  background: #236949;
  border-radius: 4px;
}

.controller-block-182 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #309149;
  background: #208072;
  border-radius: 0px;
}

.controller-block-183 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #260517;
  background: #142374;
  border-radius: 2px;
}

.controller-block-184 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #589571;
  background: #652032;
  border-radius: 4px;
}

.controller-block-185 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #913463;
  background: #809670;
  border-radius: 6px;
}

.controller-block-186 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #585921;
  background: #890849;
  border-radius: 1px;
}

.controller-block-187 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #824693;
  background: #506886;
  border-radius: 2px;
}

.controller-block-188 {
  display: flex;
  padding: 16px;
  margin: 9px;
  color: #388281;
  background: #914600;
  border-radius: 5px;
}

.controller-block-189 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #620806;
  background: #232191;
  border-radius: 3px;
}

.controller-block-190 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #837997;
  background: #980027;
  border-radius: 6px;
}

.controller-block-191 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #206177;
  background: #691426;
  border-radius: 8px;
}

.controller-block-192 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #158751;
  background: #370232;
  border-radius: 5px;
}

.controller-block-193 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #906139;
  background: #845284;
  border-radius: 3px;
}

.controller-block-194 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #549279;
  background: #183127;
  border-radius: 4px;
}

.controller-block-195 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #546461;
  background: #471356;
  border-radius: 4px;
}

.controller-block-196 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #142537;
  background: #179751;
  border-radius: 5px;
}

.controller-block-197 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #140282;
  background: #559787;
  border-radius: 8px;
}

.controller-block-198 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #573698;
  background: #962347;
  border-radius: 4px;
}

.controller-block-199 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #850237;
  background: #466889;
  border-radius: 8px;
}

.controller-block-200 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #381522;
  background: #769753;
  border-radius: 7px;
}

.controller-block-201 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #631492;
  background: #194872;
  border-radius: 8px;
}

.controller-block-202 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #500520;
  background: #355509;
  border-radius: 5px;
}

.controller-block-203 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #922073;
  background: #304256;
  border-radius: 1px;
}

.controller-block-204 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #641287;
  background: #583297;
  border-radius: 0px;
}

.controller-block-205 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #261400;
  background: #804682;
  border-radius: 8px;
}

.controller-block-206 {
  display: flex;
  padding: 15px;
  margin: 10px;
  color: #309611;
  background: #216256;
  border-radius: 4px;
}

.controller-block-207 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #167643;
  background: #666022;
  border-radius: 5px;
}

.controller-block-208 {
  display: flex;
  padding: 17px;
  margin: 16px;
  color: #637702;
  background: #122488;
  border-radius: 0px;
}

.controller-block-209 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #620670;
  background: #851169;
  border-radius: 5px;
}

.controller-block-210 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #199436;
  background: #450043;
  border-radius: 4px;
}

.controller-block-211 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #161063;
  background: #750892;
  border-radius: 5px;
}

.controller-block-212 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #412056;
  background: #272023;
  border-radius: 2px;
}

.controller-block-213 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #158414;
  background: #605928;
  border-radius: 3px;
}

.controller-block-214 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #795643;
  background: #347490;
  border-radius: 7px;
}

.controller-block-215 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #304907;
  background: #888285;
  border-radius: 8px;
}

.controller-block-216 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #925033;
  background: #317745;
  border-radius: 6px;
}

.controller-block-217 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #484444;
  background: #688852;
  border-radius: 5px;
}

.controller-block-218 {
  display: flex;
  padding: 20px;
  margin: 8px;
  color: #773013;
  background: #941670;
  border-radius: 6px;
}

.controller-block-219 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #434466;
  background: #478015;
  border-radius: 1px;
}
