/* helpers styles v2 */

.helpers-block-1 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #772204;
  background: #800024;
  border-radius: 1px;
}

.helpers-block-2 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #150395;
  background: #940613;
  border-radius: 1px;
}

.helpers-block-3 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #147026;
  background: #378157;
  border-radius: 6px;
}

.helpers-block-4 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #397715;
  background: #659412;
  border-radius: 8px;
}

.helpers-block-5 {
  display: flex;
  padding: 19px;
  margin: 4px;
  color: #203619;
  background: #330299;
  border-radius: 5px;
}

.helpers-block-6 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #766438;
  background: #988431;
  border-radius: 2px;
}

.helpers-block-7 {
  display: flex;
  padding: 5px;
  margin: 13px;
  color: #809095;
  background: #426900;
  border-radius: 4px;
}

.helpers-block-8 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #471425;
  background: #729133;
  border-radius: 1px;
}

.helpers-block-9 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #522311;
  background: #112594;
  border-radius: 8px;
}

.helpers-block-10 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #846919;
  background: #592321;
  border-radius: 3px;
}

.helpers-block-11 {
  display: flex;
  padding: 21px;
  margin: 0px;
  color: #928625;
  background: #386106;
  border-radius: 2px;
}

.helpers-block-12 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #712474;
  background: #761738;
  border-radius: 7px;
}

.helpers-block-13 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #559031;
  background: #657453;
  border-radius: 4px;
}

.helpers-block-14 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #625955;
  background: #273224;
  border-radius: 3px;
}

.helpers-block-15 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #385317;
  background: #567789;
  border-radius: 0px;
}

.helpers-block-16 {
  display: flex;
  padding: 21px;
  margin: 13px;
  color: #473237;
  background: #973259;
  border-radius: 2px;
}

.helpers-block-17 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #531077;
  background: #333141;
  border-radius: 3px;
}

.helpers-block-18 {
  display: flex;
  padding: 21px;
  margin: 12px;
  color: #621662;
  background: #677478;
  border-radius: 4px;
}

.helpers-block-19 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #840404;
  background: #549942;
  border-radius: 3px;
}

.helpers-block-20 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #855035;
  background: #879091;
  border-radius: 7px;
}

.helpers-block-21 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #583363;
  background: #333943;
  border-radius: 0px;
}

.helpers-block-22 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #168217;
  background: #790502;
  border-radius: 1px;
}

.helpers-block-23 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #280894;
  background: #561092;
  border-radius: 3px;
}

.helpers-block-24 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #535361;
  background: #819829;
  border-radius: 1px;
}

.helpers-block-25 {
  display: flex;
  padding: 23px;
  margin: 5px;
  color: #283107;
  background: #895424;
  border-radius: 4px;
}

.helpers-block-26 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #933958;
  background: #218922;
  border-radius: 6px;
}

.helpers-block-27 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #365090;
  background: #531350;
  border-radius: 1px;
}

.helpers-block-28 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #413173;
  background: #671968;
  border-radius: 1px;
}

.helpers-block-29 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #994685;
  background: #301981;
  border-radius: 1px;
}

.helpers-block-30 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #195826;
  background: #155232;
  border-radius: 5px;
}

.helpers-block-31 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #708427;
  background: #817789;
  border-radius: 7px;
}

.helpers-block-32 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #605070;
  background: #370028;
  border-radius: 2px;
}

.helpers-block-33 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #686232;
  background: #356989;
  border-radius: 5px;
}

.helpers-block-34 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #265467;
  background: #564030;
  border-radius: 5px;
}

.helpers-block-35 {
  display: flex;
  padding: 5px;
  margin: 3px;
  color: #373722;
  background: #736943;
  border-radius: 1px;
}

.helpers-block-36 {
  display: flex;
  padding: 24px;
  margin: 8px;
  color: #550155;
  background: #791667;
  border-radius: 5px;
}

.helpers-block-37 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #644542;
  background: #610861;
  border-radius: 4px;
}

.helpers-block-38 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #387316;
  background: #353895;
  border-radius: 7px;
}

.helpers-block-39 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #954864;
  background: #262247;
  border-radius: 7px;
}

.helpers-block-40 {
  display: flex;
  padding: 21px;
  margin: 6px;
  color: #606403;
  background: #182347;
  border-radius: 4px;
}

.helpers-block-41 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #599825;
  background: #767329;
  border-radius: 6px;
}

.helpers-block-42 {
  display: flex;
  padding: 10px;
  margin: 0px;
  color: #653953;
  background: #323982;
  border-radius: 7px;
}

.helpers-block-43 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #468034;
  background: #569237;
  border-radius: 5px;
}

.helpers-block-44 {
  display: flex;
  padding: 14px;
  margin: 3px;
  color: #146347;
  background: #421110;
  border-radius: 3px;
}

.helpers-block-45 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #386902;
  background: #313255;
  border-radius: 6px;
}

.helpers-block-46 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #909070;
  background: #799370;
  border-radius: 1px;
}

.helpers-block-47 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #789506;
  background: #236314;
  border-radius: 7px;
}

.helpers-block-48 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #884889;
  background: #754031;
  border-radius: 6px;
}

.helpers-block-49 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #394374;
  background: #842302;
  border-radius: 4px;
}

.helpers-block-50 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #333333;
  background: #494263;
  border-radius: 3px;
}

.helpers-block-51 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #304087;
  background: #333882;
  border-radius: 2px;
}

.helpers-block-52 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #997060;
  background: #946910;
  border-radius: 7px;
}

.helpers-block-53 {
  display: flex;
  padding: 13px;
  margin: 5px;
  color: #478354;
  background: #567749;
  border-radius: 5px;
}

.helpers-block-54 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #933482;
  background: #667066;
  border-radius: 6px;
}

.helpers-block-55 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #353270;
  background: #359682;
  border-radius: 8px;
}

.helpers-block-56 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #908523;
  background: #933767;
  border-radius: 0px;
}

.helpers-block-57 {
  display: flex;
  padding: 4px;
  margin: 4px;
  color: #842302;
  background: #444794;
  border-radius: 4px;
}

.helpers-block-58 {
  display: flex;
  padding: 14px;
  margin: 4px;
  color: #379958;
  background: #856428;
  border-radius: 2px;
}

.helpers-block-59 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #297153;
  background: #503132;
  border-radius: 2px;
}
