/* index styles v2 */

.index-block-1 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #970109;
  background: #955880;
  border-radius: 3px;
}

.index-block-2 {
  display: flex;
  padding: 10px;
  margin: 2px;
  color: #814002;
  background: #825917;
  border-radius: 5px;
}

.index-block-3 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #868707;
  background: #693940;
  border-radius: 0px;
}

.index-block-4 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #167725;
  background: #384995;
  border-radius: 0px;
}

.index-block-5 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #407193;
  background: #294955;
  border-radius: 3px;
}

.index-block-6 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #679902;
  background: #988747;
  border-radius: 5px;
}

.index-block-7 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #875492;
  background: #161143;
  border-radius: 6px;
}

.index-block-8 {
  display: flex;
  padding: 6px;
  margin: 6px;
  color: #337315;
  background: #526086;
  border-radius: 1px;
}

.index-block-9 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #830145;
  background: #762501;
  border-radius: 0px;
}

.index-block-10 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #799035;
  background: #163020;
  border-radius: 8px;
}

.index-block-11 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #393545;
  background: #672840;
  border-radius: 1px;
}

.index-block-12 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #948955;
  background: #403273;
  border-radius: 2px;
}

.index-block-13 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #255960;
  background: #716311;
  border-radius: 6px;
}

.index-block-14 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #373510;
  background: #478503;
  border-radius: 2px;
}

.index-block-15 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #121720;
  background: #205993;
  border-radius: 5px;
}

.index-block-16 {
  display: flex;
  padding: 5px;
  margin: 16px;
  color: #336926;
  background: #777729;
  border-radius: 8px;
}

.index-block-17 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #255481;
  background: #795246;
  border-radius: 4px;
}

.index-block-18 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #479628;
  background: #267501;
  border-radius: 7px;
}

.index-block-19 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #634197;
  background: #458746;
  border-radius: 4px;
}

.index-block-20 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #688142;
  background: #300144;
  border-radius: 2px;
}

.index-block-21 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #926548;
  background: #979569;
  border-radius: 0px;
}

.index-block-22 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #183384;
  background: #238349;
  border-radius: 6px;
}

.index-block-23 {
  display: flex;
  padding: 13px;
  margin: 14px;
  color: #785317;
  background: #597722;
  border-radius: 8px;
}

.index-block-24 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #204783;
  background: #471767;
  border-radius: 0px;
}

.index-block-25 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #680920;
  background: #380278;
  border-radius: 4px;
}

.index-block-26 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #236549;
  background: #646268;
  border-radius: 3px;
}

.index-block-27 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #907098;
  background: #660104;
  border-radius: 6px;
}

.index-block-28 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #785763;
  background: #400462;
  border-radius: 7px;
}

.index-block-29 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #184024;
  background: #165265;
  border-radius: 0px;
}

.index-block-30 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #586120;
  background: #388147;
  border-radius: 1px;
}

.index-block-31 {
  display: flex;
  padding: 4px;
  margin: 10px;
  color: #350991;
  background: #280814;
  border-radius: 0px;
}

.index-block-32 {
  display: flex;
  padding: 8px;
  margin: 15px;
  color: #922373;
  background: #490856;
  border-radius: 2px;
}

.index-block-33 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #111607;
  background: #355093;
  border-radius: 1px;
}

.index-block-34 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #654967;
  background: #172811;
  border-radius: 3px;
}

.index-block-35 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #750436;
  background: #240101;
  border-radius: 8px;
}

.index-block-36 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #428385;
  background: #232626;
  border-radius: 5px;
}

.index-block-37 {
  display: flex;
  padding: 6px;
  margin: 13px;
  color: #612334;
  background: #346225;
  border-radius: 8px;
}

.index-block-38 {
  display: flex;
  padding: 7px;
  margin: 13px;
  color: #776484;
  background: #443346;
  border-radius: 3px;
}

.index-block-39 {
  display: flex;
  padding: 6px;
  margin: 14px;
  color: #505778;
  background: #151857;
  border-radius: 4px;
}

.index-block-40 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #649948;
  background: #675987;
  border-radius: 0px;
}

.index-block-41 {
  display: flex;
  padding: 23px;
  margin: 15px;
  color: #690414;
  background: #644498;
  border-radius: 5px;
}

.index-block-42 {
  display: flex;
  padding: 5px;
  margin: 11px;
  color: #691052;
  background: #253026;
  border-radius: 0px;
}

.index-block-43 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #418110;
  background: #237958;
  border-radius: 0px;
}

.index-block-44 {
  display: flex;
  padding: 15px;
  margin: 13px;
  color: #225579;
  background: #808465;
  border-radius: 7px;
}

.index-block-45 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #447307;
  background: #816669;
  border-radius: 1px;
}

.index-block-46 {
  display: flex;
  padding: 21px;
  margin: 10px;
  color: #237137;
  background: #821429;
  border-radius: 1px;
}

.index-block-47 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #123608;
  background: #958961;
  border-radius: 8px;
}

.index-block-48 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #191564;
  background: #671985;
  border-radius: 3px;
}

.index-block-49 {
  display: flex;
  padding: 16px;
  margin: 5px;
  color: #346571;
  background: #592837;
  border-radius: 1px;
}

.index-block-50 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #394826;
  background: #622280;
  border-radius: 8px;
}

.index-block-51 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #304913;
  background: #796462;
  border-radius: 4px;
}

.index-block-52 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #953084;
  background: #884369;
  border-radius: 4px;
}

.index-block-53 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #890919;
  background: #477560;
  border-radius: 4px;
}

.index-block-54 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #364616;
  background: #579605;
  border-radius: 3px;
}

.index-block-55 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #681127;
  background: #807418;
  border-radius: 7px;
}

.index-block-56 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #866373;
  background: #154276;
  border-radius: 0px;
}

.index-block-57 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #925548;
  background: #252470;
  border-radius: 2px;
}

.index-block-58 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #989271;
  background: #373737;
  border-radius: 4px;
}

.index-block-59 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #202986;
  background: #495764;
  border-radius: 7px;
}

.index-block-60 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #102223;
  background: #703675;
  border-radius: 0px;
}

.index-block-61 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #206795;
  background: #278209;
  border-radius: 1px;
}

.index-block-62 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #751556;
  background: #383758;
  border-radius: 3px;
}

.index-block-63 {
  display: flex;
  padding: 10px;
  margin: 4px;
  color: #704769;
  background: #371619;
  border-radius: 7px;
}

.index-block-64 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #186157;
  background: #236889;
  border-radius: 5px;
}

.index-block-65 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #400192;
  background: #828495;
  border-radius: 8px;
}

.index-block-66 {
  display: flex;
  padding: 18px;
  margin: 1px;
  color: #505670;
  background: #617924;
  border-radius: 2px;
}

.index-block-67 {
  display: flex;
  padding: 14px;
  margin: 0px;
  color: #189511;
  background: #693412;
  border-radius: 3px;
}

.index-block-68 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #635563;
  background: #620294;
  border-radius: 0px;
}

.index-block-69 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #696973;
  background: #314123;
  border-radius: 0px;
}

.index-block-70 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #925169;
  background: #808640;
  border-radius: 0px;
}

.index-block-71 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #849074;
  background: #513217;
  border-radius: 3px;
}

.index-block-72 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #639123;
  background: #661715;
  border-radius: 0px;
}

.index-block-73 {
  display: flex;
  padding: 20px;
  margin: 7px;
  color: #663105;
  background: #679727;
  border-radius: 7px;
}

.index-block-74 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #275219;
  background: #673553;
  border-radius: 7px;
}

.index-block-75 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #445652;
  background: #470640;
  border-radius: 7px;
}

.index-block-76 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #448833;
  background: #903599;
  border-radius: 8px;
}

.index-block-77 {
  display: flex;
  padding: 22px;
  margin: 9px;
  color: #659903;
  background: #581107;
  border-radius: 0px;
}

.index-block-78 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #341970;
  background: #469315;
  border-radius: 7px;
}

.index-block-79 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #706257;
  background: #405539;
  border-radius: 7px;
}

.index-block-80 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #979938;
  background: #869016;
  border-radius: 5px;
}

.index-block-81 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #300280;
  background: #375928;
  border-radius: 4px;
}

.index-block-82 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #676873;
  background: #389590;
  border-radius: 2px;
}

.index-block-83 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #906758;
  background: #184912;
  border-radius: 3px;
}

.index-block-84 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #339086;
  background: #924556;
  border-radius: 1px;
}

.index-block-85 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #129715;
  background: #885619;
  border-radius: 6px;
}

.index-block-86 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #238754;
  background: #283858;
  border-radius: 5px;
}

.index-block-87 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #847034;
  background: #664256;
  border-radius: 0px;
}

.index-block-88 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #626020;
  background: #449182;
  border-radius: 2px;
}

.index-block-89 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #245983;
  background: #611275;
  border-radius: 8px;
}

.index-block-90 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #541448;
  background: #498580;
  border-radius: 8px;
}

.index-block-91 {
  display: flex;
  padding: 12px;
  margin: 11px;
  color: #743802;
  background: #128707;
  border-radius: 5px;
}

.index-block-92 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #779114;
  background: #423106;
  border-radius: 1px;
}

.index-block-93 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #596720;
  background: #811368;
  border-radius: 6px;
}

.index-block-94 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #139820;
  background: #367296;
  border-radius: 4px;
}

.index-block-95 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #192685;
  background: #684288;
  border-radius: 7px;
}

.index-block-96 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #960074;
  background: #775741;
  border-radius: 4px;
}

.index-block-97 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #718884;
  background: #174096;
  border-radius: 6px;
}

.index-block-98 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #211972;
  background: #101209;
  border-radius: 6px;
}

.index-block-99 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #376078;
  background: #594557;
  border-radius: 6px;
}

.index-block-100 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #998110;
  background: #156800;
  border-radius: 0px;
}

.index-block-101 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #509168;
  background: #642167;
  border-radius: 8px;
}

.index-block-102 {
  display: flex;
  padding: 23px;
  margin: 14px;
  color: #720453;
  background: #356810;
  border-radius: 6px;
}

.index-block-103 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #418380;
  background: #982978;
  border-radius: 0px;
}

.index-block-104 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #838887;
  background: #619610;
  border-radius: 0px;
}

.index-block-105 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #239441;
  background: #272841;
  border-radius: 8px;
}

.index-block-106 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #160290;
  background: #282132;
  border-radius: 8px;
}

.index-block-107 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #615149;
  background: #646339;
  border-radius: 6px;
}

.index-block-108 {
  display: flex;
  padding: 22px;
  margin: 13px;
  color: #368585;
  background: #130680;
  border-radius: 1px;
}

.index-block-109 {
  display: flex;
  padding: 15px;
  margin: 7px;
  color: #956261;
  background: #541034;
  border-radius: 2px;
}

.index-block-110 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #426644;
  background: #468171;
  border-radius: 6px;
}

.index-block-111 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #287748;
  background: #649499;
  border-radius: 8px;
}

.index-block-112 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #708359;
  background: #144613;
  border-radius: 4px;
}

.index-block-113 {
  display: flex;
  padding: 6px;
  margin: 3px;
  color: #328537;
  background: #818308;
  border-radius: 0px;
}

.index-block-114 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #559911;
  background: #357041;
  border-radius: 6px;
}

.index-block-115 {
  display: flex;
  padding: 14px;
  margin: 13px;
  color: #740039;
  background: #996814;
  border-radius: 0px;
}

.index-block-116 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #299530;
  background: #808411;
  border-radius: 7px;
}

.index-block-117 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #832403;
  background: #685544;
  border-radius: 7px;
}

.index-block-118 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #251072;
  background: #583443;
  border-radius: 3px;
}

.index-block-119 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #618694;
  background: #700521;
  border-radius: 7px;
}

.index-block-120 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #924802;
  background: #684231;
  border-radius: 6px;
}

.index-block-121 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #587354;
  background: #362125;
  border-radius: 4px;
}

.index-block-122 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #915115;
  background: #250983;
  border-radius: 4px;
}

.index-block-123 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #903678;
  background: #191415;
  border-radius: 5px;
}

.index-block-124 {
  display: flex;
  padding: 8px;
  margin: 5px;
  color: #335833;
  background: #104667;
  border-radius: 7px;
}

.index-block-125 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #382717;
  background: #559431;
  border-radius: 1px;
}

.index-block-126 {
  display: flex;
  padding: 18px;
  margin: 8px;
  color: #465328;
  background: #969925;
  border-radius: 6px;
}

.index-block-127 {
  display: flex;
  padding: 5px;
  margin: 4px;
  color: #980473;
  background: #742123;
  border-radius: 6px;
}

.index-block-128 {
  display: flex;
  padding: 19px;
  margin: 2px;
  color: #582467;
  background: #299611;
  border-radius: 5px;
}

.index-block-129 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #358514;
  background: #591469;
  border-radius: 1px;
}

.index-block-130 {
  display: flex;
  padding: 10px;
  margin: 5px;
  color: #646297;
  background: #907931;
  border-radius: 8px;
}

.index-block-131 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #770601;
  background: #298285;
  border-radius: 5px;
}

.index-block-132 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #163937;
  background: #558759;
  border-radius: 8px;
}

.index-block-133 {
  display: flex;
  padding: 13px;
  margin: 11px;
  color: #529793;
  background: #100438;
  border-radius: 7px;
}

.index-block-134 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #108392;
  background: #130348;
  border-radius: 5px;
}

.index-block-135 {
  display: flex;
  padding: 23px;
  margin: 7px;
  color: #722011;
  background: #637960;
  border-radius: 4px;
}

.index-block-136 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #447346;
  background: #418826;
  border-radius: 6px;
}

.index-block-137 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #668458;
  background: #980051;
  border-radius: 3px;
}

.index-block-138 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #631577;
  background: #931609;
  border-radius: 1px;
}

.index-block-139 {
  display: flex;
  padding: 21px;
  margin: 2px;
  color: #685891;
  background: #504568;
  border-radius: 1px;
}

.index-block-140 {
  display: flex;
  padding: 12px;
  margin: 9px;
  color: #323761;
  background: #589525;
  border-radius: 4px;
}

.index-block-141 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #681704;
  background: #904421;
  border-radius: 4px;
}

.index-block-142 {
  display: flex;
  padding: 17px;
  margin: 6px;
  color: #131357;
  background: #584317;
  border-radius: 5px;
}

.index-block-143 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #731470;
  background: #883675;
  border-radius: 0px;
}

.index-block-144 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #997201;
  background: #157384;
  border-radius: 5px;
}

.index-block-145 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #151079;
  background: #695333;
  border-radius: 1px;
}

.index-block-146 {
  display: flex;
  padding: 13px;
  margin: 3px;
  color: #304646;
  background: #257555;
  border-radius: 3px;
}

.index-block-147 {
  display: flex;
  padding: 9px;
  margin: 7px;
  color: #875372;
  background: #218947;
  border-radius: 2px;
}

.index-block-148 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #726859;
  background: #431455;
  border-radius: 4px;
}

.index-block-149 {
  display: flex;
  padding: 11px;
  margin: 3px;
  color: #421260;
  background: #285697;
  border-radius: 4px;
}

.index-block-150 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #298411;
  background: #981010;
  border-radius: 5px;
}

.index-block-151 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #527076;
  background: #787564;
  border-radius: 5px;
}

.index-block-152 {
  display: flex;
  padding: 13px;
  margin: 6px;
  color: #967857;
  background: #819981;
  border-radius: 6px;
}

.index-block-153 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #252604;
  background: #562014;
  border-radius: 3px;
}

.index-block-154 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #208868;
  background: #956447;
  border-radius: 6px;
}

.index-block-155 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #477060;
  background: #880434;
  border-radius: 0px;
}

.index-block-156 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #580839;
  background: #252079;
  border-radius: 8px;
}

.index-block-157 {
  display: flex;
  padding: 11px;
  margin: 7px;
  color: #576516;
  background: #693651;
  border-radius: 4px;
}
