/* index styles v7 */

.index-block-1 {
  display: flex;
  padding: 6px;
  margin: 12px;
  color: #710052;
  background: #689553;
  border-radius: 3px;
}

.index-block-2 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #735781;
  background: #267884;
  border-radius: 3px;
}

.index-block-3 {
  display: flex;
  padding: 7px;
  margin: 5px;
  color: #158611;
  background: #738450;
  border-radius: 3px;
}

.index-block-4 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #355070;
  background: #533285;
  border-radius: 7px;
}

.index-block-5 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #558023;
  background: #763332;
  border-radius: 6px;
}

.index-block-6 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #616736;
  background: #612181;
  border-radius: 6px;
}

.index-block-7 {
  display: flex;
  padding: 8px;
  margin: 6px;
  color: #628846;
  background: #566205;
  border-radius: 1px;
}

.index-block-8 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #524705;
  background: #135531;
  border-radius: 3px;
}

.index-block-9 {
  display: flex;
  padding: 4px;
  margin: 15px;
  color: #565780;
  background: #671615;
  border-radius: 4px;
}

.index-block-10 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #660099;
  background: #470026;
  border-radius: 5px;
}

.index-block-11 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #958173;
  background: #800936;
  border-radius: 3px;
}

.index-block-12 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #427723;
  background: #839870;
  border-radius: 2px;
}

.index-block-13 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #882229;
  background: #396725;
  border-radius: 3px;
}

.index-block-14 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #761226;
  background: #182503;
  border-radius: 3px;
}

.index-block-15 {
  display: flex;
  padding: 24px;
  margin: 3px;
  color: #578642;
  background: #869409;
  border-radius: 5px;
}

.index-block-16 {
  display: flex;
  padding: 19px;
  margin: 14px;
  color: #289117;
  background: #585105;
  border-radius: 8px;
}

.index-block-17 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #141610;
  background: #647294;
  border-radius: 2px;
}

.index-block-18 {
  display: flex;
  padding: 23px;
  margin: 12px;
  color: #499016;
  background: #257020;
  border-radius: 4px;
}

.index-block-19 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #323767;
  background: #682810;
  border-radius: 2px;
}

.index-block-20 {
  display: flex;
  padding: 4px;
  margin: 13px;
  color: #148631;
  background: #686702;
  border-radius: 2px;
}

.index-block-21 {
  display: flex;
  padding: 4px;
  margin: 1px;
  color: #287869;
  background: #859468;
  border-radius: 0px;
}

.index-block-22 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #614943;
  background: #541629;
  border-radius: 2px;
}

.index-block-23 {
  display: flex;
  padding: 15px;
  margin: 2px;
  color: #141222;
  background: #461235;
  border-radius: 2px;
}

.index-block-24 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #554485;
  background: #877181;
  border-radius: 6px;
}

.index-block-25 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #554197;
  background: #665391;
  border-radius: 8px;
}

.index-block-26 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #323442;
  background: #556870;
  border-radius: 8px;
}

.index-block-27 {
  display: flex;
  padding: 4px;
  margin: 0px;
  color: #620877;
  background: #207502;
  border-radius: 4px;
}

.index-block-28 {
  display: flex;
  padding: 19px;
  margin: 6px;
  color: #782989;
  background: #432926;
  border-radius: 7px;
}

.index-block-29 {
  display: flex;
  padding: 15px;
  margin: 14px;
  color: #749325;
  background: #399292;
  border-radius: 7px;
}

.index-block-30 {
  display: flex;
  padding: 5px;
  margin: 8px;
  color: #648948;
  background: #324194;
  border-radius: 7px;
}

.index-block-31 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #702224;
  background: #363090;
  border-radius: 2px;
}

.index-block-32 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #841843;
  background: #338986;
  border-radius: 7px;
}

.index-block-33 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #927106;
  background: #936481;
  border-radius: 7px;
}

.index-block-34 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #809911;
  background: #355032;
  border-radius: 1px;
}

.index-block-35 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #350267;
  background: #904016;
  border-radius: 0px;
}

.index-block-36 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #239942;
  background: #768429;
  border-radius: 2px;
}

.index-block-37 {
  display: flex;
  padding: 12px;
  margin: 1px;
  color: #940963;
  background: #685565;
  border-radius: 4px;
}

.index-block-38 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #995099;
  background: #589570;
  border-radius: 4px;
}

.index-block-39 {
  display: flex;
  padding: 10px;
  margin: 9px;
  color: #113919;
  background: #859473;
  border-radius: 3px;
}

.index-block-40 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #231504;
  background: #977806;
  border-radius: 3px;
}

.index-block-41 {
  display: flex;
  padding: 5px;
  margin: 9px;
  color: #909766;
  background: #379203;
  border-radius: 6px;
}

.index-block-42 {
  display: flex;
  padding: 14px;
  margin: 12px;
  color: #802491;
  background: #999295;
  border-radius: 4px;
}

.index-block-43 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #505996;
  background: #461028;
  border-radius: 1px;
}

.index-block-44 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #267315;
  background: #845289;
  border-radius: 1px;
}

.index-block-45 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #246697;
  background: #433705;
  border-radius: 8px;
}

.index-block-46 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #836090;
  background: #492373;
  border-radius: 7px;
}

.index-block-47 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #768843;
  background: #255203;
  border-radius: 8px;
}

.index-block-48 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #310922;
  background: #803057;
  border-radius: 2px;
}

.index-block-49 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #327661;
  background: #172795;
  border-radius: 2px;
}

.index-block-50 {
  display: flex;
  padding: 19px;
  margin: 10px;
  color: #780950;
  background: #885919;
  border-radius: 0px;
}

.index-block-51 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #414674;
  background: #737243;
  border-radius: 3px;
}

.index-block-52 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #202584;
  background: #740467;
  border-radius: 7px;
}

.index-block-53 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #800816;
  background: #335845;
  border-radius: 0px;
}

.index-block-54 {
  display: flex;
  padding: 5px;
  margin: 12px;
  color: #101742;
  background: #434226;
  border-radius: 0px;
}

.index-block-55 {
  display: flex;
  padding: 15px;
  margin: 1px;
  color: #854679;
  background: #888893;
  border-radius: 3px;
}

.index-block-56 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #978781;
  background: #479606;
  border-radius: 2px;
}

.index-block-57 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #463776;
  background: #615890;
  border-radius: 4px;
}

.index-block-58 {
  display: flex;
  padding: 17px;
  margin: 5px;
  color: #535169;
  background: #327014;
  border-radius: 8px;
}

.index-block-59 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #155965;
  background: #527990;
  border-radius: 3px;
}

.index-block-60 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #680109;
  background: #149753;
  border-radius: 6px;
}

.index-block-61 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #360051;
  background: #397748;
  border-radius: 6px;
}

.index-block-62 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #771537;
  background: #996759;
  border-radius: 7px;
}

.index-block-63 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #290390;
  background: #802679;
  border-radius: 7px;
}

.index-block-64 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #805358;
  background: #812341;
  border-radius: 5px;
}

.index-block-65 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #671292;
  background: #291547;
  border-radius: 4px;
}

.index-block-66 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #945806;
  background: #399172;
  border-radius: 2px;
}

.index-block-67 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #564353;
  background: #988078;
  border-radius: 4px;
}

.index-block-68 {
  display: flex;
  padding: 8px;
  margin: 1px;
  color: #194607;
  background: #512962;
  border-radius: 5px;
}

.index-block-69 {
  display: flex;
  padding: 24px;
  margin: 2px;
  color: #306895;
  background: #481971;
  border-radius: 7px;
}

.index-block-70 {
  display: flex;
  padding: 4px;
  margin: 2px;
  color: #583415;
  background: #355874;
  border-radius: 6px;
}

.index-block-71 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #643605;
  background: #768192;
  border-radius: 5px;
}

.index-block-72 {
  display: flex;
  padding: 9px;
  margin: 0px;
  color: #149118;
  background: #961991;
  border-radius: 1px;
}

.index-block-73 {
  display: flex;
  padding: 8px;
  margin: 11px;
  color: #217534;
  background: #238547;
  border-radius: 2px;
}

.index-block-74 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #871214;
  background: #273353;
  border-radius: 0px;
}

.index-block-75 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #812142;
  background: #310896;
  border-radius: 2px;
}

.index-block-76 {
  display: flex;
  padding: 15px;
  margin: 12px;
  color: #720878;
  background: #670379;
  border-radius: 6px;
}

.index-block-77 {
  display: flex;
  padding: 9px;
  margin: 12px;
  color: #884176;
  background: #457276;
  border-radius: 3px;
}

.index-block-78 {
  display: flex;
  padding: 6px;
  margin: 1px;
  color: #748803;
  background: #977246;
  border-radius: 0px;
}

.index-block-79 {
  display: flex;
  padding: 5px;
  margin: 2px;
  color: #829245;
  background: #568793;
  border-radius: 7px;
}

.index-block-80 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #729567;
  background: #992195;
  border-radius: 4px;
}

.index-block-81 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #859161;
  background: #528926;
  border-radius: 5px;
}

.index-block-82 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #840597;
  background: #226017;
  border-radius: 3px;
}

.index-block-83 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #773720;
  background: #163767;
  border-radius: 1px;
}

.index-block-84 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #789786;
  background: #450454;
  border-radius: 4px;
}

.index-block-85 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #760874;
  background: #854297;
  border-radius: 3px;
}

.index-block-86 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #673915;
  background: #393089;
  border-radius: 2px;
}

.index-block-87 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #289414;
  background: #738040;
  border-radius: 0px;
}

.index-block-88 {
  display: flex;
  padding: 22px;
  margin: 1px;
  color: #756354;
  background: #647825;
  border-radius: 7px;
}

.index-block-89 {
  display: flex;
  padding: 23px;
  margin: 13px;
  color: #248616;
  background: #951770;
  border-radius: 6px;
}

.index-block-90 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #953432;
  background: #431503;
  border-radius: 0px;
}

.index-block-91 {
  display: flex;
  padding: 7px;
  margin: 15px;
  color: #971062;
  background: #479544;
  border-radius: 4px;
}

.index-block-92 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #320479;
  background: #488748;
  border-radius: 8px;
}

.index-block-93 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #929194;
  background: #427455;
  border-radius: 7px;
}

.index-block-94 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #387280;
  background: #260154;
  border-radius: 5px;
}

.index-block-95 {
  display: flex;
  padding: 12px;
  margin: 8px;
  color: #654525;
  background: #754421;
  border-radius: 6px;
}

.index-block-96 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #914622;
  background: #664555;
  border-radius: 2px;
}

.index-block-97 {
  display: flex;
  padding: 22px;
  margin: 15px;
  color: #471822;
  background: #403249;
  border-radius: 5px;
}

.index-block-98 {
  display: flex;
  padding: 21px;
  margin: 7px;
  color: #185128;
  background: #935669;
  border-radius: 2px;
}

.index-block-99 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #100491;
  background: #604466;
  border-radius: 7px;
}

.index-block-100 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #108869;
  background: #978128;
  border-radius: 5px;
}

.index-block-101 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #332884;
  background: #523119;
  border-radius: 4px;
}

.index-block-102 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #773542;
  background: #398997;
  border-radius: 2px;
}

.index-block-103 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #485687;
  background: #892327;
  border-radius: 3px;
}

.index-block-104 {
  display: flex;
  padding: 16px;
  margin: 15px;
  color: #506612;
  background: #309680;
  border-radius: 2px;
}
