/* logger styles v1 */

.logger-block-1 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #909126;
  background: #865715;
  border-radius: 7px;
}

.logger-block-2 {
  display: flex;
  padding: 19px;
  margin: 3px;
  color: #353301;
  background: #257877;
  border-radius: 8px;
}

.logger-block-3 {
  display: flex;
  padding: 12px;
  margin: 13px;
  color: #233205;
  background: #699430;
  border-radius: 7px;
}

.logger-block-4 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #461715;
  background: #552157;
  border-radius: 6px;
}

.logger-block-5 {
  display: flex;
  padding: 5px;
  margin: 14px;
  color: #318436;
  background: #665171;
  border-radius: 8px;
}

.logger-block-6 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #395381;
  background: #685847;
  border-radius: 0px;
}

.logger-block-7 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #668705;
  background: #679038;
  border-radius: 4px;
}

.logger-block-8 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #663530;
  background: #524268;
  border-radius: 7px;
}

.logger-block-9 {
  display: flex;
  padding: 14px;
  margin: 16px;
  color: #848960;
  background: #359212;
  border-radius: 3px;
}

.logger-block-10 {
  display: flex;
  padding: 23px;
  margin: 0px;
  color: #818765;
  background: #942423;
  border-radius: 8px;
}

.logger-block-11 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #874642;
  background: #818172;
  border-radius: 5px;
}

.logger-block-12 {
  display: flex;
  padding: 5px;
  margin: 15px;
  color: #676259;
  background: #826397;
  border-radius: 5px;
}

.logger-block-13 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #778531;
  background: #254238;
  border-radius: 4px;
}

.logger-block-14 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #322927;
  background: #190580;
  border-radius: 1px;
}

.logger-block-15 {
  display: flex;
  padding: 23px;
  margin: 9px;
  color: #173816;
  background: #680742;
  border-radius: 3px;
}

.logger-block-16 {
  display: flex;
  padding: 7px;
  margin: 0px;
  color: #591010;
  background: #297022;
  border-radius: 3px;
}

.logger-block-17 {
  display: flex;
  padding: 22px;
  margin: 11px;
  color: #760026;
  background: #142930;
  border-radius: 5px;
}

.logger-block-18 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #158864;
  background: #562114;
  border-radius: 4px;
}

.logger-block-19 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #737716;
  background: #172805;
  border-radius: 8px;
}

.logger-block-20 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #130932;
  background: #744905;
  border-radius: 8px;
}

.logger-block-21 {
  display: flex;
  padding: 18px;
  margin: 4px;
  color: #589675;
  background: #576746;
  border-radius: 0px;
}

.logger-block-22 {
  display: flex;
  padding: 6px;
  margin: 5px;
  color: #695044;
  background: #961853;
  border-radius: 6px;
}

.logger-block-23 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #182230;
  background: #346157;
  border-radius: 7px;
}

.logger-block-24 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #464680;
  background: #345918;
  border-radius: 4px;
}

.logger-block-25 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #121189;
  background: #883818;
  border-radius: 0px;
}

.logger-block-26 {
  display: flex;
  padding: 17px;
  margin: 15px;
  color: #142830;
  background: #495005;
  border-radius: 5px;
}

.logger-block-27 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #494311;
  background: #954369;
  border-radius: 4px;
}

.logger-block-28 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #198869;
  background: #916930;
  border-radius: 2px;
}

.logger-block-29 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #627231;
  background: #752577;
  border-radius: 4px;
}

.logger-block-30 {
  display: flex;
  padding: 12px;
  margin: 2px;
  color: #686681;
  background: #506718;
  border-radius: 8px;
}

.logger-block-31 {
  display: flex;
  padding: 8px;
  margin: 0px;
  color: #903664;
  background: #344083;
  border-radius: 1px;
}

.logger-block-32 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #357360;
  background: #168304;
  border-radius: 2px;
}

.logger-block-33 {
  display: flex;
  padding: 24px;
  margin: 4px;
  color: #434831;
  background: #726415;
  border-radius: 3px;
}

.logger-block-34 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #489462;
  background: #747898;
  border-radius: 0px;
}

.logger-block-35 {
  display: flex;
  padding: 24px;
  margin: 10px;
  color: #138511;
  background: #789359;
  border-radius: 1px;
}

.logger-block-36 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #980164;
  background: #561566;
  border-radius: 3px;
}

.logger-block-37 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #486273;
  background: #779691;
  border-radius: 2px;
}

.logger-block-38 {
  display: flex;
  padding: 15px;
  margin: 4px;
  color: #668154;
  background: #706379;
  border-radius: 2px;
}

.logger-block-39 {
  display: flex;
  padding: 13px;
  margin: 0px;
  color: #429506;
  background: #101921;
  border-radius: 7px;
}

.logger-block-40 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #999788;
  background: #923818;
  border-radius: 5px;
}

.logger-block-41 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #602047;
  background: #870397;
  border-radius: 3px;
}

.logger-block-42 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #760292;
  background: #267466;
  border-radius: 8px;
}

.logger-block-43 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #450854;
  background: #975077;
  border-radius: 4px;
}

.logger-block-44 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #677846;
  background: #195447;
  border-radius: 3px;
}

.logger-block-45 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #747403;
  background: #389799;
  border-radius: 8px;
}

.logger-block-46 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #526437;
  background: #392951;
  border-radius: 6px;
}

.logger-block-47 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #612698;
  background: #444151;
  border-radius: 0px;
}

.logger-block-48 {
  display: flex;
  padding: 8px;
  margin: 9px;
  color: #709718;
  background: #612701;
  border-radius: 1px;
}

.logger-block-49 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #229088;
  background: #854361;
  border-radius: 0px;
}

.logger-block-50 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #958995;
  background: #232640;
  border-radius: 2px;
}

.logger-block-51 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #243843;
  background: #371232;
  border-radius: 0px;
}

.logger-block-52 {
  display: flex;
  padding: 16px;
  margin: 0px;
  color: #430108;
  background: #551691;
  border-radius: 1px;
}

.logger-block-53 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #573820;
  background: #210268;
  border-radius: 4px;
}

.logger-block-54 {
  display: flex;
  padding: 20px;
  margin: 6px;
  color: #292697;
  background: #807464;
  border-radius: 5px;
}

.logger-block-55 {
  display: flex;
  padding: 9px;
  margin: 16px;
  color: #628869;
  background: #887051;
  border-radius: 3px;
}

.logger-block-56 {
  display: flex;
  padding: 15px;
  margin: 5px;
  color: #477274;
  background: #785374;
  border-radius: 2px;
}

.logger-block-57 {
  display: flex;
  padding: 14px;
  margin: 15px;
  color: #965059;
  background: #645863;
  border-radius: 1px;
}

.logger-block-58 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #837054;
  background: #428240;
  border-radius: 0px;
}

.logger-block-59 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #188704;
  background: #147795;
  border-radius: 8px;
}

.logger-block-60 {
  display: flex;
  padding: 19px;
  margin: 16px;
  color: #198781;
  background: #430099;
  border-radius: 6px;
}

.logger-block-61 {
  display: flex;
  padding: 19px;
  margin: 1px;
  color: #539645;
  background: #732294;
  border-radius: 6px;
}

.logger-block-62 {
  display: flex;
  padding: 15px;
  margin: 8px;
  color: #376089;
  background: #539125;
  border-radius: 1px;
}

.logger-block-63 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #718717;
  background: #589682;
  border-radius: 5px;
}

.logger-block-64 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #106551;
  background: #483254;
  border-radius: 4px;
}
