/* utils styles v4 */

.utils-block-1 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #352362;
  background: #923224;
  border-radius: 8px;
}

.utils-block-2 {
  display: flex;
  padding: 23px;
  margin: 8px;
  color: #259319;
  background: #811739;
  border-radius: 8px;
}

.utils-block-3 {
  display: flex;
  padding: 7px;
  margin: 10px;
  color: #176177;
  background: #627416;
  border-radius: 4px;
}

.utils-block-4 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #404284;
  background: #342319;
  border-radius: 6px;
}

.utils-block-5 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #422811;
  background: #687931;
  border-radius: 1px;
}

.utils-block-6 {
  display: flex;
  padding: 21px;
  margin: 3px;
  color: #180403;
  background: #550335;
  border-radius: 1px;
}

.utils-block-7 {
  display: flex;
  padding: 6px;
  margin: 4px;
  color: #955369;
  background: #299736;
  border-radius: 2px;
}

.utils-block-8 {
  display: flex;
  padding: 24px;
  margin: 11px;
  color: #600743;
  background: #138795;
  border-radius: 5px;
}

.utils-block-9 {
  display: flex;
  padding: 20px;
  margin: 3px;
  color: #459513;
  background: #767310;
  border-radius: 2px;
}

.utils-block-10 {
  display: flex;
  padding: 13px;
  margin: 8px;
  color: #693036;
  background: #291905;
  border-radius: 3px;
}

.utils-block-11 {
  display: flex;
  padding: 17px;
  margin: 3px;
  color: #269499;
  background: #124300;
  border-radius: 5px;
}

.utils-block-12 {
  display: flex;
  padding: 4px;
  margin: 6px;
  color: #791966;
  background: #121990;
  border-radius: 6px;
}

.utils-block-13 {
  display: flex;
  padding: 11px;
  margin: 4px;
  color: #926386;
  background: #476888;
  border-radius: 5px;
}

.utils-block-14 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #564186;
  background: #950473;
  border-radius: 5px;
}

.utils-block-15 {
  display: flex;
  padding: 11px;
  margin: 0px;
  color: #758135;
  background: #730867;
  border-radius: 5px;
}

.utils-block-16 {
  display: flex;
  padding: 22px;
  margin: 8px;
  color: #934047;
  background: #625426;
  border-radius: 3px;
}

.utils-block-17 {
  display: flex;
  padding: 16px;
  margin: 6px;
  color: #628811;
  background: #660117;
  border-radius: 7px;
}

.utils-block-18 {
  display: flex;
  padding: 16px;
  margin: 14px;
  color: #727329;
  background: #869307;
  border-radius: 2px;
}

.utils-block-19 {
  display: flex;
  padding: 7px;
  margin: 9px;
  color: #790559;
  background: #347781;
  border-radius: 6px;
}

.utils-block-20 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #387874;
  background: #789254;
  border-radius: 8px;
}

.utils-block-21 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #568576;
  background: #336941;
  border-radius: 5px;
}

.utils-block-22 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #204155;
  background: #600027;
  border-radius: 0px;
}

.utils-block-23 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #947318;
  background: #171485;
  border-radius: 1px;
}

.utils-block-24 {
  display: flex;
  padding: 22px;
  margin: 12px;
  color: #515689;
  background: #787455;
  border-radius: 0px;
}

.utils-block-25 {
  display: flex;
  padding: 21px;
  margin: 4px;
  color: #286798;
  background: #546213;
  border-radius: 2px;
}

.utils-block-26 {
  display: flex;
  padding: 10px;
  margin: 7px;
  color: #809197;
  background: #809547;
  border-radius: 0px;
}

.utils-block-27 {
  display: flex;
  padding: 22px;
  margin: 5px;
  color: #212412;
  background: #624408;
  border-radius: 3px;
}

.utils-block-28 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #767595;
  background: #874281;
  border-radius: 5px;
}

.utils-block-29 {
  display: flex;
  padding: 11px;
  margin: 6px;
  color: #771400;
  background: #377262;
  border-radius: 0px;
}

.utils-block-30 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #457666;
  background: #978901;
  border-radius: 7px;
}

.utils-block-31 {
  display: flex;
  padding: 22px;
  margin: 6px;
  color: #565201;
  background: #159053;
  border-radius: 6px;
}

.utils-block-32 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #140813;
  background: #526501;
  border-radius: 0px;
}

.utils-block-33 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #330702;
  background: #110944;
  border-radius: 5px;
}

.utils-block-34 {
  display: flex;
  padding: 12px;
  margin: 12px;
  color: #121831;
  background: #483045;
  border-radius: 3px;
}

.utils-block-35 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #186071;
  background: #391083;
  border-radius: 8px;
}

.utils-block-36 {
  display: flex;
  padding: 10px;
  margin: 1px;
  color: #819511;
  background: #283001;
  border-radius: 1px;
}

.utils-block-37 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #659688;
  background: #515474;
  border-radius: 0px;
}

.utils-block-38 {
  display: flex;
  padding: 11px;
  margin: 5px;
  color: #206249;
  background: #265659;
  border-radius: 8px;
}

.utils-block-39 {
  display: flex;
  padding: 13px;
  margin: 4px;
  color: #714937;
  background: #869224;
  border-radius: 6px;
}

.utils-block-40 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #228006;
  background: #108324;
  border-radius: 7px;
}

.utils-block-41 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #950506;
  background: #167350;
  border-radius: 0px;
}

.utils-block-42 {
  display: flex;
  padding: 21px;
  margin: 9px;
  color: #137146;
  background: #848045;
  border-radius: 8px;
}

.utils-block-43 {
  display: flex;
  padding: 20px;
  margin: 11px;
  color: #226642;
  background: #314796;
  border-radius: 1px;
}

.utils-block-44 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #255159;
  background: #931680;
  border-radius: 5px;
}

.utils-block-45 {
  display: flex;
  padding: 18px;
  margin: 15px;
  color: #423779;
  background: #992696;
  border-radius: 5px;
}

.utils-block-46 {
  display: flex;
  padding: 13px;
  margin: 10px;
  color: #786278;
  background: #736161;
  border-radius: 5px;
}

.utils-block-47 {
  display: flex;
  padding: 18px;
  margin: 3px;
  color: #512307;
  background: #688691;
  border-radius: 1px;
}

.utils-block-48 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #532777;
  background: #938023;
  border-radius: 4px;
}

.utils-block-49 {
  display: flex;
  padding: 12px;
  margin: 6px;
  color: #182268;
  background: #949323;
  border-radius: 6px;
}

.utils-block-50 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #574573;
  background: #414870;
  border-radius: 0px;
}

.utils-block-51 {
  display: flex;
  padding: 9px;
  margin: 15px;
  color: #780707;
  background: #768596;
  border-radius: 4px;
}

.utils-block-52 {
  display: flex;
  padding: 9px;
  margin: 14px;
  color: #475826;
  background: #912734;
  border-radius: 3px;
}

.utils-block-53 {
  display: flex;
  padding: 6px;
  margin: 10px;
  color: #913469;
  background: #694826;
  border-radius: 2px;
}

.utils-block-54 {
  display: flex;
  padding: 18px;
  margin: 16px;
  color: #625877;
  background: #243448;
  border-radius: 4px;
}

.utils-block-55 {
  display: flex;
  padding: 21px;
  margin: 1px;
  color: #518727;
  background: #344291;
  border-radius: 0px;
}

.utils-block-56 {
  display: flex;
  padding: 13px;
  margin: 13px;
  color: #817280;
  background: #766479;
  border-radius: 1px;
}

.utils-block-57 {
  display: flex;
  padding: 7px;
  margin: 14px;
  color: #392692;
  background: #911027;
  border-radius: 8px;
}

.utils-block-58 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #366099;
  background: #591434;
  border-radius: 2px;
}

.utils-block-59 {
  display: flex;
  padding: 4px;
  margin: 3px;
  color: #274958;
  background: #363819;
  border-radius: 6px;
}

.utils-block-60 {
  display: flex;
  padding: 14px;
  margin: 6px;
  color: #995402;
  background: #191807;
  border-radius: 8px;
}

.utils-block-61 {
  display: flex;
  padding: 24px;
  margin: 13px;
  color: #363200;
  background: #480083;
  border-radius: 0px;
}

.utils-block-62 {
  display: flex;
  padding: 22px;
  margin: 3px;
  color: #288091;
  background: #178870;
  border-radius: 5px;
}

.utils-block-63 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #155508;
  background: #788355;
  border-radius: 0px;
}

.utils-block-64 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #676292;
  background: #428049;
  border-radius: 5px;
}

.utils-block-65 {
  display: flex;
  padding: 7px;
  margin: 6px;
  color: #194948;
  background: #532560;
  border-radius: 5px;
}

.utils-block-66 {
  display: flex;
  padding: 19px;
  margin: 0px;
  color: #927555;
  background: #509997;
  border-radius: 1px;
}

.utils-block-67 {
  display: flex;
  padding: 11px;
  margin: 13px;
  color: #546076;
  background: #838567;
  border-radius: 6px;
}

.utils-block-68 {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: #419485;
  background: #736083;
  border-radius: 7px;
}

.utils-block-69 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #848511;
  background: #712797;
  border-radius: 0px;
}

.utils-block-70 {
  display: flex;
  padding: 14px;
  margin: 10px;
  color: #820297;
  background: #214474;
  border-radius: 2px;
}

.utils-block-71 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #799362;
  background: #240310;
  border-radius: 7px;
}

.utils-block-72 {
  display: flex;
  padding: 17px;
  margin: 10px;
  color: #319442;
  background: #509517;
  border-radius: 6px;
}

.utils-block-73 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #595742;
  background: #331867;
  border-radius: 0px;
}

.utils-block-74 {
  display: flex;
  padding: 20px;
  margin: 12px;
  color: #936153;
  background: #235175;
  border-radius: 5px;
}

.utils-block-75 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #851869;
  background: #302430;
  border-radius: 5px;
}

.utils-block-76 {
  display: flex;
  padding: 20px;
  margin: 15px;
  color: #180727;
  background: #173865;
  border-radius: 6px;
}

.utils-block-77 {
  display: flex;
  padding: 11px;
  margin: 12px;
  color: #173732;
  background: #203446;
  border-radius: 6px;
}

.utils-block-78 {
  display: flex;
  padding: 18px;
  margin: 5px;
  color: #809868;
  background: #526633;
  border-radius: 2px;
}

.utils-block-79 {
  display: flex;
  padding: 15px;
  margin: 11px;
  color: #159161;
  background: #284530;
  border-radius: 6px;
}

.utils-block-80 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #509684;
  background: #550280;
  border-radius: 6px;
}

.utils-block-81 {
  display: flex;
  padding: 6px;
  margin: 11px;
  color: #173638;
  background: #282905;
  border-radius: 8px;
}

.utils-block-82 {
  display: flex;
  padding: 13px;
  margin: 16px;
  color: #614279;
  background: #653194;
  border-radius: 8px;
}

.utils-block-83 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #263649;
  background: #937467;
  border-radius: 4px;
}

.utils-block-84 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #230440;
  background: #585387;
  border-radius: 4px;
}

.utils-block-85 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #690928;
  background: #154943;
  border-radius: 7px;
}

.utils-block-86 {
  display: flex;
  padding: 10px;
  margin: 13px;
  color: #246085;
  background: #700932;
  border-radius: 2px;
}

.utils-block-87 {
  display: flex;
  padding: 10px;
  margin: 3px;
  color: #433944;
  background: #324439;
  border-radius: 0px;
}

.utils-block-88 {
  display: flex;
  padding: 18px;
  margin: 9px;
  color: #758025;
  background: #773804;
  border-radius: 0px;
}

.utils-block-89 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #888625;
  background: #640057;
  border-radius: 1px;
}

.utils-block-90 {
  display: flex;
  padding: 11px;
  margin: 15px;
  color: #219530;
  background: #942403;
  border-radius: 4px;
}

.utils-block-91 {
  display: flex;
  padding: 21px;
  margin: 14px;
  color: #339870;
  background: #555429;
  border-radius: 8px;
}

.utils-block-92 {
  display: flex;
  padding: 6px;
  margin: 15px;
  color: #186445;
  background: #924890;
  border-radius: 1px;
}

.utils-block-93 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #850094;
  background: #515182;
  border-radius: 2px;
}

.utils-block-94 {
  display: flex;
  padding: 24px;
  margin: 12px;
  color: #388308;
  background: #718296;
  border-radius: 6px;
}

.utils-block-95 {
  display: flex;
  padding: 22px;
  margin: 2px;
  color: #552174;
  background: #192860;
  border-radius: 8px;
}

.utils-block-96 {
  display: flex;
  padding: 17px;
  margin: 4px;
  color: #274501;
  background: #950310;
  border-radius: 2px;
}

.utils-block-97 {
  display: flex;
  padding: 9px;
  margin: 8px;
  color: #222942;
  background: #568797;
  border-radius: 8px;
}

.utils-block-98 {
  display: flex;
  padding: 9px;
  margin: 6px;
  color: #841004;
  background: #825028;
  border-radius: 1px;
}

.utils-block-99 {
  display: flex;
  padding: 10px;
  margin: 16px;
  color: #881009;
  background: #411239;
  border-radius: 1px;
}

.utils-block-100 {
  display: flex;
  padding: 17px;
  margin: 8px;
  color: #537177;
  background: #973941;
  border-radius: 2px;
}

.utils-block-101 {
  display: flex;
  padding: 6px;
  margin: 16px;
  color: #980601;
  background: #435821;
  border-radius: 1px;
}

.utils-block-102 {
  display: flex;
  padding: 8px;
  margin: 4px;
  color: #540382;
  background: #422378;
  border-radius: 1px;
}

.utils-block-103 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #392249;
  background: #118621;
  border-radius: 0px;
}

.utils-block-104 {
  display: flex;
  padding: 16px;
  margin: 10px;
  color: #775406;
  background: #890725;
  border-radius: 7px;
}

.utils-block-105 {
  display: flex;
  padding: 24px;
  margin: 9px;
  color: #253142;
  background: #882603;
  border-radius: 1px;
}

.utils-block-106 {
  display: flex;
  padding: 17px;
  margin: 9px;
  color: #301836;
  background: #400182;
  border-radius: 1px;
}

.utils-block-107 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #465698;
  background: #472714;
  border-radius: 5px;
}

.utils-block-108 {
  display: flex;
  padding: 4px;
  margin: 8px;
  color: #302030;
  background: #626000;
  border-radius: 2px;
}

.utils-block-109 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #803894;
  background: #137323;
  border-radius: 6px;
}

.utils-block-110 {
  display: flex;
  padding: 18px;
  margin: 11px;
  color: #731306;
  background: #168190;
  border-radius: 1px;
}

.utils-block-111 {
  display: flex;
  padding: 4px;
  margin: 11px;
  color: #784256;
  background: #749402;
  border-radius: 7px;
}

.utils-block-112 {
  display: flex;
  padding: 8px;
  margin: 14px;
  color: #346764;
  background: #771877;
  border-radius: 8px;
}

.utils-block-113 {
  display: flex;
  padding: 14px;
  margin: 7px;
  color: #353420;
  background: #986119;
  border-radius: 6px;
}

.utils-block-114 {
  display: flex;
  padding: 4px;
  margin: 16px;
  color: #367991;
  background: #258119;
  border-radius: 4px;
}

.utils-block-115 {
  display: flex;
  padding: 12px;
  margin: 16px;
  color: #868106;
  background: #146546;
  border-radius: 4px;
}

.utils-block-116 {
  display: flex;
  padding: 18px;
  margin: 13px;
  color: #147968;
  background: #802246;
  border-radius: 0px;
}

.utils-block-117 {
  display: flex;
  padding: 14px;
  margin: 11px;
  color: #377432;
  background: #580244;
  border-radius: 4px;
}

.utils-block-118 {
  display: flex;
  padding: 14px;
  margin: 14px;
  color: #402145;
  background: #851984;
  border-radius: 7px;
}

.utils-block-119 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #192981;
  background: #530837;
  border-radius: 2px;
}

.utils-block-120 {
  display: flex;
  padding: 17px;
  margin: 14px;
  color: #864060;
  background: #392938;
  border-radius: 0px;
}

.utils-block-121 {
  display: flex;
  padding: 19px;
  margin: 13px;
  color: #530177;
  background: #824574;
  border-radius: 2px;
}

.utils-block-122 {
  display: flex;
  padding: 18px;
  margin: 7px;
  color: #963301;
  background: #975748;
  border-radius: 4px;
}

.utils-block-123 {
  display: flex;
  padding: 16px;
  margin: 4px;
  color: #956575;
  background: #860529;
  border-radius: 0px;
}

.utils-block-124 {
  display: flex;
  padding: 13px;
  margin: 9px;
  color: #162366;
  background: #598643;
  border-radius: 5px;
}

.utils-block-125 {
  display: flex;
  padding: 5px;
  margin: 10px;
  color: #869888;
  background: #942775;
  border-radius: 6px;
}

.utils-block-126 {
  display: flex;
  padding: 13px;
  margin: 12px;
  color: #299197;
  background: #622386;
  border-radius: 1px;
}

.utils-block-127 {
  display: flex;
  padding: 16px;
  margin: 13px;
  color: #682166;
  background: #341869;
  border-radius: 5px;
}

.utils-block-128 {
  display: flex;
  padding: 22px;
  margin: 16px;
  color: #168216;
  background: #963117;
  border-radius: 8px;
}

.utils-block-129 {
  display: flex;
  padding: 12px;
  margin: 7px;
  color: #987841;
  background: #639443;
  border-radius: 0px;
}

.utils-block-130 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #290755;
  background: #193386;
  border-radius: 0px;
}

.utils-block-131 {
  display: flex;
  padding: 16px;
  margin: 7px;
  color: #773500;
  background: #602029;
  border-radius: 6px;
}

.utils-block-132 {
  display: flex;
  padding: 4px;
  margin: 7px;
  color: #382120;
  background: #564261;
  border-radius: 3px;
}

.utils-block-133 {
  display: flex;
  padding: 6px;
  margin: 7px;
  color: #667591;
  background: #204528;
  border-radius: 3px;
}

.utils-block-134 {
  display: flex;
  padding: 14px;
  margin: 9px;
  color: #373400;
  background: #872782;
  border-radius: 1px;
}

.utils-block-135 {
  display: flex;
  padding: 16px;
  margin: 1px;
  color: #660017;
  background: #986349;
  border-radius: 3px;
}

.utils-block-136 {
  display: flex;
  padding: 19px;
  margin: 5px;
  color: #497813;
  background: #420615;
  border-radius: 2px;
}

.utils-block-137 {
  display: flex;
  padding: 11px;
  margin: 8px;
  color: #625943;
  background: #330360;
  border-radius: 2px;
}

.utils-block-138 {
  display: flex;
  padding: 8px;
  margin: 7px;
  color: #860037;
  background: #772766;
  border-radius: 0px;
}

.utils-block-139 {
  display: flex;
  padding: 7px;
  margin: 8px;
  color: #496463;
  background: #212718;
  border-radius: 0px;
}

.utils-block-140 {
  display: flex;
  padding: 6px;
  margin: 8px;
  color: #478994;
  background: #410850;
  border-radius: 2px;
}

.utils-block-141 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #312225;
  background: #136577;
  border-radius: 5px;
}

.utils-block-142 {
  display: flex;
  padding: 10px;
  margin: 15px;
  color: #886006;
  background: #814945;
  border-radius: 3px;
}

.utils-block-143 {
  display: flex;
  padding: 17px;
  margin: 2px;
  color: #505963;
  background: #740888;
  border-radius: 2px;
}

.utils-block-144 {
  display: flex;
  padding: 12px;
  margin: 3px;
  color: #777573;
  background: #282808;
  border-radius: 3px;
}

.utils-block-145 {
  display: flex;
  padding: 15px;
  margin: 6px;
  color: #767429;
  background: #223284;
  border-radius: 2px;
}

.utils-block-146 {
  display: flex;
  padding: 23px;
  margin: 4px;
  color: #721316;
  background: #336299;
  border-radius: 3px;
}

.utils-block-147 {
  display: flex;
  padding: 24px;
  margin: 15px;
  color: #580615;
  background: #739547;
  border-radius: 1px;
}

.utils-block-148 {
  display: flex;
  padding: 19px;
  margin: 11px;
  color: #401225;
  background: #153653;
  border-radius: 7px;
}

.utils-block-149 {
  display: flex;
  padding: 9px;
  margin: 3px;
  color: #969769;
  background: #697744;
  border-radius: 4px;
}

.utils-block-150 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #420486;
  background: #433921;
  border-radius: 0px;
}

.utils-block-151 {
  display: flex;
  padding: 18px;
  margin: 0px;
  color: #378662;
  background: #158957;
  border-radius: 7px;
}

.utils-block-152 {
  display: flex;
  padding: 16px;
  margin: 2px;
  color: #663084;
  background: #627702;
  border-radius: 5px;
}

.utils-block-153 {
  display: flex;
  padding: 24px;
  margin: 0px;
  color: #618237;
  background: #544913;
  border-radius: 3px;
}

.utils-block-154 {
  display: flex;
  padding: 10px;
  margin: 14px;
  color: #505285;
  background: #887575;
  border-radius: 0px;
}

.utils-block-155 {
  display: flex;
  padding: 4px;
  margin: 12px;
  color: #382311;
  background: #841972;
  border-radius: 6px;
}

.utils-block-156 {
  display: flex;
  padding: 20px;
  margin: 9px;
  color: #171370;
  background: #183485;
  border-radius: 4px;
}

.utils-block-157 {
  display: flex;
  padding: 20px;
  margin: 10px;
  color: #930699;
  background: #437142;
  border-radius: 7px;
}

.utils-block-158 {
  display: flex;
  padding: 17px;
  margin: 12px;
  color: #700701;
  background: #124162;
  border-radius: 1px;
}

.utils-block-159 {
  display: flex;
  padding: 7px;
  margin: 4px;
  color: #105260;
  background: #631243;
  border-radius: 2px;
}

.utils-block-160 {
  display: flex;
  padding: 7px;
  margin: 12px;
  color: #141774;
  background: #306622;
  border-radius: 5px;
}

.utils-block-161 {
  display: flex;
  padding: 13px;
  margin: 1px;
  color: #658115;
  background: #503347;
  border-radius: 0px;
}

.utils-block-162 {
  display: flex;
  padding: 16px;
  margin: 3px;
  color: #169448;
  background: #713129;
  border-radius: 8px;
}

.utils-block-163 {
  display: flex;
  padding: 5px;
  margin: 7px;
  color: #663990;
  background: #555433;
  border-radius: 1px;
}

.utils-block-164 {
  display: flex;
  padding: 8px;
  margin: 8px;
  color: #640410;
  background: #270046;
  border-radius: 5px;
}

.utils-block-165 {
  display: flex;
  padding: 20px;
  margin: 13px;
  color: #941427;
  background: #102964;
  border-radius: 4px;
}

.utils-block-166 {
  display: flex;
  padding: 14px;
  margin: 5px;
  color: #215311;
  background: #606909;
  border-radius: 0px;
}

.utils-block-167 {
  display: flex;
  padding: 15px;
  margin: 15px;
  color: #251896;
  background: #302245;
  border-radius: 1px;
}

.utils-block-168 {
  display: flex;
  padding: 9px;
  margin: 9px;
  color: #990142;
  background: #588162;
  border-radius: 8px;
}

.utils-block-169 {
  display: flex;
  padding: 20px;
  margin: 1px;
  color: #462690;
  background: #575004;
  border-radius: 2px;
}

.utils-block-170 {
  display: flex;
  padding: 15px;
  margin: 0px;
  color: #750662;
  background: #965440;
  border-radius: 2px;
}

.utils-block-171 {
  display: flex;
  padding: 15px;
  margin: 3px;
  color: #980308;
  background: #611079;
  border-radius: 5px;
}

.utils-block-172 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #698105;
  background: #196494;
  border-radius: 5px;
}

.utils-block-173 {
  display: flex;
  padding: 6px;
  margin: 2px;
  color: #367000;
  background: #457518;
  border-radius: 2px;
}

.utils-block-174 {
  display: flex;
  padding: 24px;
  margin: 7px;
  color: #948442;
  background: #428824;
  border-radius: 4px;
}

.utils-block-175 {
  display: flex;
  padding: 17px;
  margin: 7px;
  color: #775467;
  background: #843130;
  border-radius: 2px;
}

.utils-block-176 {
  display: flex;
  padding: 10px;
  margin: 8px;
  color: #187231;
  background: #533377;
  border-radius: 2px;
}

.utils-block-177 {
  display: flex;
  padding: 15px;
  margin: 16px;
  color: #856789;
  background: #797781;
  border-radius: 7px;
}

.utils-block-178 {
  display: flex;
  padding: 23px;
  margin: 16px;
  color: #323926;
  background: #827198;
  border-radius: 3px;
}

.utils-block-179 {
  display: flex;
  padding: 24px;
  margin: 16px;
  color: #945524;
  background: #911744;
  border-radius: 3px;
}

.utils-block-180 {
  display: flex;
  padding: 11px;
  margin: 9px;
  color: #839589;
  background: #225267;
  border-radius: 7px;
}

.utils-block-181 {
  display: flex;
  padding: 20px;
  margin: 14px;
  color: #385043;
  background: #598518;
  border-radius: 4px;
}

.utils-block-182 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #316598;
  background: #941872;
  border-radius: 2px;
}

.utils-block-183 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #856625;
  background: #780833;
  border-radius: 4px;
}

.utils-block-184 {
  display: flex;
  padding: 7px;
  margin: 2px;
  color: #484355;
  background: #302229;
  border-radius: 0px;
}

.utils-block-185 {
  display: flex;
  padding: 20px;
  margin: 5px;
  color: #499011;
  background: #470470;
  border-radius: 5px;
}

.utils-block-186 {
  display: flex;
  padding: 11px;
  margin: 16px;
  color: #367418;
  background: #156803;
  border-radius: 0px;
}

.utils-block-187 {
  display: flex;
  padding: 8px;
  margin: 12px;
  color: #882130;
  background: #864175;
  border-radius: 1px;
}

.utils-block-188 {
  display: flex;
  padding: 22px;
  margin: 14px;
  color: #488225;
  background: #495153;
  border-radius: 8px;
}

.utils-block-189 {
  display: flex;
  padding: 18px;
  margin: 10px;
  color: #710959;
  background: #386626;
  border-radius: 0px;
}

.utils-block-190 {
  display: flex;
  padding: 18px;
  margin: 12px;
  color: #711828;
  background: #764455;
  border-radius: 6px;
}

.utils-block-191 {
  display: flex;
  padding: 19px;
  margin: 8px;
  color: #814047;
  background: #583406;
  border-radius: 0px;
}

.utils-block-192 {
  display: flex;
  padding: 7px;
  margin: 1px;
  color: #331078;
  background: #691284;
  border-radius: 0px;
}

.utils-block-193 {
  display: flex;
  padding: 12px;
  margin: 15px;
  color: #397545;
  background: #158423;
  border-radius: 3px;
}

.utils-block-194 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #933783;
  background: #615128;
  border-radius: 8px;
}

.utils-block-195 {
  display: flex;
  padding: 11px;
  margin: 14px;
  color: #950733;
  background: #667508;
  border-radius: 8px;
}

.utils-block-196 {
  display: flex;
  padding: 23px;
  margin: 11px;
  color: #774708;
  background: #249606;
  border-radius: 1px;
}

.utils-block-197 {
  display: flex;
  padding: 21px;
  margin: 8px;
  color: #654367;
  background: #679237;
  border-radius: 6px;
}

.utils-block-198 {
  display: flex;
  padding: 14px;
  margin: 8px;
  color: #651137;
  background: #423796;
  border-radius: 0px;
}

.utils-block-199 {
  display: flex;
  padding: 8px;
  margin: 10px;
  color: #699931;
  background: #601624;
  border-radius: 6px;
}

.utils-block-200 {
  display: flex;
  padding: 17px;
  margin: 11px;
  color: #957436;
  background: #702656;
  border-radius: 7px;
}

.utils-block-201 {
  display: flex;
  padding: 12px;
  margin: 5px;
  color: #157244;
  background: #605464;
  border-radius: 1px;
}

.utils-block-202 {
  display: flex;
  padding: 7px;
  margin: 16px;
  color: #827678;
  background: #773529;
  border-radius: 6px;
}

.utils-block-203 {
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #561191;
  background: #857994;
  border-radius: 6px;
}

.utils-block-204 {
  display: flex;
  padding: 9px;
  margin: 11px;
  color: #172413;
  background: #496323;
  border-radius: 0px;
}

.utils-block-205 {
  display: flex;
  padding: 19px;
  margin: 12px;
  color: #906804;
  background: #470520;
  border-radius: 2px;
}

.utils-block-206 {
  display: flex;
  padding: 23px;
  margin: 3px;
  color: #832151;
  background: #979567;
  border-radius: 3px;
}

.utils-block-207 {
  display: flex;
  padding: 19px;
  margin: 9px;
  color: #976763;
  background: #866835;
  border-radius: 0px;
}
